@charset "utf-8";
.sdsdsd{}
#body{max-width:640px;min-width:320px;margin:0 auto;position: relative;}
.fl{float: left;}
.fr{float: right;}
.txt_cen{text-align: center;}
.txt_j{text-align: justify;}
#tip_txt{font-size: 0;}
.paddingLR{padding-left:1em;padding-right: 1em;margin-bottom: 2em;}
.colo_pink{color: #FF77A3;}
.colo_black{color:#404040 ;}
.pinkbg{background:#FF79A2;color: #FFFFFF;padding:0.2em 0.3em;font-weight: bold;}
/*---pc---*/
#notice{color:#888;padding:0.5em 0.5em 0.5em 42px;line-height:1.5em;background:transparent url(/templates/res/star/common/notice.png) no-repeat 10px 0.8em;}
#notice .no_red{color: #FF3743;}
#ves-content{border-top:solid 6px #f7f7f7;padding:5px 10px;}
#ves-content li{border-bottom:solid 1px #e3e3e3;padding:15px 0;position:relative;}
#ves-content li:last-child{border:0;}
#ves-content li:after{content:"";display:table;height:0;line-height:0;clear:both;}
#ves-content .left{position:absolute;left:0;top:15px;width:35%;bottom:15px;}
#ves-content .left .img{width:100%;height:100%;position:relative;overflow:hidden;background:transparent url(about:blank) no-repeat center center;background-size:cover;}
#ves-content .left p{position:absolute;left:0;right:0;bottom:0;height:2em;text-align:center;color:#fff;background-color:rgba(0,0,0,0.5);overflow:hidden;text-overflow:ellipsis;
white-space: nowrap;}
#ves-content .right{float:right;width:65%;padding-left:10px;box-sizing:border-box;}
#ves-content h2{font-size:1.1em;font-weight:500;padding-bottom:6px;display:inline-block; vertical-align:middle;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;max-width:80%;    color: #272727;}
#ves-content .sex{width:1em;height:1em;background:#f780b5 url(/templates/res/star/common/girl.png) no-repeat center center;background-size:auto 80%;display:inline-block;border-radius:3px;margin-left:5px;vertical-align:middle;}
#ves-content .sex.boy{background:#9ed8f6 url(/templates/res/star/common/boy.png) no-repeat center center;background-size:auto 80%;}
#ves-content .info{line-height:1.3em;color:#aaa;}

#ves-content .tdc{padding-top:10px;}
#ves-content .tdc img{float:left;width:30%;}
#ves-content .tdc .how{float:right;width:70%;}
#ves-content .tdc .how p{line-height:1em;padding-left:10px;}
#ves-content .tdc .how p.t1{font-size:1.1em;padding-bottom:6px;}
#ves-content .tdc .how p.t1 span{color:#f00;}
#ves-content .tdc .how p.t2{font-size:1.1em;padding-top:1px;}
#ves-content .tdc .how p.t2 span{font-size:0.9em;color:#aaa;}
#ves-content .tdc .how p.t3{position:relative;display:inline-block;height:1.5em;line-height:1.5em;top:4px;}
#ves-content .tdc .how p.t3 span{color:transparent;}
#ves-content .tdc .how p.t3 input{background-color:#ffe8f2;padding:0 5px;border:0;position:absolute;left:10px;top:0;height:1.5em;line-height:1.5em;}

#ves-content.wx2 .how{float:none;}
#ves-content.wx2 .how p{padding-left:0;}
#ves-content.wx2 .tdc .how .d1>span{float:left;color:#666;margin-right:3px;}
#ves-content.wx2 .tdc .how p.t3{float:left;top:2px;}
#ves-content.wx2 .tdc .how p.t3 input{left:0;text-indent:0;}

#ves-content .nearby{text-align:right;padding-top:1em;line-height:1.1em;font-size:0.9em;}
#ves-content .nearby span{color:#ff3743;font-size:1.1em;}

#ves-content .bottons{text-align:right;margin-top:1em;letter-spacing:-3px;word-spacing:-3px;}

#ves-content .bottons a{display:inline-block;color:#fff;background-image:-webkit-linear-gradient(to top, #ff2c25, #ff5da3); background-image:linear-gradient(to top,#ff2c25, #ff5da3);border-radius:8px;text-align:left;line-height:2.2em;padding:0 0.3em;box-sizing:border-box;letter-spacing:0;word-spacing:0;}
#ves-content .bottons a:first-child{margin-right:10px;}
#ves-content .bottons a .icon{display:inline-block;vertical-align:middle;width:1.5em;height:1.5em;margin-right:3px;position:relative;top:-2px;background:transparent url(/templates/res/star/common/weibo.png) no-repeat center center;background-size:80% auto;}
#ves-content .bottons a.weibo{background:none;border:solid 1px #f00;color:#f00;}
#ves-content .bottons a.qq .icon{background-image:url(/templates/res/star/common/qq.png);}

#ves-content a.about{padding:0 1em;}
#ves-content a.about .icon{margin:0 0 0 5px;width:0.9em;height:0.9em;background:none;background-color:#fff;border-radius:100%;line-height:0.8em;}
#ves-content a.about .icon:after{content:"";display:inline-block;border-top:solid 2px #ff7183;border-right:solid 2px #ff7183;transform:rotate(45deg);-webkit-transform:rotate(45deg);width:0.5em;height:0.5em;}

/*---mobile---*/
.mar_b{padding-bottom: 3em;}
.top_add_qq{position: relative;}
.top_add_qq a{position:absolute;width: 31%;height: 85%;right: 0.5em;top: 0;}
.top_add_qq.b a{height: 53%;}
.fixed{position: fixed;left: 0;bottom: 0;z-index: 9999;width:100%;}
.fixed>div{position:relative;width:100%;max-width:640px;margin:0 auto;background: #fff;box-shadow: 1px 4px 14px #565151;-webkit-animation: top_img 0.4s linear;animation: top_img 0.4s linear;transition: all 0.4s;}
.no-fixed{position:relative;width:100%;max-width:640px;margin:0 auto;background: #fff;margin-bottom: 1em;}
.fixed>div a,.no-fixed a{position:absolute;width: 40%;height: 85%;right: 0.5em;top: 0;}
.mn1 .fixed>div a,
.ann1 .fixed>div a,
.mn2 .fixed>div a,
.ann2 .fixed>div a,
.mn3 .fixed>div a,
.ann3 .fixed>div a,
.fixed.b>div a{width: 40%;}
.fixed .tip{position: absolute;top: 0;right: 4%;border: 1px solid #C0C0C0;padding: 0.5em 0; border:1px solid #C0C0C0; background-color:#FFF;line-height: 1.5em;text-align: center; width: 35%; transition: all 1s; opacity: 0;-webkit-animation: upshow 0.8s 0.5s ease-in both;animation: upshow 0.8s 0.5s ease-in both;z-index:-1;max-width: 185px; border-radius:2px;}
@-webkit-keyframes upshow{
	0%{top: 0;opacity: 0;}
	100%{top: -164%;opacity: 1;}
}
@keyframes upshow{
	0%{top: 0;opacity: 0;}
	100%{top: -164%;opacity: 1;}
}
@-webkit-keyframes upshow1{
	0%{top: 0;opacity: 0;}
	100%{top: -130%;opacity: 1;}
}
@keyframes upshow1{
	0%{top: 0;opacity: 0;}
	100%{top: -130%;opacity: 1;}
}
.fixed .tip .close{position: absolute;top:-0.5em;right:-0.5em;width: 1.2em;height: 1.2em;text-align: center;background: #FECBDA;color: #fff;border-radius: 50%;line-height: 1.1em;}
.fixed .tip:before,
.fixed .tip:after{content:"";display:block; border-width:1em;position:absolute; bottom:-2em;left:50%;border-style:solid dashed dashed;border-color:#C0C0C0 transparent transparent;line-height:0; margin-left: -0.5em;}
.fixed .tip:after{bottom:-1.92em; border-color:#FFF transparent transparent;}
@-webkit-keyframes top_img{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@keyframes top_img{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
/*加qq引导页*/
#addfriend_tip{position:fixed;left:0;top:0;right:0;bottom:0;background:#000 url(/templates/res/star/common/bg.jpg) no-repeat top center;background-size:100% auto;z-index: 10000;}
#addfriend_tip .black_bg{position: absolute;top: 0;left: 0;width:100%;height:100%;background: rgba(0,0,0,0.6);z-index: 3;}
#addfriend_tip h4{text-align:center;color:#fff;font-size:1.1em;}
#addfriend_tip .timer{position:absolute;right:5%;top:2%;color:#fff;display:inline-block;border:solid 2px  rgba(255,255,255,0.6);border-radius:8px;height:1.8em;line-height:1.8em;font-size:1.1em;padding: 0 0.2em;}
#addfriend_tip .tip_btn{position: absolute;bottom: 18%;left: 50%;width: 44%; margin-left: -22%; max-width: 282px;}
#addfriend_tip .tip_btn img,
#addfriend_tip .tip_crow img{width: 100%!important;}
#addfriend_tip .tip_name{position:absolute;width:100%;height:1.5em;top:3%;left:0;line-height:1.5em;text-align:center;color:#fff;z-index: 1;}
#addfriend_tip .titTxt{position:absolute;width:60%;top:25%;right:0;font-size:1.2em;line-height:1.5em;text-align:center;color:#fff;}
#addfriend_tip .tip_crow{position: absolute;top:9%;right: 9%;width: 34%;}

/*文章内容*/
.head_tit{padding: 0 1em 0.5em;border-bottom: 1px solid #F6F6F6;}
.head_tit h3{color:#0c0c0c;font-size: 1.3em;padding: 0.5em 0 0;line-height: 1.6em;word-break: break-all;word-wrap: break-word;}
.head_tit p{font-size: 0.85em;}
.head_tit .star_name{display:inline-block;color:#3E6088;margin-right: 1em;}
.head_tit .art_time{display:inline-block;color:#A2A2A2;}
#content{padding:0.5em 1em;border-bottom:solid 1px #f7f7f7;}
#content p,.paddingLR p{font-size: 1em;line-height: 1.6em;}
.star_box{position:relative;margin: 0 1em 2em;border: 1px solid #E5E5E5;}
.star_box .star_box_ab{position: relative;left: -0.2em;top: -0.2em;padding: 0.5em 5px 0.5em;border: 1px solid #E5E5E5;background: #FFFFFF;}
.skew_rect{position: absolute;top: -1em;left: 0;background: url(/templates/res/star/common/bg1.png) no-repeat;background-size:100% 100%;color:#FFFFFF;padding: 0.2em 1.5em;}
.star_box .star_box_ab .p{padding-left: 0.8em;margin: 0.5em 0 0;line-height: 1.6em;}
.star_box .star_box_ab dl{display: table;padding-left: 0.8em;}
.star_box .star_box_ab dl dd,
.star_box .star_box_ab dl dt{display: table-cell;vertical-align: middle;}
.star_box .star_box_ab dl dt{width: 46%;}
.star_box .star_box_ab dl dd{padding-left: 1em;/*font-size: 0.85em;*/}
.blbg{display:inline-block;background: #222222;color:#FDFDFD ;font-weight: bold;padding: 0 0.5em;margin-right: 0.2em;border-radius: 0.5em;}

/*头像加好友区*/
#ves-content_1{padding: 0.3em;margin: 0.5em 1em;background: url(/templates/res/star/common/box_bg.jpg) repeat-y; background-size: contain;}
#ves-content_1 li{position:relative;padding:0.5em;background: #FFFFFF;}
#ves-content_1 li:after{content:"";display:table;height:0;line-height:0;clear:both;}
#ves-content_1 .left{display: table-cell;width:45%;}
#ves-content_1 .left .img{width:100%;}
#ves-content_1 .right{display:table-cell;width:45%;vertical-align: middle;padding-left: 0.5em;}
#ves-content_1 .bottons{text-align:center; margin-top:1em;}
#ves-content_1 .bottons_a{margin-bottom:1em;}
#ves-content_1 .bottons a{display:inline-block;color:#fff;background:#FF77A3;border-radius:4px;text-align:center;line-height:2.4em;padding:0 1.2em;box-sizing:border-box;letter-spacing:0;word-spacing:0;font-weight: bold; font-size: 1.4em;}
#ves-content_1 .bottons a.qq{-webkit-animation: jibian 0.6s linear infinite alternate;}
@-webkit-keyframes jibian{
	0%{background:#fe5f92;-webkit-transform: scale(1);}
	50%{background:#fb90b2;-webkit-transform: scale(1.03);}
	100%{background:#fe5f92;-webkit-transform: scale(1);}
}
#ves-content_1  .info{line-height:1.3em;color:#3F3F3F;font-size: 1em; text-align: center;}

/*点赞*/
.ves_praize{padding:1em;border-top: 1em solid #F6F6F6;}
.ves_praize .icon{display:inline-block;width:2em;height:1.6em;vertical-align:middle;background:transparent url(/templates/res/star/common/praise.png) no-repeat left center;background-size:1.6em auto;}
.ves_praize p{color:#356DB3!important;font-size: 0.85em;line-height: 1.4em;}
.ves_praize p.done .icon{background-image:url(/templates/res/star/common/praise2.png);}
/*评论*/
.ves_comment{margin: 0 1em 1em;padding: 1em 0 3em;border-top: 1px solid #F6F6F6;}
.ves_comment .list_wrap{overflow: hidden;}
.ves_comment .list_wrap li{margin-bottom: 1em;}
.w65{width: 65%;margin-left: 0.5em;}
.w11{width: 11%;}
.w11 img{border-radius: 50%;}
.ves_comment .user_name{font-size: 1em;color:#020202;line-height: 1.5em;}
.ves_comment .time{color:#909090;font-size: 0.85em;    line-height: 1em;}
.ves_comment .replyBtn{color:#356DB3;}
.ves_comment .comment_content{color:#020202; padding-left: 2.9em;line-height: 1.5em; margin: 0.5em 0;}
.list_wrap li dl{overflow: hidden;}

@media only screen and (max-width: 320px) {
	.fixed .tip{font-size: 0.8em;}
	#addfriend_tip .titTxt{top:27%;right:0;font-size:1em;}
	#addfriend_tip .tip_crow{top:10%;}
	/*.star_box .star_box_ab dl dd{font-size: 0.8em;}*/
}
@media only screen and (min-width: 640px) {
	.fixed .tip{-webkit-animation: upshow1 0.8s 0.5s ease-in both;animation: upshow1 0.8s 0.5s ease-in both;}	
	.ves_comment{padding: 1em 0 3.5em;}
}
@media only screen and (max-width: 360px) {
	#ves-content_1 .bottons a{ font-size: 1.1em;}
}