@charset "utf-8";
.sdsdsd{}
#body{max-width:640px;min-width:320px;margin:0 auto;position: relative;}
.fl{float: left;}
.fr{float: right;}
.txt_cen{text-align: center;}
.txt_j{text-align: justify;}
#tip_txt{font-size: 0;}
.paddingLR{padding-left:1em;padding-right: 1em;margin-bottom: 2em;}
.colo_pink{color: #ff7e00;}
.colo_black{color:#404040 ;}
.color_green{color: #3c7a03;}
.pinkbg{background:#FF79A2;color: #FFFFFF;padding:0.2em 0.3em;font-weight: bold;}
/*---mobile---*/
.mar_b{padding-bottom: 3em;}
.top_add_qq{position: relative;}
.top_add_qq a{position:absolute;width: 31%;height: 85%;right: 0.5em;top: 0;}
.top_add_qq.b a{height: 53%;}
.fixed{position: fixed;left: 0;bottom: 0;z-index: 9999;width:100%;}
.fixed>div{position:relative;width:100%;max-width:640px;margin:0 auto;background: #fff;box-shadow: 1px 4px 14px #565151;-webkit-animation: top_img 0.4s linear;animation: top_img 0.4s linear;transition: all 0.4s;}
.no-fixed{position:relative;width:100%;max-width:640px;margin:0 auto;background: #fff;margin-bottom: 1em;}
.fixed>div a,.no-fixed a{position:absolute;width: 40%;height: 85%;right: 0.5em;top: 0;}
.color_blue{ color: #00289a;}
#ves-content_1 .bottons a.qq{ -webkit-animation: jibian 0.6s linear infinite alternate;}

.mn1 .fixed>div a,
.ann1 .fixed>div a,
.mn2 .fixed>div a,
.ann2 .fixed>div a,
.mn3 .fixed>div a,
.ann3 .fixed>div a,
.fixed.b>div a{width: 40%;}
.fixed .tip{position: absolute;top: 0;right: 4%;border: 1px solid #C0C0C0;padding: 0.5em 0; border:1px solid #C0C0C0; background-color:#FFF;line-height: 1.5em;text-align: center; width: 35%; transition: all 1s; opacity: 0;-webkit-animation: upshow 0.8s 0.5s ease-in both;animation: upshow 0.8s 0.5s ease-in both;z-index:-1;max-width: 185px; border-radius:2px;}
@-webkit-keyframes upshow{
	0%{top: 0;opacity: 0;}
	100%{top: -164%;opacity: 1;}
}
@keyframes upshow{
	0%{top: 0;opacity: 0;}
	100%{top: -164%;opacity: 1;}
}
@-webkit-keyframes upshow1{
	0%{top: 0;opacity: 0;}
	100%{top: -130%;opacity: 1;}
}
@keyframes upshow1{
	0%{top: 0;opacity: 0;}
	100%{top: -130%;opacity: 1;}
}
.fixed .tip .close{position: absolute;top:-0.5em;right:-0.5em;width: 1.4em;height: 1.4em;line-height: 1.4em;font-style: normal;text-align: center;background: #ffcd8c;color: #fff;border-radius: 50%;}
.fixed .tip:before,
.fixed .tip:after{content:"";display:block; border-width:1em;position:absolute; bottom:-2em;left:50%;border-style:solid dashed dashed;border-color:#C0C0C0 transparent transparent;line-height:0; margin-left: -0.5em;}
.fixed .tip:after{bottom:-1.92em; border-color:#FFF transparent transparent;}
@-webkit-keyframes top_img{0%{opacity: 0;}100%{opacity: 1;}}
@keyframes top_img{0%{opacity: 0;}100%{opacity: 1;}}
/*加qq引导页*/
#addfriend_tip{position:fixed;left:0;top:0;right:0;bottom:0;background:#000 url(/templates/res/star/common/bg.jpg) no-repeat top center;background-size:100% auto;z-index: 10000;}
#addfriend_tip .black_bg{position: absolute;top: 0;left: 0;width:100%;height:100%;background: rgba(0,0,0,0.6);z-index: 3;}
#addfriend_tip h4{text-align:center;color:#fff;font-size:1.1em;}
#addfriend_tip .timer{position:absolute;right:5%;top:2%;color:#fff;display:inline-block;border:solid 2px  rgba(255,255,255,0.6);border-radius:8px;height:1.8em;line-height:1.8em;font-size:1.1em;padding: 0 0.2em;}
#addfriend_tip .tip_btn{position: absolute;bottom: 18%;left: 50%;width: 44%; margin-left: -22%; max-width: 282px;}
#addfriend_tip .tip_btn img,
#addfriend_tip .tip_crow img{width: 100%!important;}
#addfriend_tip .tip_name{position:absolute;width:100%;height:1.5em;top:3%;left:0;line-height:1.5em;text-align:center;color:#fff;z-index: 1;}
#addfriend_tip .titTxt{position:absolute;width:60%;top:25%;right:0;font-size:1.2em;line-height:1.5em;text-align:center;color:#fff;}
#addfriend_tip .tip_crow{position: absolute;top:9%;right: 9%;width: 34%;}

/*文章内容*/
.head_tit{padding: 0 1em 0.5em;border-bottom: 1px solid #F6F6F6;}
.head_tit h3{color:#0c0c0c;font-size: 1.3em;padding: 0.5em 0 0;line-height: 1.6em;word-break: break-all;word-wrap: break-word;}
.head_tit p{font-size: 0.85em;}
.head_tit .star_name{display:inline-block;color:#3E6088;margin-right: 1em;}
.head_tit .art_time{display:inline-block;color:#A2A2A2;}
.content{padding:0.5em 1em;border-bottom:solid 1px #f7f7f7;margin-bottom: 1.2em;}
.content p,.paddingLR p{font-size: 1em;line-height: 1.6em;}
.star_box{position:relative;margin: 0 1em 2em;border: 1px solid #E5E5E5;}
.star_box .star_box_ab{position: relative;left: -0.2em;top: -0.2em;padding: 0.5em 5px 0.5em;border: 1px solid #E5E5E5;background: #FFFFFF;}
.skew_rect{position: absolute;top: -1em;left: 0;background: url(/templates/res/star/common/bg1.png) no-repeat;background-size:100% 100%;color:#FFFFFF;padding: 0.2em 1.5em;}
.star_box .star_box_ab .p{padding-left: 0.8em;margin: 0.5em 0 0;line-height: 1.6em;}
.star_box .star_box_ab dl{display: table;padding-left: 0.8em;}
.star_box .star_box_ab dl dd,
.star_box .star_box_ab dl dt{display: table-cell;vertical-align: middle;}
.star_box .star_box_ab dl dt{width: 46%;}
.star_box .star_box_ab dl dd{padding-left: 1em;/*font-size: 0.85em;*/}
.blbg{display:inline-block;background: #222222;color:#FDFDFD ;font-weight: bold;padding: 0 0.5em;margin-right: 0.2em;border-radius: 0.5em;}
/*头像加好友区*/
#ves-content_1{padding: 0.3em;margin: 0.5em 1em 1.2em;background: url(/templates/res/star/common/box_bg.jpg) repeat-y; background-size: contain;}
#ves-content_1 li{position:relative;padding:0.5em;background: #FFFFFF;box-sizing: border-box;}
#ves-content_1 li:after{content:"";display:table;height:0;line-height:0;clear:both;}
#ves-content_1 .left{display: table-cell;width:35%;padding: 3%;}
#ves-content_1 .left .img{width:100%;}
#ves-content_1 .right{display:table-cell;width:50%;vertical-align: middle;padding-left: 0.5em;}
#ves-content_1 .bottons{text-align:center; margin-top:1em;}
#ves-content_1 .bottons_a{margin-bottom:1em;}
#ves-content_1 .bottons a{display:inline-block;color:#fff;background:#FF77A3;border-radius:4px;text-align:center;line-height:2.4em;padding:0 1.2em;box-sizing:border-box;letter-spacing:0;word-spacing:0;font-weight: bold; font-size: 1.4em;}
#ves-content_1 .bottons a.mid5,.box_r a,.top_r .bottons a{-webkit-animation: jibian 1s linear infinite alternate;}
#ves-content_1 .info1{line-height:1.3em;color:#3F3F3F;font-size: 1.2em; text-align: center;margin-bottom: 0.8em;position: relative;}
#ves-content_1 .info2{line-height:1em;color:#2590d4;font-size: 1em; text-align: center;}
#ves-content_1 .info1:before{width: 2em;height: 2em;background: url(/templates/res/star/boy/4413/boy_icon.png) no-repeat center;background-size: 10em;background-position: -4.2em -0.2em;content: ' ';display: block;position: absolute;left: 0;top: 0;opacity: 0.4;}
#ves-content_1 .info1:after{width: 2em;height: 2em;background: url(/templates/res/star/boy/4413/boy_icon.png) no-repeat center;background-size: 10em;background-position: -5.9em 0.2em;content: ' ';display: block;position: absolute;right: -0.4em;top: 0;opacity: 0.4;}
/**/
.area{margin-bottom: 1.4em;}
.area h5{ text-align: center;background: url(/templates/res/star/boy/4413/title_bg.png) no-repeat center;background-size: contain;font-size: 1.2em;display: block;width: 83%;margin: 0 auto;padding: 0 1em;color: #fff;font-weight: normal;line-height: 2em;}
.box{overflow: hidden;padding-bottom: 1em;box-sizing: border-box;margin-top: 1.8em;}
.box>img{display: block;width: 15%;border-radius: 100%;float: left;box-sizing: border-box;}
.box_r{width: 78%;float: right;border: 1px solid #dedede;box-shadow: -2px 2px 4px #dedede;border-radius: 0.3em;padding: 0.6em 0 1em;box-sizing: border-box;position: relative;left: 0;top: 0;}
.box_r:before{width: 2em;height: 2em;background: url(/templates/res/star/boy/4413/boy_icon.png) no-repeat center;background-size: 18em;background-position: -16em 0.6em;content: ' ';display: block;position: absolute;left: -2em;top: 0;}
.box_r p{font-size: 1em; margin: 0 0 0.4em;padding: 0 1.1em 0 1.6em;position: relative;left: 0;top: 0;}
.box_r a{display:block;color:#fff!important;background:#FF77A3;border-radius:4px;text-align:center;line-height:2.4em;box-sizing:border-box;letter-spacing:0;word-spacing:0;font-weight: bold; font-size: 1.2em;margin: 0 auto;width: 80%;}
.top{overflow: hidden;box-sizing: border-box;margin: 1.6em 0 2em;border: 1px dashed #3c7a03;padding: 0.6em;font-size: 0.8em;}
.top .left{float: left;width: 42%;box-sizing: border-box;}
.top_r{float: right;width: 57%;box-sizing: border-box;padding: 0 0.8em 0 0.8em;}
.top_r .bottons{margin-top: 1em;}
.top_r .bottons a{display:block;color:#fff!important;background:#FF77A3;border-radius:4px;text-align:center;line-height:2.4em;box-sizing:border-box;letter-spacing:0;word-spacing:0;font-weight: bold; font-size: 1.4em;margin: 0 auto;width: 75%;}
.top_r p{line-height: 1.4em;font-size: 1em;padding-top: 0.4em;text-align:justify; text-justify:inter-ideograph;}
.top_r p:nth-of-type(1) strong{font-weight: normal;font-size: 1.2em;display: block;margin-bottom: 0.6em;color: #2590d4;}
.top_r p:nth-of-type(2){color: #2590d4;text-align: center;position: relative;left: 0;top: 0;font-size: 1.1em;}
/*点赞*/
.ves_praize{padding:1em;border-top: 1em solid #F6F6F6;}
.ves_praize .icon{display:inline-block;width:2em;height:1.6em;vertical-align:middle;background:transparent url(/templates/res/star/common/praise.png) no-repeat left center;background-size:1.6em auto;}
.ves_praize p{color:#356DB3!important;font-size: 0.85em;line-height: 1.4em;}
.ves_praize p.done .icon{background-image:url(/public/images/star/praise2.png);}
/*评论*/
.ves_comment{margin: 0 1em 1em;padding: 1em 0 3em;border-top: 1px solid #F6F6F6;}
.ves_comment .list_wrap{overflow: hidden;}
.ves_comment .list_wrap li{margin-bottom: 1em;}
.w65{width: 65%;margin-left: 0.5em;}
.w11{width: 11%;}
.w11 img{border-radius: 50%;}
.ves_comment .user_name{font-size: 1em;color:#020202;line-height: 1.5em;}
.ves_comment .time{color:#909090;font-size: 0.85em;    line-height: 1em;}
.ves_comment .replyBtn{color:#356DB3;}
.ves_comment .comment_content{color:#020202; padding-left: 2.9em;line-height: 1.5em; margin: 0.5em 0;}
.list_wrap li dl{overflow: hidden;}
@-webkit-keyframes jibian{
	0%{ background:#ff7e00;-webkit-transform: scale(1);}
	50%{ background:#fab169;-webkit-transform: scale(1.03);}
	100%{ background:#ff7e00;-webkit-transform: scale(1);}}
	.show_pc{ width: 46.875%;margin: 0 auto;}
@media only screen and (max-width: 321px) {
	.fixed .tip{font-size: 0.8em;}
	#addfriend_tip .titTxt{top:27%;right:0;font-size:1em;}
	#addfriend_tip .tip_crow{top:10%;}
	#ves-content_1 .info1{font-size: 0.95em;}
	#ves-content_1 .info2{font-size: 0.8em;}
	.top .left{margin-top: 1.6em;}
	.top_r{padding: 0 0.2em 0 0.4em;}
	.top_r p{font-size: 0.8em;}
	.top_r p:nth-of-type(2){font-size: 0.8em;}
}
@media only screen and (min-width: 640px) {
	.fixed .tip{-webkit-animation: upshow1 0.8s 0.5s ease-in both;animation: upshow1 0.8s 0.5s ease-in both;}	
	.ves_comment{padding: 1em 0 3.5em;}
	.pc,.show_pc{ display: block;}
	.mobile,.show_mobile,.hide_mobile{ display: none;}
	.fixed{display: none;}
}
@media only screen and (min-width: 321px) and (max-width: 360px) {
	#ves-content_1 .bottons a{ font-size: 1.1em;}
	.top_r{float: right;width: 58%;box-sizing: border-box;padding: 0.2em 0 0 0.8em;}
	.top_r p{font-size: 0.9em;}
	#ves-content_1 .info1{font-size: 1.1em;}
	#ves-content_1 .info2{font-size: 0.9em;}
}
@media only screen and (max-width: 640px) {
	.mobile,.show_mobile{ display: block;}
	.pc,.show_pc{ display: none;}
}