<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />	
	<meta name="description" content="" />
	<meta name="Keywords" content="" />	
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="apple-mobile-web-app-title" content="韩国瓷肌" />
	<meta name="format-detection" content="telephone=no" />
	<meta http-equiv="Expires" content="-1" />                 
	<meta http-equiv="Pragma" content="no-cache" />
    <title>品牌调查</title>
	<link rel="stylesheet" href="/public/css/base-rem.css">
    <style type="text/css">
        .header{position:relative;height:2rem;line-height:2rem;margin: 0 0.4rem;border-bottom: 3px solid #000000;color: #000;font-size: 0.75rem;font-weight: bold;text-align: center;}
        .header .back{position: absolute;width:0.8rem;height:1.2rem;left:0;top:0.5rem;background-image:url(/public/images/service_evaluation/commom-icon.png);background-repeat: no-repeat;background-position: -2rem -1rem;background-size: 2.5rem;}
        .flexbox{padding:0.6rem 0.4rem;overflow: hidden;}
        .flexbox .pfontstyle{font-size: 0.65rem;color: #252525;padding-left: 0.3rem;}
        .flexbox .pfontstyle::before{content: " · ";font-size: 1.6rem;  display: inline-block;vertical-align: middle;height: 1.2rem; line-height: 0.9rem;  margin-right: 0.2rem;}
        .flexbox li .stars{padding:0.1rem 1rem 0.2rem;}
        .flexbox li .stars span{display:inline-block;width: 0.75rem;height: 0.75rem;background-image:url(/public/images/service_evaluation/commom-icon.png);background-repeat: no-repeat;background-position: -1.23rem 0;background-size: 2rem;margin-right: 0.5rem;vertical-align: middle; cursor: pointer;}
        .flexbox li .stars span.active{background-position: 0 0;}
        .areabox{position:relative;margin: 0 0.4rem;padding:0.5rem 0.4rem 0;background: #F5F5F5;color:#a9a9a9;font-size: 0.5rem;margin: 0 0.4rem;border: 1px solid #E8E8E8;border-radius: 5px;}
        .areabox textarea{width: 100%;height:4.6rem;border: 0;outline: 0;resize:none;background: #F5F5F5;color:#a9a9a9;font-size: 0.55rem;letter-spacing: 1px; }
        .areabox p{text-align: right;}
        .submit{margin-top:1.1rem;margin-bottom:1.1rem;text-align: center; }
        .submit .sub-btn {display:inline-block;width: 85%;height: 1.9rem;line-height:1.9rem;text-align: center;background-color: #C50007;color: #fff;font-size: 1.15rem;border-radius: 5px;cursor: pointer;}
         .currentNum.over{color:#f00;}
         .pop-model{position: fixed;height: 100%;width: 100%;top:0;left:0;text-align: center;background: rgba(0,0,0,0.5);display: none;}
         .pop-model span{position:relative;display: inline-block;padding: 0.2rem 0.3rem;background: rgba(0,0,0,0.7);color: #fff;font-size: 0.8rem;top:35%;border-radius: 0.3rem;}
         [v-cloak] {
		  display: none;
		}
    </style>
    </head>
    <body>
    <div class="width-full">
        <div class="header">
            <a class="back" href="javascript:history:back();"></a>
            品牌调查
        </div>
        <ul class="flexbox">      
        	<li v-for="item in orignList.comments" v-cloak>
        		<div class="pfontstyle">{{item.content}}</div>
        		<div class="stars">
        			<span v-for="i in 5" :class="{active : item.scope >= $index+1}" @click="scopeHandle(item, $index+1)"></span>
        		</div>
        	</li>        	
        </ul>
        <div class="areabox">            
            <textarea class="limit" name="content" placeholder="其他建议" maxlength="500"></textarea>
            <p><span class="currentNum">0</span>/<span class="totalNum">500</span></p>
        </div>
        <div class="submit">
            <span class="sub-btn" @click="submitHandle">提 交</span>
        </div>
        <div class="pop-model">
        	<span>提交成功</span>
        </div>
    </div>    
    <script type="text/javascript" src="/public/js/vue.min.js"></script>
    <script type="text/javascript" src="/public/js/zepto.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function($) {      
    	new Vue({
    		el:'.width-full',
    		data:{
    			orignList:''
    		},
    		ready:function(){
    			var _that=this;
    			var data={
		        	comments:[],           
		            msg:""//评价留言
		        }
    			$.post('/UserSurvey/question.json',function(res){
					if(res.status===1){
						var content = res.data.content;
						for(var i of Object.keys(content)){
							var obj = {
								scope: 0
							}
							obj.content = content[i];
							data.comments.push(obj)
						}	
						_that.$set('orignList',data);
						
					}else{
						alert(res.msg);
					}
		        })
    		},
    		methods:{
    			scopeHandle:function(traget, num){
	                traget.scope = num;
	            },
	            submitHandle:function(){
	            	var _data=this.$get('orignList');
	            	var comments=_data.comments;
	            	_data.msg=$('.limit').val();
	            	for(var i=0,len=comments.length;i<len;i++){
	            		if(comments[i].scope==0){
	            			alert('您还有未完成的评分');	     
	            			return false;
	            		}	            		
	            	}
	            	if(_data.msg.length<=0){
	            		alert("留言内容不能为空");return false;
	            	}
	            	
       	            $.post('/UserSurvey/survey.json',_data,function(res){
						if(res.status===1){
							$('.pop-model').show();
						 	setTimeout(function(){
						 		$('.pop-model').hide();
						 		window.location.href = '/';
						 	},1000);
						}else{
							alert(res.msg);
						}
            		}) 
	            }
    		}
    	});
        //评论文字控制
        $.fn.limitTextarea=function(opts){
            var defaults={
                maxNumber:500,//允许输入的最大字数
                okHandle:function(){},//数字未超出时调用
                overHandle:function(){}//超出时限制
            }
            var options=$.extend(defaults, opts);
            this.each(function(index, el) {
                var _this=$(this);
                var fn=function(){
                    var cur_Num=_this.parent().find('.currentNum');
                    var extraNum=options.maxNumber-_this.val().length;
                    if(extraNum>=0){
                        //未超出
                        cur_Num.html(_this.val().length);
                        options.okHandle();
                    }else{
                        //如果字数已经超出，则禁止输出
                        cur_Num.html(options.maxNumber);                        
                        options.overHandle();
                    }
                }
                if(window.addEventListener){
                    //JS中有oninput这样的事件，文本框的输入、退格、空格、粘贴等操作均能触发，利用这个事件就可以动态捕捉用户的输入情况
                    // _this.get(0).addEventListener('input',fn,false);
                    _this.get(0).addEventListener('input',fn,false)
                }else{
                    _this.get(0).addEventListener('onpropertychange',fn);//IE
                }
                
                if (window.VBArray && window.addEventListener) { //IE9
                    _this.get(0).attachEvent("onkeydown", function() {
                        //8--back 46--delete
                        (key == 8 || key == 46) && fn(); //处理回退与删除
                    });
                    _this.get(0).attachEvent("oncut", fn); //处理粘贴
                }
            });
        };
        $('.limit').limitTextarea();
    });
        
    </script>
    </body>
</html>