<style scoped>
	.detail-case img{padding:0.5em;}
	.detail-case li div{text-align:left; background:#fff; padding:0.2em; margin-bottom: 0;}
	.detail-case span{color:#333; font-size:0.85em;}
	.detail-case em{font-size:1em; font-weight:bold;}
	.cj_wx{display:none;}
</style>
<div class="main_pro">
	<img src="/public/images/q_goods/1008/img_03.jpg" alt="">
	<img src="/public/images/q_goods/1008/img_04.jpg" alt="">
	<img src="/public/images/q_goods/1008/img_05.jpg" alt="">
	<img src="/public/images/q_goods/1008/img_06.jpg" alt="">
	<img src="/public/images/q_goods/1008/img_07.jpg" alt="">
	<img src="/public/images/q_goods/1008/img_08.jpg" alt="">
	<img src="/public/images/q_goods/1008/img_09.jpg" alt="">
	<img src="/public/images/q_goods/1008/img_10.jpg" alt="">
	<img src="/public/images/q_goods/1008/img_11.jpg" alt="">
	<img src="/public/images/q_goods/1008/img_12.jpg" alt="">
	<img src="/public/images/q_goods/1008/img_13.jpg" alt="">
	<img src="/public/images/q_goods/1008/img_14.jpg" alt="">
	<img src="/public/images/q_goods/1008/img_15.jpg" alt="">
	<img src="/public/images/q_goods/1008/img_16.jpg" alt="">
	<img src="/public/images/q_goods/1008/img_17.jpg" alt="">
	<img src="/public/images/q_goods/1008/img_18.jpg" alt="">
</div>
<div class="detail-box">
    <ul class="detail-case">
        <li>
          	<img src="/public/images/q_goods/1008/img_19.jpg" alt="">
            <div><span>温零  23岁</span><br /><em>与其素颜成路人，不如化妆变女神</em></div>
            <p>本宝宝五官还算不错，皮肤也算好，仗着有本钱平时都不化妆。有段时间被朋友安利了试着入了这套女神范焦点套组。从此养成了良好的化妆习惯，每天出门回头率那个爆表，一堆人天天打听我微信电话，都快烦死我身边的朋友了。你们还甘当素人？快变身女神吧！</p>
        </li>
        <li>
            <img src="/public/images/q_goods/1008/img_20.jpg" alt="">
            <div><span>祁琦  26岁</span><br /><em>女神经秒变女神，你值得拥有！</em></div>
            <p>难上手、易晕染、乱搭配，化个妆简直要被逼成女神经了有木有！！在网上淘到这一套瞬间满足了。粉质细腻，没有特别多的香精添加；两用眉笔适应不同妆容的需求；眼影、眼线、睫毛膏三步大开双眼；唇膏滋润显色，最重要的是全天不脱妆、不晕染！才配称得上女神！</p>
        </li>
        <li>
            <img src="/public/images/q_goods/1008/img_21.jpg" alt="">
            <div><span>Vicky  35岁</span><br /><em>化妆以后，大婶翻身做女神</em></div>
            <p>生宝宝以后感觉整个人状态是走下坡的，气色不够，化妆来凑！跟着瓷妆的资深彩妆师学习化妆教程，两三次就能掌握化妆的技巧。一个完美的妆容，必不可少轻盈透气的底妆、立体眉妆搭配精致眼妆，加上亮丽的唇妆，整个人都不一样了，身边朋友个个改口唤我做女神~</p>
        </li>
    </ul>
</div>	