<style>
.w100{background: #fff;}
.w425{width: 88%!important;max-width: 456px;margin:.5em auto;display: block;}
.w135{width: 25%!important;max-width: 135px;margin:.2em 0;}
.case_detail{padding: 0.4em 0 0.4em 0.4em; margin-bottom: 0.4em; font-size: 0.85em;color: #A5A5A5;border-bottom: 1px dashed #E8E8E8;}
.case_detail b{font-size: 1.2em;color: #5F5F5F; display: block;}
.case_detail i{display: inline-block;width: 0.4em;height: 0.4em;border-radius: 50%;background:#A5A5A5;margin-right: 0.5em;}
.cjjd_sev{padding: 0 1em 1em;}
.cjjd_sev li:first-child{margin-bottom: 0.5em;}
</style>
	<div class="w100" >
		<!-- <img src="/public/images/q_goods/1107/img_01.jpg" alt="" />
		<img src="/public/images/q_goods/1107/img_02.jpg" alt="" /> -->
		<img src="/public/images/q_goods/1107/img_03.jpg" alt="" />
		<img src="/public/images/q_goods/1107/img_04.jpg" alt="" />		
		<img src="/public/images/q_goods/1107/img_05.jpg" alt="" />
		<img src="/public/images/q_goods/1107/img_06.jpg" alt="" />
		<img src="/public/images/q_goods/1107/img_07.jpg" alt="" />		
		<img src="/public/images/q_goods/1107/img_08.jpg" alt="" />
	</div>
	<!--产品档案-->
	<div class="w100">
		<img src="/public/images/q_goods/1107/img_09.jpg" alt="" />
		<img src="/public/images/q_goods/1107/img_10.jpg" alt="" />
		<img src="/public/images/q_goods/1107/img_11.jpg" alt="" />
		<img src="/public/images/q_goods/1107/img_12.jpg" alt="" />

		<img src="/public/images/q_goods/1107/img_13.jpg" alt="" />
		<img src="/public/images/q_goods/1107/img_14.jpg" alt="" />

		<img src="/public/images/q_goods/1107/img_15.jpg" alt="" />
		<img src="/public/images/q_goods/1107/img_16.jpg" alt="" />
		<img src="/public/images/q_goods/1107/img_17.jpg" alt="" />
		<img src="/public/images/q_goods/1107/img_20.jpg" alt="" />
		<img src="/public/images/q_goods/1107/img_21.jpg" alt="" />
		<img src="/public/images/q_goods/1107/img_22.jpg" alt="" />
		<img src="/public/images/q_goods/1107/img_23.jpg" alt="" />
		<img src="/public/images/q_goods/1107/img_24.jpg" alt="" />
		<img src="/public/images/q_goods/1107/img_25.jpg" alt="" />

		<img src="/public/images/q_goods/1107/img_26.jpg" alt="" />

	</div>