<style scoped>
    .detail-case{padding:0;}
	.detail-case li div{text-align:left; padding:0.2em 1.7em; margin-bottom: 0; background:#fff ;}
	.detail-case span{color:#333; font-size:0.85em;background:#f2f2f2; display:inline-block; padding:0 0.3em;}
	.detail-case li em{font-size:1.1em; line-height:2em; font-weight:bold; color:#f43623; font-style:normal;}
	.detail-case li i{font-style:normal; background: #565656; color:#d3d3d3; padding:0 0.3em;display:inline-block; }
	.detail-case p{color:#a3a3a3; margin-top:0.5em; padding:0 1.7em;padding-bottom:1.5em;}
	.cj_wx{display:none;}

	/*电话样式*/
	.new_tel{padding: 0.5em 0 1em;background:#f5f5f5;}
	.new_tel p{font-size: 1.4em; font-weight: bold;color: #2d2e2d;line-height: 1.5em;text-align: center;}
	.new_tel p:nth-of-type(2){margin-top:.3em;}
	.new_tel p img{ width:44.5%; max-width:287px; margin:0 2%;}
</style>
<div class="main_pro">	
	<img src="/public/images/q_goods/1149/img_01.jpg" alt="">
	<img src="/public/images/q_goods/1149/img_02.jpg" alt="">
	<img src="/public/images/q_goods/1149/img_03.jpg" alt="">
	<img src="/public/images/q_goods/1149/img_04.jpg" alt="">
	<img src="/public/images/q_goods/1149/img_05.jpg" alt="">
	<img src="/public/images/q_goods/1149/img_06.jpg" alt="">	
	<img src="/public/images/q_goods/1149/img_07.jpg" alt="">
	<!--<div class="new_tel">
		<p style="font-weight:normal;">美容老师1对1教你解决肌肤问题</p>
		<p>
			<a href="tel:{$tel}" onclick="PIWI_SUBMIT.Call_Mid();"><img src="/public/images/q_goods/1149/on_zx.png" alt=""></a>
			<a href="#order" onclick="PIWI_SUBMIT.Orderwx_Goods();"><img src="/public/images/q_goods/1149/on_order.png" alt=""></a>
		</p>
	</div>-->
	<img src="/public/images/q_goods/1149/img_09.jpg" alt="">	
	<img src="/public/images/q_goods/1149/img_10.jpg" alt="">
	<img src="/public/images/q_goods/1149/img_11.jpg" alt="">	
	<img src="/public/images/q_goods/1149/img_12.jpg" alt="">
	<img src="/public/images/q_goods/1149/img_13.jpg" alt="">
	<img src="/public/images/q_goods/1149/img_14.jpg" alt="">
	<img src="/public/images/q_goods/1149/img_15.jpg" alt="">
	<img src="/public/images/q_goods/1149/img_16.jpg" alt="">
	<img src="/public/images/q_goods/1149/img_17.jpg" alt="">
	<img src="/public/images/q_goods/1149/img_18.jpg" alt="">
	<img src="/public/images/q_goods/1149/img_19.jpg" alt="">	
	<img src="/public/images/q_goods/1149/img_20.jpg" alt="">
	<img src="/public/images/q_goods/1149/img_21.jpg" alt="">
	<img src="/public/images/q_goods/1149/img_22.jpg" alt="">
	<!--<div class="new_tel">
		<p style="font-weight:normal;">美容老师1对1教你解决肌肤问题</p>
		<p>
			<a href="tel:{$tel}" onclick="PIWI_SUBMIT.Call_Mid();"><img src="/public/images/q_goods/1149/on_zx.png" alt=""></a>
			<a href="#order" onclick="PIWI_SUBMIT.Orderwx_Goods();"><img src="/public/images/q_goods/1149/on_order.png" alt=""></a>
		</p>
	</div>	-->
	<img src="/public/images/q_goods/1149/img_24.jpg" alt="">	
	<img src="/public/images/q_goods/1149/img_25.jpg" alt="">
	<img src="/public/images/q_goods/1149/img_26.jpg" alt="">
	<img src="/public/images/q_goods/1149/img_27.jpg" alt="">
	<img src="/public/images/q_goods/1149/img_28.jpg" alt="">
	<img src="/public/images/q_goods/1149/img_29.jpg" alt="">
	<img src="/public/images/q_goods/1149/img_30.jpg" alt="">
	<img src="/public/images/q_goods/1149/img_31.jpg" alt="">
	<img src="/public/images/q_goods/1149/img_32.jpg" alt="">
	<!--<div class="new_tel">
		<p style="font-weight:normal;">美容老师1对1教你解决肌肤问题</p>
		<p>
			<a href="tel:{$tel}" onclick="PIWI_SUBMIT.Call_Mid();"><img src="/public/images/q_goods/1149/on_zx.png" alt=""></a>
			<a href="#order" onclick="PIWI_SUBMIT.Orderwx_Goods();"><img src="/public/images/q_goods/1149/on_order.png" alt=""></a>
		</p>
	</div>-->
</div>