<style scoped>
.da_mian01{ width:90%; overflow: hidden; margin: 0 auto; padding-top: 0.5em;}
.da_mian01 li{ float: left; width: 33%;}
.da_mian01 li p{text-align: center; font-size: 0.85em;}
.da_mian01 li p.curr{color: #eb2a4c;}
.text_main{ width: 80%; margin:1em auto; background: #474747; color: #fff; font-size: 0.9em; padding: 0.5em 0.7em;}
.img_box{ padding: 1em;}
.img_box p{ color: #eb2a4c; border-bottom: 1px solid #eb2a4c; text-align: center; margin-top: 0.5em;font-size:0.9rem;}
.da_mian02{ padding-bottom: 0.5em;}
.da_mian02 p{display: inline-block; width: 47%; padding-left: 1em; font-size: 0.9em;}
.da_mian02 img{ width: 49%;}
.img_box01{ margin-top: 0.5em;}
.img_box01 img{ width: 50%; margin-top: 1.4em;}
.da_mian03{display: inline-block; width: 45%;}
.da_mian03 li{ margin-bottom: 0.5em;}
.da_mian03 li img{ width: 11%; margin-top: 1em;}
.da_mian03 li p{display: inline-block; width: 70%; font-size: 0.9em;}
.da_mian03 li p span{color: #eb2a4c;}
.da_mian04 {overflow: hidden; padding: 0.4em 0;}
.da_mian04 li{ float: left; width: 50%; padding: 0 8%;}
.da_mian04 p.curr{ text-align: center; border-bottom: 1px dashed #a9a9a9;}
.da_mian04 p.curr01{ font-size: 0.9em;}
.de-4{padding-bottom: 1em;}
.de-4 li{width: 100%; padding: 0.8em 0.8em 0; display: table;}
.de-4 li img{display: table-cell; width: 94% ;}
.de-4 li div{width: 70%; padding-left: 0.8em; display: table-cell; vertical-align: middle;}
.de-4 li em{padding-bottom: 0.4em; font-size: 1.2em; color: #000; display: block;}
.de-4 li span{padding: 0 0.4em; margin-left: 0.4em; background: #f2f2f2; color: #fe1c42; font-size: 0.8em;}
.de-4 li p{ font-size: 0.9em;}
.da_mian05{ padding: 0.5em 1em; overflow: hidden;}
.da_mian05 li{ float: left; width: 24%; margin-right: 1%;}
.da_mian05 li p{font-size: 0.9em;}
</style>
<div class="detail-box">
	 <div class="cj-hd">浅色性色斑肌肤3大元凶</div>
	 <ul class="da_mian01">
	 	<li>
	 		<img src="/public/images/q_goods/229/img_01.jpg" alt="">
	 		<p class="curr">元凶1</p>
	 		<p>紫外线UVB光线</p>
	 	</li>
	 	<li>
	 		<img src="/public/images/q_goods/229/img_02.jpg" alt="">
	 		<p class="curr">元凶2</p>
	 		<p>电脑、手机等辐射</p>
	 	</li>
	 	<li>
	 		<img src="/public/images/q_goods/229/img_03.jpg" alt="">
	 		<p class="curr">元凶3</p>
	 		<p>外界辐射污染</p>
	 	</li>
	 </ul>
	 <p class="text_main">
	 	长期在这三种危险光源的影响下，肌肤的浅性色斑由此形成，沉淀色素逐渐吞没健康细胞，导致恶性斑点。
	 </p>
	 <div class="img_box">
	 	<img src="/public/images/q_goods/229/img_04.jpg" alt="">
	 	<p>瓷肌淡化色素因子 直达肌底击散色素 润养受损细胞</p>
	 </div>
	 <ul class="da_mian02">
	 		<li>
	 			<p>瓷肌医生浅性色斑亮白轻中度套装，融合四大植物成分，研发出淡化色素因子，从内而外深入肌底，排除色素，修复细胞，促使肌肤白净水嫩！</p>
	 			<img src="/public/images/q_goods/229/img_05.jpg" alt="">
	 		</li>
	 	</ul>
</div>
<!-- {include file="library/t_chat01.lbi"} -->
<div class="detail-box">
	<div class="cj-hd">淡斑嫩肤 5大功效</div>
	<div class="img_box01">
		<img src="/public/images/q_goods/229/img_06.jpg" alt="">
		<ul class="da_mian03">
			<li><img src="/public/images/q_goods/229/img_07.jpg" alt="">
				<p><span>去除色素</span><br />精准锁定根源强力击散排除色素</p>
			</li>
			<li><img src="/public/images/q_goods/229/img_08.jpg" alt="">
				<p><span>抑制色素</span><br />抑制黑色素活性，减少色斑形成</p>
			</li>
			<li><img src="/public/images/q_goods/229/img_09.jpg" alt="">
				<p><span>修复损伤</span><br />有效消除自由基，降低光源对细胞伤害</p>
			</li>
			<li><img src="/public/images/q_goods/229/img_10.jpg" alt="">
				<p><span>保湿滋养</span><br />富含天然保湿成分有效锁水保湿</p>
			</li>
			<li><img src="/public/images/q_goods/229/img_11.jpg" alt="">
				<p><span>提亮肤色</span><br />改善黯沉肤色，促使肌肤亮白水嫩</p>
			</li>
		</ul>
	</div>
</div>
<div class="detail-box">
	<div class="cj-hd">4大天然成分 成就淡斑能量</div>
	<ul class="da_mian04">
		<li>
			<img src="/public/images/q_goods/229/img_12.jpg" alt="">
			<p class="curr">传明酸因子</p>
			<p class="curr01">能抑制黑色素增强因子群，中断黑色素发生的途径，有效防止和改善色素沉积。</p>
		</li>
		<li>
			<img src="/public/images/q_goods/229/img_13.jpg" alt="">
			<p class="curr">银杏叶提取物</p>
			<p class="curr01">其主要活性成分为总黄酮醇苷和萜类内酯，抑制氧自由基产生，防护肌肤。</p>
		</li>
	</ul>
	<ul class="da_mian04">
		<li>
			<img src="/public/images/q_goods/229/img_14.jpg" alt="">
			<p class="curr">当归提取物</p>
			<p class="curr01">富含丰富微量元素，能营养皮肤，防止粗糙。</p>
		</li>
		<li>
			<img src="/public/images/q_goods/229/img_15.jpg" alt="">
			<p class="curr">火棘提取物</p>
			<p class="curr01">火果实富含Vc及一定量SOD，整体改善皮肤出油、泛黄、暗沉。</p>
		</li>
	</ul>
</div>
<div class="detail-box">
	<div class="cj-hd">淡斑3步曲 肌肤白净水嫩</div>
	<ul class="de-4">
        <li>
           <img src="/public/images/q_goods/229/img_16.jpg" alt="">
           	<div>
                <em>1.净澈<span>净白无瑕补水洁面乳</span></em>
                <p>含丰富细腻的泡沫，能深层清洁皮肤污垢，清楚老化角质，促进肌肤新陈代谢，淡化肌表色素，改善肤色不均以及干哑现状，令肌肤水润通透。</p>
            </div>
        </li>
        <li>
       		<img src="/public/images/q_goods/229/img_17.jpg" alt="">
            <div>
                <em>2.提亮<span>净白无瑕精华霜（轻度）</span></em>
                <p>特含淡化色素的传明酸，融合各种珍稀成分，精准定位皮下50微米光源性色斑群，淡化色素，增强细胞焕新能力，由内而外深层淡化黑色素，令肌肤更迅速恢复白皙、细滑健康态。</p>
            </div>
        </li>
        <li>
            <img src="/public/images/q_goods/229/img_18.jpg" alt="">
            <div>
                <em>3.润养<span>臻雪焦点密集修护霜</span></em>
                <p>富含淡斑因子，轻松渗透密集色素层，深入打散色素斑点，加速肌肤代谢色素能力，从细胞根源淡斑，并防止色素再生、沉淀，令肌肤持久亮泽润白。</p>
            </div>
        </li>
    </ul>
</div>
<!-- {include file="library/t_chat04.lbi"} -->
<div class="detail-box">
	<div class="cj-hd">四周期，告别星星点点</div>
	<ul class="da_mian05">
		<li>
			<img src="/public/images/q_goods/229/img_19.jpg" alt="">
			<p>皮肤干燥又发黄，油脂分泌旺盛，斑点小而颜色浅。</p>
		</li>
		<li>
			<img src="/public/images/q_goods/229/img_20.jpg" alt="">
			<p>肤色开始变白了，皮肤水分提高，摸起来柔软润泽。</p>
		</li>
		<li>
			<img src="/public/images/q_goods/229/img_21.jpg" alt="">
			<p>色素减少，边缘模糊淡化，皮肤变的白净细嫩。</p>
		</li>
		<li>
			<img src="/public/images/q_goods/229/img_22.jpg" alt="">
			<p>斑点消失，皮肤水嘟嘟，粉嫩嫩，素颜也是100分。</p>
		</li>
	</ul>
</div>
<div class="detail-box">
	<div class="cj-hd">会员真实心声~~赞不停！！</div>
	 <ul class="detail-case pad_u">
            <li>
                <img src="/public/images/q_goods/229/img_23.jpg" alt="">
                <div>论坛红人：徐静   23岁| <em>干性肤质</em><b>早晚各一次，搞掂防晒与隔离！</b></div>
                <p>过了25岁，肤质每况愈下！特别是细纹和斑点。还好我有瓷肌，专门针对浅色斑，除了抚平细纹，还能淡化色斑，可以放心使用！大爱能量霜，在脸上轻轻涂一层，抹开就很润，才用了一个多星期，脸上小斑点竟然真的不见了，连续用了一段时间，感觉皮肤真的白了不少，坚持用，摆脱"轻熟肌"就全靠这一套啦！</p>
            </li>
            <li>
                <img src="/public/images/q_goods/229/img_24.jpg" alt="">
                <div>时尚设计师：芬妮   22岁  | <em>混合性肌肤</em><b>终止辐射伤害，360度祛斑美白~</b></div>
                <p>25岁是女人肌肤老化的分水岭，眼周的斑点也变多了，敷一堆东西都去不掉，那个急呀。妹妹送我一套瓷肌的淡斑套装，马上就开始用了。精华液非常滋润，很柔滑哦，保湿效果倍儿棒，皮肤变得有弹性的同时还能淡化色斑。用的时间一长，皮肤里的弹力纤维变多了，提高肌肤的含水量，斑点就慢慢淡化了，肌肤变得Q弹水嫩，非常惊喜呢!</p>
            </li>
        </ul>
</div>