<div>
    <style scoped>
        .focus{padding-bottom: .6em; background: #fff;}
        .focus img{width: 100%;}
        .cus{ width:93.75%; margin:.5em auto; }
        .cus li{border-bottom: 1px #dcdcdc dashed; font-size: 1em; }
        .cus li.culi_last{border-bottom: 0;}
        .cus li p.fir_p{border-right: 1px #dcdcdc dashed; width: 27%;text-align: center; font-size: 4em; font-family: "微软雅黑";
        color: #5d5d5d; line-height: 1.2em;}
        .las_p{padding-top:1em;padding-left: 1em;font-size:0.8rem;}
        .las_p span{ color:#ea2143; font-weight: bold; font-size: 1rem;}
        .cus_cen{text-align: center;font-size: 1.1em; color:#f30f35; padding: .5em 0;}
        .de-1{width: 50%; margin: 2em auto;}
        .de-3 li{ padding: .5em .4em .5em 1em;}
        .de-3 li p { width:70%; float: left; padding-left: 1em;}
        .de-3 li img{width: 27%; float: left;}      
        .de-3 span{ color:#ea2143; font-weight: bold;}
        .de-4{width: 93.75%; margin: 0 auto;}
        .de-4 li{ padding: .5em .4em;}
        .de-4 li p{ width: 75%; float: left; padding-left: 2em;}
        .de-4 li img{width: 14%; float: left;}
        .de-4 span{ color:#ea2143; font-weight: bold;}
        .bor_one{ border-bottom: 1px #dcdcdc dashed;}
        .bor_none{border-bottom: 0;}
        .he-1{}
        .he-1 li{ padding: .5em .4em .5em 1em;}
        .he-1 li p { width:70%; float: left; padding-left: 2em;}
        .he-1 li img{width: 27%; float: left;}      
        .he-1 span{ background:#ea2143; color: #fff; padding: .1em .3em;font-size:.8rem;}

        .de-5 {width: 90%; margin: 0 auto;}
        .de-5 img{padding: 1em 0;}
        .de-5 li{padding:.5em 0em .5em 1em; list-style-type:disc; margin-left: 1em;}
        .de-5 p{color: #ababab;}
        .de-5 em{font-weight: bold;}
        .de-6{width: 90%; margin:0 auto; padding-top: .5em;}
        .de-6 div{background: #f2f2f2; padding: 1em; text-align: center;}
        .de-6 em{font-weight: bold;}
        .de-6 b{color: #fe1c42; font-size: 1.3em;}
        .de-6 p{padding: .5em 0 .5em .3em;}
    </style>
    <div class="focus"><a href="#orderpr"><img src="/public/images/q_goods/268/focus_01.jpg" alt="" /></a></div>
    <div class="detail-box">
        <div class="cj-hd">测一测自己的眼肌年龄</div>
        <ul class="cus">
            <li class="clf">
                <p class="fir_p fl">1</p>
                <p class="las_p fl">
                    <span>对着镜子笑一下</span><br />看看眼角有没有细纹和干纹
                </p>
            </li>
            <li class="clf">
                <p class="fir_p fl">2</p>
                <p class="las_p fl">
                    <span>察看上眼皮、下眼睑和眼角</span><br />周围肌肤是否干燥有缺水纹
                </p>
            </li>
            <li class="clf">
                <p class="fir_p fl">3</p>
                <p class="las_p fl">
                    <span>摸眼部下方</span><br />有没有沙沙的感觉，不那么平滑柔润了
                </p>
            </li>
            <li class="clf culi_last">
                <p class="fir_p fl">4</p>
                <p class="las_p fl">
                    <span>拉眉弓骨</span><br />放下时恢复原来状态的速度是否迅速
                </p>
            </li>
        </ul>
        <div class="cus_cen">
            为了避免上述情况，我们要赶快拯救“轻熟眼肌”！
        </div>
        <div class="cj-hd">2大核心成分，还原“幼嫩眼肌”！</div>
        <ul class="de-1">
            <li class="clf">
                <p class="fl"><img src="/public/images/q_goods/268/img_02.jpg" alt=""></p>
                <p class="fr"><img src="/public/images/q_goods/268/img_01.jpg" alt=""></p>
            </li>
        </ul>
        <ul class="de-3">
            <li class="clf">
                <img src="/public/images/q_goods/268/img_03.jpg" alt="">
                <p>精选高纯度黄金，具有强效的抗氧化能力，且能携带营养分子深入渗透肌底。配合法国蜗牛新生原液，含天然胶原蛋白、尿囊素、破套糖醛酸等多种营养，促进细胞再生，有效保湿修复。快速深入皮肤底层，发挥强效修复效果。</p>
            </li>
        </ul>
        <!-- {include file="library/t_chat01.lbi"} -->
        <div class="cj-hd">4步，快速击退熟龄眼肌问题</div>
        <ul class="de-4">
            <li class="clf bor_one">
                <img src="/public/images/q_goods/268/word_01.jpg" alt="">
                <p><span>直达肌底 强效修复</span><br />成分渗透肌底，源源不断注入营养，促进眼周修复循环。</p>
            </li>
            <li class="clf bor_one">
                <img src="/public/images/q_goods/268/word_02.jpg" alt="">
                <p><span>肌底导入 层层赋活</span><br />应用导入式护肤科技，黄金天然传导，层层赋活肌肤。</p>
            </li>
            <li class="clf bor_one">
                <img src="/public/images/q_goods/268/word_03.jpg" alt="">
                <p><span>微粒黄金，提升效果</span><br />黄金分子体积极小，有效快速渗透，提升护肤效果。</p>
            </li>
            <li class="clf bor_none">
                <img src="/public/images/q_goods/268/word_04.jpg" alt="">
                <p><span>珍稀成分，新生还幼</span><br />微粒黄金+蜗牛原液，有效改善眼周肌肤问题，显著还原幼嫩眼肌。</p>
            </li>
        </ul>
        <!-- {include file="library/t_chat04.lbi"} -->
        <div class="cj-hd">天然成分，全频修护还幼</div>
        <ul class="he-1">
            <li class="clf">
                <img src="/public/images/q_goods/268/img_04.jpg" alt="">
                <p><span>全方位御颜—微粒黄金</span><br />纳米黄金超微导入，同时释放活性，提升肌肤紧实度、锁水能力，延缓眼周肌肤衰老。</p>
            </li>
            <li class="clf">
                <img src="/public/images/q_goods/268/img_05.jpg" alt="">
                <p><span>修护润养眼肌—法国蜗牛原液</span><br />修复受损组织，增强眼周脆弱肌肤营养供给，改善眼袋、细纹、黑眼圈等问题。</p>
            </li>
            <li class="clf">
                <img src="/public/images/q_goods/268/img_06.jpg" alt="">
                <p><span>高效修复净白—人参</span><br />抑制黑色素的还原性能，增强肌肤弹性，有效改善黑眼圈、眼袋、细纹。</p>
            </li>
            <li class="clf">
                <img src="/public/images/q_goods/268/img_07.jpg" alt="">
                <p><span>增弹抗皱营养—鲟鱼子酱提取物</span><br />加速胶原蛋白的合成，增加皮肤弹性，抗自由基，对抗疲劳，使双眼焕发年轻神采。</p>
            </li>

        </ul>
        <div class="cj-hd">4步按摩吸收，眼肌重现娇嫩</div>
        <div class="de-5">
            <img src="/public/images/q_goods/268/img_08.jpg" alt="">
            <ul>
                <li class="clf">
                    <em>1.提拉—排出淤塞毛孔的废物</em>
                    <p>中指和无名指从眼头拉至眼尾太阳穴</p>
                </li>
                <li class="clf">
                    <em>2.打圈—舒缓过度紧张的眼肌</em>
                    <p>中指和无名指从太阳穴向内打圈轻柔</p>
                </li>
                <li class="clf">
                    <em>3.下划—帮助淋巴腺排出毒素</em>
                    <p>中指和无名指从太阳穴轻拉至耳下</p>
                </li>
                <li class="clf">
                    <em>4.点压—帮助吸收营养成分</em>
                    <p>眉头-眉中-眉尾-眼下-内眼角，六点按摩</p>
                </li>
            </ul>
        </div>
        <!-- {include file="library/t_chat01.lbi"} -->
        <div class="cj-hd">显著还原幼嫩，电眼就靠它了！</div>
        <ul class="de-6">
            <li class="clf">
                <img src="/public/images/q_goods/268/img_09.jpg" alt="">
                <div>思如   28岁 | <em>浮肿、黑眼圈</em><br /><b>轻熟眼肌逆龄术，用过都说有效！</b></div>
                <p>由于工作压力大，常常要开夜车，黑眼圈越发严重。听说这是风靡韩国的蜗牛眼霜，一拿到就迫不及待使用了，拉
                丝状的眼霜涂在眼部肌肤，温和不刺激，吸收得特别快，即可舒缓滋润。现在一直在用，同事朋友都说我眼部肌肤状态好了很多！</p>
            </li>
            <li class="clf">
                <img src="/public/images/q_goods/268/img_10.jpg" alt="">
                <div>路爱  28岁 | <em>岁细纹、干燥</em><br /><b>细纹、干纹不见了，眼睛滋润水嫩~</b></div>
                <p>随着年纪的增大，眼部开始出现细纹干纹，真苦闷！幸好同事介绍我这款蜗牛眼霜，感觉都是浓稠的精华成分，但
                是绝不黏腻！赞！轻轻按摩就吸收了，眼周肌肤好像可以揉出水，上妆也变得轻松多了，眼影服帖，也不出油了！</p>
            </li>
        </ul>
        <!-- {include file="library/t_chat04.lbi"} -->
    </div>
</div>