<style scoped>
.detail-main01 li{overflow: hidden;}
.detail-main01 p{ float: left;}
.detail-main01 li.curr{ background: #f2f2f2; margin-top: 0.5em; padding: 0.3em 0;}
.detail-main01 li.curr01{ margin-top: 0.5em;}
.detail-main01 li p.p01{ width: 20%; margin-left: 1em;font-size:0.85rem;}
.detail-main01 li p.p02{ width: 72%;margin-left: 0.2em;font-size:0.85rem;}
.detail-main01 li p.p03{ margin-left: 1em; width: 3em; height:1.6em; background: #000; color: #fff; line-height: 1.6em; text-align: center; font-size: 1rem;}
.detail-main01 li p.p04{ width: 72%;margin-left: 0.5em;}
.detail-main01 li p.p04 span{color: #d51838;}
.detail-main01 li img{ width: 80%; margin-left: 3em;}
.detail-main02{ padding: 1em 1.5em;}
.detail-main02 p.curr{ color: #000; font-size: 1.2em; padding: 0.6em 0 0;}
.detail-main02 p.curr span{display: inline-block;color: #e72c46; text-align: center; margin-left: 0.4em;}
.detail-main02 p.curr b{ display: inline-block; width: 0.4em; height: 1.2em; background: #e72c46; vertical-align:bottom; }
.de-3 {padding: 1em 0;}
.de-3 li{padding: 0 1em; font-size: 1.2em; margin-bottom: 0.8em;}
.de-3 li img{width: 20%; margin-right: 0.8em;}
.de-3 li p{display: inline-block; width: 72%; font-size: 0.7em;}
.de-3 li span{color: #d51838; font-size: 1.4em;}
.detail-main03 li p{ width: 63%; }
.detail-main03 b{color: #d51838; font-size: 1.4em;}
.detail-main03 li span{color: #000; font-size: 1.2em; margin-left: 0.3em;}
.detail-main03 li img{width: 29%; margin-right: 0.4em;}
.detail-main04{ font-size: 1.4em; color: #000; text-align: center; line-height: 1.6em;}
</style>
<div class="detail-box">
		<img src="/public/images/q_goods/286/img_01.jpg" alt="">
</div>
<div class="detail-box">
	<div class="cj-hd">普通洁面，无法深入毛孔底部！</div>
	<ul class="detail-main01">
		<li class="curr">
			<p class="p01">普通洁面：</p>
			<p class="p02">只是清除表层污垢，深层毛孔污垢、老废角质、油脂无法彻底清除！</p>
		</li>
		<li class="curr01">
			<p class="p03">导致:</p>
			<p class="p04">皮肤新陈代谢不畅，<span>毛孔越来越大，黑头、白头、粉刺</span>的产生。</p>
		</li>
		<li>
			<img src="/public/images/q_goods/286/img_02.jpg" alt="">
		</li>
	</ul>	
</div>
<div class="detail-box">
	<div class="cj-hd">毛孔“清道夫”，毛囊大扫除！</div>
	<div class="detail-main02">
		<p class="curr"><b></b><span>3道澈净“工序”</span></p>
		<p>先清老废角质、再清油脂、最后清残留物，一次洁面，三重净澈，毛孔清爽干净。</p>
		<p class="curr"><b></b><span>洗亮、洗白、洗透</span></p>
		<p>丰富的保湿因子及绿茶精华多重修护，清除细毛孔的污垢，越洗越白、透、亮。</p>
		<p class="curr"><b></b><span>亲水亲肤无残留</span></p>
		<p>亲水分子结构，在清洁同时带走洗面乳本身的残留。亲肤因子，才能真正深层清洁的肌肤。</p>
		
	</div>
</div>
<!-- {include file="library/t_chat01.lbi"} -->
<div class="detail-box">
	<div class="cj-hd">天然成分，温和净肤焕白</div>
	<ul class="de-3 detail-main03">
        <li>
           <img src="/public/images/q_goods/286/img_03.jpg" alt="">
            <p><b>薄荷脑</b><span>毛孔清爽透净</span><br />清爽肌肤，散除热毒，防御黑头、粉刺、痘痘形成。</p>
        </li>
        <li>
           <img src="/public/images/q_goods/286/img_04.jpg" alt="">
            <p><b>绿茶 </b><span>收毛孔强补水</span><br />单宁酸成分具有收缩毛孔，抗氧美白功效。</p>
        </li>
        <li>
            <img src="/public/images/q_goods/286/img_05.jpg" alt="">
            <p><b>洁净因子</b><span>温和深度净澈</span><br />温和深层清洁，从毛囊深处“钻”出污垢。</p>
        </li>
    </ul>
</div>
<div class="detail-box">
	<div class="cj-hd">毛孔净化洁颜冰晶</div>
	<div class="detail-main04">
		<p>让毛孔真正干干净净！</p>
		 <img src="/public/images/q_goods/286/img_06.jpg" alt="">
	</div>
</div>
<!-- {include file="library/t_chat04.lbi"} -->
<div class="detail-box">
	<div class="cj-hd">毛孔深净化，越洗越细滑</div>
	 <ul class="detail-case">
        <li>
          	<img src="/public/images/q_goods/286/img_07.jpg" alt="">
            <div>吧唧吧唧  21岁 | <em>大油皮，毛孔粗大</em><b>深层污垢和油脂清干净，<br />粗大毛孔有闭合哦！</b></div>
            <p>油性皮肤好难伺候，一下冒油，一下爆痘，而且还长黑头，超难看的。网上看到这款洁颜冰晶评论不错就买来试下。第一次用时我就在鼻翼的地方多搓了几次，立马看到泡泡是灰色了，这也洗得太干净了，洗完后脸滑溜溜的，超温和呢！</p>
        </li>
        <li>
            <img src="/public/images/q_goods/286/img_08.jpg" alt="">
            <div>路爱  28岁 | <em>黑头反反复复</em><b>荐！黑头族用过最赞的洁面产品！</b></div>
            <p>来来回回好多次了，黑头还是去了又来。而每次洗完脸毛孔都张开和氧气零接触，灰尘很容易跑进去。抱着试一试的态度购买的瓷肌洁颜冰晶，洗一次还洗得挺干净舒服，不紧绷，洗后脸部有变得光滑了很多。用了几次，缩小毛孔的功能很明显，脸洗得非常干净，强烈推荐！！</p>
        </li>
    </ul>
</div>