<style scoped>
.de-4{padding-bottom: 1em;}
.de-4 li{width: 100%; padding: 0.8em 0.8em 0; display: table;}
.de-4 li img{display: table-cell;width: 97%;}
.de-4 li div{width: 70%; padding-left: 0.8em; display: table-cell; vertical-align: middle;}
.de-4 li span{padding: 0 0.4em;  background: #f2f2f2; color: #fe1c42;  }
.detail-main01 li img{ width: 87%;}
.detail-main02 li img{ width: 96%;}
.detail-main01 li em{ color: #fe1c42; font-weight: bold;}
.detail-main02 li div p{ font-size: 0.7em;}
.detail-main03{ padding:1em 0.8em;}
.detail-main03 p{ margin-top: 0.5em;}
</style>
<div class="detail-box">
	<div class="cj-hd">1瓶价格  5效合一</div>
	<img src="/public/images/q_goods/288/img_01.jpg" alt="">
</div>
<div class="detail-box">
	<div class="cj-hd">解决3大人群都有的皮肤烦恼！</div>
	<ul class="de-4">
		<li>
			<img src="/public/images/q_goods/288/img_02.jpg" alt="">
			<div>
               <span>20岁以上： 暗黄肌</span>
                <p>彩妆卸除不净，经常熬夜，加上饮食不调等原因，出现肤色暗黄问题。</p>
            </div>
		</li>
		<li>
			<img src="/public/images/q_goods/288/img_03.jpg" alt="">
			<div>
                <span>IT人士：毛孔粗大</span>
                <p>每天8小时以上的电脑辐射和彩妆覆盖，导致毛孔变大。</p>
            </div>
		</li>
		<li>
			<img src="/public/images/q_goods/288/img_04.jpg" alt="">
			<div>
                <span>学生族：大油田</span>
                <p>青春发育期，体内油脂分泌更为旺盛，经常出现皮肤油脂分泌过盛。</p>
            </div>
		</li>
	</ul>
</div>
<div class="detail-box">
	<div class="cj-hd">1次洗脸 “洗”走三大烦恼！</div>
	<ul class="de-4 detail-main01">
		<li>
			<img src="/public/images/q_goods/288/img_05.jpg" alt="">
			<div>
               <em>卸妆彻底 扫除暗黄</em>
                <p>特含清洁因子，亲水亲油，将辐射、彩妆、污垢一网打尽，肌肤清爽透净。</p>
            </div>
		</li>
		<li>
			<img src="/public/images/q_goods/288/img_06.jpg" alt="">
			<div>
                 <em>密集补水 毛孔细致</em>
                <p>透明质酸钠深层补水+甜菜碱强力锁水，双重保障，细胞膨弹水润，远离干燥。</p>
            </div>
		</li>
		<li>
			<img src="/public/images/q_goods/288/img_07.jpg" alt="">
			<div>
                 <em>持续锁水 水油平衡</em>
                <p>持续补充水能量，保湿功效高，不缺水就不冒油。</p>
            </div>
		</li>
	</ul>
</div>
<!-- {include file="library/t_chat01.lbi"} -->
<div class="detail-box">
	<div class="cj-hd">天然成分 温和净肤焕白</div>
	<ul class="de-4 detail-main01 detail-main02">
		<li>
			<img src="/public/images/q_goods/288/img_08.jpg" alt="">
			<div>
               <em>净肤安抚—洋甘菊</em>
                <p>洁肤同时舒缓安抚肌肤，增强细胞活力，延缓衰老。</p>
            </div>
		</li>
		<li>
			<img src="/public/images/q_goods/288/img_09.jpg" alt="">
			<div>
                 <em>润养增弹—甜菜碱</em>
                <p>增强皮肤滋润度，增加弹性，防止色素沉着。</p>
            </div>
		</li>
		<li>
			<img src="/public/images/q_goods/288/img_10.jpg" alt="">
			<div>
                 <em>超级锁水—透明质酸钠</em>
                <p>高效锁水保湿，提高肌肤含水量，长效保持水分。</p>
            </div>
		</li>
		<li>
			<img src="/public/images/q_goods/288/img_11.jpg" alt="">
			<div>
                 <em>深度净澈—洁净因子</em>
                <p>温和深层清洁肌肤，抗击深色素沉淀。</p>
            </div>
		</li>
	</ul>
</div>
<div class="detail-box">
	<div class="cj-hd">快速卸净彩妆！</div>
	<div class="detail-main03">
		<img src="/public/images/q_goods/288/img_12.jpg" alt="">
		<p>日常妆容适合用清本源卸妆洗颜乳进行清洁，深度洁净，温和亮白。</p>
	</div>
</div>
<!-- {include file="library/t_chat04.lbi"} -->
<div class="detail-box">
    <div class="cj-hd">卸妆净肤 越洗越白</div>
    <ul class="detail-case">
        <li>
          	<img src="/public/images/q_goods/288/img_13.jpg" alt="">
            <div>杨不悔  29岁 | <em>经常带妆，肤色暗沉</em><b>洗脸都能白肌，好牛的洁面乳！</b></div>
            <p>这个洗颜乳气味清新，使用过程中可以让你的心情跟脸一样清爽舒坦哦！洗脸后，脸上清爽洁净，就算是浓妆也不用担心卸除不干净。每天用2次，肤色真的越来越白了：我认为是彩妆和污垢都清洁干净了,肤质自然就好起来了。</p>
        </li>
        <li>
            <img src="/public/images/q_goods/288/img_14.jpg" alt="">
            <div>小缪  21岁 | <em>油性肌肤</em><b>多功效合一，适合学生党！</b></div>
            <p>洗面像换肤，每个毛孔都像新的，水润十足~既能卸妆还可以同步洁肤，洗完不会有紧绷的感觉。像我这种油性皮肤用了，温和不刺激，而且还能平衡水油分泌呢！价格不高，但是效果好赞哦~</p>
        </li>
    </ul>
</div>