<style scoped>
.detail-main01 { padding: 0 1em;}
.detail-main01 li{ border-bottom: 1px dashed #f0f0f0;}
.detail-main01 li.curr{ border: none;}
.detail-main01 span{ display: inline-block; height: 2.5em; line-height: 2.5em;}
.detail-main01 span em{ color: #d51838; margin-left: 2em;}
.detail-main01 span.curr{ width: 20%; text-align: center; border-right: 1px dashed #f0f0f0;font-size: 1.5em; line-height: 2.5em;}
.detail-main02 span{ line-height: 1.2em; margin-left: 1em;font-size:0.8rem;}
.detail-main02 span em{ margin-left: 0em; font-size: 1rem;}
.detail-main02 span.curr{font-size: 2.5em; line-height: 2.5em; margin-left: 0;}
.de-3 {padding: 1em 0;}
.de-3 li{padding: 0 1em; font-size: 1.2em; margin-bottom: 0.8em;}
.de-3 li img{width: 20%; margin-right: 0.8em;}
.de-3 li p{display: inline-block; width: 72%; font-size: 0.7em;}
.de-3 li span{color: #fff; font-size: 1em; display: inline-block; width: 13em; height: 1.6em; background: #d51838; line-height: 1.6em; text-align: center; margin-top: 0.5em;}
</style>
<div class="detail-box">
   <img src="/public/images/q_goods/290/img_01.jpg" alt="">
</div>
<div class="detail-box">
	<div class="cj-hd">痘痘肌5大负能量</div>
	<ul class="detail-main01">
		<li>
			<span class="curr">1</span>
			<span><em>皮脂油污：</em>“滋养”痘根形成</span>
		</li>
		<li>
			<span class="curr">2</span>
			<span><em>老废角质：</em>阻塞毛孔红肿发炎</span>
		</li>
		<li>
			<span class="curr">3</span>
			<span><em>细胞缺水：</em>代谢缓慢留下印疤</span>
		</li>
		<li>
			<span class="curr">4</span>
			<span><em>酸碱失衡：</em>痘痘酸毒难以消解</span>
		</li>
		<li class="curr">
			<span class="curr">5</span>
			<span><em>表皮受损：</em>交叉感染恶性循环</span>
		</li>
	</ul>
</div>
<div class="detail-box">
	<div class="cj-hd">5步洗净脸，“冲”走负能量</div>
	<ul class="detail-main01 detail-main02">
		<li>
			<span class="curr">1</span>
			<span><em>溶解痘根油污</em><br />洁肤因子深入痘根源头，扫除油污。</span>
		</li>
		<li>
			<span class="curr">2</span>
			<span><em>疏通毛孔通道</em><br />细腻泡沫清洁毛孔通道，冲走废物。</span>
		</li>
		<li>
			<span class="curr">3</span>
			<span><em>补充肌肤水分</em><br />深入肌底补充水分，清爽不紧绷。</span>
		</li>
		<li>
			<span class="curr">4</span>
			<span><em>温和平衡油脂</em><br />中和肌肤酸碱，排除痘痘酸毒。</span>
		</li>
		<li class="curr">
			<span class="curr">5</span>
			<span><em>防止痘痘复发</em><br />恢复健康皮肤环境，防止痘痘复发。</span>
		</li>
	</ul>
</div>
<!-- {include file="library/t_chat01.lbi"} -->
<div class="detail-box">
	<div class="cj-hd">天然成分 温和彻净肌肤</div>
	<ul class="de-3">
        <li>
            <img src="/public/images/q_goods/290/img_02.jpg" alt="">
            <p><span>温和去污—茶树精华</span><br />温和溶解肌底废物，抑制多余油脂，保持肌肤清爽干净。</p>
        </li>
        <li>
            <img src="/public/images/q_goods/290/img_03.jpg" alt="">
            <p><span>排毒修复—库拉索芦荟</span><br />排走痘毒，并激活细胞活力，调和滋养肌肤。</p>
        </li>
        <li>
            <img src="/public/images/q_goods/290/img_04.jpg" alt="">
            <p><span>抗菌消炎—蜂王浆</span><br />含蛋白质激素和天然抗生素，有效抗菌消炎，愈后不留痕。</p>
        </li>
        <li>
            <img src="/public/images/q_goods/290/img_05.jpg" alt="">
            <p><span>抗炎抗过敏—甘草</span><br />甘草精华能有效抗炎抗过敏，防止痘痘复发。</p>
        </li>
    </ul>
</div>
<!-- {include file="library/t_chat04.lbi"} -->
<div class="detail-box">
	<div class="cj-hd">清颜祛痘洁面乳：边洗边消痘！</div>
	<img src="/public/images/q_goods/290/img_06.jpg" alt="">
</div>
<div class="detail-box">
	<div class="cj-hd">痘痘洗净，清爽逼人</div>
	 <ul class="detail-case">
        <li>
          	<img src="/public/images/q_goods/290/img_07.jpg" alt="">
            <div>米晓  26岁 | <em>油脂分泌旺盛，毛孔粗大</em><b>控油超赞，跟吸油纸说拜拜！</b></div>
            <p>朋友介绍的这个洁面乳感觉特别适合我~我是一个“大油田”，以前每个小时就要吸油一次，现在完全不再用吸油纸了~被太阳晒、电脑辐射，我脸上的油也不像以前出一堆，油少了，当然痘痘也逐渐消失了！</p>
        </li>
        <li>
            <img src="/public/images/q_goods/290/img_08.jpg" alt="">
            <div>楚文  19岁 | <em>长期痘痘脸</em><b>洗净痘油，脸上没痘倍清爽！</b></div>
            <p>从高中开始脸上的痘痘就一直此起彼伏，试了很多方法都不能根除，体验了瓷肌的祛痘洁面乳后，现在痘痘真消除了不少，难看的痘坑、痘印都变浅了，感觉像中奖了一样，哈~现在几个月过去了，痘痘也没有再复发，脸部清爽不油腻，自信重回。</p>
        </li>
    </ul>
</div>