<style scoped>
.over_main{ overflow: hidden;padding: 0.5em 0 0.3em 2em;}
.l_img{ float: left; }
.img_292_01{ padding-bottom:0.6em;}
.over_main{ width: 100%; padding-top: 0.8em; padding-left: 0.5em;}
.over_main p{ color:#959595; font-size:1em; font-family:"Microsoft YaHei",Verdana,Arial,Helvetica,sans-serif; }
.over_main i{ font-style:normal; font-size:1.3em;}
.over_main p.col{ color: #666; font-size:1.2em; padding-bottom:0.2em;}
.over_main:nth-of-type(7){padding-bottom:1em;}
.over_main span{ display: inline-block; color: #fff; width:3.5em;line-height:1.2em; background: #fe1c42; text-align: center; margin-right: 0.5em; font-size:1.2em;}
.main_wh{ width: 62%; font-size: 0.8em;}
.main_wh span{ font-size: 1em;}
.si_text{ font-size: 0.8em;}
.de-3{padding:0.5em; padding-left:8%; width:100%; overflow:hidden;}
.de-3-l{float:left; width:50%;}
.de-3-r{float:right; width:50%;}
.de-3 img{width:100%; max-width:225px;}
.de-3 p{ color:#fe1c42; border-bottom:1px dashed #fe1c42; font-size:1em; display:inline-block; line-height:2em; margin-left:0.5em;}
.de-3 span{ color:#666; font-size:1em; display:inline-block; width:75%; padding-top:0.3em; margin-left:0.5em;}
.de-3-r p{ margin-left:0;}
.de-3-r span{width:90%; margin-left:0;}
.article{padding:0 1.5em; margin-top:-1em; width:100%;}
img.bt-l{ width:100%; max-width:18px; margin-left:2%;}
img.bt-r{max-width:18px; margin-left:90%;}
.de-4 { width:100%; text-align:center; padding:0.5em;}
.de-4 p{margin-left:0.5em;}
.de-4 img{ width:100%; max-width:640px;}
.pad_u{ padding: 0.5em 1.2em 0;}
.prod-info dt{padding: 0.2em 0.8em; background: #f2f2f2; font-size: 1.2em;}
</style>
<div class="detail-box">
    <img class="lazy img_292_01" data-src="res/292/img_01.jpg" alt="">   
</div>
<div class="detail-box">
    <div class="cj-hd">6大卓效，净透亮白焕出来</div>
        <div class="over_main">        
            <p class="col"><span>NO.<i>1</i></span>深层美白</p>
            <p>特含五谷精华、Etioline专利美白成分，源头瓦解黑色度，重现自然美白肌。</p>       
        </div>
        <div class="over_main">
            <p class="col"><span>NO.<i>2</i></span>强效补水</p>
            <p>开启肌肤呼吸通道，营养直达肌底，源源不断为每个毛孔注入充沛水分。</p>
        </div>
        <div class="over_main">
            <p class="col"><span>NO.<i>3</i></span>晒后修复</p>
            <p>快速缓解晒后肌肤灼热感，及时补充肌肤表层流失水分，舒缓静肤。</p>
        </div>
        <div class="over_main">      
        <p class="col"><span>NO.<i>4</i></span>改善暗沉</p>
            <p>Etioline专利美白成分强效提升细胞修复力，扫去暗沉、重焕光彩。</p> 
        </div>
        <div class="over_main">
        <p class="col"><span>NO.<i>5</i></span>淡化斑点</p>
            <p>畅通黑色素代谢通道，排除肌肤底层堆积色素，源头击退色斑。</p>
        </div>
        <div class="over_main">
            <p class="col"><span>NO.<i>6</i></span>细致肌肤</p>
            <p>五谷精华温润滋养，调节肌肤水油平衡，改善肤质、细滑嫩肤。</p>
        </div>
</div>

<div class="detail-box">

        <div class="cj-hd">时尚COSMO 最佳医学美白产品大奖</div>
        <img src="/public/images/q_goods/292/img_03.jpg" alt="">
   
</div> 
 <!-- {include file="library/t_chat01.lbi"}  -->
<div class="detail-box">
    <div class="cj-hd">天然精华成分 让您肌肤健康白</div>
        <div class="de-3">
            <div class="de-3-l">
                <img src="/public/images/q_goods/292/img_06.jpg" alt="">
                <p>天然五谷养白圣品</p><br />
                <div class="">
                    <span>萃取天然五谷精华，精融多种美白成分，从肌底改善干、哑、暗黄问题。</span>
                </div>
            </div>  
            <div class="de-3-r"> 
                <img src="/public/images/q_goods/292/img_07.jpg" alt="">
                <p>TRYLAGEN（明星抗皱因子）</p><br />
                <span>帮助细胞新陈代谢，修复受损肌肤细胞，有效改善细纹，柔润肌肤，保护肌肤胶原蛋白不被流失 。</span>
            </div>  
        </div>
        <img class="lazy bt-l" data-src="res/292/img_04.jpg" alt="">
        <div class="article">古人云“五谷为养”，韩国瓷肌将五谷中天然、纯粹、健康的美白营养，配合小麦胚芽油的抗氧化力，再加以美白利器Etioline专利美白成分，有效抑制黑色素合成，对黑色素的抑制能力是曲酸和熊果苷的数倍。最后再配合传明酸的美白淡斑、改善新陈代谢的功效，让您的肌肤重现美白光彩。</div>  
        <img class="lazy bt-r" data-src="res/292/img_05.jpg" alt="">  
</div>

<div class="detail-box">
    <div class="cj-hd">持续起效，肤色亮白看得见！</div>
        <div class="de-4">
                <img src="/public/images/q_goods/292/img_08.jpg">
                <p>肌底焕白   &nbsp; → &nbsp;   去除黄气  &nbsp;   →  &nbsp;   提亮肤色   &nbsp;  →  &nbsp;   持久抑黑</p>
        </div>         
</div>
  <!-- {include file="library/t_chat04.lbi"} -->

<div class="detail-box ">
        <div class="cj-hd">每用一次，皮肤就会更白一点！</div>
        <ul class="detail-case pad_u">
            <li>
                <img src="/public/images/q_goods/292/img_09.jpg" alt="">
                <div>平面模特：cici   23岁 | <em>敏感肌，熬夜彩妆</em><b>五谷面膜效果堪比美白针</b></div>
                <p>我脸色偏黄，作为模特，常常彩妆加熬夜，肤色更加暗沉。后来在微博上看到蛮多人用这款五谷面膜，还是cosmo美容大赏推荐的，我就买来试试看。淡淡的谷物清香，敷完感觉整个脸蛋水水的。快两个月了，就连化妆师都说我皮肤变好了，效果真心好！</p>
            </li>
            <li>
                <img src="/public/images/q_goods/292/img_10.jpg" alt="">
                <div>地产销售：小沫沫   27岁 | <em>混合肌，痘印痘痕</em><b>整个脸提亮了3度，真的好惊喜！ </b></div>
                <p>工作生活都离不开电脑，加上最近赶稿，脸上经常长痘，粗糙、干哑，尤其是黑眼圈非常严重。后来闺蜜送了我这款面膜，当天晚上睡觉前就试着敷了一次，面膜很细滑很滋润，洗完脸真的感觉皮肤变得不一样，明显有光彩了。用了1个月，痘印和痘痕都有缓解！</p>
            </li>
        </ul>
    </div>
      <!-- {include file="library/t_chat04.lbi"} -->