<style scoped>
.de-4{padding-bottom: 1em;}
.de-4 li{width: 100%; padding: 0.8em 0.8em 0; display: table;}
.de-4 li img{display: table-cell;width: 73%;}
.de-4 li div{width: 70%; padding-left: 0.4em; display: table-cell; vertical-align: middle; font-size: 0.8em;}
.de-4 li span{color: #fe1c42;}
.img_main{ width: 58%; margin: 0 auto; padding: 0.6em 0em;}
.detail-main01{ padding: 0 1em;}
.detail-main01 li{ padding-bottom: 0.6em;}
.detail-main01 li img{ width: 14%;}
.detail-main01 li p{ display: inline-block; margin-left: 1.8em; font-size: 0.8em; color: #a6a6a6; margin-top: 0.3em;}
.detail-main01 li span{ font-size: 1.2em; color: #5a5a5a;}
.text_mian{ padding: 0.6em;}
.text_mian span{ font-weight: bold; color: #fe1c42; font-size: 1.2em;}
.de-3 {padding: 1em 0;}
.de-3 li{padding: 0 1em; font-size: 1.2em; margin-bottom: 0.8em;}
.de-3 li p{display: inline-block; width: 63%; font-size: 0.7em; margin-top: 1.8em;}
.de-3 li span{color: #000; font-size: 1.2em; margin-left: 0.3em;}
.de-3 b{color: #d51838; font-size: 1.4em;}
.de-3 li img{width: 29%; margin-right: 0.4em;}
</style>
<div class="detail-box">
	<img src="/public/images/q_goods/293/img_01.jpg" alt="">
</div>
<div class="detail-box">
	<div class="cj-hd">用错方法，皮肤更黄！更黑！更干！</div>
	<ul class="de-4">
		<li>
			<img src="/public/images/q_goods/293/img_02.jpg" alt="">
			<div>
               <span>不做保养？<br />伤害皮肤指数 ★★</span>
                <p>以为放任肌肤自生自灭就是最好的？NO！不做保养，肤色还会越来越黯沉。</p>
            </div>
		</li>
		<li>
			<img src="/public/images/q_goods/293/img_03.jpg" alt="">
			<div>
                <span>服珍珠粉？<br />伤害皮肤指数 ★★★</span>
                <p>没有科学根据，其中含有的金属矿物质有可能对身体造成损害</p>
            </div>
		</li>
		<li>
			<img src="/public/images/q_goods/293/img_04.jpg" alt="">
			<div>
                <span>打美白针？<br />伤害皮肤指数 ★★★★</span>
                <p>近年兴起的微整形项目，副作用和后遗症暂时不清晰，切勿以身试验。</p>
            </div>
		</li>
		<li>
			<img src="/public/images/q_goods/293/img_05.jpg" alt="">
			<div>
                <span>自制面膜？<br />伤害皮肤指数 ★★★★★</span>
                <p>含有刺激性成分常人很少能分辨出来，容易导致肌肤敏感，伤害表皮。</p>
            </div>
		</li>
	</ul>
</div>
<div class="detail-box">
	<div class="cj-hd">真正去黄气 真正焕白肌</div>
	<div class="img_main">
		<img src="/public/images/q_goods/293/img_06.jpg" alt="">
	</div>
	<ul class="detail-main01">
		<li>
			<img src="/public/images/q_goods/293/img_07.jpg" alt="">
			<p><span>1.速补水</span><br />小分子保湿，紧锁水分，保湿抗黄抑黑</p>
		</li>
		<li>
			<img src="/public/images/q_goods/293/img_08.jpg" alt="">
			<p><span>2.深净白</span><br />肌底提亮，肤色晶莹剔透，从肌底焕白</p>
		</li>
		<li>
			<img src="/public/images/q_goods/293/img_09.jpg" alt="">
			<p><span>3.抗氧化</span><br />还原黑色素，润白有光泽，延缓肌衰老</p>
		</li>
		<li>
			<img src="/public/images/q_goods/293/img_10.jpg" alt="">
			<p><span>4.细毛孔</span><br />修复受损细胞，平滑肌肤，幼嫩婴儿肌</p>
		</li>
	</ul>
</div>
<!-- {include file="library/t_chat01.lbi"} -->
<div class="detail-box">
	<div class="cj-hd">天然成分，打开肌肤吸收通道</div>
	<p class="text_mian">
		<span>革命性美白科技：Etioline专利美白成分</span><br />
		Etioline专利美白成分具有优异的皮肤美白效果，能有效抑制B16V细胞合成黑色素的活性，是曲酸的210倍，熊果苷的32倍。能有效帮助净化肌底垃圾，改善肤色不均，降低紫外线照射肌肤引起的皮肤着色。
	</p>
	<ul class="de-3">
        <li>
           <img src="/public/images/q_goods/293/img_11.jpg" alt="">
            <p><b>有机五谷</b><span>五谷为养肌之根</span><br />密集注入肌肤营养，全效润白提亮。</p>
        </li>
        <li>
           <img src="/public/images/q_goods/293/img_12.jpg" alt="">
            <p><b>光果甘草 </b><span>透净白除黄黑</span><br />美白黄金能有效扫黑、褪黄、焕亮肌肤，令肌肤净白透亮。</p>
        </li>
        <li>
            <img src="/public/images/q_goods/293/img_13.jpg" alt="">
            <p><b>牛油果</b><span>锁水保湿嫩肌</span><br />水精灵补水更锁水，肌细胞全天嘭弹。</p>
        </li>
    </ul>
</div>
<div class="detail-box">
	<div class="cj-hd">每天2次，补足肌肤所需透白能量！</div>
	<img src="/public/images/q_goods/293/img_14.jpg" alt="">
</div>
<!-- {include file="library/t_chat04.lbi"} -->
<div class="detail-box">
    <div class="cj-hd">有五谷焕彩肌底液，想不白都难！</div>
    <ul class="detail-case">
        <li>
          	<img src="/public/images/q_goods/293/img_15.jpg" alt="">
            <div>pety琳 23岁 | <em>干性肌肤，护肤品难吸收</em><b>去黄有方，海补不如强吸收</b></div>
            <p>天天化妆使我的皮肤越来越干燥，涂什么护肤品都觉得油，皮肤越来越黄！同事推荐清本源五谷焕彩肌底液给我，质地清透，手指轻拍就能吸收，速度真快！有肌底液打“前锋”，肌肤水润了，净白产品都能很好吸收。找对方法，皮肤终于白起来，美cry！</p>
        </li>
        <li>
            <img src="/public/images/q_goods/293/img_16.jpg" alt="">
            <div>东方娜  25岁 | <em>有痘痘，肤色暗沉毛孔大</em><b>想变白+肌肤水水？So Easy</b></div>
            <p>我的皮肤容易缺水，太阳一晒就变黑。试过很多美肤功能产品，但成效不大，而且肌肤变得又痒又长痘，好难受！好不容易淘到这款清本源五谷焕彩肌底液，补水能力超强，自身还带有淡白肤色，收毛孔的功效，抹脸上一整天都水润舒适。跟我一样？一瓶肌底液能搞定！</p>
        </li>
    </ul>
</div>