<div>
<style scoped>
.focus{padding-bottom: .6em; background: #fff;}
.focus img{width: 100%;}
.cus{ width:93.75%; margin:.5em auto; }
.cus li{padding:.3em 0em .3em 0em;}
.cus li span{background: #db0743; color: #fff; padding: 0em .3em; margin-right: 1em;}
.cus_ce{text-align: center;font-size: 1.1em; color:#0c0401; font-weight: bold; padding: .5em 0;}
.las_p{padding-top:1em;padding-left: 1em; }
.las_p span{ color:#ea2143; font-weight: bold; font-size: 1.3em;}
.cus_cen{text-align: center;font-size: 1.1em; color:#f30f35; padding: .5em 0;}
.de-1{width: 50%; margin: 2em auto;}
.de-3 li{ padding: .5em .4em .5em 1em;}
.de-3 li p { width:70%; float: left; padding-left: 1em;}
.de-3 li img{width: 27%; float: left;}      
.de-3 span{ color:#ea2143; font-weight: bold;}
.de-4{width: 93.75%; margin: 0 auto;}
.de-4 li{ padding: .5em .4em;}
.de-4 li p{ width: 85%; float: left; padding-left: 2em;}
.de-4 li img{width: 14%; float: left;}
.de-4 span{ color:#ea2143; font-weight: bold;}
.bor_one{ border-bottom: 1px #dcdcdc dashed;}
.bor_none{border-bottom: 0;}
.he-1{}
.he-1 li{ padding: .5em .4em .5em 1em;}
.he-1 li p { width:70%; float: left; padding-left: 2em;}
.he-1 li img{width: 27%; float: left;}      
.he-1 span{ background:#ea2143; color: #fff; padding: .1em .3em;font-size:0.85rem;}

.de-5 {width: 90%; margin: 0 auto;}
.de-5 img{padding: 1em 0;}
.de-5 li{padding:.5em 0em .5em 1em; list-style-type:disc; margin-left: 1em;}
.de-5 p{color: #ababab;}
.de-5 em{font-weight: bold;}
.de-6{width: 90%; margin:0 auto; padding-top: .5em;}
.de-6 div{background: #f2f2f2; padding: 1em; text-align: center;}
.de-6 em{font-weight: bold;}
.de-6 b{color: #fe1c42; font-size: 1.3em;}
.de-6 p{padding: .5em 0 .5em .3em;}
</style>
    <div class="focus"><a href="#orderpr"><img src="/public/images/q_goods/297/banner.jpg" alt="" /></a></div>
    <div class="detail-box">
        <div class="cj-hd">测一下！</div>
        <div class="cus_ce">
            为了避免上述情况，我们要赶快拯救“轻熟眼肌”！
        </div>
        <div class="de-4"><img src="/public/images/q_goods/297/img_02.jpg" alt="" /></div>
        <ul class="cus">
        	<li><span>1.暗哑</span>长期化妆及辐射，脸上出现暗沉和斑点。</li>
        	<li><span>2.粗糙</span>毛孔粗大，皮肤肌理缺乏柔润感。</li>
        	<li><span>3.干燥</span>皮肤干燥、起皮、泛红、敏感。</li>
        	<li><span>4.痘印</span>水油失衡，痘痘爆发，痘印残留。</li>
        	<li><span>5.松弛</span>肌底纤维老化，表皮松弛无弹性。</li>
        	<li><span>6.细纹</span>眼角、额头、唇周开始出现小细纹。</li>
        </ul>
        
        
        <div class="cus_cen">
            你急需瓷肌黄金蜗牛霜进行深层修复！
        </div>
        <div class="cj-hd">2大核心成分，还原“幼嫩眼肌”！</div>
        <ul class="de-1">
            <li class="clf">
                <p class="fl"><img src="/public/images/q_goods/297/img_01.jpg" alt=""></p>
                <p class="fr"><img src="/public/images/q_goods/297/img_2.jpg" alt=""></p>
            </li>
        </ul>
        <ul class="de-3">
            <li class="clf">
                <img src="/public/images/q_goods/297/img_03.jpg" alt="">
                <p>精选高纯度黄金，具有强效的抗氧化能力，且能携带营养分子深入渗透肌底。配合法国蜗牛新生原液，含天然胶原蛋白、尿囊素、破套糖醛酸等多种营养，促进细胞再生，有效保湿修复。快速深入皮肤底层，发挥强效修复效果。</p>
            </li>
        </ul>
        <!-- {include file="library/t_chat01.lbi"} -->
        <div class="cj-hd">5步，快速全面击退肌肤问题</div>
        <ul class="de-4">
            <li class="clf bor_one">
                <img src="/public/images/q_goods/297/word_01.jpg" alt="">
                <p><span>直达肌底 强效修复</span><br />成分渗透肌底，源源不断注入营养，促进眼周修复循环。</p>
            </li>
            <li class="clf bor_one">
                <img src="/public/images/q_goods/297/word_02.jpg" alt="">
                <p><span>肌底导入 层层赋活</span><br />应用导入式护肤科技，黄金天然传导，层层赋活肌肤。</p>
            </li>
            <li class="clf bor_one">
                <img src="/public/images/q_goods/297/word_05.jpg" alt="">
                <p><span>弹力蛋白，自动合成</span><br />法国蜗牛粘液精华合成弹力蛋白，与胶原纤维相辅相成,赋予肌肤弹性和抗张力。</p>
            </li>
            <li class="clf bor_one">
                <img src="/public/images/q_goods/297/word_03.jpg" alt="">
                <p><span>微粒黄金，提升效果</span><br />黄金分子体积极小，有效快速渗透，提升护肤效果。</p>
            </li>
            <li class="clf bor_none">
                <img src="/public/images/q_goods/297/word_04.jpg" alt="">
                <p><span>珍稀成分，新生还幼</span><br />微粒黄金+蜗牛原液，有效改善肌肤问题，显著还原幼嫩肌肤。</p>
            </li>
        </ul>
        <!-- {include file="library/t_chat04.lbi"} -->
        <div class="cj-hd">天然成分，全频修护还幼</div>
        <ul class="he-1">
            <li class="clf">
                <img src="/public/images/q_goods/297/img_04.jpg" alt="">
                <p><span>全方位御颜—微粒黄金</span><br />纳米黄金超微导入，同时释放活性，提升肌肤紧实度、锁水能力，延缓眼周肌肤衰老。</p>
            </li>
            <li class="clf">
                <img src="/public/images/q_goods/297/img_05.jpg" alt="">
                <p><span>修护润养眼肌—法国蜗牛原液</span><br />修复受损细胞，促进老旧角质代谢，迅速提亮肤色，解决色斑、痘印等色素沉积问题。</p>
            </li>
            <li class="clf">
                <img src="/public/images/q_goods/297/img_06.jpg" alt="">
                <p><span>抑黑净白营养—胶原蛋白</span><br />抑制黑色素的还原性能，增强肌肤弹性，有效改善黑眼圈、眼袋、细纹。</p>
            </li>
            <li class="clf">
                <img src="/public/images/q_goods/297/img_07.jpg" alt="">
                <p><span>高效抗皱增弹—弹力蛋白</span><br />与弹力蛋白共同架构完整幼嫩肌肤，具有紧致提拉的功能。抗自由基，肌肤焕发年轻光泽。</p>
            </li>

        </ul>
        <!-- {include file="library/t_chat01.lbi"} -->
        <div class="cj-hd">瓷肌黄金蜗牛霜：修护效果看得见！</div>
        <div class="de-5">
            <img src="/public/images/q_goods/297/img_08.jpg" alt="">
        </div>
        
        <div class="cj-hd">蜗牛面霜，肌肤修复都靠它！</div>
        <ul class="de-6">
            <li class="clf">
                <img src="/public/images/q_goods/297/img_09.jpg" alt="">
                <div>AppleLi   25岁 | <em>暗沉肤色、干燥缺水</em><br /><b>黄金颗粒真材实料，水润嫩白就这瓶啦！</b></div>
                <p>以前天天忙工作，皮肤变得好差，还长辐射斑了。后来同事介绍瓷肌蜗牛霜好用，于是就败了一瓶回家。霜霜推开
                很容易，而且有黄金颗粒，很好吸收，高大上啊！！真材实料啊！！皮肤逐步变得水嫩水嫩的，很喜欢。现在同事
                都说我皮肤变好了，老来掐我脸皮呢~</p>
            </li>
            <li class="clf">
                <img src="/public/images/q_goods/297/img_10.jpg" alt="">
                <div>Linda  34岁 | <em>细纹、混合敏感肌</em><br /><b>搞定表情纹，肌龄就像25岁</b></div>
                <p>朋友说我的肌肤严重缺水，搞得脸上细纹多多，干纹、表情纹啥的一堆！是时候好好保养了！最近网上风靡一款蜗
                牛霜，修复肌肤很不错，试了一下十分滋润，吸收后一点不会油腻，适合四季使用~过段时间，细纹、表情纹、干
                纹都拜拜了！</p>
            </li>
        </ul>
        <!-- {include file="library/t_chat04.lbi"} -->
    </div>
</div>