<style scoped>
.detail-main{ padding: 0 1em 1em;}
.detail-main p.curr{ text-align: center; color: #c81d39; font-size: 1.2em; font-weight: bold;}
.detail-main p.curr01{ color: #c81d39;}
.detail-main01{ padding: 1em 1.5em;}
.detail-main01 p.curr{ color: #000; font-size: 1.2em; padding: 0.3em 0;}
.detail-main01 p.curr span{display: inline-block; width: 4em; height: 1.3em; background: #e72c46; color: #fff; text-align: center; margin-right: 0.2em;}
.de-2{padding-bottom: 0.6em; padding-top: 1em;}
.de-2 p{padding: 0 0.8em;}
.de-2 div{width: 86%; margin: 0 auto 1em; border-radius: 2em; background: #f2f2f2; display: table; }
.de-2 div span{width: 2em; height: 2em; padding: 5px; border: 3px solid #e3e3e3; border-radius: 2em; background: #fff; text-align: center; font-size: 2.2em; color: #fe1c42; display: table-cell; vertical-align: middle;}
.de-2 div b{width: 100%; height: 100%; border:5px solid #e3e3e3; border-radius: 2em; font-weight: normal; display: inline-block;}
.de-2 div p{padding: 0 1em; font-size: 1.2em; display: table-cell; vertical-align: middle;}
.de-3 {padding: 1em 0;}
.de-3 li{padding: 0 1em; font-size: 1.2em; margin-bottom: 0.8em;}
.de-3 li img{width: 30%; margin-right: 0.8em;}
.de-3 li p{display: inline-block; width: 63%; font-size: 0.7em; color: #aeaeae;}
.de-3 li b{ color: #c81d39; border-bottom: 1px solid #e3e3e3; display: inline-block; width: 100%; font-size: 1.2em; font-weight: bold;}
.de-3 li span{ont-size: 1em; color: #676767;}
.de-4{padding-bottom: 1em;}
.de-4 li{width: 100%; padding: 0.8em 0.8em 0; display: table;}
.de-4 li img{display: table-cell;width: 97%;}
.de-4 li div{width: 70%; padding-left: 0.8em; display: table-cell; vertical-align: middle;}
.de-4 li em{padding-bottom: 0.2em; font-size: 1.4em; color: #000; display: block; }
.de-4 li span{padding: 0 0.4em; margin-left: 0.4em; background: #f2f2f2; color: #fe1c42; font-size:0.65em; }
</style>
<div class="detail-box ">
	<div class="cj-hd">肌肤缺水让你老8岁</div>
	<div class="detail-main">
		<p class="curr">大部分的肌肤问题都跟缺水有关</p>
		<p>水对肌肤至关重要，然而解救肌肤问题，绝非补水如此简单。</p>
		<img src="/public/images/q_goods/298/img_01.jpg" alt="">
	</div>
</div>
<div class="detail-box ">
	<div class="cj-hd">解救干渴肌 锁住水分是关键</div>
	<div class="detail-main">
		<img src="/public/images/q_goods/298/img_02.jpg" alt="">
		<p class="curr01">水能量因子快速渗透，直达肌底，提升吸水力，长效锁住水分。韩国瓷肌高保湿水漾润白套装，蕴含水能量因子，从内而外深入肌底，激活细胞，提高肌肤水分吸收能力，促使肌肤Q弹白嫩，持久锁水！</p>
	</div>
</div>

<!-- {include file="library/t_chat01.lbi"} -->
<div class="detail-box ">
	<div class="cj-hd">3D智能水养系统锁住水分</div>
	 <div class="de-2">
        <div>
            <span><b>1D</b></span>
            <p>植物保湿成分打开补水通道，密集保湿。</p>
        </div>
        <div>
            <span><b>2D</b></span>
            <p>锁水水能量因子提升肌肤吸水能力锁住鲜活。</p>
        </div>
        <div>
            <span><b>3D</b></span>
            <p>凝水在肌肤形成保护膜，长效凝注水分不流失。</p>
        </div>
    </div>
</div>
<div class="detail-box ">
	<div class="cj-hd">活力水能量 持久保湿</div>
	<ul class="de-3">
		<li>
			<img src="/public/images/q_goods/298/img_03.jpg" alt="">
			<p><b>水能量因子</b><br /><span>肌肤天然锁水防护网</span><br />融合天然成分，在肌底架构隐性防护膜，长效锁水保湿。</p>
		</li>
		<li>
			<img src="/public/images/q_goods/298/img_04.jpg" alt="">
			<p><b>人参提取物</b><br /><span>深透润泽直达肌底</span><br />萃取人参精华给肌肤天然、丰富的修护营养，持续保湿、嫩肤，使肌肤Q弹紧致。</p>
		</li>
		<li>
			<img src="/public/images/q_goods/298/img_05.jpg" alt="">
			<p><b>保加利亚玫瑰精华</b><br /><span>滴滴浓萃</span><br />天然去黄嫩白能力，能击退黯沉色素，激活老化细胞，给黯沉肌肤带来天然润肤力。</p>
		</li>
	</ul>
</div>
<div class="detail-box ">
	<div class="cj-hd">补水4步曲 肌肤Q弹水嫩</div>
	<ul class="de-4">
		<li>
			<img src="/public/images/q_goods/298/img_06.jpg" alt="">
			<div>
                <em>1.净澈<span>水能量舒柔净白洁面乳</span></em>
                <p>温和净肤、调节水油、肌肤柔软不干涩，活力健康。</p>
            </div>
		</li>
		<li>
			<img src="/public/images/q_goods/298/img_07.jpg" alt="">
			<div>
                <em>2.调理<span>清本源角质调整膜</span></em>
                <p>有效去除老化角质，促进细胞新陈代谢，令肌肤恢复光滑。</p>
            </div>
		</li>
		<li>
			<img src="/public/images/q_goods/298/img_08.jpg" alt="">
			<div>
                <em>3.吸收<span>保加利亚玫瑰纯露</span></em>
                <p>温和净肤、调节水油、肌肤柔软不干涩，活力健康。</p>
            </div>
		</li>
		<li>
			<img src="/public/images/q_goods/298/img_09.jpg" alt="">
			<div>
                <em>4.润养<span>水能量密集滋养菁华霜</span></em>
                <p>焕新角质，形成肌肤锁水膜，层层修护，粉嫩润泽。</p>
            </div>
		</li>
	</ul>
</div>
<!-- {include file="library/t_chat04.lbi"} -->
<div class="detail-box ">
	<div class="cj-hd">3步 见证肌肤水润盈滑</div>
	<div class="detail-main01">
		<img src="/public/images/q_goods/298/img_10.jpg" alt="">
		<p class="curr"><span>NO.1</span>有效改善干燥</p>
		<p>肌肤感觉润润的，脱皮、紧绷感得到改善。</p>
		<p class="curr"><span>NO.2</span>淡化小细纹</p>
		<p>暗黄肌肤逐渐提亮，皮肤更加柔润光滑</p>
		<p class="curr"><span>NO.3</span>焕新水润新肌</p>
		<p>肌肤变得白里透红，弹性十足，像婴儿般白嫩。</p>
	</div>
</div>
<div class="detail-box">
    <div class="cj-hd">会员真实心声 赞不停！！</div>
    <ul class="detail-case">
        <li>
          	<img src="/public/images/q_goods/298/img_11.jpg" alt="">
            <div>琳琳子：22岁 | <em>偏干性肌肤</em><b>肌肤好水润，细纹不见了</b></div>
            <p>女人要美，纯靠补水！像我这种干性肌，就得24小时多喷水啊！不过这套高保湿套装，真的是超级保湿啊，每天用2次，都不需要用别的了，脸上一直润润的，一点都不担心干，不到1个月，连细纹都消失不见了！超赞哦！</p>
        </li>
        <li>
            <img src="/public/images/q_goods/298/img_12.jpg" alt="">
            <div>coolly：27岁 | <em>偏油性肤质</em><b>皮肤补足水才健康！</b></div>
            <p>每次看到盆友细滑的皮肤就忍不住羡慕嫉妒恨呐！她们推荐我韩国瓷肌的高保湿水漾润白套装，抱着好奇的心理买了一套，才发现相见恨晚！！粗大的毛孔在纯露和菁华霜的滋润下变得晶莹又细，现在皮肤问题少了很多，不油不干，整个状态都平衡了！</p>
        </li>
    </ul>
</div>