<style scoped>
.detail-main,.detail-main01{ padding: 0.5em 1em;}
.detail-main ul{ width: 100%; overflow: hidden; margin-top: 1em;}
.detail-main ul li{ float: left; width: 33%; padding: 0 0.3em;}
.detail-main ul li p.curr{ text-align: center; font-weight: bold; color: #000; margin: 0.2em 0;}
.detail-main p.curr01{ text-align: center; color: #ea2146; font-size: 1.2em; margin-top: 0.5em;}
.biaoti{ font-weight: bold; color: #000; padding: 0.5em 0; text-align: center;}
.biaoti span{ display: inline-block; color: #fff; background: #ea2146; width:3em; height: 1.5em; text-align: center; margin-right: 0.3em; }
.main_ul{width: 100%;}
.main_ul li{ margin-bottom: 1em;}
.main_ul p{ display: inline-block; width: 68%; font-size: 0.9em;}
.main_ul span{ border-bottom: 1px dashed #b0b0b0; display: inline-block; width: 90%;}
.main_ul em{ color: #e72b46;}
.main_ul img{  width: 29%; padding: 0 0.2em;}
.main_img{ width: 65%; margin: 0 auto;}
.detail-main01 p.curr{ text-align: center;color: #707070; margin: 0.2em 0;}
.detail-main01 p.curr span{ color: #e72b46;}
.detail-main01 p.curr01{ font-size: 0.9em; color: #a5a5a5;}
.de-3 {padding: 1em 0;}
.de-3 li{padding: 0 1em; font-size: 1.2em; margin-bottom: 0.8em;}
.de-3 li img{width: 30%; margin-right: 0.6em;}
.de-3 li p{display: inline-block; width: 63%; font-size: 0.7em;}
.de-3 li span{color: #d51838;font-size: 1.2em; font-weight: bold; border-bottom: 1px solid #b0b0b0; display: inline-block; width: 100%;}
.main_ul01 p{ display: inline-block; width: 56%; color: #a0a0a0; font-size: 0.9em; padding-top:3em; margin-left: 0.4em;}
.main_ul01 b{ color: #ea2146; font-size: 1.2em;}
.main_ul01 span{color: #707070;font-size: 1em;}
.main_ul01 img{width: 39%;}
.main_ul02{overflow: hidden; padding: 1em 1.4em;}
.main_ul02 li{width: 22%; float: left; margin-right: 0.8em;}
.main_ul02 li.curr{ margin-right: 0em;}
.main_ul02 p{font-size: 0.85em;}
</style>
<div class="detail-box ">
	<div class="cj-hd">它们，正在透支你的年轻</div>
	<div class="detail-main">
		<p>辐射、污染、光照、压力、熬夜、化妆品、年龄都是让你肌肤渐渐老化的元凶。</p>
		<ul>
			<li>
				<img src="/public/images/q_goods/299/img_01.jpg" alt="">
				<p class="curr">细纹</p>
				<p>眼角、额头开始出现明显细纹。</p>
			</li>
			<li>
				<img src="/public/images/q_goods/299/img_02.jpg" alt="">
				<p  class="curr">干燥</p>
				<p>皮肤很干燥，容易起皮、脱皮</p>
			</li>
			<li>
				<img src="/public/images/q_goods/299/img_03.jpg" alt="">
				<p class="curr">痘印</p>
				<p>水油失衡，易起痘痘留痘印</p>
			</li>
		</ul>
		<ul>
			<li>
				<img src="/public/images/q_goods/299/img_04.jpg" alt="">
				<p class="curr">黯哑</p>
				<p>长期化妆以及辐射污染，脸上色素沉淀。</p>
			</li>
			<li>
				<img src="/public/images/q_goods/299/img_05.jpg" alt="">
				<p  class="curr">粗糙</p>
				<p>鼻翼以及两端肌肤毛孔日渐粗大。</p>
			</li>
			<li>
				<img src="/public/images/q_goods/299/img_06.jpg" alt="">
				<p class="curr">松弛</p>
				<p>肌肤随着年龄增长松弛无弹性。</p>
			</li>
		</ul>
		<p class="curr01">你们都急需黄金蜗牛极润修护装</p>
	</div>
</div>
<!-- {include file="library/t_chat01.lbi"} -->
<div class="detail-box">
    <div class="cj-hd">三大优势，解决6大肌肤问题</div>
    <div class="detail-main01">
    	<p class="biaoti"><span>NO.1</span>黄金导体赋活能量</p>
    	<ul class="main_ul">
    		<li>
    			<p><span><em>01</em>添加真正黄金</span><br />黄金具有良好传导力，能更好让有效成分快速给肌肤吸收，吸收速度更快速。</p>
    			<img src="/public/images/q_goods/299/img_07.jpg" alt="">
    		</li>
    		<li>
    			<img src="/public/images/q_goods/299/img_08.jpg" alt="">
    			<p><span><em>02</em>导入式护肤科技</span><br />黄金接触肌肤后会释放负离子与人体正离子呼应，能促进血液循环，激活老化细胞。</p>
    		</li>
    		<li>
    			<p><span><em>03</em>真空高压纳米粉碎技术</span><br />将黄金精分为微粒与蜗牛液融合快速直达肌底，渗入细胞层，达到护肤效果。</p>
    			<img src="/public/images/q_goods/299/img_09.jpg" alt="">
    		</li>
    	</ul>
    	<p class="biaoti"><span>NO.2</span>肌肤的黄金护理液体</p>
    	<div class="main_img">
    		<img src="/public/images/q_goods/299/img_10.jpg" alt="">
    	</div>
    	<p class="curr">什么是蜗牛粘液？</p>
    	<p class="curr01">早在古希腊时期，医学之父Hippocrates就已将蜗牛用于医疗方面，他混合牛奶与碾碎的蜗牛治疗皮肤伤疤，Hippocrates记录着蜗牛黏液的功能有保湿、消红肿及消炎镇痛，持续使用皮肤表面变得光滑透亮。</p>
    	<p class="curr">瓷肌严格采用<span>优质、天然的蜗牛粘液</span></p>
		<p class="curr">具有<span>丰富的营养成分，抗氧化，润泽嫩白肌肤。</span></p>
		<p class="biaoti"><span>NO.3</span>3大草本成分润泽肌肤</p>
		<ul class="de-3">
	        <li>
	           <img src="/public/images/q_goods/299/img_11.jpg" alt="">
	            <p><span>马齿苋提取物</span><br />具有抗过敏、抗炎消炎和抗外界对皮肤的各种刺激作用</p>
	        </li>
	        <li>
	            <img src="/public/images/q_goods/299/img_12.jpg" alt="">
	            <p><span>鲟鱼子酱提取物</span><br />富含蛋白质，增加皮肤弹性，抗自由基，使皮肤光滑细腻，红润光泽。</p>
	        </li>
	        <li>
	           <img src="/public/images/q_goods/299/img_13.jpg" alt="">
	            <p><span>人参根提取物</span><br />具有增强人体表面细胞的活力，激活衰老细胞，抑制衰老的作用。</p>
	        </li>
    	</ul>
    </div>
</div>
<div class="detail-box">
	<div class="cj-hd">仅2步  重获新肌</div>
	<ul class="main_ul01">
		<li>
			<img src="/public/images/q_goods/299/img_14.jpg" alt="">
			<p><b>1、亮泽修复</b><br /><span>瓷肌黄金蜗牛霜 </span><br />能有效提亮肤色，淡化色素，强效保湿补水，淡化脸部痘印，恢复肌肤弹性。</p>
		</li>
		<li>
			<p><b>2、眼周护理</b><br /><span>瓷肌黄金蜗牛眼霜 </span><br />为干燥眼部注入水分与营养，淡化细纹，紧实眼眸，平滑肌肤，是双眼绽放光彩。</p>
			<img src="/public/images/q_goods/299/img_15.jpg" alt="">
		</li>
	</ul>
</div>
<!-- {include file="library/t_chat04.lbi"} -->
<div class="detail-box">
	<div class="cj-hd">正确使用 功效倍增</div>
	<ul class="main_ul02">
		<li>
			<img src="/public/images/q_goods/299/img_16.jpg" alt="">
			<p>1.洁面后将蜗牛霜涂于脸部四大区域。</p>
		</li>
		<li>
			<img src="/public/images/q_goods/299/img_17.jpg" alt="">
			<p>2.按照肌肤纹理从左至右，从上之下均匀涂开</p>
		</li>
		<li>
			<img src="/public/images/q_goods/299/img_18.jpg" alt="">
			<p>3.用无名指取适量眼霜，将眼皮轻轻上拉涂抹</p>
		</li>
		<li class="curr">
			<img src="/public/images/q_goods/299/img_19.jpg" alt="">
			<p>4.用无名指沿眼角至外眼方向轻轻按摩至吸收</p>
		</li>
	</ul>
</div>
<div class="detail-box">
	<div class="cj-hd">使用瓷肌她们重获细嫩肌肤</div>
	 <ul class="detail-case pad_u">
            <li>
                <img src="/public/images/q_goods/299/img_20.jpg" alt="">
                <div>ANDIA：24岁| <em>皮肤干燥暗黄</em><b>肌肤的丝滑享受</b></div>
                <p>做这一行，我天天得浓妆出镜，新品上市熬夜、日晒更加少不了，肌肤损伤大，对护肤品难免要求很高。前段时间淘到一款黄金蜗牛套装，修复、滋润的效果都让人惊艳。丝绸般的触感，吸收超快，抹上去后肌肤很快就恢复水嫩，黑眼圈都淡了不少，真的是护肤神器!</p>
            </li>
            <li>
                <img src="/public/images/q_goods/299/img_21.jpg" alt="">
                <div>林清：28岁  | <em>缺水暗沉没光泽</em><b>年轻水润一套就搞定~~</b></div>
                <p>生完宝宝，整个肤质超级差的，毛孔经常长出粉刺，朋友说这是角质堵塞住毛孔了，所以护肤的营养进不去，皮肤里面的毒素又出不来。解决也很简单，就是瓷肌针对“老角质”的美白套组。耐心试了一段时间，肤质居然真的有很大改善，超值了。</p>
            </li>
        </ul>
</div>