<style scoped>
.pa_b{padding-top: 1em;}
.pa_t{padding: 1em 1em 0;}
.cor_red{font-style: normal;color:#db0742; }
.four_t{padding:1em;padding-bottom: 0;}
.four_t ul li{padding-bottom:1em;}
.four_t ul li h2{color:#000;}
.four_t ul li h2 b{background: #ea2143;color:#fff;font-weight: normal;padding:0 0.5em;border-radius:1em;}
.four_t ul li p{padding:0.5em 0;font-size: 1rem;}
.gx_03{padding:1em 0em;}
.gx_03 li{border-bottom:1px dashed #e1e1e1; clear:both;display: table;}
.gx_03 li.no_br{border-bottom:0;}
.gx_03 li h1{width:25%; text-align:center; display:block; line-height:1.2em; color:#b2b2b2; font-size:4em; font-weight:normal;display: table-cell;padding:0.2em 0;}
.gx_03 li div{width:74%; border-left:1px dashed #e1e1e1; height:5.5em;display: table-cell;vertical-align: middle;}
.gx_03 li div p{padding-left:1em; line-height:1.3em; font-size:.9em;color:#848383;}
.gx_03 li div p.t{color:#db0743; font-size:1.2em;}
.f_pow{overflow: hidden;width:100%;padding:1em;padding-top:0;}
.f_pow li h2{border-bottom:1px solid #ea2143;color:#ea2143;padding:0.2em;display: inline-block;}
.f_pow li h2 i{font-size: 1.2em;}
.f_pow li p{padding-top:0.5em;}
</style>
<div class="detail-box">
	<img src="/public/images/q_goods/378/img_01.jpg" alt="">
	<img src="/public/images/q_goods/378/img_02.jpg" alt="">
</div>
<div class="detail-box">
    <div class="cj-hd">深入痘根，4步战痘</div>
 	<div class="four_t">
 		<ul>
 			<li>
 				<h2><b>STEP 1</b> 吸痘油</h2>
 				<p>具有强效溶解性的金缕梅干细胞与痘痘接触，快速融合与分解痘油。</p>
 			</li>
 			<li>
 				<h2><b>STEP 2</b> 祛痘毒 </h2>
 				<p>深层痘肌排毒，分解痘痘毒素，去除长痘根源，疏通毛囊，消除肌肤表层炎症。</p>
 			</li>
 			<li>
 				<h2><b>STEP 3</b> 修痘肌</h2>
 				<p>加强肌肤自身的吸收能力，修复受损角质膜，舒缓患处红肿，加速痘痘痊愈。 </p>
 			</li>
 			<li>
 				<h2><b>STEP 4</b> 焕新颜</h2>
 				<p>植物干细胞加速愈合，形成新的角蛋白细胞，激活皮肤角质细胞，重焕新肌。</p>
 			</li>
 		</ul>
 	</div>
</div>
<div class="detail-box">
    <div class="cj-hd">焦点锁痘，让痘痘在约会前消失！</div>
	<div class="gx_03">
        <ul>
            <li class="clf">
                <h1>1</h1>
                <div>
                    <p class="t">洁肤抑油</p>
                    <p>专门针对痘痘肌肤特点研制，对反复长痘和痘坑，双效而治，深层去油、抑制痘痘生长。</p>
                </div>
            </li>
            <li class="clf">
                <h1>2</h1>
                <div>
                    <p class="t">平衡舒缓</p>
                    <p>蕴含天然植物精华，能有效改善痘痘肌油腻现象，令肌肤在放松舒缓状态下重建肌肤结构。</p>
                </div>
            </li>
            <li class="clf">
                <h1>3</h1>
                <div>
                    <p class="t">调节焕新</p>
                    <p>促进表皮肌肤的焕新，温和无刺激，有效调节皮肤PH值，不给肌肤带来伤害刺激。</p>
                </div>
            </li>
            <li class="clf">
                <h1>4</h1>
                <div>
                    <p class="t">强化修复</p>
                    <p>强化肌肤自身吸收养分和水分的能力，修复受损角质膜，安抚舒缓痘痘部位发红不适感。</p>
                </div>
            </li>
            <li class="clf no_br">
                <h1>5</h1>
                <div>
                    <p class="t">愈合防御</p>
                    <p>强化肌肤自身吸收养分和水分的能力，修复受损角质膜，安抚舒缓痘痘部位发红不适感。</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- {include file="library/t_chat01.lbi"} -->
<div class="detail-box">
    <div class="cj-hd">天然祛痘成分，安全高效</div>
    <img src="/public/images/q_goods/378/img_03.jpg" alt="">
     <ul class="f_pow">
     	<li>
     		<h2><i>1.</i>消痘排毒—植物干细胞</h2>
     		<p>直击痘痘患部，消肿止痒，清除毒素脓包。</p>
     	</li>
     </ul>
     <ul class="f_pow">
     	<li>
     		<h2><i>2.</i>修复护肤—深海角鲨烷</h2>
     		<p>有效促进肌肤表皮焕新，高效修复肌肤。</p>
     	</li>
     </ul>
     <ul class="f_pow">
     	<li>
     		<h2><i>3.</i>消炎止痛—柳树皮</h2>
     		<p>有效止痛并杀菌消炎，抑制痘痘红肿疼痛现象。</p>
     	</li>
     </ul>
     <ul class="f_pow">
     	<li>
     		<h2><i>4.</i>控油收敛—北美金缕菊</h2>
     		<p>可抑制多余油脂分泌，平衡PH值，收敛毛孔。</p>
     	</li>
     </ul> 
</div>
<div class="detail-box">
    <div class="cj-hd">真正有效，痘痘渐渐淡化！</div>
	 <img src="/public/images/q_goods/378/img_04.jpg" alt="">
 </div>
<!-- {include file="library/t_chat04.lbi"} -->
<div class="detail-box ">
    <div class="cj-hd">会员真实心声~~赞不停！！</div>
    <ul class="detail-case pad_u">
        <li>
            <img src="/public/images/q_goods/378/img_05.jpg" alt="">
            <div>Angel   26岁 | <em>熬夜成痘，敏感肌肤</em><b>控油超赞，跟吸油纸说拜拜！</b></div>
            <p>用了半年了，真的是点哪里消哪里。使用后，凉凉的，第二天照镜子基本只剩下几个小红点，3天左右痘痘就完全消失。重要约会前几天脸上长痘确实很麻烦，不知道你们有没有这样的感受。敏感肌肤的我，想祛痘快然后又不会伤到皮肤，恐怕只有这款祛痘膏适合我了。 
            </p>
        </li>
        <li>
            <img src="/public/images/q_goods/378/img_06.jpg" alt="">
            <div>风刀  27岁 | <em>水油不平衡，常年长痘</em><b>陈年老痘，再见！</b></div>
            <p>痘痘从青春期开始就开始跟着我，用了不少祛痘产品，可每天醒来还是老样子。后来在百度看到了瓷肌的广告，也听说过好像不错，果断试试。3天时间，原本肿起来的痘痘已经基本变平变小了。有一段时间忘记用，痘痘也没有复发，看来是调理好了我的肌肤，清爽了很多！</p>
        </li>
    </ul>
</div>