<style scoped>
	.ziduan{ text-align: center; font-size: 0.9em; padding: 0.5em 0;}
	.da_main01,.da_main02{ padding-top: 0.6em;}
	.da_main01 li{ padding-bottom: 0.5em;}
	.da_main01 img{ width: 18%; margin-left: 1em;}
	.da_main01 p{ display: inline-block; width: 75%; padding-left: 3.5em; position: relative;}
	.da_main01 span{ border-top: 1px solid #b2b2b2; border-bottom: 1px solid #b2b2b2; }
	.da_main01 em{ width: 0; height: 0;  border-top: 0.5em solid transparent; border-left: 0.8em solid #b2b2b2; border-bottom: 0.5em solid transparent; position: absolute; left: 9%; top: 15%;}
	.da_main02{overflow: hidden; padding: 0.9em 1em 0.6em;}
	.da_main02 li{ width: 16%; float: left; margin-right: 1.2em;}
	.da_main02 li.curr{ margin-right: 0em;}
	.da_main02 p{ text-align: center;}
	.da_main02 p.curr{ font-size: 0.6em; border: 2px solid #b2b2b2; border-radius: 5em; width: 6em; height: 6em; padding-top: 1.5em; margin-left: 0.5em; margin-bottom: 0.5em;}
	.da_main02 p.curr span{ font-size: 1.2em; border-top: 1px solid #b2b2b2; border-bottom: 1px solid #b2b2b2;}
	.da_main02 p.curr01{ font-size: 0.75em; padding: 0.5em 0;}
	.da_main03 {overflow: hidden; padding:1em;}
	.da_main03 li{ padding-bottom: 0.8em;overflow: hidden;}
	.da_main03 p{ float: left;}
	.da_main03 span{border-top: 1px solid #b2b2b2; border-bottom: 1px solid #b2b2b2; margin-right: 0.2em;}
	.da_main03 p.curr{ width: 65%; margin-left: 0.5em;}
	.da_main03 p.curr02{  margin-left: 0em; margin-right: 0.5em;}
	.da_main03 p.curr01{float: right;}
	.da_main03 img{ width: 16%;}
	.da_main03 em{ display: inline-block; width: 0.5em; height: 0.5em; background: #595757; margin-left: 0.2em;}
	.da_main03 b{ font-size: 1.2em;}
	.da_main04{ padding-right: 1em;}
	.da_main04 img{ width: 48%;}
	.da_main04 ul{ display: inline-block; width: 50%;}
	.da_main04 li{ margin-top: 0.8em;}
	.da_main04 p{ font-size: 0.9em; color: #999999;}
	.da_main04 span{border-top: 1px solid #b2b2b2; border-bottom: 1px solid #b2b2b2; color: #595757;font-size: 1.2em;}
	
</style>
<div class="detail-box">
	<div class="cj-hd">少壮不补水，老大徒伤悲</div>
	<img src="/public/images/q_goods/381/img_01.jpg" alt="">
	<p class="ziduan">晶透雪肌保湿补水套，解肌渴焕肌色，瞬间点亮好气色。</p>
</div>
<!-- {include file="library/t_chat01.lbi"} -->
<div class="detail-box">
	<div class="cj-hd">Re-E5光焕白科技    凝水活肤</div>
	<ul class="da_main01">
		<li>
			<img src="/public/images/q_goods/381/img_02.jpg" alt="">
			<p><em></em><span><b>深清洁</b>Clean</span><br />倾注多重排污能量，清除肌底污浊</p>
		</li>
		<li>
			<img src="/public/images/q_goods/381/img_03.jpg" alt="">
			<p><em></em><span><b>水润养</b>Hydra</span><br />活水+补水+锁水，给肌肤时刻水嫩滋养</p>
		</li>
		<li>
			<img src="/public/images/q_goods/381/img_04.jpg" alt="">
			<p><em></em><span><b>亮肤色</b>Light</span><br />植物亮肤因子渗透肌底，深度亮肤褪黑</p>
		</li>
		<li>
			<img src="/public/images/q_goods/381/img_05.jpg" alt="">
			<p><em></em><span><b>内焕白</b>White</span><br />由表及里层层焕白，肌肤净透无瑕</p>
		</li>
	</ul>
</div>
<div class="detail-box">
	<div class="cj-hd">5重水白能量，一次补足</div>
	<ul class="da_main02">
		<li>
			<p class="curr"><span>凝血酸</span><br />（传明酸）</p>
			<p>1</p>
			<img src="/public/images/q_goods/381/img_06.jpg" alt="">
			<p class="curr01">肌底<br />排浊</p>
		</li>
		<li>
			<p class="curr"><span>熊果苷</span><br />成分</p>
			<p>2</p>
			<img src="/public/images/q_goods/381/img_06.jpg" alt="">
			<p class="curr01">外阻黑<br />内透白</p>
		</li>
		<li>
			<p class="curr"><span>Re-E5</span><br />因子</p>
			<p>3</p>
			<img src="/public/images/q_goods/381/img_06.jpg" alt="">
			<p class="curr01">光护膜<br />焕白力</p>
		</li>
		<li>
			<p class="curr"><span>酵母</span><br />提取物</p>
			<p>4</p>
			<img src="/public/images/q_goods/381/img_06.jpg" alt="">
			<p class="curr01">深层<br />赋活亮肤</p>
		</li>
		<li class="curr">
			<p class="curr"><span>透明质酸</span><br /></p>
			<p>5</p>
			<img src="/public/images/q_goods/381/img_06.jpg" alt="">
			<p class="curr01">加倍锁水<br />辅助力</p>
		</li>
	</ul>
</div>
<div class="detail-box">
	<div class="cj-hd">“水白”软妹正确修炼秘籍</div>
	<ul class="da_main03">
		<li>
			<p class=""><span>STEP</span>1<br /><b>净污</b></p>
			<p class="curr">晶透雪肌洁面乳<em></em><br/>晶透雪肌洁面乳温和低泡，吸附肌底污浊，清空垃圾，令百草养白植萃渗入滋养，显著改善肌肤洁净度、通透度与光泽度。</p>
			<img src="/public/images/q_goods/381/img_07.jpg" alt="">
		</li>
		<li>
			<img src="/public/images/q_goods/381/img_08.jpg" alt="">
			<p class="curr01"><span>STEP</span>2<br /><b>解渴</b></p>
			<p class="curr curr01 curr02"><em></em>晶透雪肌精华液<br/>特含传明酸和透明质酸钠，从根源减少深色素沉淀，修复并提升肌肤耐受能力，给肌肤1000X水养滋润，尽显持久透亮。</p>
			
		</li>
		<li>
			<p class=""><span>STEP</span>3<br /><b>雪颜</b></p>
			<p class="curr">晶透雪肌气色面霜<em></em><br/>添加酵母萃取精华和传明酸成分，即时缓解暗沉，均匀提亮肤色，令肌肤光泽度、明亮度、细致度三维提升，只见莹透粉嫩好气色。</p>
			<img src="/public/images/q_goods/381/img_09.jpg" alt="">
		</li>
	</ul>
</div>
<div class="detail-box">
	<div class="cj-hd">3周期凝水焕活  立显初雪肌</div>
	<div class="da_main04">
		<img src="/public/images/q_goods/381/img_10.jpg" alt="">
		<ul>
			<li>
				<p>
					<span>1周期：温和洁肤深层净污</span><br />
					肤色提亮，肌肤毛孔脏物被深度清洁，肌肤水分得到提升。
				</p>
			</li>
			<li>
				<p>
					<span>2周期：水解黑黄润燥驱黑</span><br />
					肤色开始亮泽，细胞内黑色素被分解排出，脸部恢复光泽。
				</p>
			</li>
			<li>
				<p>
					<span>3周期：濡养肌底亮肤雪颜</span><br />
					肤色莹润水弹，有效修复肌肤凝水力，让肌肤亮泽净白。
				</p>
			</li>
			
		</ul>
	</div>
</div>
<div class="detail-box">
	<div class="cj-hd">用这套，女旱子变软妹纸</div>
	 <ul class="detail-case pad_u">
            <li>
                <img src="/public/images/q_goods/381/img_11.jpg" alt="">
                <div>苋菱：21岁| <em>肤质：混合性</em><b>就这一套，暗沉妹也“光彩四溢”！</b></div>
                <p>暑假去云南玩了一圈回来，变差的肤色就一直没白起来，经常被同学戏称为“暗沉妹”，别提多烦了！姐妹淘推荐我用的晶透雪肌套，刚看到这套产品就被吸引，觉得产品很有能量，特别是气色面霜，柔润的粉色膏体，还有一粒粒小颗粒，涂在脸上立马融化，感觉脸色真的马上有光采了，现在我已经用了快一个月了，肌肤状态恢复的蛮好肤质细腻了，气色也变粉嫩了，暗沉妹也有“光采四溢”的一天，开心死了！</p>
            </li>
            <li>
                <img src="/public/images/q_goods/381/img_12.jpg" alt="">
                <div>泡芙mm：25岁 | <em>肤质：干性</em><b>补水又美白，粉粉嫩嫩透出来</b></div>
                <p>本身就是偏干的肤质，现在天气变冷皮肤就更难受了，整天干干的，涂再厚的面霜都于事无补，整个脸还显得油油的，连肤色都将了好几个色度。后来听说瓷肌的新研发的晶透雪肌不错，特意BUY了一套。先试的洁面乳，洗完后水水的这么冷的天气都没感觉紧绷，非常的舒服，大爱气色面霜，粉嫩嫩的膏体夹着小颗粒，薄薄的一层就感觉很舒服，很水润，吸收特别快！现在我的脸可是整天都水嘭嘭~还白了不少呢，还透着点少女粉~大赞！</p>
            </li>
        </ul>
</div>