<style scoped>
	.why_h{padding: 0.5em 0 0.5em 2em;}
	.why_h li{ margin-bottom: 0.4em;}
	.why_h span{ display: inline-block; margin: 1em 0 0 0.5em; padding: 0.2em 0.8em; color: #fff; background: #4d4d4d; border-radius: 30em;}
	.why_h img{width: 15%; max-width: 88px;}
	.over_main{ overflow: hidden;padding: 0.5em 0 0.3em 2em;}
	.lefe_img{ float: left; width: 35%;}
	.lefe_img img{max-width: 199px; width: 100%;}
	.lefe_text{ float: left; width: 54%; padding-top: 0.2em; padding-left: 0.5em;}
	.lefe_text p.col{ color: #dc0e4a;}
	.lefe_text span{ display: inline-block; color: #fff; background: #000; width: 1.4em; height: 1.4em; line-height: 1.4em; text-align: center; margin-right: 0.5em;}
	.main_wh{ width: 62%; font-size: 0.8em;}
	.main_wh span{ font-size: 1em;}
	.si_text{ font-size: 0.8em;}
	.de-3 {padding: 1em 0;}
	.de-3 li{padding: 0 1em; font-size: 1.2em; margin-bottom: 0.8em;}
	.de-3 li img{width: 30%; margin-right: 0.8em;}
	.de-3 li p{display: inline-block;}
	.de-3 li span{color: #d51838;}
	.de-4{padding-bottom: 1em;}
	.de-4 li{width: 100%; padding: 0.8em 0.8em 0; display: table;}
	.de-4 li img{display: table-cell; max-width: 171px;}
	.de-4 li div{width: 70%; padding-left: 0.8em; display: table-cell; vertical-align: middle;}
	.de-4 li em{padding-bottom: 0.4em; font-size: 1.2em; color: #000; display: block;}
	.de-4 li span{padding: 0 0.4em; margin-left: 0.4em; background: #f2f2f2; color: #fe1c42;}
	.de-5{padding: 0.8em;}
	.de-5 li{padding: 0.6em 0.8em 0; font-size: 1.2em;}
	.de-5 li span{padding: 0 0.4em; margin-right: 0.4em; background: #fe1c42; color: #fff;}
	.pad_u{ padding: 0 1.2em;}
</style>
<div class="detail-box">
	<div class="cj-hd">为什么你会提前变成“黄脸婆”？</div>
	<ul class="why_h">
		<li>
			<img src="/public/images/q_goods/570/img_01.jpg" alt=""><span>新陈代谢变慢，面色暗黄干燥</span>
		</li>
		<li>
			<img src="/public/images/q_goods/570/img_02.jpg" alt=""><span>抗氧化能力下降，胶原蛋白流失</span>
		</li>
		<li>
			<img src="/public/images/q_goods/570/img_03.jpg" alt=""><span>老化细胞沉积，黑色素排出受阻</span>
		</li>
		<li>
			<img src="/public/images/q_goods/570/img_04.jpg" alt=""><span>体内毒素堆积，色斑皱纹出现</span>
		</li>
		<li>
			<img src="/public/images/q_goods/570/img_05.jpg" alt=""><span>长期疏于保养，陷入恶性循环</span>
		</li>
	</ul>
</div>
<div class="detail-box">
	<div class="cj-hd">6大功效  一举扫除暗黄</div>
	<div class="over_main">
		<div class="lefe_img">
			<img src="/public/images/q_goods/570/img_06.jpg" alt="">
		</div>
		<div class="lefe_text">
			<p class="col"><span>01</span>滋养</p>
			<p>快速输送五谷美白成分、保湿成分至肌肤深层。</p>
		</div>
		</div>
		<div class="over_main">
		<div class="lefe_img">
			<img src="/public/images/q_goods/570/img_07.jpg" alt="">
		</div>
		<div class="lefe_text">
			<p class="col"><span>02</span>抑制</p>
			<p>Symwhite馨美白抑制黑色素生成。</p>
		</div>
		</div>
		<div class="over_main">
		<div class="lefe_img">
			<img src="/public/images/q_goods/570/img_08.jpg" alt="">
		</div>
		<div class="lefe_text">
			<p class="col"><span>03</span>击散</p>
			<p>美白植物成分，沉积并分解黑色素。</p>
		</div>
		</div>
		<div class="over_main">
		<div class="lefe_img">
			<img src="/public/images/q_goods/570/img_09.jpg" alt="">
		</div>
		<div class="lefe_text">
			<p class="col"><span>04</span>清除</p>
			<p>加速细胞更新，排走黑色素。</p>
		</div>
		</div>
		<div class="over_main">
		<div class="lefe_img">
			<img src="/public/images/q_goods/570/img_10.jpg" alt="">
		</div>
		<div class="lefe_text">
			<p class="col"><span>05</span>预防</p>
			<p>光果甘草等成分抑制并防止黑色素生成。</p>
		</div>
		</div>
		<div class="over_main">
		<div class="lefe_img">
			<img src="/public/images/q_goods/570/img_11.jpg" alt="">
		</div>
		<div class="lefe_text">
			<p class="col"><span>06</span>焕彩</p>
			<p>绿色六胜肽含天然抗衰成分，焕发年轻光彩。</p>
		</div>
		</div>
</div>
<!-- {include file="library/t_chat01.lbi"} -->
<div class="detail-box">
	<div class="cj-hd">4大成分  击退黯沉</div>
	<ul class="de-3">
            <li>
                <img src="/public/images/q_goods/570/img_12.jpg" alt="">
                <p class="main_wh"><span>抗衰–绿色六胜肽</span><br />从单细胞绿浓菌中提炼而出，是国际公认的抗衰利器。</p>
            </li>
            <li>
                <img src="/public/images/q_goods/570/img_13.jpg" alt="">
                <p class="main_wh"><span>美白–光果甘草</span><br />野生光果甘草提纯，可有效清除自由基，抑制黑色素生成。</p>
            </li>
            <li>
                <img src="/public/images/q_goods/570/img_14.jpg" alt="">
                <p class="main_wh"><span>养肤精华–五谷精粹</span><br />可以补充肌肤必须的营养，促进肌肤新陈代谢，净化肌质，排除内毒。</p>
            </li>
            <li>
                <img src="/public/images/q_goods/570/img_15.jpg" alt="">
                <p class="main_wh"><span>褪黑–Symwhite</span><br />Symwhite  馨肤白可高效抑制黑色素生成，是曲酸的210倍，熊果苷的32倍。</p>
            </li>
        </ul>
</div>

<div class="detail-box">
	<div class="cj-hd">4步 肌肤逆龄更白嫩</div>
	<ul class="de-4">
            <li>
                <img src="/public/images/q_goods/570/img_16.jpg" alt="">
                <div>
                    <em>1.净化<span class="si_text">清本源卸妆洗颜乳</span></em>
                    <p>深入毛孔，吸附并带走氧化油脂、污垢及老化角质，深度净澈。</p>
                </div>
            </li>
            <li>
                <img src="/public/images/q_goods/570/img_17.jpg" alt="">
                <div>
                    <em>2.渗透<span class="si_text">清本源五谷亮白肌底液</span></em>
                    <p>补充能量，焕发肌肤水润嫩白。肌底净透因子，迅速进入肌底击碎黑色素。</p>
                </div>
            </li>
            <li>
                <img src="/public/images/q_goods/570/img_18.jpg" alt="">
                <div>
                    <em>3.美白<span class="si_text">净白无瑕五谷焕彩面膜</span></em>
                    <p>丰润乳霜质地不油腻，有效缓解肌肤干燥、缺水，抗氧抑黑，保持肌肤水感透白。</p>
                </div>
            </li>
            <li>
                <img src="/public/images/q_goods/570/img_19.jpg" alt="">
                <div>
                    <em>4.幼嫩<span class="si_text">多胜肽赋活能量霜</span></em>
                    <p>深度补水，平滑细纹，持续提拉松弛肌肤，增强肌肤弹性，肌肤紧致年轻。</p>
                </div>
            </li>
        </ul>
</div>
<div class="detail-box">
	<div class="cj-hd">4个阶段  肌肤嫩得快白的快</div>
	<img src="/public/images/q_goods/570/img_20.jpg" alt="">
</div>
  <!-- {include file="library/t_chat04.lbi"} -->
  <div class="detail-box ">
        <div class="cj-hd">使用瓷肌  她们白了</div>
        <ul class="detail-case pad_u">
            <li>
                <img src="/public/images/q_goods/570/img_21.jpg" alt="">
                <div>南丽 31岁| <em>脸色暗沉有细纹，早衰型</em><b>告别细纹，告别“菜色肌”</b></div>
                <p>不知道怎么回事，最近脸总是黄黄的，而且小细纹不断冒出了。可能真的是奔三的缘故了。后来特意试了一下瓷肌医生的逆时光嫩白套装，皮肤真的改善了很多，特别是能量霜，在脸上轻涂一层，抹开就很润，小细纹也消失了，用了几天后肌肤白了不少，坚持使用！</p>
            </li>
            <li>
                <img src="/public/images/q_goods/570/img_22.jpg" alt="">
                <div>小杨 29岁 | <em>暗沉无光，毛孔粗大，有干纹</em><b>肌肤终于由内而外地透白了</b></div>
                <p>还没到30呢，经常被人叫阿姨，真心难受。都怪皮肤一直暗黄暗黄，朋友推荐我使用逆时光这个套装。肌底液和五谷面膜绝对是黄金组合，对于肤色暗沉和毛孔非常有效，而且也很容易被肌肤吸收，用了一段时间后，肌肤真的是第一次由内而外地透白了。</p>
            </li>
        </ul>
    </div>