<div>
<style scoped>
.detail_box{padding: .5em 1em;background: #fff;}
.detail_box h3{line-height: 1.3em;font-size: 1.1em;color:#a48101;padding-bottom: .5em;border-bottom: 1px dashed #e1e1e1;}
.detail_box h3 b{border-left: .3em solid #a48101;display: inline-block;height: 1.2em;line-height: 1.2em;padding-left: .3em;}
.img_box{background: #fff;}
.img_box,.img_box img{width: 100%;}
.bm li{padding: .3em 0;border-bottom: 1px dashed #a2a2a2;font-size: 1em;}
.bm li span{color: #a48101;}
.ksms li{padding-bottom: 1em;border-bottom: 1px dashed #e1e1e1;margin-bottom: 1em;font-size: 1em;}
.ksms li h3{color: #5a5a5a;font-weight: normal;border-bottom: none;}
.ksms li h4{margin: .5em 0;font-weight: normal;}
.ksms li h4 span{color: #fff;background: #5d5d5d;padding: 0 .5em;}
.ksms li p{color: #a0a0a0;line-height: 1.5em;}
.detail-hd:before{ background: #EA2143;}
.detail-hd,.prod-parm dt{ color:#EA2143;}
.hd,.highlight,.prod-parm h2{color:#A48101;}
.hd::before{ background: #A48101;}
</style>
    
	<!-- {include file="../library/n_tel.lbi"} -->
<div class="detail_box">
    <h3><b>浅性色斑3大元凶</b></h3>
</div>
<div class="img_box"><img src="/public/images/q_goods/585/img_01.jpg" alt=""></div>
<div class="detail_box">
    <p style="color:#a48101;">长时间面对三种光源辐射，肌肤受损生成大量黑色素，在肤底聚集形成色斑。阻碍肌肤吸收营养和水分，日积月累形成恶性循环。</p>
</div>
<!-- {include file="../library/n_tel.lbi"} -->
<div class="detail_box">
    <h3><b>色斑治疗不及时，伤害更大你可知</b></h3>
</div>
<div class="img_box"><img src="/public/images/q_goods/585/img_02.jpg" alt=""></div>
<div class="detail_box">
    <p>色斑治疗，一步都不可以晚。不及时抑制色素团的生成，色斑范围只会越发扩大，斑点只会越发加深，同时也会阻挡肌肤吸收营养和水分，破坏整个脸部皮肤系统，诱发更多肌肤问题。</p>
</div>
<!-- {include file="../library/n_tel.lbi"} -->
<div class="detail_box">
    <h3><b>FG三层淡斑技术，深入肌肤精准淡斑</b></h3>
</div>
<div class="img_box"><img src="/public/images/q_goods/585/img_03.jpg" alt=""></div>
<div class="detail_box">
    <p>FG三层淡斑技术，将3%的传明酸和其他有效淡斑成分合成FG1、FG2、FG3淡斑因子系列，精准送到表皮层、真皮层和肌底层，精准消除各个皮层的色斑，效果媲美激光祛斑。</p>
</div>
<!-- {include file="../library/n_tel.lbi"} -->
<div class="detail_box">
    <h3><b>6大功效，浅性色斑一网打尽</b></h3>
</div>
<!-- <div class="img_box"><img src="/public/images/q_goods/585/img_04.jpg" alt=""></div> -->
<div class="detail_box">
    <ul class="bm">
        <li><span>淡化色斑</span>—FG因子直达源头，淡化色斑</li>
        <li><span>细腻肤质</span>—植物精华滋养肌底，肤质细腻柔润。</li>
        <li><span>补水保湿</span>—天然养分将水分注入每个毛孔</li>
        <li><span>深层修复</span>—植物萃取精华，修复受损细胞</li>
        <li><span>美白亮肤</span>—传明酸、FG淡斑因子源头击斑，重新亮白肌肤</li>
        <li style="border-bottom:none;"><span>击退暗沉</span>—传明酸疏通肌肤通道，还原莹白光泽</li>
    </ul>
</div>
<!-- {include file="../library/n_tel.lbi"} -->
<div class="detail_box">
    <h3><b>臻选淡斑优质成分，72道萃取</b></h3>
</div>
<div class="img_box">
    <img src="/public/images/q_goods/585/img_05.jpg" alt="">
    <img src="/public/images/q_goods/585/img_06.jpg" alt="">
    <img src="/public/images/q_goods/585/img_07.jpg" alt="">
</div>
<!-- {include file="../library/n_tel.lbi"} -->
<div class="detail_box">
    <h3><b>正确使用 效果加倍</b></h3>
</div>
<div class="img_box">
    <img src="/public/images/q_goods/585/img_08.jpg" alt="">
    <img src="/public/images/q_goods/585/img_09.jpg" alt="">
</div>
<!-- {include file="../library/n_tel.lbi"} -->
<div class="detail_box">
    <h3><b>一起成为美丽的瓷肌公主</b></h3>
</div>
<div class="img_box"><img src="/public/images/q_goods/585/img_10.jpg" alt=""></div>
<div class="detail_box">
    <p>只记得那是晒斑，当时也没在意，以为会慢慢淡化，谁知2年后斑点越长越严重，那一团皮肤都黑黑的了，好丑~我是去年冬季接触到韩国瓷肌的祛斑产品，客服相当的耐心，针对我的肌肤问题推荐了这个套装。用了一个月，斑点已经淡了很多，神奇的是，皮肤也开始变白了，就像换了层皮似的，感谢韩国瓷肌。</p>
</div>
<div class="img_box"><img src="/public/images/q_goods/585/img_11.jpg" alt=""></div>
<div class="detail_box">
    <p>我是16小时对着电脑也不涂隔离霜的那种，结果冒出满脸的斑，抹什么都去不掉，气死。后来姐姐给我网购了这个套装，她们说效果好。开始几天，只觉得补水效果不错，也温和，对着电脑也不怎么干了。后面才发现斑点真的慢慢变淡了。当时很惊喜，马上上网又再买了一套。爱上韩国瓷肌。</p>
</div>
<!-- {include file="library/t_chat04.lbi"} -->
</div>