<div>
	<style scoped>
		.cus2 { width:93.75%; margin:0px auto;}
		.cus ul li{border-bottom: 1px dashed #dcdcdc; padding: 1em 0;}
		.cus li p { width:75%; float: left; padding-left: 1em; line-height: 2em;font-size: 1rem;}
		.cus li img{width: 21%; float: left;}
		.cus .sred{font-size: 1.3em; padding-left: .2em;color:#c81d36;}
		.snum{background: #db2941; padding:0em .3em; border-radius: .2em; color: #fff; font-size: 1.3em;}
		.de-1{width: 93%; margin: 0 auto;}
		.de-1 li{  padding: .5em .4em;}
		.de-1 span{ color:#c81d36;}
		.de-1 li p { width:75%; float: left; padding-left: 1em;}
		.de-1 li img{width: 21%; float: left;}
		
		.de-3 li{ padding: .5em .4em .5em 1em;}
		.de-3 li p { width:70%; float: left; padding-left: 1em;}
		.de-3 li img{width: 27%; float: left;}
		.cus1 { width:93.75%; margin:0px auto; line-height:1.4em; padding-bottom:0.5em; color:#707070;}
		
		.de-3 span{ color:#ea2143;}
		.de-4 li{ padding: .5em .4em;}
		.de-4 li div{ width: 65%; float: left; padding-left: .5em;}
		.de-4 li img{width: 30%; float: left;}
		.de-4 em{font-size: 1rem;font-weight: bold;}
		.de-4 span{font-size: .8em; font-weight: normal; color:#ea2143; background: #f2f2f2; padding: .2em; margin-left: .2em;}
		.de-5 {width: 90%; margin: 0 auto;}
		.de-5 img{padding: 1em 0;}
		.de-5 li{padding:.5em 0em .5em 1em;}
		.de-5 span{background: #fe1c42; color: #fff; padding: .2em; font-size: 1em; margin-right: .5em;}
		.de-6{width: 90%; margin:0 auto; padding-top: .5em;}
		.de-6 div{background: #f2f2f2; padding: 1em; text-align: center;}
		.de-6 em{font-weight: bold;}
		.de-6 b{color: #fe1c42; font-size: 1.3em;}
		.de-6 p{padding: .5em 0 .5em .3em;}
	</style>
	<div class="detail-box">
		<div class="cj-hd">黑暗肌，为什么会找上你？</div>
		<ul class="de-1">
			<li class="clf">
				<img <img src="/public/images/q_goods/594/img_01.jpg" alt="">
				<p><span class="sred">表皮</span><br>黑色素不断迁移，形成色素块</p>
			</li>
			<li class="clf">
				<img <img src="/public/images/q_goods/594/img_02.jpg" alt="">
				<p><span>深层</span><br>黑色素细胞受紫外线刺激大量增生</p>
			</li>
			<li class="clf">
				<img <img src="/public/images/q_goods/594/img_03.jpg" alt="">
				<p><span>表面现象</span><br>皮肤变得黯淡无光，黑暗肌形成</p>
			</li>
		</ul>
		<div class="cj-hd">全力击退黑暗肌  焕亮新颜</div>
		<div class="cus">
			<ul>
				<li class="clf">
					<img <img src="/public/images/q_goods/594/img_04.jpg" alt="">
					<p><span class="snum">01</span><span class="sred">深层清洁</span><br>清彩妆油污，除废旧角质提亮肤色</p>
				</li>
				<li class="clf">
					<img <img src="/public/images/q_goods/594/img_05.jpg" alt="">
					<p><span class="snum">02</span><span class="sred">层层养白</span><br>从内到外，击退黑色素，美白肌肤</p>
				</li>
				<li class="clf">
					<img <img src="/public/images/q_goods/594/img_06.jpg" alt="">
					<p><span class="snum">03</span><span class="sred">立体补水</span><br>源源补充水能，肌肤细腻水感十足</p>
				</li>
				<li class="clf">
					<img <img src="/public/images/q_goods/594/img_07.jpg" alt="">
					<p><span class="snum">04</span><span class="sred">肌底透亮</span><br>融解杨花色素，肌底释放莹白光泽</p>
				</li>
				<li class="clf">
					<img <img src="/public/images/q_goods/594/img_08.jpg" alt="">
					<p><span class="snum">05</span><span class="sred">匀净肤色</span><br>淡化色块、色斑，均匀亮白肤色</p>
				</li>
			</ul>
		</div>
		<div class="cj-hd">4大成分  各显神通</div>
		<ul class="de-3">
			<li class="clf">
				<img <img src="/public/images/q_goods/594/img_09.jpg" alt="">
				<p><span class="sred">Symwhite馨肤白</span><br>美白核心，层层渗透提亮肤色</p>
			</li>
			<li class="clf">
				<img <img src="/public/images/q_goods/594/img_10.jpg" alt="">
				<p><span>有机五谷</span><br>美白营养，层层滋养，全效润白</p>
			</li>
			<li class="clf">
				<img <img src="/public/images/q_goods/594/img_11.jpg" alt="">
				<p><span>玫瑰精油</span><br>美白菁萃，深入渗透，美白无死角</p>
			</li>
			<li class="clf">
				<img <img src="/public/images/q_goods/594/img_12.jpg" alt="">
				<p><span>透明质酸钠</span><br>锁水解肌渴，肌肤持久保持水嫩晶莹	</p>
			</li>
		</ul>
		<!-- {include file="library/t_chat01.lbi"} -->
		<div class="cj-hd">4步绽放光感透白</div>
		<ul class="de-4">
			<li class="clf">
				<img <img src="/public/images/q_goods/594/img_13.jpg" alt="">
				<div>
					<em>1.净化<span>清本源卸妆洗颜乳</span></em>
					<p>深入毛孔，吸附并带走氧化油脂、污垢及老化角质，深度净澈。</p>
				</div>
			</li>
			<li class="clf">
				<img <img src="/public/images/q_goods/594/img_14.jpg" alt="">
				<div>
					<em>2.渗透<span>清本源五谷亮白肌底液</span></em>
					<p>补充能量，焕发肌肤水润嫩白。肌底净透因子，迅速进入肌底击碎黑色素。</p>
				</div>
			</li>
			<li class="clf">
				<img <img src="/public/images/q_goods/594/img_15.jpg" alt="">
				<div>
					<em>3.美白<span>净白无瑕五谷焕彩面膜</span></em>
					<p>舒缓肌肤，密集保湿美白，每周使用2-3次，有效消除暗哑，强化肌肤耐受性。</p>
				</div>
			</li>
			<li class="clf">
				<img <img src="/public/images/q_goods/594/img_16.jpg" alt="">
				<div>
					<em>4.修护<span>臻雪无瑕调理精油</span></em>
					<p>多效修护，调亮肤色，保湿美白，防止干燥，预防色素沉淀，保持肌肤弹性。</p>
				<div>
			</li>
		</ul>
		<div class="cj-hd">四个阶段  肌肤崭新皙白！</div>
		<div class="de-5">
            <img <img src="/public/images/q_goods/594/img_17.jpg" alt="">
            <ol>
                <li><span>NO.1</span>分散软化“老角质”</li>
                <li><span>NO.2</span>从肌底开始排出浊物</li>
                <li><span>NO.3</span>肌肤吸收润白营养</li>
                <li><span>NO.4</span>角质更新  莹亮白皙</li>
            </ol>
        </div>
        <!-- {include file="library/t_chat04.lbi"} -->
		<div class="cj-hd">学她们  亮出新颜</div>
		<ul class="de-6">
			<li>
				<img <img src="/public/images/q_goods/594/img_18.jpg" alt="">
				<div>希希：21岁 | <em>混合性肌肤</em><br><b>白得像雪，均匀剔透！</b></div>
				<p>我的皮肤还算白皙，就是嘴角、额头、鼻翼偏黄，被朋友笑称“花脸猫”，囧死了。泡了几月的护肤论坛，发现瓷肌新颜还白套装还不错，有均匀肤色的作用，而且质地水润细腻，用着非常舒服。果然三个月多，脸上色块就慢慢地消失了，肤色又白又润，这真是极好的！</p>
			</li>
			<li>
				<img <img src="/public/images/q_goods/594/img_19.jpg" alt="">
				<div>绮珊：26岁 | <em>中性肤质</em><br><b>一白再白，白出新高度！</b></div>
				<p>我是个美白偏执狂，但无论我怎么美白，肤色都很难再进一步，闺蜜不美白都比我好！后来学美容的朋友推荐了瓷肌新颜还白套装，没想到皮肤竟真的变白了！这一套产品都很温和，面膜又香又滑，调理精油触肤即可吸收，用后皮肤又白又嫩又滑！闺蜜都羡慕死我啦，哈哈！</p>
			</li>
		</ul>
	</div>
</div>