<style scoped>
.de-1 div{padding-top: 0.6em; background: #f2f2f2;}
.de-1 img{width: 30%; margin-left: 0.8em;}
.de-1 strong{margin-top: 1em; font-size: 1.3em; display: inline-block;}
.de-1 span{display: block;}
.de-1 p{padding: 0.4em 0.8em;}
.de-2{padding-bottom: 0.6em;}
.de-2 em{padding: 0.4em 0; text-align: center; font-size: 1.3em; color: #000; display: block;}
.de-2 p{padding: 0 0.8em;}
.de-2 strong{padding: 0.4em 0; text-align: center; font-size: 1.6em; color: #fe1c42; display: block;}
.de-2 div{width: 86%; margin: 0 auto 0.4em; border-radius: 2em; background: #f2f2f2; display: table;}
.de-2 div span{width: 2em; height: 2em; padding: 2px; border: 3px solid #e3e3e3; border-radius: 2em; background: #fff; text-align: center; font-size: 2.2em; color: #fe1c42; display: table-cell; vertical-align: middle;}
.de-2 div b{width: 100%; height: 100%; border: 1px solid #e3e3e3; border-radius: 2em; font-weight: normal; display: inline-block;}
.de-2 div p{padding: 0 1em; font-size: 1.2em; display: table-cell; vertical-align: middle;}
.de-3 {padding: 1em 0;}
.de-3 li{padding: 0 1em; font-size: 1.2em; margin-bottom: 0.8em;}
.de-3 li img{width: 30%; margin-right: 0.8em;}
.de-3 li p{display: inline-block;}
.de-3 li span{color: #d51838;}
.de-4{padding-bottom: 1em;}
.de-4 li{width: 100%; padding: 0.8em 0.8em 0; display: table;}
.de-4 li img{display: table-cell;}
.de-4 li div{width: 70%; padding-left: 0.8em; display: table-cell; vertical-align: middle;}
.de-4 li em{padding-bottom: 0.4em; font-size: 1rem; color: #000; display: block;}
.de-4 li span{padding: 0 0.4em; margin-left: 0.4em; background: #f2f2f2; color: #fe1c42;font-size:0.9rem;}
.de-5{padding: 0.8em;}
.de-5 li{padding: 0.6em 0.8em 0; font-size: 1rem;}
.de-5 li span{padding: 0 0.4em; margin-right: 0.4em; background: #fe1c42; color: #fff;}
</style>

<div class="detail-box detail-dyr">
    <dl>
        <dt><img src="/public/images/q_goods/63/dyr.jpg" alt=""></dt>
        <dd>
            <div>颜值界大咖</div>
            <strong>李治廷倾情推荐</strong>
            <p>作为艺人，熬夜是常有的事。面对镜头，必须保持皮肤的白皙、干净、柔嫩。瓷肌医生抑黑焕白套装，非常温和而且效果显著。自信，从白嫩开始。</p>
        </dd>
    </dl>
    <img src="/public/images/q_goods/63/dyr_img.jpg" alt="">
</div>
<div class="detail-box">
    <div class="cj-hd">美白究竟有多重要？</div>
    <div class="de-1">
        <div>
            <img src="/public/images/q_goods/63/img_01.jpg" alt="">
            <img src="/public/images/q_goods/63/img_02.jpg" alt="">
            <strong>想变美眉<br />不用整容<span class="hl">去黄抑黑即可</span></strong>
        </div>
        <p>“一白遮三丑”，白嫩皮肤，总能给人一种高贵清纯、楚楚动人的感觉，蜡黄黯沉的肌肤只会给人黄脸婆、村姑的形象，如果你白一点，你会发现原来你可以很美。</p>
        <div>
            <img src="/public/images/q_goods/63/img_03.jpg" alt="">
            <img src="/public/images/q_goods/63/img_04.jpg" alt="">
            <strong>永久白皙<br />不能单靠防晒<span class="hl">要坚持美白</span></strong>
        </div>
        <p>虽然你肌肤白皙，但美白在于坚持，日常防晒无法阻隔紫外线伤害，追求完美的你，更需要加强美白，只有坚持美白，才能持久拥有白炽灯般透亮白净的肌肤。</p>
    </div>
</div>
<div class="detail-box">
    <div class="cj-hd">美白新科技  黑色素无处可逃</div>
    <div class="de-2">
        <img src="/public/images/q_goods/63/img_05.jpg" alt="">
        <em>天然原料<span class="hl">+</span>独创技术<span class="hl">=</span>全频健康美白</em>
        <p>Symwhite®抑黑技术：酪氨酸酶抑制剂，优秀的抑黑能力结合五谷精华，均匀肤色，降低紫外线照射引起的色素沉着。</p>
        <strong>仅需③步，分化黑色素，持久透白</strong>
        <div>
            <span><b>通</b></span>
            <p>微细供氧分子密集渗透肌肤，打开黑色素排泄通道</p>
        </div>
        <div>
            <span><b>亮</b></span>
            <p>肌底注氧，激活老化细胞，全面提亮肤色</p>
        </div>
        <div>
            <span><b>白</b></span>
            <p>形成肌底保护层，抵御氧化，持久美白</p>
        </div>
    </div>
</div>
<!-- {include file="library/t_chat01.lbi"} -->
<div class="detail-box">
    <div class="cj-hd">天然原料  抑黑焕白</div>
    <ul class="de-3">
        <li>
            <img src="/public/images/q_goods/63/img_06.jpg" alt="">
            <p><span>五谷提取物</span><br />白净肌肤，激活细胞再生</p>
        </li>
        <li>
            <img src="/public/images/q_goods/63/img_07.jpg" alt="">
            <p><span>山茶花</span><br />400倍抗氧力，减缓衰老</p>
        </li>
        <li>
            <img src="/public/images/q_goods/63/img_08.jpg" alt="">
            <p><span>洋甘菊</span><br />淡化色素，抑制斑点生长</p>
        </li>
        <li>
            <img src="/public/images/q_goods/63/img_09.jpg" alt="">
            <p><span>牛油果</span><br />丰富维C，增强肌肤抵抗力</p>
        </li>
        <li>
            <img src="/public/images/q_goods/63/img_10.jpg" alt="">
            <p><span>龙胆草</span><br />清热燥湿，提升肌肤亮度</p>
        </li>
    </ul>
</div>
<div class="detail-box">
    <div class="cj-hd">5大步骤 还你新生白皙美肌</div>
    <ul class="de-4">
        <li>
            <img src="/public/images/q_goods/63/img_11.jpg" alt="">
            <div>
                <em>1.净化<span>清本源卸妆洗颜乳</span></em>
                <p>深入毛孔，吸附并带走氧化油脂、污垢及老化角质，深度净澈。</p>
            </div>
        </li>
        <li>
            <img src="/public/images/q_goods/63/img_12.jpg" alt="">
            <div>
                <em>2.疏通<span>清本源角质调整膜</span></em>
                <p>洗净废角质，打开通道，迅速提升肌肤肌能，唤醒活力，有效改善黯哑。</p>
            </div>
        </li>
        <li>
            <img src="/public/images/q_goods/63/img_13.jpg" alt="">
            <div>
                <em>3.渗透<span>清本源五谷亮白肌底液</span></em>
                <p>补充能量，焕发肌肤水润嫩白。肌底净透因子，迅速进入肌底击碎黑色素。</p>
            </div>
        </li>
        <li>
            <img src="/public/images/q_goods/63/img_14.jpg" alt="">
            <div>
                <em>4.抑黑<span>清本源五谷亮白精华霜</span></em>
                <p>丰润乳霜质地不油腻，有效缓解肌肤干燥、缺水，抗氧抑黑，保持肌肤水感透白。</p>
            </div>
        </li>
        <li>
            <img src="/public/images/q_goods/63/img_15.jpg" alt="">
            <div>
                <em>5.美白<span>净白无瑕五谷焕彩面膜</span></em>
                <p>舒缓肌肤，密集美白。每周使用2-3次，有效消除黯哑，强化肌肤耐受性，美白保湿。</p>
                <div>
        </li>
    </ul>
</div>
<div class="detail-box">
    <div class="cj-hd">4个阶段  见证美白效果</div>
    <div class="de-5">
        <img src="/public/images/q_goods/63/img_16.jpg" alt="">
        <ol>
            <li><span>NO.1</span>肤色均匀，不再油腻浑浊</li>
            <li><span>NO.2</span>暗沉消褪，肤色提亮一度</li>
            <li><span>NO.3</span>扫尽肌肤暗黄，肌肤水润光泽</li>
            <li><span>NO.4</span>肌肤剔透幼滑，白嫩无暇</li>
        </ol>
    </div>
</div>
<!-- {include file="library/t_chat04.lbi"} -->
<div class="detail-box">
    <div class="cj-hd">使用瓷肌  她们白了</div>
    <ul class="detail-case">
        <li>
            <img src="/public/images/q_goods/63/img_17.jpg" alt="">
            <div>设计师：安妮   23岁 | <em>干性肤质</em><b>白回来，原来这么简单</b></div>
            <p>毕业工作两年了，每天面对着电脑，而且还经常性加班。皮肤真的经不住折腾，变得又干又暗沉，一下子像老了好几岁。朋友介绍用了瓷肌的产品，坚持用了一套，效果非常明显，我又是青春无敌小美女了！</p>
        </li>
        <li>
            <img src="/public/images/q_goods/63/img_18.jpg" alt="">
            <div>企业职员：小玲   25岁 | <em>混合性肤质</em><b>持久的白，解决天生暗黄</b></div>
            <p>天生肤质不是很好，皮肤暗黄还容易长痘，试过很多产品都没有持久效果，只能靠化妆遮掩，结果皮肤越来越暗黄。之前在一个论坛看到了瓷肌的产品信息，抱着试一试的想法买了抑黑焕白套装，已经用了快两个月了，还是一直在白，皮肤也变得很细腻，现在的我完全不需要化妆了！</p>
        </li>
        <li>
            <img src="/public/images/q_goods/63/img_19.jpg" alt="">
            <div>美容达人：咖咖萌   19岁 | <em>中性肤质</em><b>每一步都有惊喜</b></div>
            <p>买了一套，按照客服的指导，按步骤去用，真的每一步用完都是惊喜，最喜欢瓷肌的角质调整膜了，不刺激皮肤，也能把角质清理很干净，还有那一罐大大的面膜，性价比超值，敷一次白一次。</p>
        </li>
    </ul>
</div>
<div class="detail-box">
    <div class="cj-hd">给您的肌肤一份科学保障</div>
    <div class="certified">
        <strong>最佳医学美白产品</strong>
        <img src="/public/images/q_goods/63/certified.jpg" alt="">
        <p>瓷肌一直秉承质量第一的理念，坚决打造最适合亚洲人肌肤的护肤产品，保证以最好的质量，全面科学地解决亚洲人的肌肤健康问题。</p>
    </div>
</div>