<style scoped>
.w423{width: 88%!important;max-width: 423px;margin:.5em 0;}
.w555{max-width: 555px;margin:.5em auto;}
.pa_t{padding-top: 1em;}
.pa_b{padding-bottom: 1em;}
.focus{padding-bottom: .6em; background: #fff;}
.focus img{width: 100%;}
.cj-hd{display: none;}
.cus_cen{text-align: center;font-size: 1.1em; color:#f30f35; padding: .5em 0;}
.de-1{width: 50%; margin: 2em auto;}
.case_detail{padding: 0.4em 0 0.4em 0.4em; margin-bottom: 0.4em; font-size: 0.85em;color: #A5A5A5;border-bottom: 1px dashed #E8E8E8;}
.case_detail b{font-size: 1.2em;color: #5F5F5F; display: block;}
.case_detail i{display: inline-block;width: 0.4em;height: 0.4em;border-radius: 50%;background:#A5A5A5;margin-right: 0.5em;}
.case{padding: 0 1em 1em;}
.case li{border-bottom: 1px solid #E8E8E8;margin-bottom: 0.5em;}
.case li:last-child{border-bottom: 0;}
.cf{overflow: hidden;padding:0 2em 1em;}
.cf ul{display: table;padding:1em 0;}
.cf ul li {display: table-cell;}
.cf ul li:nth-child(1) {width:55%;vertical-align: middle;padding-right:0.2em;}
.cf ul li:nth-child(2) img{max-width: 213px;width:90%;}
.cf ul li:nth-child(2) {width:45%;vertical-align: middle;text-align: center;}
.cf dl{width:45%;overflow: hidden;text-align: center;float: left;margin-right: 5%;}
.cf dl dd{line-height: 1.5em;}
.cf dl dd p{text-align: left;}
.cf dl dt img{max-width: 210px;width:90%;}
.brown{color:#703104;}
.shares {padding:0.5em;position: relative;}
.qdcy-l{position:absolute;top: 2.5em;left: 6.2em;width: 60%;}
.qdcy-r{position:absolute;top: 2.5em;left: 2.5em;width: 63%;}
.qdcy-content span{display: inline-block;width: 2em;height: 2em;line-height:2em;background: #713006;color:#FFE401;border-radius: 50%;text-align: center;font-size: 1.3em;font-weight: bold;margin-right: 0.3em;}
.qdcy-l p,.qdcy-r p{font-size: 0.85em;}
.qdcy-content .hd{color: #713006;font-weight: bold; margin-bottom: 0.5em;}
</style>

    <div class="focus">
        <img src="/public/images/q_goods/720_a/img_02.jpg" alt="" />
        <img src="/public/images/q_goods/720_a/img_03.jpg" alt="" />
        <img src="/public/images/q_goods/720_a/img_04.jpg" alt="" />       
    </div>   
    <img src="/public/images/q_goods/720_a/img_05.jpg" alt="" />
    <img src="/public/images/q_goods/720_a/img_06.jpg" alt="" />
    <img src="/public/images/q_goods/720_a/img_07.jpg" alt="" />
    <img src="/public/images/q_goods/720_a/img_08.jpg" alt="" />
    <img src="/public/images/q_goods/720_a/img_09.jpg" alt="" />
    <!-- {include file="library/t_chat01.lbi"} -->
    <div class="detail-box">
        <img class="lazy pa_t pa_b" data-src="res/720_a/img_24.jpg" alt="" />
        <img class="lazy pa_b" data-src="res/720_a/img_10.jpg" alt="" />
        <div class="cf">
            <ul>
            	 <li>
            	 	<h3 class="brown">细胞常态</h3>
            	 	<p>细胞水分比随着肌底层深入逐渐增高，良好的保湿力能确保肌肤内部有充足水分，也为其他养分吸收提供载体哦~</p></li>
                <li><img src="/public/images/q_goods/720_a/img_11.jpg" alt=""></li>               
            </ul>
            <dl>
	            <dt><img src="/public/images/q_goods/720_a/img_12.jpg" alt=""></dt>
	            <dd>
	            	<h3 class="brown">水量充足</h3>
	            	<p>氧离子作用下细胞健康呼吸，形态充盈饱满，呈现肌肤光感、水润、年轻状态。</p>
	            </dd>
            </dl>
            <dl>
                <dt><img src="/public/images/q_goods/720_a/img_13.jpg" alt=""></dt>
                <dd>
					<h3 class="brown">缺水窒息</h3>
	            	<p>水分不足细胞无法畅快呼吸，产生自由基、氧化负能量、毛孔细纹，导致肌肤老化。</p>
                </dd>
            </dl>
        </div>      
        <img class="pa_t pa_b" src="/public/images/q_goods/720_a/img_14.jpg" alt="" />
	    <img src="/public/images/q_goods/720_a/img_15.jpg" alt="" />
	    <img src="/public/images/q_goods/720_a/img_16.jpg" alt="" />
	    <img src="/public/images/q_goods/720_a/img_17.jpg" alt="" />
	    <img src="/public/images/q_goods/720_a/img_18.jpg" alt="" />
	    <img src="/public/images/q_goods/720_a/img_19.jpg" alt="" />
	    <img src="/public/images/q_goods/720_a/img_20.jpg" alt="" />
	    <img src="/public/images/q_goods/720_a/img_21.jpg" alt="" />
	    
        <!-- {include file="library/t_chat04.lbi"} -->
        <img class="pa_t pa_b" src="/public/images/q_goods/720_a/img_22.jpg" alt="" />
        <div class="shares">
        	<img class="w555" src="/public/images/q_goods/720_a/img_25.jpg" alt="" />
   			<div class="qdcy-l">
   				<div class="qdcy-content">
   					<p class="hd"><span>清</span>蛇毒焕亮补水卸妆洗颜乳/80g</p>
   					<p class="intro">卸妆洁颜一步到位，平衡油脂还原水嫩细致，健康活力好肤质。</p>
   				</div>
   			</div>
        </div>
         <div class="shares">
        	<img class="w555" src="/public/images/q_goods/720_a/img_26.jpg" alt="" />
   			<div class="qdcy-r">
   				<div class="qdcy-content">
   					<p class="hd"><span>调</span>洋甘菊纯露/80ml</p>
   					<p class="intro">轻拍于全脸，眼角、嘴角等易暗哑处重点护理，舒缓保湿，增强肌肤自愈力。</p>
   				</div>
   			</div>
        </div>
        <div class="shares">
        	<img class="w555" src="/public/images/q_goods/720_a/img_27.jpg" alt="" />
   			<div class="qdcy-l">
   				<div class="qdcy-content">
   					<p class="hd"><span>促</span>蛇毒焕亮补水肌底液/30ml</p>
   					<p class="intro">类蛇毒成分注入肌底，清零杂质持水焕亮，恢复细胞活力，打开肌肤吸收通道。</p>
   				</div>
   			</div>
        </div>
        <div class="shares">
        	<img class="w555" src="/public/images/q_goods/720_a/img_28.jpg" alt="" />
   			<div class="qdcy-r">
   				<div class="qdcy-content">
   					<p class="hd"><span>养</span>蛇毒焕亮补水精华霜/30g</p>
   					<p class="intro">提升和收紧松弛肌肤，可舒缓并收细毛孔，让肌肤长时间维持湿润亮泽状态。</p>
   				</div>
   			</div>
        </div>
        <div class="shares">
        	<img class="w555" src="/public/images/q_goods/720_a/img_29.jpg" alt="" />
   			<div class="qdcy-l">
   				<div class="qdcy-content" style="margin-left:1em;">
   					<p class="hd"><span>护</span>蛇毒焕亮补水面膜/50g</p>
   					<p class="intro">SPA级呵护，从源头净化调理肤质，回复焕亮通透，水润饱满令人羡慕的年轻肌肤。</p>
   				</div>
   			</div>
        </div>
        <img class="pa_t pa_b" src="/public/images/q_goods/720_a/img_23.jpg" alt="" />       
        <div class="w100 case">
		<ul style="padding-top:0.8em;">
			<li>
				<div class="case_detail"><b>水润润~亮闪闪~做个安静的美铝纸</b><i></i>小DODO：23岁   </div>
				<span><img class="w423" src="/public/images/q_goods/720_a/img_30.jpg"></span>
				<div>
					<p style="color:#666;padding: 0.4em 0 1em; font-size:.9em;">
					一开始我只想安静的做个低头族，捧着手机追韩剧。直到被小盆友喊阿姨，才发现原本嫩汪汪的小脸蛋早不见鸟，只剩一脸大妈气！欧巴~哦都ki~伦家才刚满18啊！幸好闺蜜推荐的瓷肌蛇毒焕亮补水5件套，帮伦家拉回颜值！整套都是浓浓的SYN-AKE精华，简直好用到爆！一套下来，大妈气立马骤减，肤质大跃进，水润润~亮闪闪~又可以安静的做个美铝纸了！咩哈哈~
					</p>
				</div>
			</li>			
			<li>
				<div class="case_detail"><b>肌肤自带光，还磨什么皮啊！</b><i></i>Mandy：28岁</div>
				<span><img class="w423" src="/public/images/q_goods/720_a/img_31.jpg"></span>
				<div>					
					<p style="color:#666;padding: 0.4em 0 1em; font-size:.9em;">
					没化妆不粗门，说的就是我！点解咧？素颜曝光臣妾真的做不到哇~>_<# 先不管暗沉神马的，麻痹每次PO照前，光是那一堆堆的大毛坑就够姐一顿好P！so~一度对韩国欧尼的水光肌各种羡慕嫉妒恨！现在有蛇毒5件套，姐算是体验了一把肌肤自带光的优越感，肤色又白又亮，连肤质都更细腻了，晒得素颜自拍更是惹得盆友圈狂赞，肌肤自带光，美颜相机要下岗喽！
					</p>
				</div>
			</li>	
			<li>
				<div class="case_detail"><b>锁住水，锁住美！蛇毒是个好东西！</b><i></i>明美SI： 34岁</div>
				<span><img class="w423" src="/public/images/q_goods/720_a/img_32.jpg"></span>
				<div>					
					<p style="color:#666;padding: 0.4em 0 1em; font-size:.9em;">
					天冷肌肤真的超容易发干，一开始是冲着补水败的这套蛇毒5件套，哪知用下来完全被这个类蛇毒的成分惊艳到！非常的润，补水效果棒不说，半个月不到眼角的干纹都不见了，立马减龄！赶紧去科普了下才知道，一切都归功于这个类蛇毒的高科技成分，蛇毒补水面膜敷完更是水水滑滑，肤感帮到不行！现在不仅脸不干了，整个肌肤都变的光感十足！好东西一定要安利给大家！
					</p>
				</div>
			</li>	
		</ul>
	</div>
</div>
<!-- {include file="library/t_chat05.lbi"} -->