<style scoped>
.main_pro{ position: relative;}
.detail-main{ padding: 0.5em 1em;}
.detail-main01{position: relative;}
.detail-main01 b{ color: #ea2146;}
.detail-main01 span{float: left; width: 1.8em; height: 1.8em; background: #ea2146; color: #fff; border-radius: 2em; text-align: center; line-height: 1.8em; font-size: 1.5em; margin-right: 0.3em;}
.detail-dl{position: absolute;top: 1em;left: 20%;bottom: 3em;width: 50%;}
.detail-dl p b{color: #ea2146;}
.detail-dl ul{margin-bottom: 1em;}
.detail-dl ul li{font-size: 0.75em;}	
.main_pro p.curr{ position: absolute; left: 28%; top: 5%; color: #bb062c; font-size: 1.2em;}
.main_pro span{ font-size: 1.4em;}
.main_pro ul { position: absolute; left: 1%;  bottom: 6%; overflow: hidden; width: 100%;}
.main_pro ul li{ float: left; width: 33.3%; text-align: center; font-size: 0.8em;}
.main_ul img{ width: 30%; margin: 0.5em 0.6em;}
.main_ul div{ display: inline-block; margin: 1em 0 0 0;width: 60%;}
.main_ul p.curr{ position: relative; color: #ea2146;font-size: 1.5em;}
.main_ul01{ overflow: hidden; padding: 0.5em 0  1em;}
.main_ul01 li{ float: left; width: 30%; margin-left: 3%;}
.main_ul01 img{ width: 100%; max-width: 180px;}
.main_ul01 p{ font-size: 0.75em;}
.main_ul01 p span{ color: #ea2146;display:inline-block;text-align: center;width: 1.5em;height: 1.2em;line-height: 1.2em;background: #ea2146;color:#fff;margin-right: 0.2em;}
@media screen and (max-width: 320px){.detail-dl ul{margin-bottom: 0.5em;}.detail-dl{width: 52%;}}
</style>

<div class="main_pro">
	<div class="cj-hd">不求天长地久，只求娃娃肌在手</div>
	<img src="/public/images/q_goods/729/img_02.jpg" alt="">
	<img src="/public/images/q_goods/729/img_03.jpg" alt="">
	<img src="/public/images/q_goods/729/img_04.jpg" alt="">
	<img src="/public/images/q_goods/729/img_05.jpg" alt="">
	<img src="/public/images/q_goods/729/img_06.jpg" alt="">
	<img src="/public/images/q_goods/729/img_07.jpg" alt="">
	<img src="/public/images/q_goods/729/img_08.jpg" alt="">
	<img src="/public/images/q_goods/729/img_09.jpg" alt="">	
</div>
<!-- {include file="library/t_chat01.lbi"} -->
<div class="detail-box">
	<div class="cj-hd">喷一喷，练成瓷娃娃肌</div>
	<img src="/public/images/q_goods/729/img_11.jpg" alt="">
	<img src="/public/images/q_goods/729/img_13.jpg" alt="">
	<img src="/public/images/q_goods/729/img_15.jpg" alt="">
	<img src="/public/images/q_goods/729/img_17.jpg" alt="">	
</div>
<div class="detail-box">
	<div class="cj-hd">3大场合，360°肌肤防护罩</div>
	<div class="detail-main01">
		<div class="detail-dl">
			<p><b>PART.1 外出时刻</b></p>
			<ul>
				<li>· 日晒后，喷一喷舒缓面部灼热</li>
				<li>· 会友人，喷一喷清洁面部油光</li>
				<li>· 出门前，喷一喷减少肌肤损伤</li>
			</ul>
			<p><b>PART.2 工作时刻</b></p>
			<ul>
				<li>· 忙碌中，喷一喷无惧辐射伤肤</li>
				<li>· 午休后，喷一喷快速醒肤提神</li>
				<li>· 空调中，喷一喷缓解面部干燥</li>
			</ul>
			<p><b>PART.3 美肌时刻</b></p>
			<ul>
				<li>· 放松时，喷一喷做个补水护理</li>
				<li>· 护理前，喷一喷彻底清洁肌肤</li>
				<li>· 彩妆后，喷一喷定妆更持久</li>
			</ul>
		</div>		
		<img src="/public/images/q_goods/729/img_18.jpg" alt="">
	</div>
</div>
<div class="detail-box">
	<div class="cj-hd">植物润养娃娃肌，喷的更安心</div>
	<ul class="main_ul">
		<li>
			<img src="/public/images/q_goods/729/img_19.jpg" alt="">
			<div>
				<p class="curr"><b>北美金缕梅提取</b></p>
				<p>收敛抗炎、舒缓红肿、瘙痒及脱皮现象，保湿抗氧化。</p>
			</div>
		</li>
		<li>
			<img src="/public/images/q_goods/729/img_22.jpg" alt="">
			<div>
				<p class="curr"><b>梅花提取</b></p>
				<p>抑制络氨酸酶活性，干扰黑色素形成，减轻肌肤暗沉，改善肤色。</p>
			</div>
		</li>
		<li>
			<img src="/public/images/q_goods/729/img_24.jpg" alt="">
			<div>
				<p class="curr"><b>莲花提取</b></p>
				<p>抵挡电磁波伤害，抗自由基、抗氧化！赋予皮肤弹性，防止色素沉着。</p>
			</div>
		</li>
		<li>
			<img src="/public/images/q_goods/729/img_26.jpg" alt="">
			<div>
				<p class="curr"><b>皱叶木兰提取</b></p>
				<p>锁水保湿，令肌肤水润亮彩。辅助滋养成分深入肌肤，预防干纹细纹。</p>
			</div>
		</li>
		<li>
			<img src="/public/images/q_goods/729/img_28.jpg" alt="">
			<div>
				<p class="curr"><b>翼籽辣木籽提取</b></p>
				<p>极佳保水持水性，快速缓解肌肤干燥不适，润燥解饥渴。</p>
			</div>
		</li>
	</ul>
</div>
<!-- {include file="library/t_chat04.lbi"} -->
<div class="detail-box">
	<div class="cj-hd">镁铝纸附加课：娃娃肌加乘按摩大法</div>
	<div class="detail-main">
		<p>光有臭美的心，木有强大的“心法”怎么够！瓷娃娃肌的加乘按摩大法，就是下面<span style="color: #ea2146;">↓</span>记得喷完后照着按一按喽~拿走不谢！女屌们请随意~</p>
		<ul class="main_ul01">
			<li>
				<img src="/public/images/q_goods/729/img_31.jpg" alt="">			
				<p><span>01</span>由额头开始按摩，从眉头往发髻处以指压法按摩；</p>
			</li>
			<li>
				<img src="/public/images/q_goods/729/img_33.jpg" alt="">
				<p><span>02</span>从嘴角到眼下脸颊处分成三等分以中指和食指的指肚点压按摩；</p>
			</li>
			<li>
				<img src="/public/images/q_goods/729/img_35.jpg" alt="">
				<p><span>03</span>从颈部到下巴，因为面积比较大，可以用整个手掌包裹住脸颊进行按压效果更明显哦。</p>
			</li>
		</ul>
	</div>	
</div>
<div class="detail-box">
    <div class="cj-hd">晒出娃娃肌，萌翻一票人</div>
    <ul class="detail-case">
        <li>
          	<img src="/public/images/q_goods/729/img_41.jpg" alt="">
            <div>大果糖   22岁 | <em>干痒蜕皮</em><b>水润润亮闪闪，感觉自己萌萌哒</b></div>
            <p>这种萌萌哒喷雾真的是第一次见哦，不得不说满足了伦家的少女心~偶吼吼~ 上周跟盆友野游回来皮肤一直有点小敏感，干痒干痒的一挠就蜕皮，收到就马上试了，很赞很水，喷后轻轻脸蛋按摩几下，水水就吸收了，超滋润的！用起来感觉很舒服，喷雾非常细，一点刺激的感觉都没有。感觉像在水疗面膜，柔柔的。最爱是，喷完真的水润润亮闪闪！像瓷娃娃一样，萌萌哒！</p>
        </li>
        <li>
            <img src="/public/images/q_goods/729/img_44.jpg" alt="">
            <div>木下小丛丛   26岁| <em>干燥、肤色暗沉</em><b>不做女旱子，就当瓷娃娃！男票被我萌哭了~</b></div>
            <p>天冷皮肤干的紧绷绷，每次笑都担心脸碎！整个人都灰头土脸。男票看不过去送的我这个瓷娃娃喷雾，据说是看他们公司一萌妹子天天用，皮肤好好，听说还能缓解皮肤敏感、防辐射！轻轻一按，就有大片水萌萌、细细的水雾喷出，落在脸上感觉我饥渴的皮肤在咕咚咕咚的喝水，连接又喷了几下，立马感觉脸不绷着，很清爽！女旱子的大糙脸立马有点瓷娃娃的赶脚了！最关键是用着方便，随时都能喷一喷，期待变瓷娃娃萌哭男票的那天。</p>
        </li>
    </ul>
</div>