<div>
<style scoped>
.cus{ width:93.75%; margin:.5em auto; }
.cus img.lazy{background-size: 1em;}
.cus li{font-size: 1em;display: table; }
.cus li.culi_last{border-bottom: 0;}
.cus li p.fir_p{display: table-cell; width: 43%;text-align: center; font-size: 4em; font-family: "微软雅黑";
color: #5d5d5d; line-height: 1.2em;vertical-align: middle; }
.cus li p.las_p{display: table-cell;padding:0 1em;vertical-align: middle;color:#8e8e8e; }
.cus li p.las_p span{ color:#1859cd; font-weight: bold; font-size: 1.3em;}
.cus li p.las_p b{color:#494949;}
.cus_cen{text-align: center;font-size: 1.1em; color:#f30f35; padding: .5em 0;}
.bor_none{border-bottom: 0;}
.de-6{width: 90%; margin:0 auto; padding-top: .5em;}
.de-6 div{background: #f2f2f2; padding: 1em; text-align: center;}
.de-6 em{font-weight: bold;}
.de-6 b{color: #fe1c42; font-size: 1.3em;}
.de-6 p{padding: .5em 0 .5em .3em;}
.cj-hd{background: #1859cd;}
.plays ul{margin:1em 0;overflow: hidden;display: table;}
.plays ul li{width:33.333%;background: #1859cd;padding-bottom:1em;}
.plays ul li.fir{display: table-cell;}
.plays ul li.sec{display: table-cell;background: #2e77f7;}
.plays ul li.thre{display: table-cell;background: #336dd4;}
.plays ul li h3{color: #fff600;text-align: center;}
.plays ul li p{color: #fff;padding:0 1em;}
</style>
    <div class="detail-box">
        <div class="cj-hd">李先生~韩国瓷肌喊你来护肤！</div>
        <img src="/public/images/q_goods/753/img_01.jpg" alt="">
        <img src="/public/images/q_goods/753/img_02.jpg" alt="">
        <img src="/public/images/q_goods/753/img_03.jpg" alt="">
        <img src="/public/images/q_goods/753/img_04.jpg" alt="">
        <img src="/public/images/q_goods/753/img_05.jpg" alt="">
        <img src="/public/images/q_goods/753/img_06.jpg" alt="">
    </div>   
    <!-- {include file="library/t_chat01.lbi"} -->
    <div class="detail-box">
        <div class="cj-hd">涨姿势！小鲜肉秒变糙汉子！</div>
        <img src="/public/images/q_goods/753/img_07.jpg" alt="">
        <img src="/public/images/q_goods/753/img_08.jpg" alt="">
        <img src="/public/images/q_goods/753/img_09.jpg" alt="">
    </div> 
    <div class="detail-box">
        <div class="cj-hd">不止深清洁  Mr.right就是这么拽！</div>
        <img src="/public/images/q_goods/753/img_10.jpg" alt="">
        <img src="/public/images/q_goods/753/img_11.jpg" alt="">
        <img src="/public/images/q_goods/753/img_12.jpg" alt="">
        <img src="/public/images/q_goods/753/img_13.jpg" alt="">
        <img src="/public/images/q_goods/753/img_14.jpg" alt="">
    </div> 
    <div class="detail-box">
        <div class="cj-hd">城会玩，百草菁萃神助攻</div>
        <div class="plays">
            <ul>
                <li class="fir">
                    <img src="/public/images/q_goods/753/pl_01.jpg" alt="">
                    <h3>尿囊素</h3>
                    <p>抚慰镇静、抗炎舒 缓，缓解刺激，调 理润养帮助破损组 织再生。</p>
                </li>
                <li class="sec">
                    <img src="/public/images/q_goods/753/pl_02.jpg" alt="">
                    <h3>透明质酸钠</h3>
                    <p>肌肤天然强效保湿剂，辅助肌底细胞加倍吸收水分，锁水保湿。</p>
                </li>
                <li class="thre">
                    <img src="/public/images/q_goods/753/pl_03.jpg" alt="">
                    <h3>药鼠尾草提取</h3>
                    <p>天然抗氧化剂，提取的植物性维C可促进胶原合成，强化肌肤弹性。</p>
                </li>
            </ul>
            <ul>
                <li class="fir">
                    <img src="/public/images/q_goods/753/pl_04.jpg" alt="">
                    <h3>银杏叶提取</h3>
                    <p>镇静消炎、舒缓敏感，除此之外，还有强大的抗氧化与清除自由基能力。</p>
                </li>
                <li class="sec">
                    <img src="/public/images/q_goods/753/pl_05.jpg" alt="">
                    <h3>金黄洋甘菊提取</h3>
                    <p>舒缓炎症引起的瘙痒，修护敏感，温和补水，快速抚慰发红起皮肌肤。</p>
                </li>
                <li  class="thre" style="background: #1859cd;">
                    <img src="/public/images/q_goods/753/pl_06.jpg" alt="">
                    <h3>印度楝叶提取</h3>
                    <p>疏通堵塞皮脂腺管， 将诱发面疱的脂溢 降解成微粒排出体 外，预防面疱。</p>
                </li>
            </ul>
        </div>
    </div> 
    <!-- {include file="library/t_chat04.lbi"} -->
    <div class="detail-box">
        <div class="cj-hd">Mr.right变身技能正确解锁方式</div>
        <ul class="cus">
            <li class="clf">
                <p class="fir_p"><img src="/public/images/q_goods/753/step_01.jpg" alt=""></p>
                <p class="las_p">
                    <span>清洁要高调</span><br /><b>毛孔净透洁颜冰晶</b><br />温度升高一度肌肤会增加10%出 油量，毛孔净透洁颜冰晶，净爽 去油腻，让毛孔痛快喘口气。
                </p>
            </li>
            <li class="clf">
                <p class="fir_p"><img src="/public/images/q_goods/753/step_02.jpg" alt=""></p>
                <p class="las_p">
                    <span>给水要到位</span><br /><b>清肌净颜毛孔收敛水</b><br />缺水才会不断出油！清肌净颜毛 孔收敛水，肌肤嘭嘭喝饱水，抑 油收敛，回复细致清爽。
                </p>
            </li>
            <li class="clf">
                <p class="fir_p"><img src="/public/images/q_goods/753/step_03.jpg" alt=""></p>
                <p class="las_p">
                    <span>细致保养势头要猛</span><br /><b>清肌净颜毛孔收细精华液</b><br />清爽后肌肤代谢活力十足，最适宜吸收新鲜养分，趁此机会抹上毛孔细致精华，收细毛孔同时调理油脂，舒敏滋润、持久防护，重现水嫩细滑。
                </p>
            </li>
        </ul>
        <div class="cj-hd">喜大普奔！GG有它，安心玩LOL！</div>
        <ul class="de-6">
            <li class="clf">
                <img src="/public/images/q_goods/753/img_15.jpg" alt="">
                <div>KING：20岁 | <em>肌情：油光、长痘</em><br /><b>搞肌有三宝 ,油少！颜好！不烦恼！</b></div>
                <p>在学校太安逸 ,白天追剧《琅琊榜》,夜里通宵玩儿LOL！顶着满额头“红包”,G的内心是崩溃的！室友天天跟我通宵开P,白天依然小鲜肉！原来是用了Mr.right控油净爽套装，哥也跟风买1套，简直屌炸天！洗洗涂涂抹抹，不到一月额头痘全熄火，油光都不见了！只要2百鸡纹软妹币KO问题肌。有这三宝，油少！颜好！不烦恼~ 通宵达旦玩LOL皮肤也是爽爽哒！</p>
            </li>
            <li class="clf">
                <img src="/public/images/q_goods/753/img_16.jpg" alt="">
                <div>霖陈：23岁 | <em>肌情：毛孔粗、油光、爆痘</em><br /><b>好“基”友！无油无痘无孔慌！</b></div>
                <p>熬夜玩儿英雄联盟，哥的脸炸了！满面油光、爆痘粗毛孔!多亏女友送我的Mr.right套装，甩油心切收到当天就使用了，简直爽的不要不要的，洁颜冰晶洗过后很清爽，精华液也挺滋润，收敛水更是伴着我每个通宵，差不多2个星期吧，之前油腻腻的状况真的好多了，脸颊两边的粗毛孔也细致很多，之前最爱爆痘的下巴额头也很少有痘痘再光顾了，Mr.right好屌！不愧是好基友！</p>
            </li>
            <li class="clf">
                <img src="/public/images/q_goods/753/img_17.jpg" alt="">
                <div>kin仃：25岁 | <em>肌情：外油内干</em><br /><b>1洗1拍1抹，挽救面子问题！</b></div>
                <p>尼玛！天天油光满面都没信心去勾搭软妹了！偏方、护肤品、中草药不记得用过多少，然并卵！好在哥们推荐个护肤新技能——Mr.right给我，搞肌有它，油少！颜好！不烦恼~ 专门针对糙汉子的外油内干皮，一洗一拍一抹很好上手！每天洁面2次，感觉皮肤干了随时拍拍收敛水，精华液都是睡前抹抹，一段时间坚持下来，一起玩LOL的好基友们都被我惊呆了！</p>
            </li>
        </ul>
    </div>
</div>