<style scoped>
.w100{background: #fff;}
.w100 img{width:100%;}
.w85 img{width:85%;max-width: 490px;}
.w603{padding-bottom:1em;}
.w603 img{width:95%;max-width: 603px;}
.w85 span{text-align: center;display: block;}
.w85 h2{font-size: 1.0em;color:#000;}
.w85 p.deta{color:#000; font-size:.9em; display: inline-block;width:80%;background: #f5f5f5; font-weight:normal;}
.o_order{position: absolute;top: 14%;left: 4%;width: 43%;height: 45%;}
.on_chat{position: absolute;top:14%;right:4%;width:43%;height:45%;}
.cj-hd{background:#FF7F80 ;}
.case_detail{padding: 0.4em 0; margin-bottom: 0.4em;background: #f2f2f2;text-align: center; font-size: 1.2em;}
.case_detail b{font-size: 1.2rem;color: #FF7F80; display: block;}
.flr{overflow: hidden;}
.flr>div{float: left;}
.part1 p,.part2 p, .part3 p, .part4 p{color:#6B6340;}
.part1{padding: 1em 0.5em;overflow: hidden;}
.part1 ul li{width: 48%;float: left;}
.part1 ul li:first-child{margin-right: 4%;}
.part1 ul li img{max-width: 278px;width: 100%;}
.part2{padding: 0.6em 0.5em;}
.part2 .img_wrap{width: 45%;max-width: 330px;}
.part2 .content_wrap{width:50%;margin-left: 5%;}
.part2 .content_wrap p:first-child{margin-bottom: 0.3em;}
.part2 .content_wrap p span{background: #FF7F80;font-size: 1.2em;color: #fff;padding: 0 0.5em;}
.part3 ul{padding: 1em 0.5em;overflow: hidden;}
.part3 ul li{float: left;width: 48%;}
.part3 ul li:nth-child(odd){margin-right: 4%;}
.part3 .content_wrap h3{background:#FF7F80;width: 85%;margin: .2em auto;text-align: center;color: #fff;font-weight: normal;}
.part4 {padding-bottom: 0.5em;}
.part4 .img_wrap{width: 48%;max-width: 315px;}
.part4 .content_wrap{width: 50%;margin-left: 2%;}
.part4 .content_wrap p.mm span{font-size: 1.2em;background:#FF7F80;padding: 0 0.5em;color: #fff;}
.part4 .content_wrap p.sub_m{color: #4D3F01;font-size: 1.1em;font-weight: bold;margin: 0.2em 0;}
</style>

	<div class="detail-box"><div class="cj-hd">地球太危险！无奈变成油妹子！</div></div>
	<div class="w100" style="padding-top: 1em;">
		<img  src="/public/images/q_goods/783/img_02.jpg" alt="" />
		<img src="/public/images/q_goods/783/img_03.jpg" alt="" />
	</div>	
	<div class="detail-box"><div class="cj-hd">油脂君到处肆虐！小女纸难以招架！</div></div>
	<div class="w100">
		<img src="/public/images/q_goods/783/img_05.jpg" alt="" />
		<img src="/public/images/q_goods/783/img_06.jpg" alt="" />
		<img src="/public/images/q_goods/783/img_07.jpg" alt="" />
		<img src="/public/images/q_goods/783/img_08.jpg" alt="" />
	</div>	
	<div class="detail-box"><div class="cj-hd">质量过不过，只听国家质监局的</div></div>
	<div class="w100">
		<div class="part1">
			<ul>
				<li>
					<img src="/public/images/q_goods/783/img_11.jpg" alt="" />
					<p>韩国瓷肌荣膺“全国优秀企业”，产品质量获国家3.15质检总局认可。</p>
				</li>
				<li>
					<img src="/public/images/q_goods/783/img_13.jpg" alt="" />
					<p>韩国瓷肌荣膺中国质量检验协会团体会员。</p>
				</li>
			</ul>
		</div>			
	</div>
	<div class="detail-box"><div class="cj-hd">不止控油，给你各种满足</div></div>
	<div class="w100">
		<div class="flr part2">
			<div class="img_wrap">
	    		<img src="/public/images/q_goods/783/img_17.jpg" alt="" />
	    	</div>    	
	    	<div class="content_wrap">
	    		<p><span>1.满脸油光  • 控</span></p>
	    		<p>深层清洁毛孔沉积油脂污物，调理毛孔水油平衡，清爽水嫩，自信迷人。</p>
	    	</div>		
		</div>
		<div class="flr part2">
			<div class="img_wrap">
	    		<img src="/public/images/q_goods/783/img_21.jpg" alt="" />
	    	</div>    	
	    	<div class="content_wrap">
	    		<p><span>2.毛孔粗大  • 收</span></p>
	    		<p>高效渗透肌肤底部，从毛囊内部紧致和收缩，修复毛孔细胞弹性，肌肤细嫩平滑。</p>
	    	</div>		
		</div>
		<div class="flr part2">
			<div class="img_wrap">
	    		<img src="/public/images/q_goods/783/img_23.jpg" alt="" />
	    	</div>    	
	    	<div class="content_wrap">
	    		<p><span>3.肤色暗沉  • 亮</span></p>
	    		<p>温和去除因油脂硬化而形成的粗厚角质，并及时补充多种营养元素，提亮肤色，告别暗沉。</p>
	    	</div>		
		</div>
		<div class="flr part2">
			<div class="img_wrap">
	    		<img src="/public/images/q_goods/783/img_25.jpg" alt="" />
	    	</div>    	
	    	<div class="content_wrap">
				<p><span>4.肌肤粗糙   • 修</span></p>
	    		<p>天然成分有效修补肌肤细胞膜结构，重塑肌肤弹性，淡化痘印，展现无暇美肌。</p>
	    	</div>		
		</div>
	</div>
	
	<!-- 电话样式 -->
	<!-- {include file="library/t_chat04.lbi"} -->
	<!-- 电话样式 -->
    <div class="detail-box"><div class="cj-hd">成分控来围观！甩偏方十条街！</div></div>
	<div class="w100 part3">
		<ul>
			<li>
				<div class="img_wrap"><img src="/public/images/q_goods/783/img_28.jpg" alt="" /></div>
				<div class="content_wrap">
					<h3>绿茶</h3>
					<p>杀菌消炎，控油收敛，增高皮脂膜强度，提高抗氧化能力。</p>
				</div>
			</li>
			<li>
				<div><img src="/public/images/q_goods/783/img_30.jpg" alt="" /></div>
				<div class="content_wrap">
					<h3>印度楝叶</h3>
					<p>镇静滋养，抑制前列腺素及组织胺的释放，提高肤色亮度。</p>
				</div>
			</li>
			<li>
				<div><img src="/public/images/q_goods/783/img_34.jpg" alt="" /></div>
				<div class="content_wrap">
					<h3>高山火绒草花</h3>
					<p>镇静肌肤，排出皮肤内有害物质，美白润肤，修复受损细胞。</p>
				</div>
			</li>
			<li>
				<div><img src="/public/images/q_goods/783/img_35.jpg" alt="" /></div>
				<div class="content_wrap">
					<h3>西非栅藻</h3>
					<p>含有高效保湿锁水成分，深入肌底补水，补出黄金含水比例。</p>
				</div>
			</li>
		</ul>
	</div>
    
    <div class="detail-box"><div class="cj-hd">来，老师手把手教你护肤</div></div>
    <div class="w100 flr part4" style="padding-top: 1em;">
		<div class="img_wrap">
    		<img src="/public/images/q_goods/783/img_38.jpg" alt="" />
    	</div>    	
    	<div class="content_wrap">
    		<p class="mm"><span>干净清爽不油腻</span></p>
    		<p class="sub_m">毛孔净化洁颜冰晶</p>
    		<p>温和去除因油脂硬化而形成的粗厚角质，并及时补充多种营养元素，提亮肤色，告别暗沉。</p>
    	</div>		
	</div>
	<div class="w100 flr part4">
		<div class="img_wrap">
    		<img src="/public/images/q_goods/783/img_39.jpg" alt="" />
    	</div>    	
    	<div class="content_wrap">
    		<p class="mm"><span>收敛毛孔又润肤</span></p>
    		<p class="sub_m">清肌净颜毛孔收敛水</p>
			<p>长年被油脂撑大的毛孔，必须收缩！抑油收敛，靠近男神，毛孔不能有！	</p>
    	</div>		
	</div>
	<div class="w100 flr part4">
		<div class="img_wrap">
    		<img src="/public/images/q_goods/783/img_48.jpg" alt="" />
    	</div>    	
    	<div class="content_wrap">
    		<p class="mm"><span>去除角质又亮颜 </span></p>
    		<p class="sub_m">亮颜去角质泥面膜</p>
    		<p>出油过多，角质会变得又厚又硬，亮颜去角质泥面膜，温和去角质，肌肤新生全脸提亮。</p>
    	</div>		
	</div>
	<div class="w100 flr part4">
		<div class="img_wrap">
    		<img src="/public/images/q_goods/783/img_41.jpg" alt="" />
    	</div>    	
    	<div class="content_wrap">
    		<p class="mm"><span>深入痘根除痘毒</span></p>
    		<p class="sub_m">清颜祛痘精华液轻中度(女士)</p>
    		<p>约会前必用！降温除菌，拔除痘根清除痘毒，一觉醒来，轻松约会无压力！</p>
    	</div>		
	</div>
	<div class="w100 flr part4">
		<div class="img_wrap">
    		<img src="/public/images/q_goods/783/img_42.jpg" alt="" />
    	</div>    	
    	<div class="content_wrap">
    		<p class="mm"><span>润肤祛印强修复</span></p>
    		<p class="sub_m">平肤祛印修护霜</p>
    		<p>要美就要来个彻底的！平肤祛印修护霜，修复受损细胞，补充营养，让肌肤嫩滑如丝。</p>
    	</div>		
	</div>      
   
	<!--案例-->
	<div class="detail-box"><div class="cj-hd">欧巴，这样的我，你稀饭吗？</div></div>
	<div class="w100 w85 w603">
		<ul style="padding-top:0.8em;">
			<li>
				<span><img src="/public/images/q_goods/783/img_45.jpg"></span>
				<div style="padding:0 0.8em 0.5em;">
					<div class="case_detail"><b>控油又亮颜，姐终于不用再忧心这油腻肌了</b>L小姐         23岁   <em>出油多，长痘，肤色暗黄</em></div>
					<p style="color:#666;padding-top:0.4em; font-size:.9em;">
					油性肌肤真的很难伺候，一天下来，脸总是油油的，沾满了灰尘，不是爆痘，就是长黑头。可恨的是长痘后还会有！痘！印！。搞得皮肤看起来很暗沉粗糙。看了那么多天韩国瓷肌的广告最终还是下手了，果然没有让姐失望。控油效果很好，而且还有滋润效果。也许是里面的收敛水发挥的作用，脸上毛孔真的小了，所以皮肤看来细致了很多。之前多年留下的痘印，也用那个修复霜去掉了。内牛满面啊。300多，5件都是好东东。值耶~
					</p>
				</div>
			</li>
			<li>
				<span><img src="/public/images/q_goods/783/img_47.jpg"></span>
				<div style="padding:0 0.8em 0.5em;">
					<div class="case_detail"><b>皮肤终于变好了，乐死宝宝了</b>海莹      21岁 <em> 肤色暗沉，出油过多，有痘印</em></div>
					<p style="color:#666;padding-top:0.4em; font-size:.9em;">
					经常熬夜看《琅琊榜》《北上广不相信眼泪》，姐也算是个骨灰级的追剧迷的了。但偏偏我又是个天生的油妹纸，所以熬夜看剧经常让我长痘，而且肤色很暗黄。突然感觉要有点危机意识了！于是扯着男盆友给我买了一套韩国瓷肌的套装来治治。里面包装挺高大上的啊，而且效果炒鸡棒，那个精华液用在脸上凉凉的，而且隔天豆豆基本就消了。祛印霜也很容易推开，用了之后之前的印是变浅了一点。
					</p>
				</div>
			</li>			
		</ul>
	</div>
	<!--案例-->
	 <!-- 电话样式 -->
	<!-- {include file="library/t_chat01.lbi"} -->
	<!-- 电话样式 -->