<div>
 <style scoped>
        .focus{padding-bottom: .6em; background: #fff;}
        .focus img{width: 100%;}
        .cj-hd{background: #043fc1;}
        i{font-style: normal;}
        .cus_cen{text-align: center;font-size: 1.1em; color:#f30f35; padding: .5em 0;}
        .de-1{width: 50%; margin: 2em auto;}
        .de-4{padding-bottom: 1em;}
        .de-4 li{width: 100%; padding: 0.8em 0.8em 0; display: table;}
        .de-4 li .l_img{display: table-cell; text-align: center;}
        .de-4 li .l_img img{ max-width: 175px;}
        .de-4 li .s_steps{width: 70%; padding-left: 1em;padding-right:2em; display: table-cell; vertical-align: middle;}
        .de-4 .c_step em{font-size: 1.2em;font-weight: bold;color:#000;}
        .de-4 .c_step i.dots{font-style: normal;color:#ea2143;}
        .de-4 .s_steps p{color:#8d8d8d;}
        .de-5{padding-bottom: 1em;}
        .de-5 li{width: 100%; padding: 0.8em 0.8em 0; display: table;}
        .de-5 li .l_img{display: table-cell; text-align: center;}
        .de-5 li .l_img img{width:95%; max-width: 300px;}
        .de-5 li .s_steps{width: 50%; padding-left: 0.5em;display: table-cell; vertical-align: middle;}
        .de-5 li .s_steps p{text-align: justify;}
        .de-5 .c_step em{font-size: 1.2em;font-weight: bold;}
        .de-5 i.dots{font-style: normal;color:#ea2143;}
        .de-5 .c_step b{display: inline-block;background: #043fc1;color:#fff;padding:0 0.2em;}
        .de-5 i b{font-size: 1em;color:#444;}
        .de-6{width: 90%; margin:0 auto; padding-top: .5em;}
        .de-6 div{background: #f2f2f2; padding: 1em; text-align: center;}
        .de-6 em{font-weight: bold;}
        .de-6 b{color: #043fc1; font-size: 1.3em;}
        .de-6 p{padding: .5em 0 .5em .3em;text-align: justify;}   
        .sa_tit{padding:0.8em;padding-bottom:0;color:#000;}
        .tu p{text-align: center;font-size:1.2em;font-weight: bold;color:#000;}
        .tu p i{color:#ea2143;}
        .st_si{width:100%;overflow: hidden;padding:1em 0.8em;}
        .st_si.no_p{padding-top:0;}
        .st_si li{float: left;width:50%;text-align: center;}
        .st_si li h3{padding:0 1em;margin-top:0.5em;}
        .st_si li h3 i{background: #043fc1;color:#fff;display: block;}
        .st_si li p{text-align: left;padding:0.5em;}
        .st_si li img{width:270px;width:84%;}
    </style>

    <div class="detail-box">
        <div class="cj-hd">你造吗？妹纸心中都有一股小冲动！</div>
    </div>
    <div class="focus">
        <img src="/public/images/q_goods/786/img_01.jpg" alt="" />
        <img src="/public/images/q_goods/786/img_02.jpg" alt="" />
    </div>
    <div class="detail-box">
        <div class="cj-hd">机会来了！但你却是油痘脸！</div>
    </div>
    <div class="focus">
        <img src="/public/images/q_goods/786/img_03.jpg" alt="" />
        <img src="/public/images/q_goods/786/img_04.jpg" alt="" />
        <img src="/public/images/q_goods/786/img_05.jpg" alt="" />
    </div>
     <div class="detail-box">
        <div class="cj-hd">打场LOL压压惊，油光是把杀猪刀</div>
    </div>
    <div class="focus">
        <img src="/public/images/q_goods/786/img_06.jpg" alt="" />
        <img src="/public/images/q_goods/786/img_07.jpg" alt="" />
        <img src="/public/images/q_goods/786/img_08.jpg" alt="" />
    </div>
    <!-- {include file="library/t_chat01.lbi"} -->
    <div class="detail-box">
        <div class="cj-hd">4重大招，秒掉你的大油田</div>
    </div>
    <div class="focus">
        <img src="/public/images/q_goods/786/img_09.jpg" alt="" />
        <img src="/public/images/q_goods/786/img_10.jpg" alt="" />
        <img src="/public/images/q_goods/786/img_11.jpg" alt="" />
    </div>
    <div class="detail-box">
        <div class="cj-hd">不坑队友！天然成分够安全！</div>
        <ul class="st_si">
            <li>
                <img src="/public/images/q_goods/786/st_01.jpg" alt="" />
                <h3><i>绿茶</i></h3>
                <p>杀菌消炎，控油收敛，增高皮脂膜强度，提高抗氧化能力。</p>
            </li>
            <li>
                <img src="/public/images/q_goods/786/st_02.jpg" alt="" />
                <h3><i>透明质酸钠</i></h3>
                <p>肌肤天然强效保湿剂，辅 助肌底细胞加倍吸收水分， 锁水保湿。</p>
            </li>
        </ul>
         <ul class="st_si no_p">
            <li>
                <img src="/public/images/q_goods/786/st_03.jpg" alt="" />
                <h3><i>印度楝叶提取</i></h3>
                <p>疏通堵塞皮脂腺管，将诱发面疱的脂溢降解成微粒排出体外，预防面疱。</p>
            </li>
            <li>
                <img src="/public/images/q_goods/786/st_04.jpg" alt="" />
                <h3><i>金黄洋甘菊提取</i></h3>
                <p>舒缓炎症引起的瘙痒，修护敏感，温和补水，快速抚慰发红起皮肌肤。</p>
            </li>
        </ul>
    </div>
    <!-- {include file="library/t_chat04.lbi"} -->
     <div class="detail-box">
        <div class="cj-hd">4步，引爆你的帅气</div>
         <ul class="de-5">
            <li>
                <div class="l_img">
                    <img src="/public/images/q_goods/786/step_01.jpg" alt="">
                </div>
                <div class="s_steps" >
                    <div class="c_step"><em><i class="dots"><b>清爽才够MAN</b></i></em></div>
                    <p><i class="dots"><b>毛孔净化洁颜冰晶</b></i><br/>温度升高一度肌肤会增加10%出油量，毛孔净透洁颜冰晶，净爽去油腻，让毛孔痛快喘口气。</p>
                </div>
            </li>
        </ul>
         <ul class="de-5">
            <li>
                <div class="l_img">
                    <img src="/public/images/q_goods/786/step_02.jpg" alt="">
                </div>
                <div class="s_steps" >
                    <div class="c_step"><em><i class="dots"><b>绝不能“孔慌”</b></i></em></div>
                    <p><i class="dots"><b>清肌净颜毛孔收敛水</b></i><br/>长年被油脂撑大的毛孔，必须收缩！抑油收敛，亲近妹子无压力。</p>
                </div>
            </li>
        </ul>
         <ul class="de-5">
            <li>
                <div class="l_img">
                    <img src="/public/images/q_goods/786/step_03.jpg" alt="">
                </div>
                <div class="s_steps" >
                    <div class="c_step"><em><i class="dots"><b>补水滋润要够猛</b></i></em></div>
                    <p><i class="dots"><b>清肌净颜毛孔收细精华液</b></i><br/>平滑细腻肌肤，保持水油平衡，预防黑头再生，百草精华补充所需能量，让肌肤自由呼吸</p>
                </div>
            </li>
        </ul>
         <ul class="de-5">
            <li>
                <div class="l_img">
                    <img src="/public/images/q_goods/786/step_04.jpg" alt="">
                </div>
                <div class="s_steps" >
                    <div class="c_step"><em><i class="dots"><b>灭痘要霸气</b></i></em></div>
                    <p><i class="dots"><b>深层净化面膜</b></i><br/>密集修护痘痘肌，抑制油脂分泌，没了痘，帅气测漏！</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="detail-box">
        <div class="cj-hd">尖叫吧！妹纸！</div>
        <ul class="de-6">
            <li class="clf">
                <img src="/public/images/q_goods/786/img_12.jpg" alt="">
                <div><b>少油，清爽，痛快！</b><br />明志 20岁 | <em>肌情：油光、长痘</em></div>
                <p>本屌生活比较随意，熬夜开黑LOL，狂刷麻辣火锅什么的，家常便饭。因此脸上也经常油光泛滥，恶痘也长了不少。直到最近在社团认识了个师妹，心里感觉来劲了，于是决定要收拾收拾我这大油田。室友推荐了韩国瓷肌的套装，那就买一套呗。我X，还不错哦！那晚熬夜开黑到2点，鼻子两侧也没什么油，牛掰。精华液睡前用一下，第二天基本消肿了，再过一天就基本没了。室友这回总算没坑队友！</p>
            </li>
            <li class="clf">
                <img src="/public/images/q_goods/786/img_13.jpg" alt="">
                <div><b>少油没痘，颜值开挂飙升！</b><br />小K 23岁 | <em>肌情：爆痘、泛油印</em></div>
                <p>一直幻想如果脸上清爽没痘，自己一定会帅很多。韩国瓷肌广告看很多了，身边朋友也说不错，于是斩获了一套。睡前和起床后各洗一次脸，洗完很清爽，但还是会感觉少点东西。洗完之后马上擦收敛水和精华液，感觉是最舒服的，脸上会觉得很水润而不是那种油腻的感觉，而且没什么味道。精华液基本早上出门前和睡觉前都用一次。一段时间后，脸上的火山都消了，而且没怎么复发，这东西可以！</p>
            </li>
        </ul>
         <!-- {include file="library/t_chat05.lbi"} -->
    </div>
</div>