<style scoped>
.w100{background: #fff;}
.w425{width: 88%!important;max-width: 456px;margin:.5em auto;display: block;}
.w135{width: 25%!important;max-width: 135px;margin:.2em 0;}
.case_detail{padding: 0.4em 0 0.4em 0.4em; margin-bottom: 0.4em; font-size: 0.85em;color: #A5A5A5;border-bottom: 1px dashed #E8E8E8;}
.case_detail b{font-size: 1.2em;color: #5F5F5F; display: block;}
.case_detail i{display: inline-block;width: 0.4em;height: 0.4em;border-radius: 50%;background:#A5A5A5;margin-right: 0.5em;}
.cjjd_sev{padding: 0 1em 1em;}
.cjjd_sev li:first-child{margin-bottom: 0.5em;}
</style>

	<div class="w100" >
		<img src="/public/images/q_goods/837/img_02.jpg" alt="" />
		<img src="/public/images/q_goods/837/img_03.jpg" alt="" />
		<img src="/public/images/q_goods/837/img_04.jpg" alt="" />		
		<img src="/public/images/q_goods/837/img_05.jpg" alt="" />
		<img src="/public/images/q_goods/837/img_06.jpg" alt="" />
		<img src="/public/images/q_goods/837/img_07.jpg" alt="" />		
		<img src="/public/images/q_goods/837/img_08.jpg" alt="" />
	</div>
	<!--产品档案-->
	<div class="w100">
		<img src="/public/images/q_goods/837/img_09.jpg" alt="" />
		<img src="/public/images/q_goods/837/img_10.jpg" alt="" />
		<img src="/public/images/q_goods/837/img_11.jpg" alt="" />
		<img src="/public/images/q_goods/837/img_12.jpg" alt="" />
		<img src="/public/images/q_goods/837/img_12_1.jpg" alt="" />

		<img src="/public/images/q_goods/837/img_13.jpg" alt="" />
		<img src="/public/images/q_goods/837/img_14.jpg" alt="" />
		<img src="/public/images/q_goods/837/img_15.jpg" alt="" />
		<img src="/public/images/q_goods/837/img_16.jpg" alt="" />
		<img style="margin-bottom: 1em;" src="/public/images/q_goods/837/img_16_1.jpg" alt="" />
		<img src="/public/images/q_goods/837/img_17.jpg" alt="" />
	</div>			
	<!--案例-->
	<div class="w100 cjjd_sev">
		<ul style="padding-top:0.8em;">
			<li>
				<span><img class="w135" src="/public/images/q_goods/837/img_19.jpg"></span>				
				<div>
					<p style="color:#666;padding: 0.4em 0 1em; font-size:.9em;">
					本人宅男一枚，LOL认识了几个主播，加过微信都默默被拉黑，就知道问题出在我这张脸：糙脸，油田，痘痘。。。一起开黑的队友介绍我用瓷肌零毛孔美男套，皮肤会变好的。从下单到到货只用2天，当晚就用了。队友果然没有坑我！洁颜冰晶有薄荷冰爽的感觉，细腻的泡沫把毛孔里的赃物全都带走。抹上收敛水，之前皮肤红肿的地方舒缓了很多，毛孔缩小了，皮肤像读书时那么嫩。现在加妹子都有信心了，哈！目测3个月就解决单身问题。
					</p>
				</div>
				<span><img class="w425" src="/public/images/q_goods/837/img_23.jpg"></span>
			</li>
			
			<li>
				<span><img class="w135" src="/public/images/q_goods/837/img_26.jpg"></span>
				<div>					
					<p style="color:#666;padding-top:0.4em; font-size:.9em;">
					最近在网上找了个妹子陪玩LOL，妹子人美声甜技术好，对我也特别热情，单身20几年还是第一次有女生对我这么好，我就担心我这张大油田、一脸的疙瘩黑头吓shi她，网上推荐的一款零毛孔美男套口碑不错，试试再说。用过一次，真牛掰啊！脸洗得真干净，挺香挺好闻的。祛痘精华液早上用一下，晚上基本没再红肿，第二天就好得差不多。才用几周，毛孔就小得几乎看不见了，还有一些坑坑洼洼的地方也平复好多。准备跟女神告白，求祝福！
					</p>
				</div>
				<span><img class="w425" src="/public/images/q_goods/837/img_30.jpg"></span>
			</li>			
		</ul>
	</div>
	<!--案例-->
	 <!-- 电话样式 -->
	<!-- {include file="library/t_chat01.lbi"} -->
	<!-- 电话样式 -->