<style scoped>
    /*.why_h{padding: 0.5em 0 0.5em 2em;}
    .why_h li{ margin-bottom: 0.4em;}
    .why_h span{ display: inline-block; margin: 1em 0 0 0.5em; padding: 0.2em 0.8em; color: #fff; background: #4d4d4d; border-radius: 30em;}
    .why_h img{width: 15%; max-width: 88px;}*/
    .over_main{ overflow: hidden;padding: 0.5em 0 0.3em 2em;}
    .lefe_img{ float: left; width: 35%;}
    .lefe_img img{max-width: 199px; width: 100%;}
    .lefe_text{ float: left; width: 54%; padding-top: 0.2em; padding-left: 0.5em;}
    .lefe_text p.col{ color: #dc0e4a;}
    .lefe_text span{ display: inline-block; color: #fff; background: #000; width: 1.4em; height: 1.4em; line-height: 1.4em; text-align: center; margin-right: 0.5em;}
    .main_wh{ width: 62%; font-size: 0.8em;}
    .main_wh span{ font-size: 1em;}
    .si_text{ font-size: 0.8em;}
    .de-3 {padding: 1em 0;}
    .de-3 li{padding: 0 1em; font-size: 1.2em; margin-bottom: 0.8em;}
    .de-3 li img{width: 30%; margin-right: 0.8em;}
    .de-3 li p{display: inline-block;}
    .de-3 li span{color: #d51838;}
    .de-4{padding-bottom: 1em;}
    .de-4 li{width: 100%; padding: 0.8em 0.8em 0; display: table;}
    .de-4 li img{display: table-cell; max-width: 170px;}
    .de-4 li div{width: 70%; padding-left: 0.8em; display: table-cell; vertical-align: middle;}
    .de-4 li em{padding-bottom: 0.4em; font-size: 1.2em; color: #000; display: block;}
    .de-4 li span{padding: 0 0.4em; margin-left: 0.4em; background: #f2f2f2; color: #fe1c42;}
    .de-5{padding: 0.8em;}
    .de-5 li{padding: 0.6em 0.8em 0; font-size: 1.2em;}
    .de-5 li span{padding: 0 0.4em; margin-right: 0.4em; background: #fe1c42; color: #fff;}
    .pad_u{ padding: 0.5em 1.2em 0;}
    .prod-info dt{padding: 0.2em 0.8em; background: #f2f2f2; font-size: 1.2em;}
    .four_w{padding:0 1em 1em;}
    .f_w{width:22%;display: inline-block;margin-right:3%;}
    .f_w dt{text-align: center;}
    .f_w dt img{width:100%;max-width:130px;}
    .f_w dd b{background:#db0742; color:#fff; display: block;text-align: center;margin-top:0.5em;}
    .f_w dd p{padding-top:0.5em;}
    .f_w.l_np{margin-right:0;}
</style>

<div class="detail-box">
    <div class="cj-hd">斑点反复  淡斑不彻底</div>
    <img src="/public/images/q_goods/93/img_01.jpg" alt="">     
    <img src="/public/images/q_goods/93/img_02.jpg" alt="">     
    <img src="/public/images/q_goods/93/img_03.jpg" alt="">     
    <img src="/public/images/q_goods/93/img_04.jpg" alt="">     
</div>
<!-- {include file="library/t_chat01.lbi"} -->
<div class="detail-box">
    <div class="cj-hd">6大功效 深入肌底淡化色斑</div>
    <div class="over_main">
        <div class="lefe_img">
            <img src="/public/images/q_goods/93/img_05.jpg" alt="">
        </div>
        <div class="lefe_text">
            <p class="col"><span>01</span>去除色素</p>
            <p>精准锁定根源，强力击散，排除色素。</p>
        </div>
        </div>
        <div class="over_main">
        <div class="lefe_img">
            <img src="/public/images/q_goods/93/img_06.jpg" alt="">
        </div>
        <div class="lefe_text">
            <p class="col"><span>02</span>抑制色素</p>
            <p>抑制黑色素活性，减少色斑的形成。</p>
        </div>
        </div>
        <div class="over_main">
        <div class="lefe_img">
            <img src="/public/images/q_goods/93/img_07.jpg" alt="">
        </div>
        <div class="lefe_text">
            <p class="col"><span>03</span>加速代谢</p>
            <p>加速细胞新陈代谢，减少色素沉淀。</p>
        </div>
        </div>
        <div class="over_main">
        <div class="lefe_img">
            <img src="/public/images/q_goods/93/img_08.jpg" alt="">
        </div>
        <div class="lefe_text">
            <p class="col"><span>04</span>修复损伤</p>
            <p>有效消除自由基，降低光源对细胞伤害。</p>
        </div>
        </div>
        <div class="over_main">
        <div class="lefe_img">
            <img src="/public/images/q_goods/93/img_09.jpg" alt="">
        </div>
        <div class="lefe_text">
            <p class="col"><span>05</span>保湿滋养</p>
            <p>富含天然保湿成分，有效锁水保湿。</p>
        </div>
        </div>
        <div class="over_main">
        <div class="lefe_img">
            <img src="/public/images/q_goods/93/img_10.jpg" alt="">
        </div>
        <div class="lefe_text">
            <p class="col"><span>06</span>提亮肤色</p>
            <p>改善黯沉肤色，促使肌肤亮白水嫩。</p>
        </div>
        </div>
</div>

<div class="detail-box">
    <div class="cj-hd">4大天然成分 成就淡斑能量</div>
    <ul class="de-3">
            <li>
                <p class="main_wh"><span>传明酸因子</span><br />抑制黑色素增强因子群，中断黑色素发生的途径，改善皮肤的色素沉积。</p>
                <img src="/public/images/q_goods/93/img_11.jpg" alt="">
            </li>
            <li>
                <p class="main_wh"><span>银杏叶提取物</span><br />其主要活性成分为总黄酮醇苷和萜类内酯，抑制氧自由基产生。</p>
                <img src="/public/images/q_goods/93/img_12.jpg" alt="">
            </li>
            <li>
                <p class="main_wh"><span>光果甘草提取物</span><br />深入皮肤内部，有效的抑制酪氨酸酶活性，根源抑制黑色素身生成。</p>
                <img src="/public/images/q_goods/93/img_13.jpg" alt="">
            </li>
            <li>
                <p class="main_wh"><span>火棘提取物</span><br />富含Vc及一定量SOD，有清除体内毒素，改善皮肤出油、泛黄、暗沉。</p>
                <img src="/public/images/q_goods/93/img_14.jpg" alt="">
            </li>
        </ul>
</div>

<div class="detail-box">
    <div class="cj-hd">淡斑3步曲  防止色斑再生</div>
    <ul class="de-4">
            <li>
                <img src="/public/images/q_goods/93/step_01.jpg" alt="">
                <div>
                    <em>1.净澈<span class="si_text">亮妍无瑕补水洁面乳</span></em>
                    <p>含丰富细腻的泡沫，深层清洁皮肤污垢， 清楚老化角质，促进肌肤新陈代谢，淡化 肌表色素，改善肤色不均以及干哑现状， 令肌肤水润通透。</p>
                </div>
            </li>
            <li>
                <img src="/public/images/q_goods/93/step_02.jpg" alt="">
                <div>
                    <em>2.击退<span class="si_text">亮妍无瑕精华霜</span></em>
                    <p>特含淡化色素的传明酸，融合各种植物成分，精准定位皮下100微米光源性色斑群，精准把控渗透深度，淡化斑点，直达肌底消退顽固色素，从根源上修复细胞，让肌肤焕白亮泽。</p>
                </div>
            </li>
            <li>
                <img src="/public/images/q_goods/93/step_03.jpg" alt="">
                <div>
                    <em>3.抑制<span class="si_text">臻雪焦点密集修护霜</span></em>
                    <p>富含淡斑因子，轻松渗透密集色素层，深入打散色素斑点，加速肌肤代谢色素能力，从细胞根源淡斑，并防止色素再生、沉淀，令肌肤持久亮泽润白。</p>
                </div>
            </li>
        </ul>
</div>
  <!-- {include file="library/t_chat04.lbi"} -->
<div class="detail-box">
    <div class="cj-hd">四周期  击破顽固色斑</div>
    <div class="four_w">
        <dl class="f_w">
            <dt><img src="/public/images/q_goods/93/f_w_01.jpg"></dt>
            <dd>
                <b>使用前</b>
                <p>皮肤干燥发黄，油脂分泌旺盛，斑点小而颜色浅。</p>
            </dd>
        </dl><dl class="f_w">
            <dt><img src="/public/images/q_goods/93/f_w_02.jpg"></dt>
            <dd>
                <b>一段时间</b>
                <p>肤色开始变白，皮肤水分提高，摸起来柔软润泽。</p>
            </dd>
        </dl><dl class="f_w">
            <dt><img src="/public/images/q_goods/93/f_w_03.jpg"></dt>
            <dd>
                <b>持续使用</b>
                <p>色素减少，边缘模糊淡化，皮肤变的白净细嫩。</p>
            </dd>
        </dl><dl class="f_w l_np">
            <dt><img src="/public/images/q_goods/93/f_w_04.jpg"></dt>
            <dd>
                <b>长期坚持</b>
                <p>斑点消失，皮肤水嘟嘟，粉嫩嫩，素颜也是100分。</p>
            </dd>
        </dl>
    </div>
</div>
 
  <div class="detail-box ">
        <div class="cj-hd">使用韩国瓷肌  她们白了</div>
        <ul class="detail-case pad_u">
            <li>
                <img src="/public/images/q_goods/93/img_15.jpg" alt="">
                <div>平面模特：Joan   24岁| <em>混合性肌肤</em><b>雀斑不可爱,白净肌肤才是我的菜~</b></div>
                <p>从小就有一些小雀斑，爸妈还说是可爱呢。不管！我喜欢白净的皮肤，坚决要去掉从小就有的雀斑啊！我是看瓷肌口碑不错然后就选择试试这个套装来去雀斑，看见网上介绍之后，开始用这款套装，开始几天斑点还没太大变化，但是脸色感觉没有以前那样黄黄的。后来坚持使用了一个多月，顽固的雀斑终于没了！从小的色斑噩梦终于结束了。</p>
            </li>
            <li>
                <img src="/public/images/q_goods/93/img_16.jpg" alt="">
                <div>地产销售：小树麻麻   31岁 | <em>干性肌肤</em><b>淡斑一个月，想不到真能给我惊喜！ </b></div>
                <p>自从前年生了孩子后，妊娠斑一直都没有消下去！引发了之前就有的辐射斑向更严重的趋势发展，我还怎么见人啊？？好友给我推荐了瓷肌淡斑套装。一个套装里面有三款产品，按照客服教的方法试用，期待着效果的显现。坚持用了一段时间，斑点几乎淡得看不见了，皮肤比之前白皙、干净了很多，真的很感谢瓷肌，为我找回几乎走失的十年青春。</p>
            </li>
        </ul>
    </div>