<style scoped>
	.main_pro{ position: relative;}
	.detail-main{ padding: 0.5em 1em;}
	.detail-main01{ padding-left: 1em;}
	.detail-main01 ul{ display: inline-block;width: 48%; margin-top: 0.5em;}
	.detail-main01 img{ width: 50%; margin-top: 3em;}
	.detail-main01 ul li{width: 100%; margin-bottom: 0.5em; overflow: hidden;}
	.detail-main01 p{ display: inline-block;  float: left; width: 70%;}
	.detail-main01 b{ color: #ea2146;}
	.detail-main01 span{float: left; width: 1.8em; height: 1.8em; background: #ea2146; color: #fff; border-radius: 2em; text-align: center; line-height: 1.8em; font-size: 1.5em; margin-right: 0.3em;}
	#RaD{display: none;}
	.cj-hd{background:#0B184F!important;}
	.detail-case{padding: 0;background: url(/templates/res/933/bg.jpg) repeat-y;}
	.detail-case li div { padding: 0.4em 0.5em; margin-bottom: 0.4em;font-size: 1.2em;color: #132153;    text-align: left;background: none; }
	.detail-case li span {font-size: 0.85em;display: block;color: #39455D;}
	.detail-case li p{padding: 0 0.5em;color: #92929A;}
</style>

<div class="main_pro">
	<img src="/public/images/q_goods/933/img_02.jpg" alt="">
	<img src="/public/images/q_goods/933/img_03.jpg" alt="">
	<img src="/public/images/q_goods/933/img_04.jpg" alt="">
	<div style="padding:0.8em 0; background:#ffffff; text-align:center; clear:both;">
		<p style="padding-bottom: 0.4em; color:#000;">美容老师1对1教你解决肌肤问题</p>
		<a href="tel:{$tel}" onclick="PIWI_SUBMIT.Call_Mid()">
			<img style="width:42%; margin:0 0.4em;" src="/public/images/common/on_tel2.png" alt="">
		</a>
		<a href="#orderfrm" class="on_ord" onclick="PIWI_SUBMIT.Orderwx_Mid()" >
			<img style="width:42%; margin:0 0.4em;" src="/public/images/common/on_zx2.png" alt="">
		</a>
	</div>
		<img src="/public/images/q_goods/933/img_06.jpg" alt="">
		<img src="/public/images/q_goods/933/img_07.jpg" alt="">
		<img src="/public/images/q_goods/933/img_08.jpg" alt="">
		<img src="/public/images/q_goods/933/img_09.jpg" alt="">
		<img src="/public/images/q_goods/933/img_10.jpg" alt="">
		<img src="/public/images/q_goods/933/img_11.jpg" alt="">
		<img src="/public/images/q_goods/933/img_12.jpg" alt="">
		<div style="padding:0.8em 0; background:#ffffff; text-align:center; clear:both;">
			<p style="padding-bottom: 0.4em; color:#000;">美容老师1对1教你解决肌肤问题</p>
			<a href="tel:{$tel}" onclick="PIWI_SUBMIT.Call_Mid()">
				<img style="width:42%; margin:0 0.4em;" src="/public/images/common/on_tel2.png" alt="">
			</a>
			<a href="#orderfrm" class="on_ord" onclick="PIWI_SUBMIT.Orderwx_Mid()" >
				<img style="width:42%; margin:0 0.4em;" src="/public/images/common/on_zx2.png" alt="">
			</a>
		</div>
	<img src="/public/images/q_goods/933/img_14.jpg" alt="">
	<img src="/public/images/q_goods/933/img_15.jpg" alt="">
	<img src="/public/images/q_goods/933/img_16.jpg" alt="">
	<img src="/public/images/q_goods/933/img_17.jpg" alt="">
	<img src="/public/images/q_goods/933/img_18.jpg" alt="">
	<img src="/public/images/q_goods/933/img_19.jpg" alt="">
	<img src="/public/images/q_goods/933/img_20.jpg" alt="">
	<div style="padding:0.8em 0; background:#ffffff; text-align:center; clear:both;">
		<p style="padding-bottom: 0.4em; color:#000;">美容老师1对1教你解决肌肤问题</p>
		<a href="tel:{$tel}" onclick="PIWI_SUBMIT.Call_Mid()">
			<img style="width:42%; margin:0 0.4em;" src="/public/images/common/on_tel2.png" alt="">
		</a>
		<a href="#orderfrm" class="on_ord" onclick="PIWI_SUBMIT.Orderwx_Mid()" >
			<img style="width:42%; margin:0 0.4em;" src="/public/images/common/on_zx2.png" alt="">
		</a>
	</div>	
	<img src="/public/images/q_goods/933/img_22.jpg" alt="">
	<img src="/public/images/q_goods/933/img_23.jpg" alt="">	
</div>
<div class="detail-box">
    <img src="/public/images/q_goods/933/img_24.jpg" alt="">
    <ul class="detail-case">
        <li>
          	<img src="/public/images/q_goods/933/img_25.jpg" alt="">
            <div>有了这一套，肌肤水嫩一触即发<span>廖莲：   19岁   肤质：沙漠肌</span></div>
            <p>整天敷面膜皮肤还是很干涩，太难忍。后来看到美肤达人推荐水韵清新水光肌套装，抱着试试的态度入了一套，洁面乳非常温和，洗完脸后脸蛋滑滑润润，精华液里面有很多爆水珠珠，透明质地，擦上脸马上被吸收，皮肤变软了。脸上不化妆，也有水光肌的透亮！</p>
        </li>
        <li>
            <img src="/public/images/q_goods/933/img_27.jpg" alt="">
            <div>肌肤喝饱水 秒变18岁嫩妹纸<span>小薇 ：24岁 干性肤质</span></div>
            <p>用过N种牌子的补水产品，还是没有改善我干巴巴的皮肤，看起来显老像大妈。还好闺蜜推荐我用水韵清新水光肌套装，用完洗面奶后摸到脸上滑滑嫩嫩的，乳霜涂抹后带有小水珠，惊喜！三个月过去，皮肤水灵灵，闺蜜都夸我是18岁嫩妹。</p>
        </li>
    </ul>
</div>
<div style="padding:0.8em 0; background:#ffffff; text-align:center; clear:both;">
	<p style="padding-bottom: 0.4em; color:#000;">美容老师1对1教你解决肌肤问题</p>
	<a href="tel:{$tel}" onclick="PIWI_SUBMIT.Call_Mid()">
		<img style="width:42%; margin:0 0.4em;" src="/public/images/common/on_tel2.png" alt="">
	</a>
	<a href="#orderfrm" class="on_ord" onclick="PIWI_SUBMIT.Orderwx_Mid()" >
		<img style="width:42%; margin:0 0.4em;" src="/public/images/common/on_zx2.png" alt="">
	</a>
</div>	
<div class="main_pro">
	<img src="/public/images/q_goods/933/img_29.jpg" alt="">
	<img src="/public/images/q_goods/933/img_30.jpg" alt="">
	<img src="/public/images/q_goods/933/img_31.jpg" alt="">
</div>