<style scoped>
	.main_pro{ position: relative;}
	.detail-main{ padding: 0.5em 1em;}
	.detail-main01{ padding-left: 1em;}
	.detail-main01 ul{ display: inline-block;width: 48%; margin-top: 0.5em;}
	.detail-main01 img{ width: 50%; margin-top: 3em;}
	.detail-main01 ul li{width: 100%; margin-bottom: 0.5em; overflow: hidden;}
	.detail-main01 p{ display: inline-block;  float: left; width: 70%;}
	.detail-main01 b{ color: #ea2146;}
	.detail-main01 span{float: left; width: 1.8em; height: 1.8em; background: #ea2146; color: #fff; border-radius: 2em; text-align: center; line-height: 1.8em; font-size: 1.5em; margin-right: 0.3em;}
	#RaD{display: none;}
	.cj-hd{background:#0B184F!important;}
	.detail-case{padding: 0;background: url(/templates/res/951/bg.jpg) repeat-y;}
	.detail-case li div { padding: 0.4em 0.5em; margin-bottom: 0.4em;font-size: 1.2em;color: #132153;    text-align: left;background: none; }
	.detail-case li span {font-size: 0.85em;display: block;color: #39455D;}
	.detail-case li p{padding: 0 0.5em;color: #92929A;}
</style>

<div class="main_pro">
	<img src="/public/images/q_goods/951/img_01.jpg" alt="">
	<img src="/public/images/q_goods/951/img_02.jpg" alt="">
	<img src="/public/images/q_goods/951/img_03.jpg" alt="">
	<img src="/public/images/q_goods/951/img_04.jpg" alt="">
	<img src="/public/images/q_goods/951/img_05.jpg" alt="">
	<img src="/public/images/q_goods/951/img_06.jpg" alt="">
	<img src="/public/images/q_goods/951/img_07.jpg" alt="">
	<img src="/public/images/q_goods/951/img_08.jpg" alt="">
	<!-- {include file="library/t_chat01.lbi"} -->
	<img src="/public/images/q_goods/951/img_09.jpg" alt="">
	<img src="/public/images/q_goods/951/img_10.jpg" alt="">
	<img src="/public/images/q_goods/951/img_11.jpg" alt="">
	<img src="/public/images/q_goods/951/img_12.jpg" alt="">
	<img src="/public/images/q_goods/951/img_13.jpg" alt="">
	<img src="/public/images/q_goods/951/img_14.jpg" alt="">
	<img src="/public/images/q_goods/951/img_15.jpg" alt="">
	<img src="/public/images/q_goods/951/img_16.jpg" alt="">
	<img src="/public/images/q_goods/951/img_17.jpg" alt="">
	<img src="/public/images/q_goods/951/img_18.jpg" alt="">
	<img src="/public/images/q_goods/951/img_19.jpg" alt="">
	<!-- {include file="library/t_chat01.lbi"} -->
</div>
<div class="detail-box">
    <ul class="detail-case">
        <li>
          	<img src="/public/images/q_goods/951/img_20.jpg" alt="">
            <div><strong>7.5小时超强防晒，全身晒不黑</strong><span>美伊  大学生  22岁</span></div>
            <p>毕业时同学组织去三亚旅游，闺蜜正好送我瓷肌快乐一夏防晒套，我全程旅游都带上它，擦上脸上能感觉到清爽透气，防晒效果持续7个小时，还能防汗防水，早上擦一次不需要重复涂抹，旅游回来后发现班上不少妹子晒黑了，而我的脸蛋、脖子、手臂、大腿，全身上下竟然一点都没变黑，比她们还白多啦！</p>
        </li>
        <li>
            <img src="/public/images/q_goods/951/img_21.jpg" alt="">
            <div><strong>清洁+补水+防晒， 皮肤白嫩水灵透出来</strong><span>佳佳  淘宝模特  19岁</span></div>
            <p>被同事安利了瓷肌快乐一夏防晒套，洗面奶洗完后脸蛋滑滑嫩嫩的，清洁力强大连黑头也少了，拍上精华乳后很快就吸收，皮肤瞬间变得柔滑水润，而且里面的防晒霜太赞，涂上去清清爽爽，不粘油还能提亮肤色。每次拍照只是涂个防晒霜就有好气色，粉底都省了。这套产品正满足我对清洁、补水和防晒的需求，简直不能再爱！</p>
        </li>
        <li>
            <img src="/public/images/q_goods/951/img_22.jpg" alt="">
            <div><strong>每天抹一次，清爽防晒一整天</strong><span>斯丽  上班族  23岁</span></div>
            <p>上网淘了网红推荐的的瓷肌快乐一夏防晒套，到手后发现套装的防晒霜很温和，淡淡的清香，涂抹上去很轻薄，不粘腻，还能提亮肤色，持续一天皮肤都清爽水润，毫无油腻感，晚上用套装的洗面奶就能清洗干净，简单方便。用了一个月下来发现防晒效果很强大，皮肤没变黑还水嫩嫩的，简直种草到不行！</p>
        </li>
    </ul>
    <img src="/public/images/q_goods/951/img_23.jpg" alt="">
</div>
<!-- {include file="library/t_chat01.lbi"}	 -->