<style scoped>
.n_bg{background: #fff;}
.h1_tit{background: #d0213e;text-align: center;line-height: 1.8em;font-size: 1em;color: #fff;}
.cont{padding: .5em;}
.cont h3{font-size: 1em;line-height: 1.2em;color:#d0213e;font-weight: normal;margin-bottom: .5em;}
.rule {border: 1px solid #acacac;border-radius: .5em;padding: 1em;font-size: .9em;box-shadow: 1px 4px 6px #acacac;margin-bottom: .6em;}
.rule h4{color: #d0213e;line-height: 1.8em;}
.rule p{line-height: 1.6em;}
.rule p.n_more{text-align: right;line-height: 1.6em;}
.rule p.n_more a{color: #414040;}
</style>
<div class="main n_bg">
	<div class="h1_tit">免费试用申领规则</div>
	<div class="cont">
		<h3>【免费试用】具体活动规则</h3>
		<div class="rule">
			<h4>一、试用流程：</h4>
			<p>申请免费试用》填写申请信息》提交试用申请》转发微博、微信。</p>
			<h4>二、试用规则：</h4>
			<p>1、从提交申请的用户中，随机抽取与产品数量相应的用户数，提供试用机会以。</p>
			<p>2、试用产品数量有了发，以产品列表中标注的数量为准，送完即止。</p>
			<p>3、请正确填写您的收货信息，以确保产品顺利送达。如因用户填写信息错错误 ，导致产品不能送达，后果用户承担。</p>
			<p>4、试用成功的用户，10个工作日内客服将与您取得联系，请保持手机通畅。</p>
			<p class="n_more"><a href="javascript:history.go(-1);">返回>></a></p>
		</div>
		
	</div>
</div>
