<link rel="stylesheet" href="/public/css/detail.css">
<style scoped>
    .detail_box{padding: .5em 0;background: #fff;}
	.detail_box div{clear:both;}
    .detail_box h3{line-height: 1.3em;font-size: 1.1em;color:#ea2143;;padding-bottom: .5em;border-bottom: 1px dashed #e1e1e1;}
    .detail_box h3 b{border-left: .5em solid #ea2143;;display: inline-block;height: 1.2em;line-height: 1.2em;padding-left: .3em;font-weight:normal;}
    .detail_box span{color: #a48100;}
	.detail_box div+p{color:#ED556B;padding-top:0.9em;font-weight:bold;padding-left:6em;}
    .detail-main01 li{overflow: hidden;}
	.detail-main01 p{ float: left;}
	.detail-main01 li.curr{ background: #f2f2f2; margin-top: 0.5em; padding: 0.3em 0;}
	.detail-main01 li.curr01{ margin-top: 0.5em;}
	.detail-main01 li p.p01{ width: 20%; margin-left: 1em;font-size:0.8rem;}
	.detail-main01 li p.p02{ width: 72%;margin-left: 0.5em;font-size:0.8rem;}
	.detail-main01 li p.p03{ margin-left: 1em; width: 3em; height:1.6em; background: #000; color: #fff; line-height: 1.6em; text-align: center; font-size: 1rem;}
	.detail-main01 li p.p04{ width: 72%;margin-left: 1rem;font-size:0.8rem;}
	.detail-main01 li p.p04 span{color: #d51838;}
	.detail-main01 li img{ width: 80%; margin-left: 3em;}
	.detail-main02{ padding: 1em 1.5em;}
	.detail-main02 p.curr{ color: #000; font-size: 1.2em; padding: 0.6em 0 0;}
	.detail-main02 p.curr span{display: inline-block;color: #e72c46; text-align: center; margin-left: 0.4em;}
	.detail-main02 p.curr b{ display: inline-block; width: 1.4em; height: 1.4em; background: #e72c46; vertical-align:bottom; color: #fff; text-align: center; line-height: 1.4em;}
	.de-3 {padding: 1em 0;}
	.de-3 li{padding: 0 1em; font-size: 1.2em; margin-bottom: 0.8em;}
	.de-3 li p{display: inline-block; width: 72%; font-size: 0.7em;}
	.de-3 li span{color: #d51838; font-size: 1.4em;}
	.detail-main03 li p{ width: 63%; }
	.detail-main03 b{color: #d51838; font-size: 1.4em;}
	.detail-main03 li span{color: #000; font-size: 1.2em; margin-left: 0.3em;}
	.detail-main03 li img{width: 28%; margin-right: 0.4em;}
	.detail-main04{ width: 93%; margin: 0 auto;}
	.detail-case li {padding-bottom: 0.8em;}
	.detail-case li div {padding: 0.4em 0;margin-bottom: 0.4em; background: #f2f2f2;text-align: center;font-size: 1rem;}
	.detail-case li em {color: #000;}
	.detail-case li b {font-size: 1.1rem; color: #fe1c42;display: block;}
</style>

<img src="/public/images/goods_res/990/img_01.jpg" alt="">
<div class="detail-box">
    <div class="detail_box">
    	<h3><b>色沉肌！你有没有选对洁面乳？</b></h3>
    </div>
    <ul class="detail-main01">
		<li class="curr">
			<p class="p01">普通洁面：</p>
			<p class="p02">只是清除表层污垢，深层色素沉淀、斑块、氧化油脂无法淡化排除！</p>
		</li>
		<li class="curr01">
			<p class="p03">导致:</p>
			<p class="p04">皮肤新陈代谢不畅，<span>肤色越来越黄，色斑、斑块、肤色不均</span>的产生。</p>
		</li>
		<li>
			<img src="/public/images/goods_res/990/img_02.jpg" alt="">
		</li>
	</ul>	
</div>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>毛孔“清道夫”，毛囊大扫除！</b></h3>
    </div>
   <div class="detail-main02">
		<p class="curr"><b>1</b><span>天然百草精粹温和净白</span></p>
		<p>含天然百草精粹，在避免黑色素生成的同时，恢复皮肤代谢平衡，淡化导致色斑色素。</p>
		<p class="curr"><b>2</b><span>渗透肌底抑制深层色素</span></p>
		<p>精华能量可以渗透至肌肤深层，防止色素生成导致色斑，排出堆积的深色素。</p>
		<p class="curr"><b>3</b><span>淡化顽固色素修复肌肤</span></p>
		<p>淡化顽固色素，使黑色素呈游离状态排出肌肤表层，修复晒伤、老化肌肤，令肌肤自然通透。</p>
	</div>
</div>
<ntell></ntell>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>天然成分，温和净肤焕白</b></h3>        
    </div>
    <ul class="de-3 detail-main03">
        <li>
           <img src="/public/images/goods_res/990/img_03.jpg" alt="">
            <p><b>光果甘草根</b><span>除色素</span><br />具有抗氧活性很强的皮肤脱色、淡化色斑的功能。</p>
        </li>
        <li>
           <img src="/public/images/goods_res/990/img_04.jpg" alt="">
            <p><b>茶叶</b><span>抗氧化</span><br />茶叶中的茶多酚起抗氧化作用。</p>
        </li>
        <li>
            <img src="/public/images/goods_res/990/img_05.jpg" alt="">
            <p><b>母菊花</b><span>防过敏</span><br />具有消炎和舒缓特性，保护脸部敏感的肌肤，增加皮肤抵抗力。</p>
        </li>
         <li>
            <img src="/public/images/goods_res/990/img_06.jpg" alt="">
            <p><b>积雪草 </b><span>清热毒</span><br />具有清热解毒，利湿消肿、滋补、消炎、镇定的作用。</p>
        </li>
    </ul>
</div>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>肤色越洗越白,斑点越洗越淡！</b></h3>
    </div>
    <div class="detail-main04">
		 <img src="/public/images/goods_res/990/img_07.jpg" alt="">
	</div>
</div>
<ntell></ntell>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>斑点肌，终于找到有效的产品！</b></h3>
    </div>
    <ul class="detail-case">
        <li>
          	<img src="/public/images/goods_res/990/img_08.jpg" alt="">
            <div>康子   23岁 | <em>又黄又有斑，干性皮肤</em><b>很补水的洁面乳，肤质有改善了！</b></div>
            <p>亮妍无瑕补水洁面乳，够润！之前因为脸上长了一点辐射斑，经常觉得脸脏，养成习惯每天都要洗3次脸，结果弄得皮肤又干又涩。而这款洗面奶，洗完脸皮还是润润的，不紧绷！而且朋友都说我肤色变白了，裸妆更好看呢~好喜欢这款又滋润又补水的洁面乳哦！</p>
        </li>
        <li>
            <img src="/public/images/goods_res/990/img_09.jpg" alt="">
            <div>纳沙里  30岁 | <em>色斑反反复复</em><b>敏感肌大爱! 淡斑要从洁面开始~</b></div>
            <p>这款专门淡斑美白的洁面乳，泡沫细腻，揉在脸上先是凉凉的，然后很细腻、很舒服。洗完脸，脸上的小斑点仿佛被泡沫溶解了一些，几天时间就看到有变淡了，肤色白净了很多。每洗一次，都能感受更多的洁净，而且我的敏感肌用完这次没反复长斑呢，那就一直用吧！</p>
        </li>
    </ul>
</div>