<style scoped>
	.cjjd_sev{background: url(/public/images/goods_res/1056/bg.jpg) repeat-y center;}
	.cjjd_sev img{margin-bottom: 0.5em;}
	.cjjd_sev li:first-child{border-bottom: 1px solid #E8E8E8;margin-bottom: 0.5em;}
	.cjjd_sev span{display: block;}
	.case_detail{padding: 0 1em 1em;}
	.tel_1{background: url(/public/images/detail/tel_bg.jpg) no-repeat top center;background-size: cover;}
	.tel_2{background: url(/public/images/detail/zx_bg.jpg) no-repeat top center;background-size: cover;padding: 2.5em 0 1em;}
	.new_tel p{font-size: 1.2em;}
	.cjjd_sev img.w425{margin-bottom: 0;}
</style>

<img  src="/public/images/goods_res/1056/img_01.jpg" alt="" />
<img  src="/public/images/goods_res/1056/img_02.jpg" alt="" />
<img src="/public/images/goods_res/1056/img_03.jpg" alt="" />
<img src="/public/images/goods_res/1056/img_05.jpg" alt="" />
<img src="/public/images/goods_res/1056/img_06.jpg" alt="" />
<img src="/public/images/goods_res/1056/img_07.jpg" alt="" />
<img src="/public/images/goods_res/1056/img_08.jpg" alt="" />
<img src="/public/images/goods_res/1056/img_09.jpg" alt="" />
<img src="/public/images/goods_res/1056/img_10.jpg" alt="" />
<img src="/public/images/goods_res/1056/img_11.jpg" alt="" />
<img src="/public/images/goods_res/1056/img_12.jpg" alt="" />
<img src="/public/images/goods_res/1056/img_13.jpg" alt="" />
<img src="/public/images/goods_res/1056/img_14.jpg" alt="" />
<img src="/public/images/goods_res/1056/img_15.jpg" alt="" />
<img src="/public/images/goods_res/1056/img_16.jpg" alt="" />
<img src="/public/images/goods_res/1056/img_17.jpg" alt="" />
<img src="/public/images/goods_res/1056/img_18.jpg" alt="" />
<img src="/public/images/goods_res/1056/img_19.jpg" alt="" />
<div class="w100 cjjd_sev">
	<ul style="padding-top:0.8em;">
		<li>
			<img class="w425" src="/public/images/goods_res/1056/img_20.jpg">
			<div class="case_detail"><strong>7.5小时超强防晒，全身晒不黑</strong><span>美伊  大学生  22岁</span></div>
			<div class="case_detail">
            <p>毕业时同学组织去三亚旅游，闺蜜正好送我瓷肌快乐一夏防晒套，我全程旅游都带上它，擦上脸上能感觉到清爽透气，防晒效果持续7个小时，还能防汗防水，早上擦一次不需要重复涂抹，旅游回来后发现班上不少妹子晒黑了，而我的脸蛋、脖子、手臂、大腿，全身上下竟然一点都没变黑，比她们还白多啦！</p>
			</div>
		</li>
		<li>
			<img class="w425" src="/public/images/goods_res/1056/img_21.jpg">
			<div class="case_detail"><strong>清洁+补水+防晒， 皮肤白嫩水灵透出来</strong><span>佳佳  淘宝模特  19岁</span></div>
			<div class="case_detail">				
            	<p>被同事安利了瓷肌快乐一夏防晒套，洗面奶洗完后脸蛋滑滑嫩嫩的，清洁力强大连黑头也少了，拍上精华乳后很快就吸收，皮肤瞬间变得柔滑水润，而且里面的防晒霜太赞，涂上去清清爽爽，不粘油还能提亮肤色。每次拍照只是涂个防晒霜就有好气色，粉底都省了。这套产品正满足我对清洁、补水和防晒的需求，简直不能再爱！</p>
			</div>
		</li>
		<li>
			<img class="w425" src="/public/images/goods_res/1056/img_22.jpg">
			<div class="case_detail"><strong>每天抹一次，清爽防晒一整天</strong><span>斯丽  上班族  23岁</span></div>
			<div class="case_detail">			
				<p>上网淘了网红推荐的的瓷肌快乐一夏防晒套，到手后发现套装的防晒霜很温和，淡淡的清香，涂抹上去很轻薄，不粘腻，还能提亮肤色，持续一天皮肤都清爽水润，毫无油腻感，晚上用套装的洗面奶就能清洗干净，简单方便。用了一个月下来发现防晒效果很强大，皮肤没变黑还水嫩嫩的，简直种草到不行！</p>
			</div>
			<img class="w425" src="/public/images/goods_res/1056/img_23.jpg">
		</li>		
	</ul>
</div>