<link rel="stylesheet" href="/public/css/detail.css">
<style scoped>
    .detail_box{padding: .5em 0;background: #fff;}
	.detail_box div{clear:both;}
    .detail_box h3{line-height: 1.3em;font-size: 1.1em;color:#ea2143;;padding-bottom: .5em;border-bottom: 1px dashed #e1e1e1;}
    .detail_box h3 b{border-left: .5em solid #ea2143;;display: inline-block;height: 1.2em;line-height: 1.2em;padding-left: .3em;font-weight:normal;}
    .detail_box span{color: #a48100;}
	.detail_box div+p{color:#ED556B;padding-top:0.9em;font-weight:bold;padding-left:6em;}
    .cus1 { width:93.75%; margin:0px auto; line-height:1.25em; color:#434343;padding-bottom: 0.2em;}
	.cus1 div { width:82%; background:#4e4e4e; color:#fff; font-size:1rem; padding:1em; margin:0.5em auto; line-height:1.25em;}
	.cus2 { width:93.75%; margin:1.2em auto; color:#383838; line-height:1.3; font-weight:bold;}
	.cus2 li { margin-top:1em;}
	.cus2 li img { float:right; width:34%; margin:auto 1% auto 10.5%;}
	.cus2 li h3 { color:#ea2143; font-size:1.375em;}
	.cus2 li p { width:53%; border-top:1px dashed #7d7d7d; color:#8d8d8d; margin-top:0.2em; font-weight:normal;}
	.de-3 li{ padding: .5em .4em .5em 1em;}
	.de-3 li p { width:70%; float: left; padding-left: 1em;}
	.de-3 li img{width: 27%; float: left;}		
	.de-3 span{ color:#ea2143; font-weight: bold;}
	.de-4 li{ padding: .5em .4em;}
	.de-4 li div{ width: 65%; float: left; padding-left: .5em;}
	.de-4 li img{width: 30%; float: left;}
	.de-4 em{font-size: 1.3em;font-weight: bold;}
	.de-4 span{font-size: .9em; font-weight: normal; color:#ea2143; background: #f2f2f2; padding: .2em; margin-left: .2em;}
	.de-5 {width: 90%; margin: 0 auto;}
	.de-5 img{padding: 1em 0;}
	.de-5 li{padding:.5em 0em .5em 1em;}
	.de-5 span{background: #fe1c42; color: #fff; padding: .2em; font-size: 1em; margin-right: .5em;}
	.de-5 em{font-weight: bold;}
	.de-6{width: 90%; margin:0 auto; padding-top: .5em;}
	.de-6 div{background: #f2f2f2; padding: 1em; text-align: center;}
	.de-6 em{font-weight: bold;}
	.de-6 b{color: #fe1c42; font-size: 1.1rem;}
	.de-6 p{padding: .5em 0 .5em .3em;}
</style>

<div class="detail-box">
    <div class="detail_box">
    	<h3><b>暗黄肌，为什么无法根除？</b></h3>
    </div>
    <div class="cus1">
		<img src="/public/images/goods_res/900/img_01.jpg" alt="">
		<p>大多数人在解决暗黄问题时，只注意了肌肤美白，导致白回来以后又暗沉，反反复复，无法根除问题。</p>
		<div>解决暗黄问题，标本要同治，美白要根源补水，激活肌底美白能量。</div>
	</div>  
</div>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>亮白三重奏，肌底能量补回来</b></h3>
    </div>
    <ul class="de-4">
		<li class="clf">
			<img src="/public/images/goods_res/900/img_02.jpg" alt="">
			<div>
				<em>1.活水能量</em>
				<p>冰泉精华活水能量，表层补水软化角质，调节肌肤水循环，补足肌肤澎盈水能量。</p>
			</div>
		</li>
		<li class="clf">
			<img src="/public/images/goods_res/900/img_03.jpg" alt="">
			<div>
				<em>2.美白能量</em>
				<p>天然植物美白能量，淡化黑色素，减少暗哑，唤醒肌肤，持久养颜。</p>
			</div>
		</li>
		<li class="clf">
			<img src="/public/images/goods_res/900/img_04.jpg" alt="">
			<div>
				<em>3.锁水能量</em>
				<p>密集有氧的锁水能量，锁住肌肤水能量，捕捉外界水分子，保持肌肤持久莹润。</p>
			</div>
		</li>
	</ul>
</div>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>植物萃取 亮白能量</b></h3>
    </div>
    <ul class="de-3">
		<li class="clf">
			<img src="/public/images/goods_res/900/img_05.jpg" alt="">
			<p><span>百草精华</span><br />含北美金缕梅、牛油果、龙胆草等百草美白精华，能有效莹白肌肤，淡化黑色素，唤醒肌肤，持久养颜。</p>
		</li>
		<li class="clf">
			<img src="/public/images/goods_res/900/img_06.jpg" alt="">
			<p><span>保加利亚玫瑰</span><br />分子结构很小，极易被皮肤吸收，可有效修复受损肌肤，持续锁住皮肤水分，让每个肌肤细胞都像喝饱水似的鲜活饱满。</p>
		</li>
		<li class="clf">
			<img src="/public/images/goods_res/900/img_07.jpg" alt="">
			<p><span>银杏叶</span><br />银杏精华，能在肌肤表层形成密集有氧保护膜，全面锁住肌肤水分，长效凝住水分不流失。</p>
		</li>
		<li class="clf">
			<img src="/public/images/goods_res/900/img_08.jpg" alt="">
			<p><span>冰泉矿物精华</span><br />深入肌肤补充水分，令肌肤水嫩透白，并可避免敏感肌肤清洁时角质受损。</p>
		</li>
	</ul>
</div>
<ntell></ntell>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>3步 扫黄气全面白</b></h3>
    </div>
    <ul class="cus2">
		<li class="clf">
			<img src="/public/images/goods_res/900/img_09.jpg" alt="">
			<h3>1.净化</h3>水能量舒柔净白洁面乳
			<p>深入肌肤补充水分，令肌肤水嫩透白，并可避免敏感肌肤清洁时角质受损。</p>
		</li>
		<li class="clf">
			<img src="/public/images/goods_res/900/img_10.jpg" alt="">
			<h3>2.补水</h3>保加利亚玫瑰纯露
			<p>保加利亚玫瑰精华卓越补水保湿，晒后镇静修复，防皱美白嫩肤。</p>
		</li>
		<li class="clf">
			<img src="/public/images/goods_res/900/img_11.jpg" alt="">
			<h3>3.锁水</h3>清本源五谷亮白精华霜
			<p>丰润乳霜质地不油腻，有效缓解肌肤干燥缺水，抗氧抑黑，保持肌肤水感透白。</p>
		</li>
	</ul>
</div>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>四个维度 肌底亮白</b></h3>
    </div>
    <div class="de-5">
		<img src="/public/images/goods_res/900/img_12.jpg" alt="">
		<ol>
			<li class="clf">
				<span>NO.1</span><em>白皙度提升</em>
				<p>黑色素层层褪散，突破美白深潜限度，让你裸肌也无暇。</p>
			</li>
			<li class="clf">
				<span>NO.2</span><em>透明度显现</em>
				<p>集中排出肌底浊物，加速自由基、油脂、角质、彩妆残留等“垃圾”排除，肌肤还原净透、亮泽。</p>
			</li>
			<li class="clf">
				<span>NO.3</span><em>水润度升级</em>
				<p>细胞个个“喝饱水”，三重水润，瞬间充盈锁水。肌肤含水量越高，水润度越高。</p>
			</li>
			<li class="clf">
				<span>NO.4</span><em>光泽度展示</em>
				<p>黄气殆尽，老旧角质层层剥落，能量润透肌底。激活肌肤细胞新生动力，全脸焕白亮彩。</p>
			</li>
		</ol>
	</div>
</div>
<ntell></ntell>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>达人推荐</b></h3>
    </div>
    <ul class="de-6">
		<li class="clf">
			<img src="/public/images/goods_res/900/img_13.jpg" alt="">
			<div>思慕：20岁 | <em>干性肤质</em><br /><b>皮肤又白又水，夏天再也不怕晒</b></div>
			<p>夏天去了一次沙滩回来以后，皮肤就一直又黑又干，一点光泽都没有，让我心烦了好久。室友建议我去试试瓷肌的产品，就买了套试试。用完一套之后，皮肤已经是又亮又白了，而且水嫩水嫩的，比晒黑之前还白嫩，现在心情是美美的了，再也不怕去沙滩咯！</p>
		</li>
		<li class="clf">
			<img src="/public/images/goods_res/900/img_14.jpg" alt="">
			<div>绮珊：26岁 | <em>中性肤质</em><br /><b>敏感肌的福音吖~一点都不刺激</b></div>
			<p>我是敏感性皮肤，平时不太敢用化妆品，年纪慢慢变大了，皮肤越来越差，又黄又干。开始用瓷肌的产品也还是有些担心的，但是用到现在，完全没有出现刺激的问题，成分很天然，味道也非常温和，现在皮肤是充满了能量，不再担心敏感问题了。</p>
		</li>
	</ul>
</div>