<link rel="stylesheet" href="/public/css/detail.css">
<style scoped>
    .detail_box{padding: .5em 0;background: #fff;}
	.detail_box div{clear:both;}
    .detail_box h3{line-height: 1.3em;font-size: 1.1em;color:#ea2143;;padding-bottom: .5em;border-bottom: 1px dashed #e1e1e1;}
    .detail_box h3 b{border-left: .5em solid #ea2143;;display: inline-block;height: 1.2em;line-height: 1.2em;padding-left: .3em;font-weight:normal;}
    .detail_box span{color: #a48100;}
	.detail_box div+p{color:#ED556B;padding-top:0.9em;font-weight:bold;padding-left:6em;}
	.box{padding-bottom:1.5em;}
    .img_box{background: #fff;}
    .img_box,.img_box img{width: 100%;}
    .pa-main{ padding: 0.6em 1.1em;}
	.pa-main01{padding: 0.6em 1.7em;}
	.pa-main ul li{ padding-bottom: 0.3em;}
	.pa-main span{ color: #f1667e;}
	.pa-main p.col{ color: #ef556e;}
	.pa-main p.par{padding-left: 2em; color: #bababa;}
	.pa-main em{ display: inline-block; width: 1.5em; height: 1.5em; color: #fff; background: #ef556e; line-height: 1.5em; text-align: center; margin-right: 0.5em;}
	.padd_u{ padding-top: 0.5em;}
	.padd_u li{padding-top: 0.5em;}
	.si_text{ font-size: 0.8em;}
	.max_wh01{ max-width: 586px;width: 100%;}
	.max_wh02{ max-width: 557px;width: 100%;}
	.pad_u{ padding: 0 1em;}
	.de-3 {padding: 1em 0;}
	.de-3 li{padding: 0 1em; font-size: 1.2em; margin-bottom: 0.8em;}
	.de-3 li img{width: 30%; margin-right: 0.8em;}
	.de-3 li p{display: inline-block;}
	.de-3 li span{color: #d51838;}
	.de-4{padding-bottom: 1em;}
	.de-4 li{width: 100%; padding: 0.8em 0.8em 0; display: table;}
	.de-4 li img{display: table-cell; max-width: 1745px;}
	.de-4 li div{width: 70%; padding-left: 0.8em; display: table-cell; vertical-align: middle;}
	.de-4 li em{padding-bottom: 0.4em; font-size: 1.2em; color: #000; display: block;}
	.de-4 li span{padding: 0 0.4em; margin-left: 0.4em; background: #f2f2f2; color: #fe1c42;}
	.de-5{padding: 0.8em;}
	.de-5 li{padding: 0.6em 0.8em 0; font-size: 1.2em;}
	.de-5 li span{padding: 0 0.4em; margin-right: 0.4em; background: #fe1c42; color: #fff;}
	.detail-case li {padding-bottom: 0.8em;}
	.detail-case li div {padding: 0.4em 0;margin-bottom: 0.4em; background: #f2f2f2;text-align: center;font-size: 1rem;}
	.detail-case li em {color: #000;}
	.detail-case li b {font-size: 1.1rem; color: #fe1c42;display: block;}
</style>

<div class="detail-box">
    <div class="detail_box">
    	<h3><b>传统方法无法从根本去黄美白</b></h3>
    </div>
    <div class="pa-main">
    	<img class="max_wh01" src="/public/images/goods_res/897/img_01.jpg" alt="">
    	<ul>
    		<li><span>粉底遮黑</span>——这只能自欺欺人，而且可能会破坏肌肤系统</li>
    		<li><span>美白针</span>——价格昂贵，而且存在较大的不确定危害因素，不应随便尝试</li>
    		<li><span>DIY面膜</span>——只能简单补水，且食材分子过大，肌肤难以吸收。柠檬、白醋等还容易引起皮肤过敏</li>
    		<li><span>其他美白</span>——传统美白产品只注重抑制黑色素，补充营养。未能在肌底疏通循环，所以美白成分无法吸收</li>
    	</ul>
    </div>     
</div>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>4大成分  击退黯沉</b></h3>
    </div>
    <ul class="de-3">
        <li>
            <img src="/public/images/goods_res/897/img_02.jpg" alt="">
            <p><span>传明酸</span><br />淡褪斑点，美白亮肤</p>
        </li>
        <li>
           <img src="/public/images/goods_res/897/img_03.jpg" alt="">
            <p><span>龙胆草</span><br />抗菌消炎，清扫色素</p>
        </li>
        <li>
            <img src="/public/images/goods_res/897/img_04.jpg" alt="">
            <p><span>珍珠粉</span><br />更新代谢，解毒亮白</p>
        </li>
        <li>
            <img src="/public/images/goods_res/897/img_05.jpg" alt="">
            <p><span>银杏</span><br />天然抗氧化，排出毒素</p>
        </li>
    </ul>    
</div>
<ntell></ntell>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>3步 扫黄气全面白</b></h3>
    </div>
    <ul class="de-4">
        <li>
            <img src="/public/images/goods_res/897/img_06.jpg" alt="">
            <div>
                <em>1.净化<span class="si_text">清本源卸妆洗颜乳</span></em>
                <p>深入毛孔，吸附并带走氧化油脂、污垢及老化角质，深度净澈。</p>
            </div>
        </li>
        <li>
            <img src="/public/images/goods_res/897/img_07.jpg" alt="">
            <div>
                <em>2.抑黑<span class="si_text">清本源五谷亮白精华霜</span></em>
                <p>丰润乳霜质地不油腻，有效缓解肌肤干燥、缺水，抗氧抑黑，保持肌肤水感透白。</p>
            </div>
        </li>
        <li>
            <img src="/public/images/goods_res/897/img_08.jpg" alt="">
            <div>
                <em>3.美白<span class="si_text">净白无瑕五谷焕彩面膜</span></em>
                <p>舒缓肌肤，密集保湿美白，每周使用2-3次，有效消除暗哑，强化肌肤耐受性。</p>
            </div>
        </li>
    </ul>
</div>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>四个维度  全能亮白</b></h3>
    </div>
    <div class="pa-main pa-main01">
		 <img class="max_wh02" src="/public/images/goods_res/897/img_09.jpg" alt="">
		 <ul class="padd_u">
		 	<li>
		 		<p class="col"><em>1</em>白皙度提升:</p>
		 		<p class="par">黑色素层层褪散，突破美白深潜下限，让你裸肌也无暇。</p>
		 	</li>
		 	<li>
		 		<p class="col"><em>2</em>透明度显现：</p>
		 		<p class="par">黑色素层层褪散，突破美白深潜下限，让你裸集中排除肌底浊物，加速自由基、油脂、角质、彩妆残留等“垃圾”排除，肌肤还原净透、亮泽。</p>
		 	</li>
		 	<li>
		 		<p class="col"><em>3</em>水润度升级：</p>
		 		<p class="par">细胞个个“喝饱水”，三重水润，瞬间充盈锁水。肌肤含水量越高，水润度越高。</p>
		 	</li>
		 	<li>
		 		<p class="col"><em>4</em>光泽度展示：</p>
		 		<p class="par">黄气殆尽，老旧角质层层剥落，能量润透肌底。激活肌肤细胞新生动力，全脸焕白亮彩。</p>
		 	</li>
		 </ul>
	</div>
</div>
<ntell></ntell>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>她们都白啦！</b></h3>
    </div>
    <ul class="detail-case pad_u">
        <li>
            <img src="/public/images/goods_res/897/img_10.jpg" alt="">
            <div>霓小范：24岁| <em>混合性肌肤</em><b>黄脸婆一招变白嫩</b></div>
            <p>结婚以后没时间保养，直到有天老公忍不住叫我“黄脸婆”，才追悔莫及！赶紧买套瓷肌去黄美白全效套装恶补呀！一套用起来很舒服，从清洁到基础护理到密集护理全搞定了~皮肤果然白嫩多了，谁还敢叫我黄脸婆！</p>
        </li>
        <li>
            <img src="/public/images/goods_res/897/img_11.jpg" alt="">
            <div>Gaga Lin：26岁 | <em>敏感性肌肤</em><b>温和美白 黑妞也有春天</b></div>
            <p>我是敏感肌，天生肤色沉，一直苦苦寻找一款温和的美白补水产品，在坛子里看到JMS都在讨论瓷肌的美白产品，入了一套试试。没想到超适合我的肤质，不刺激，还有淡淡的稻米清香，黯沉和油腻渐渐消失，特别是敷完五谷面膜，脸蛋滑嫩得哟~</p>
        </li>
    </ul>
</div>