<style scoped>
	.detail-case{padding:0;}
	.detail-case li div{text-align:left; padding:0.2em 1.7em; margin-bottom: 0; background:#fff ;}
	.detail-case span{color:#333; font-size:0.85em;background:#f2f2f2; display:inline-block; padding:0 0.3em;}
	.detail-case li em{font-size:1.1em; line-height:2em; font-weight:bold; color:#f43623; font-style:normal;}
	.detail-case li i{font-style:normal; background: #565656; color:#d3d3d3; padding:0 0.3em;display:inline-block; }
	.detail-case p{color:#a3a3a3; margin-top:0.5em; padding:0 1.7em;padding-bottom:1.5em;}
	.cj_wx{display:none;}

	/*电话样式*/
	.new_tel{padding: 0.5em 0 1em;background:#f5f5f5;}
	.new_tel p{font-size: 1.4em; font-weight: bold;color: #2d2e2d;line-height: 1.5em;text-align: center;}
	.new_tel p:nth-of-type(2){margin-top:.3em;}
	.new_tel p img{ width:44.5%; max-width:287px; margin:0 2%;}
</style>

<div class="main_pro">
	<img src="/public/images/goods_res/1230/img_01.jpg" alt="">
	<img src="/public/images/goods_res/1230/img_02.jpg" alt="">
	<img src="/public/images/goods_res/1230/img_03.jpg" alt="">
	<img src="/public/images/goods_res/1230/img_04.jpg" alt="">
	<img src="/public/images/goods_res/1230/img_05.jpg" alt="">
	<img src="/public/images/goods_res/1230/img_06.jpg" alt="">
	<div class="new_tel">
		<p style="font-weight:normal;">美容老师1对1教你解决肌肤问题</p>
		<p>
			<a href="tel:{$tel}" onclick="PIWI_SUBMIT.Call_Mid();"><img src="/public/images/goods_res/1230/on_tel.png" alt=""></a>
			<a href="#order" onclick="PIWI_SUBMIT.Orderwx_Goods();"><img src="/public/images/goods_res/1230/on_zx.png" alt=""></a>
		</p>
	</div>
	<img src="/public/images/goods_res/1230/img_07.jpg" alt="">
	<img src="/public/images/goods_res/1230/img_08.jpg" alt="">
	<img src="/public/images/goods_res/1230/img_09.jpg" alt="">
	<img src="/public/images/goods_res/1230/img_10.jpg" alt="">
	<img src="/public/images/goods_res/1230/img_11.jpg" alt="">
	<div class="new_tel">
		<p style="font-weight:normal;">美容老师1对1教你解决肌肤问题</p>
		<p>
			<a href="tel:{$tel}" onclick="PIWI_SUBMIT.Call_Mid();"><img src="/public/images/goods_res/1230/on_tel.png" alt=""></a>
			<a href="#order" onclick="PIWI_SUBMIT.Orderwx_Goods();"><img src="/public/images/goods_res/1230/on_zx.png" alt=""></a>
		</p>
	</div>
	<img src="/public/images/goods_res/1230/img_12.jpg" alt="">
	<img src="/public/images/goods_res/1230/img_13.jpg" alt="">
	<img src="/public/images/goods_res/1230/img_14.jpg" alt="">
</div>
<div class="detail-box">
    <ul class="detail-case">
        <li>
          	<img src="/public/images/goods_res/1230/img_15.jpg" alt="">
            <div><em>1套就够,懒人必备!</em><br /><span>买家：Amy　年龄：21 <i>肌肤类型：混合肌肤</i></span></div>
            <p>现在就用这一套，基本护肤问题都解决了，对于我这种懒人族来说特别方便！最喜欢洗颜乳，平常化淡妆可以卸掉又可以清洁，精华水、精华霜就特别多精华！用起来很滋润，隔天的皮肤还是嫩出水！有空就敷亮肤面膜，美白效果就更好了！</p>
        </li>
        <li>
            <img src="/public/images/goods_res/1230/img_16.jpg" alt="">
            <div><em>各年龄层都适用，美白效果看得见！</em><br /><span>买家：张小姐　年龄：29 <i>肌肤类型：油性肌肤</i></span></div>
            <p>客服根据我的皮肤状态推荐的，用了之后，同事都说我白了。而且我眼睛的干纹特别多，这款套装是有眼霜的，每天晚上都用，眼周的干纹淡化了很多，其他精华水啊、精华乳都特别滋润、用完整个肤色都有明显提亮！一直坚持用，暗黄皮肤不见了，整个人都年轻了！</p>
        </li>
    </ul>
</div>
<div class="new_tel">
	<p style="font-weight:normal;">美容老师1对1教你解决肌肤问题</p>
	<p>
		<a href="tel:{$tel}" onclick="PIWI_SUBMIT.Call_Mid();"><img src="/public/images/goods_res/1230/on_tel.png" alt=""></a>
		<a href="#order" onclick="PIWI_SUBMIT.Orderwx_Goods();"><img src="/public/images/goods_res/1230/on_zx.png" alt=""></a>
	</p>
</div>