<style scoped>
    .detail_box{padding: .5em 0;background: #fff;}
	.detail_box div{clear:both;}
    .detail_box h3{line-height: 1.3em;font-size: 1.1em;color:#ea2143;;padding-bottom: .5em;border-bottom: 1px dashed #e1e1e1;}
    .detail_box h3 b{border-left: .5em solid #ea2143;;display: inline-block;height: 1.2em;line-height: 1.2em;padding-left: .3em;font-weight:normal;}
    .detail_box span{color: #a48100;}
	.detail_box div+p{color:#ED556B;padding-top:0.9em;font-weight:bold;padding-left:6em;}
    i,em,b{font-style: normal; }
    .img_153_01{ padding-bottom:0.6em;}
    .main01{ width:100%; padding:0.5em 2em; padding-bottom:0; overflow:hidden;}
    .main01 li{overflow:hidden;}
    .main01 div{width:50%; float:left; height:175px; text-align:center;} 
    .main01 img{width:100%; max-width:207px; margin-top:-0.5em;}
    .main01 p{float:left; width:50%; margin-top:0.5em;}
    .main01 li:nth-of-type(1) p{float:right;}
    .main01 li:nth-of-type(2) div{float:right; text-align:right;}
    .main01 li:nth-of-type(3) p{float:right;}
    .main01 li:nth-of-type(4){padding-bottom:0;}
    .main01 li:nth-of-type(4) div{float:right; text-align:right;}
    .main01 i{color:#154a99; font-size:1.2em;}
    .main01 b{ font-weight:normal;}
    .main01 span{background:#154a99; color:#fff;display:inline-block; padding:0 0.5em;font-size:1.2em; margin-left:0.2em;}
    .main02,.main02 li{overflow:hidden; padding:0.5em;}
    .main02{padding-left:1em; padding-right:1em;}
    .main02 div{width:35%; height:83px; float:left; }
    .main02 div img{width:100%; max-width:157px;  }
    .main02 p{width:60%;  float:right;}
    .main03{width:100%; padding:1em; overflow:hidden; } 
    .main03 .up-l{float:left; width:50%; }
    .main03 .up-r{width:50%; float:right;}
    .main03 .down-l{width:50%; float:left;}
    .main03 .down-r{width:50%; float:right;}
    .main03 div{width:100%;text-align: center;}
    .main03 img{width:100%; max-width:205px;}
    .main03 p{width:100%; text-align:left; padding-right:1em;}
    .main03 span{font-size:0.8rem; font-weight:bold;}
    .main03 i{ display:inline-block; border-radius:1em; padding:0 0.5em; background:#144c99; color:#fff; margin-left:0.2em;font-size:0.8rem;}
    .main03 b{ font-weight:normal;font-size:0.85rem;}
    .main04 { width:100%; padding:1em;}
    .main04 div{width:100%;}
    .main04 img{ width:100%; max-width:640px;}
    .pad_u{ padding: 0.5em 1.2em 0;}
	.detail-case li {padding-bottom: 0.8em;}
	.detail-case li div {padding: 0.4em 0;margin-bottom: 0.4em; background: #f2f2f2;text-align: center;font-size: 1.2em;}
	.detail-case li em {color: #000;}
	.detail-case li b {font-size: 1.2em; color: #fe1c42;display: block;}
</style>

<img src="/public/images/goods_res/153/img_02.jpg" alt="">
<div class="detail-box">
    <div class="detail_box">
    	<h3><b>深层除痘，4步拔痘根</b></h3>
    </div>
    <ul class="main01">
        <li>
            <div><img src="/public/images/goods_res/153/img_03.jpg" alt=""></div>
            <p>
                <i>STEP 1</i><span>吸痘油</span><br />
                <b>具有强效溶解性的金缕梅干细胞与痘痘接触，快速融合与分解痘油。</b>
            </p>
        </li>
        <li>
            <p>
                <i>STEP 2</i><span>祛痘毒</span><br />
                <b>深层痘肌排毒，分解痘痘毒素，去除长痘根源，疏通毛囊，消除肌肤表层炎症。</b>
            </p>
            <div><img src="/public/images/goods_res/153/img_04.jpg" alt=""></div>
        </li>
        <li>
            <div><img src="/public/images/goods_res/153/img_05.jpg" alt=""></div>
            <p>
                <i>STEP 3</i><span>修痘肌</span><br />
                <b>加强肌肤自身的吸收能力，修复受损角质膜，舒缓患处红肿，加速痘痘痊愈。</b>
            </p>
        </li>
        <li>
            <p>
                <i>STEP 4</i><span>焕新颜</span><br />
                <b>植物干细胞加速愈合，形成新的角蛋白细胞，激活皮肤角质细胞，重焕新肌。</b>
            </p>
            <div><img src="/public/images/goods_res/153/img_06.jpg" alt=""></div>
        </li>
    </ul>   
</div>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>4大治愈力，对抗男人顽固痘痘</b></h3>
    </div>
    <ul class="main02">
        <li>
            <div><img src="/public/images/goods_res/153/img_07.jpg" alt=""></div>
            <p>采用高浓度祛痘植物成分，有效针对男性肌肤消炎杀毒，由内而外杀灭座疮杆菌。</p>
        </li>
        <li>
            <div><img src="/public/images/goods_res/153/img_08.jpg" alt=""></div>
            <p>进行深层痘痘肌排毒，分解痘痘毒素,去除长痘根源，疏通毛囊，消除肌肤表层炎症。</p>
        </li>
        <li>
            <div><img src="/public/images/goods_res/153/img_09.jpg" alt=""></div>
            <p>特别添加控油因子，持久抑制油脂分泌，针对男性痘肌深层去油，抑制痘痘生长。</p>
        </li>
        <li>
            <div><img src="/public/images/goods_res/153/img_10.jpg" alt=""></div>
            <p>加强肌肤自身的吸收能力，修复受损角质膜，舒缓患处红肿，加速痘痘肌肤痊愈，给予肌肤全面的保护。
            </p>
        </li>
    </ul>
</div>
<ntell></ntell>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>天然祛痘成分，安全高效</b></h3>        
    </div>    
</div>
<ol class="main03" style="background: #FFFFFF;">
    <li>
        <div class="up-l">
            <div><img src="/public/images/goods_res/153/img_11.jpg" alt=""></div>
            <p><span>金缕梅干细胞</span><i>消痘排毒</i><br /><b>直击痘痘患部，消肿止痒，清除毒素脓包。</b></p>
        </div>
        <div class="up-r">
            <div><img src="/public/images/goods_res/153/img_12.jpg" alt=""></div>
            <p><span>黄柏树皮</span><i>修复护肤</i><br /><b>清热泻火，消菌消炎，祛印平疤。</b></p>                        
        </div>
    </li>
    <li>
        <div class="down-l">
            <div><img src="/public/images/goods_res/153/img_13.jpg" alt=""></div>
            <p><span>假马齿笕</span><i>消炎止痛</i><br /><b>清热泻火，消菌消炎，祛印平疤。</b></p>
        </div>
        <div class="down-r">
            <div><img src="/public/images/goods_res/153/img_14.jpg" alt=""></div>
            <p><span>蒲桃叶</span><i>控油收敛</i><br /><b>平衡皮肤PH值，修复受损肌肤。</b></p>                        
        </div>
    </li>
</ol>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>真正有效，男士痘痘一扫光！</b></h3>
    </div>
     <div class="main04">
        <div><img src="/public/images/goods_res/153/img_15.jpg"></div>
    </div>  
</div>
<ntell></ntell>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>男士专用，真正祛痘！</b></h3>
    </div>
     <ul class="detail-case pad_u">
        <li>
            <img src="/public/images/goods_res/153/img_16.jpg" alt="">
            <div>KEZN   26岁 | <em>熬夜痘，上火痘</em><b>“战痘力”果然非同一般！</b></div>
            <p>连续几天排通告，休息不规律是经常的，有时碰到水土不服就爱长痘痘，真的挺影响正常拍摄。朋友推荐我试试瓷肌，托助理帮忙订了1套，想不到痘痘真的消了，居然就这样被瓷肌的祛痘神器重度精华液搞定啦！“战痘力”果然非同一般！绝对值得推荐。</p>
        </li>
        <li>
            <img src="/public/images/goods_res/153/img_17.jpg" alt="">
            <div>何辉   24岁 | <em>大油田，常年长痘</em><b>搞定顽固痘，找工作没压力！ </b></div>
            <p>从高中开始就满脸是痘痘，到大学毕业痘龄也有起码4年了，大学毕业满脸痘痘真的很影响找工作，在网上看到很多瓷肌广告，买了1套，一直坚持每天都用那款重度精华液。现在已经过去2个多月了，工作也找到了，痘痘也没了。精华液就像一枚预防痘痘的疫苗针啊！</p>
        </li>
    </ul>
</div>  
<ntell></ntell>