<link rel="stylesheet" href="/public/css/detail.css">
<style scoped>
.detail_box{padding: .5em 0;background: #fff;}
.detail_box div{clear:both;}
.detail_box h3{line-height: 1.3em;font-size: 1.1em;color:#ea2143;;padding-bottom: .5em;border-bottom: 1px dashed #e1e1e1;}
.detail_box h3 b{border-left: .5em solid #ea2143;;display: inline-block;height: 1.2em;line-height: 1.2em;padding-left: .3em;font-weight:normal;}
.detail_box span{color: #a48100;}
.detail_box div+p{color:#ED556B;padding-top:0.9em;font-weight:bold;padding-left:6em;}
.img_maxw{ max-width: 39px;}
.img_maxw01{ max-width: 452px;}
.img_maxw02{ max-width: 142px;}
.img_maxw03{ max-width: 175px;}
.stra{ padding: 1em 1em; overflow: hidden;background: #FFFFFF;}
.stra p.curr{ color: #ea2146; font-weight: bold; font-size: 1rem; line-height: 1.2em;}
.stra p.curr img{ width: 7%;}
.sra_in{ width: 100%;padding: 0 11%; margin-top: 1em;}
.stra_ul01 li{ float: left; width: 24%; margin-right: 1%; margin-top: 1em; }
.stra_ul01 li p{ font-size: 0.9em;}
.stra p.curr01{ color: #ea2146;  font-size: 1rem;text-align: center;line-height: 1.2em;}
.stra p.curr01 img{width: 7%;}
.stra p.curr02{ color: #515151;}
.stra p.curr03{  font-size: 0.9em; padding-left:1.4em;font-weight: bold;}
.stra p.curr04{  font-weight: bold; font-size: 1.3em; line-height: 1.3em;}
.stra_ul02{margin-top: 1em;}
.stra_ul02 li{ margin-top: 1.2em;}
.stra_ul02 img{width: 30%; margin-top: 1.5em;}
.stra_ul02 li p{ display: inline-block; width: 64%; margin-right: 1em;}
.stra_ul02 li p b{ color: #ea2146;font-size: 1.15em;}
.stra_ul02 li p span{ display: inline-block;border-bottom: 1px dashed #9c9c9c; color: #000;}
.stra_ul03 li P{ text-align: center;}
.stra_ul04{ padding-bottom: 0.5em;}
.stra_ul04 img{width: 28%; margin-top: 0; margin-left: 1em;}
.stra .stra_ul05 li p{ width: 41%;}
.stra_ul05 li p span{ border: none; font-weight:bold;}
.stra_ul05 img{width: 53%; margin-top: 0;}
.stra_ul02 li p{ display: inline-block; width: 60%; margin-right:0em;}
.de-3 {padding: 1em 0;}
.de-3 li{padding: 0 1em; font-size: 1.2em; margin-bottom: 0.8em;}
.de-3 li img{width: 29%; max-width: 164px; margin-right: 0.8em;}
.de-3 li p{display: inline-block; width: 62%;font-size:1rem;}
.de-3 li span{color: #d51838;}
.detail-case li {padding-bottom: 0.8em;}
.detail-case li div {padding: 0.4em 0;margin-bottom: 0.4em; background: #f2f2f2;text-align: center;font-size: 1.2em;}
.detail-case li em {color: #000;}
.detail-case li b {font-size: 1.2rem; color: #fe1c42;display: block;}
</style>

<div class="detail-box">
    <div class="detail_box">
    	<h3><b>你的小鼻头怎么“种成”草莓鼻？</b></h3>
    </div>    
</div>
<div class="stra">
	<p class="curr"><img class="img_maxw" src="/public/images/goods_res/918/img_1.jpg" alt="">什么是“草莓鼻”？</p>
	<p>油脂腺受到过分刺激、毛孔充满多余油脂、不及时清洁就会造成油脂腺的堵塞。时间一久这些油脂经氧化后成为黑色的小点——俗称“草莓鼻”(黑头)。</p>
	<div class="sra_in">
		<img class="img_maxw01"src="/public/images/goods_res/918/img_2.jpg" alt="">
	</div>
</div>
<div class="stra">
	<p class="curr"><img class="img_maxw" src="/public/images/goods_res/918/img_1.jpg" alt="">草莓鼻泛滥，你受罪了吗？</p>
	<ul class="stra_ul01">
		<li><img class="img_maxw02" src="/public/images/goods_res/918/img_3.jpg" alt="">
			<p class="curr01">面试失败</p>
			<p>黑头泛滥影响个人形象</p>
		</li>
		<li><img class="img_maxw02" src="/public/images/goods_res/918/img_4.jpg" alt="">
			<p  class="curr01">业绩失败</p>
			<p>油脂浓重给人感觉太邋遢</p>
		</li>
		<li><img class="img_maxw02" src="/public/images/goods_res/918/img_5.jpg" alt="">
			<p  class="curr01">相亲失败</p>
			<p>遇到心仪对象因为黑头泛滥失去自信</p>
		</li>
		<li><img class="img_maxw02" src="/public/images/goods_res/918/img_6.jpg" alt="">
			<p  class="curr01">恋爱失败</p>
			<p>屡次亲热遭女朋友嫌弃导致分手</p>
		</li>
	</ul>
</div>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>韩国瓷肌重度套装，拯救你的坎坷命运</b></h3>
    </div>    
</div>
<div class="stra">
	<p class="curr01 curr02"><img class="img_maxw" src="/public/images/goods_res/918/img_7.jpg" alt="">一融 二吸 三收 灭黑头</p>
	<ul class="stra_ul02">
		<li><p><b>1.速溶油</b><br /><span>深入渗透 溶解油光</span><br />温和软化角质，乳化黑头，使深藏
于毛孔深处的黑头、白头、油脂粒自动浮出皮肤表面、无痛、不红肿。 </p>
			<img class="img_maxw03" src="/public/images/goods_res/918/img_8.jpg" alt="">
			
		</li>
		<li><p><b>2.强吸附</b><br /><span>吸取脏物 清理油垢</span><br />活性真空吸附性蛋白分子，强效吸
附能力，从根部拔除黑头，清洁阻塞毛孔，达到清理毛孔的效果。</p>
			<img class="img_maxw03" src="/public/images/goods_res/918/img_9.jpg" alt="">
			
		</li>
		<li><p><b>3.细收敛</b><br /><span>紧缩毛孔 抑菌再生</span><br />天然草本精华，高效收敛黑头去除
后的粗大毛孔，避免灰沉油脂再次侵入，平衡内部分泌，恢复毛孔细致洁净。 </p>
			<img class="img_maxw03" src="/public/images/goods_res/918/img_10.jpg" alt="">
			
		</li>
	</ul>
</div>
<ntell></ntell>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>4大成分 拔根修复</b></h3>
    </div>
    <ul class="de-3">
        <li>
            <img src="/public/images/goods_res/918/img_11.jpg" alt="">	
            <p><span>鸡蛋清</span><br />具有独特的嫩肤、祛斑除污垢、促进血液循环、修复创伤肌肤等功效。</p>
        </li>
        <li>
           <img src="/public/images/goods_res/918/img_12.jpg" alt="">	
            <p><span>金缕梅</span><br />身兼了收细毛孔和二次清洁的功效，是一款良好的消肿、收缩和镇静成分。</p>
        </li>
        <li>
           <img src="/public/images/goods_res/918/img_13.jpg" alt="">	
            <p><span>人参精华</span><br />具有促进血液循环功效，激活肌肤细胞再生，修复损伤表皮。</p>
        </li>
        <li>
           <img src="/public/images/goods_res/918/img_14.jpg" alt="">	
            <p><span>透明质酸钠</span><br />人体内分布最广的一种酸性黏糖，具有良好的保湿修护作用。</p>
        </li>
    </ul>
</div>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>八大功效 完美去除顽固黑头</b></h3>
    </div>    
</div>
<div class="stra">
	<ul class="stra_ul01 stra_ul03">
		<li><img src="/public/images/goods_res/918/img_15.jpg" alt="">
			<p >软化角质</p>
			<p>抑制再生</p>
		</li>
		<li><img src="/public/images/goods_res/918/img_16.jpg" alt="">
			<p >调理油光</p>
			<p>紧致毛孔</p>
		</li>
		<li><img src="/public/images/goods_res/918/img_17.jpg" alt="">
			<p >吸附脏物</p>
			<p>活肤灭菌</p>
		</li>
		<li><img src="/public/images/goods_res/918/img_18.jpg" alt="">
			<p  >舒缓镇静</p>
			<p>养护肌肤</p>
		</li>
	</ul>
</div>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>仅3步 告别草莓鼻</b></h3>
    </div>
    <ul class="stra_ul02 stra_ul04">
		<li><img src="/public/images/goods_res/918/img_19.jpg" alt="">
			<p><b>1.速溶</b><br /><span>清肌净颜黑头导出液</span><br />独有木瓜蛋白分解酶因子，迅
速溶解黑头，浮于表层，易于清除，避免伤害肌肤。</p>
		</li>
		<li><img src="/public/images/goods_res/918/img_20.jpg" alt="">
			<p><b>2.吸附</b><br /><span>清肌净颜去黑头蛋白膜</span><br />有效去除附着肌肤的脏东西，
温和无刺激，舒缓肌肤修复损伤组织，令肌肤恢复光滑。</p>
		</li>
		<li><img src="/public/images/goods_res/918/img_21.jpg" alt="">
			<p><b>3.收敛</b><br /><span>清肌净颜毛孔收敛水 </span><br />汇集百草精华，精纳米融合技
术，能增强肌肤吸收能力，迅速修改收敛毛孔，平衡油脂分泌。</p>
		</li>
	</ul>
</div>
<ntell></ntell>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>真实示范，效果实实在在！</b></h3>
    </div>    
</div>
<div class="stra">
	<p class="curr01 curr04"><img class="img_maxw" src="/public/images/goods_res/918/img_7.jpg" alt="">不要挤 不要刮 不要扯</p>
	<p class="curr01 curr03">轻松三步，0距离也细腻无暇</p>
	<ul class="stra_ul02 stra_ul05">
		<li><p><span>第1步：溶解黑头</span><br />使用导出液，软化、浮出黑头，深入根部，溶解黑头。</p>
			<img src="/public/images/goods_res/918/img_22.jpg" alt="">
			
		</li>
		<li><p><span>第2步：吸附脏物</span><br />使用蛋白膜吸附浮面黑头，清洁毛孔，调理肌肤。</p>
			<img src="/public/images/goods_res/918/img_23.jpg" alt="">
			
		</li>
		<li><p><span>第3步：紧致毛孔</span><br />使用收敛水平滑紧致毛孔，完美收敛，调理肌肤。</p>
			<img src="/public/images/goods_res/918/img_24.jpg" alt="">
		</li>
	</ul>
</div>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>他们成功去除黑头！</b></h3>
    </div>
    <ul class="detail-case">
        <li>
            <img src="/public/images/goods_res/918/img_25.jpg" alt="">
            <div>活动策划-李戌：28岁 | <em>T区油性</em><b>仅需三步 告别草莓鼻</b></div>
            <p>我以前很爱挤黑头，现在是严重的草莓鼻，做活动合影时，黑头都特别明显，很伤自尊。有人介绍我用韩国瓷肌去黑头套装，还笑我一定要用重度的！真没想到就是这三个产品，就让我彻底摆脱了草莓鼻，现在做马路边的活动，鼻子都一直保持着干净细腻的状态！</p>
        </li>
        <li>
            <img src="/public/images/goods_res/918/img_26.jpg" alt="">
            <div>大学生-亦瓷：20岁 | <em>油性肤质</em><b>还我干净小鼻头~~</b></div>
            <p>油性皮肤，特别是鼻子爱出油，那真的是大油皮+草莓鼻，别问我为什么这么清楚，因为我就是！近段时间淘到一套韩国瓷肌去黑头产品，导出液和蛋白膜很给力，黑头都给弄下来了！控油特别好，一整天都不怎么出油，鼻
子立马干净了许多。两个月不到，鼻子就干干净净了~</p>
        </li>
    </ul>
</div>