<link rel="stylesheet" href="/public/css/detail.css">
<style scoped>
    .detail_box{padding: .5rem 1rem;background: #fff;}
	.box{padding:0.5em 1em 0 1em;}
    .detail_box h3{line-height: 1.3em;font-size: 1.1em;color:#a48101;padding-bottom: .5em;border-bottom: 1px dashed #e1e1e1;}
	.detail_box h3+p{border-bottom:1px dashed #e1e1e1;padding-bottom:0.4em;}
    .detail_box h3 b{border-left: .3em solid #a48101;display: inline-block;height: 1.2em;line-height: 1.2em;padding-left: .3em;}
    .detail_box span{color: #a48100;}
    .img_box{background: #fff;}
    .img_box,.img_box img{width: 100%;}
	.ibox{padding-bottom:0.8em;}
	.img_box img{padding:0 0.8em;}
    .bm li{padding: .3em 0;font-size: 1em;color: #a0a0a0;}
    .bm li span{color: #5d5d5d;}
    .bm li b{color: #fff;background: #5d5d5d;padding: 0 .4em;margin-right: .3em;}
    .ksms li{padding-bottom: 1em;margin-bottom: 1em;font-size: 1em;}
    .ksms li h3{color: #5a5a5a;font-weight: normal;border-bottom: none;}
    .ksms li h4{margin: .5em 0;font-weight: normal;}
    .ksms li h4 span{color: #fff;background: #5d5d5d;padding: 0 .5em;}
    .ksms li p{color: #a0a0a0;line-height: 1.5em;}
	.p1{color:#666;padding:0.4em 0;}
	.p1 span{background:#5D5D5D;padding:0 0.4em;color:#fff;}
	#p1-1{border:0;}
	.p1-1{border-top:1px dashed;}
	.p2{color:#C7C7C7;padding:0.2em 0;}
	.p3{color: #A1A1A1;padding:0.4em 0;font-szie:0.9em;text-align:center;}
	.p3-1{color:#BDA35F;}
	.p4{padding-bottom:0.8em;}
	.prod-case li span:first-of-type {width: 10em;}
	.topic-bd { background: #fff none repeat scroll 0 0;padding: 0.8em;}
	.topic-7 div img { width: 35%;float: left;margin-right: 1em;}
	.topic-7 li { width: 33.3%;}
	.text8 { color: #A48101;padding-top: 0.2em;}
	.topic-7 div p strong {color: #C0A86C;}
	.topic-7 div p small {color: #A1A1A1;}
	.prod-step li p {color:#BFBFBF;font-size:0.8rem;}
	.prod-step li p b {color:#6F6F6F;font-weight:normal;}
	.prod-step li span {font-weight:bold;margin-right:0.4em;padding:0 0.4em;}
	.p5{color:#C4AE5E;font-size:1rem;}
	.detail-hd::before{ background: #EA2143;}
	.detail-hd{ color:#EA2143;}
	.prod-parm h2{ color:#A48101;}
	.hd,.highlight ,.prod-parm dt{color: #A48101;}
	.hd::before{ background: #A48101;}
</style>

<ntell></ntell>
<div class="detail_box">
    <h3><b>内分泌色斑形成的两大因素</b></h3>
</div>
<div class="img_box"><img src="/public/images/goods_res/486/img_01.jpg" alt="">
</div>
<div class="w1">
    <div class="prod-step detail-box" style="padding-top:0.8em;padding-bottom:0.6em;">
        <ol>
            <li><span>01</span><p style="padding-left:0em;"><b>女性因压力过大和环境污染而长出黄褐斑</b><br>长期精神紧张，压力过大或所处的环境污染较大会导致肌肤
代谢速度减缓，色素难以排除。</p></li>
            <li><span>02</span><p style="padding-left:0em;"><b>女性怀孕后会长出妊娠斑</b><br/>因怀孕、流产、长期服用避孕药等因素会导致色素母细胞活跃，内分泌色斑因此形成。</p></li>
        </ol>
        <p class="p5">因劳累而长斑，因生育而长斑。</p>
		<p class="p5">做女人，一定要学会保养自己，爱惜自己。</p>
	</div>
</div>
<ntell></ntell>
<div class="detail_box">
    <h3><b>三层肌肤祛斑，溶解肌底色斑</b></h3>
</div>
<div class="img_box">
	<img src="/public/images/goods_res/591/img_03.jpg" alt="">
</div>
<div class="detail_box">
	<p><span>第一层：表皮层，清除肤底垃圾色素。</span><br>软化旧角质， 加速细胞更新。</p>
   	<p><span>第二层：真皮层，滋养肌肤 新陈代谢得以恢复。</span><br>新陈代谢得以恢复。</p>
 	<p><span>第三层：肌底层，FG淡斑因子深入斑根</span><br>提升溶解色斑速度， 并抑制色素母细胞。</p>
</div>
<ntell></ntell>
<div class="detail_box box">
    <h3><b>天然成分，安全科学祛斑</b></h3>
</div>
<div class="topic-bd topic-7" id="topic-7">
	<ul class="clearfix">
		<li>
			<img src="/public/images/goods_res/486/compositon_01.jpg" alt="">
			<p class="text8">淡斑佳品</p><p class="p3">3%传明酸</p>
		</li>
		<li>
			<img src="/public/images/goods_res/486/compositon_02.jpg" alt="">
			<p class="text8">滋养抗衰</p><p class="p3">当归</p>
		</li>
		<li>
			<img src="/public/images/goods_res/486/compositon_03.jpg" alt="">
			<p class="text8">强抗氧化</p><p class="p3">银杏叶</p>
		</li>  
        <li>
			<img src="/public/images/goods_res/486/compositon_04.jpg" alt="">
			<p class="text8">滋润美白</p><p class="p3">五谷精华</p>
		</li>  
        <li>
			<img src="/public/images/goods_res/486/compositon_05.jpg" alt="">
			<p class="text8">分解色素</p><p class="p3">甜菜碱</p>
		</li>  
        <li>
			<img src="/public/images/goods_res/486/compositon_06.jpg" alt="">
			<p class="text8">行气活血</p><p class="p3">火棘</p>
		</li>  
	</ul>
	<p>韩国瓷肌将3%含量传明酸，联合五谷精华，银杏叶、火棘等天然淡斑成分生成FG淡斑因子。精准送达不同斑种的斑根处，纵向清理表皮层、肌底层、和真皮层的黑色素，彻底根除色斑问题，效果媲美激光祛斑，而且温和不反复。</p>					
</div>
<ntell></ntell>
<div class="detail_box">
    <h3><b>正确使用 效果加倍</b></h3>
</div>
<div class="img_box ibox">
    <img src="/public/images/goods_res/591/img_10.jpg" alt="">
</div>
<ntell></ntell>
<div class="detail_box">
    <h3><b>一起成为美丽的瓷肌公主</b></h3>
</div>
<div class="prod-case detail-box">
    <ul>
        <li>
            <div>
                <h3>产后色斑照样除，从此进入辣妈行列！</h3>
                <span>色斑患者：文倩影</span>
                <span>28岁</span>
                <span>肤质：干性肌肤</span>
            </div>
            <img src="/public/images/goods_res/486/img_04.jpg" alt="">
            <img src="/public/images/goods_res/486/img_05.jpg" alt="">
            <p>有了宝宝后，我的皮肤粗糙了很多，皮肤变得暗暗的。而且也涨了不少妊娠斑，使用韩国瓷肌家的祛斑套餐，用后感觉挺滋润的！斑点开始逐渐散去，不到三个星期，斑点都几乎没有了。一起总担心自己是不是当妈后就要真的变丑了，现在完全不用担心啦！肌肤仍然0瑕疵！</p>
        </li>
        <li>
            <div>
                <h3>劳累成斑，是时候治一治了！</h3>
                <span>色斑患者:常启莲</span>
                <span>24岁</span>
                <span>肤质:混合性肌肤</span>
            </div>
            <img src="/public/images/goods_res/591/img_04.jpg" alt="">
            <img src="/public/images/goods_res/591/img_05.jpg" alt="">
            <p>长期对着电脑工作，又经常加班熬夜，虽然一直有用隔离，可脸上还是出现了很多斑点！后来经过咨询才知道，这是长期辐射和劳累所造成的内分泌色斑。经常看到韩国瓷肌的广告,所以就买了一套来使用了一下，这产品仿佛是很温和地把你脸上的斑点淡化并消除，可能因为它的成分是天然的。不到一个月，斑点几乎都没了。美丽是需要打理的，希望分享给更多的姊妹们。</p>
        </li>
    </ul>
</div>
<ntell></ntell>