<link rel="stylesheet" href="/public/css/detail.css">
<style scoped>
    .cj_wx{display:none;}
	#RaD,#Rad_title{display: none;}
	/* .cj-hd{background:#f7f7f7; color:#000; font-weight:bold; border-bottom:1px solid #e8e8e8;} */
    .cj-hd{ background:#16768c; }
    .cj-hd1{ line-height:3em; background:#000; }

	/*电话样式*/
	.by_bt{position:relative;}
	.by_bt .on_tel,.by_bt .on_zx{  width:45%; height:38%; position:absolute; right:52%; bottom:16%; }
    .by_bt .on_zx{ right:3%; }
</style>
<div class="main_pro">
    <section>
    	<!-- <img src="/public/images/goods_res/1155/cyb_01.jpg" alt="">
        <div class="top_order">
           <img src="/public/images/goods_res/1155/cyb_02.jpg" alt="">
           <a href="#order"></a>
        </div> -->
        <img src="/public/images/goods_res/1155/cyb_03.jpg" alt="" />
        <img src="/public/images/goods_res/1155/cyb_04.jpg" alt="" />
        <img src="/public/images/goods_res/1155/cyb_05.jpg" alt="" />
        <img src="/public/images/goods_res/1155/cyb_06.jpg" alt="" />
        <img src="/public/images/goods_res/1155/cyb_07.jpg" alt="" />
        <!--<div class="by_bt">
            <img src="/public/images/goods_res/1155/contact_qq.jpg" alt="" />
            <a class="on_tel" href="tel:{$tel}" handle="Call_Mid1"></a>
            <a class="on_zx" href="#order"  handle="QQ_Midb1"></a>
        </div>-->
        <img src="/public/images/goods_res/1155/cyb_08.jpg" alt="" />
        <img src="/public/images/goods_res/1155/cyb_09.jpg" alt="" />
        <!--<div class="by_bt">
            <img src="/public/images/goods_res/1155/contact_qq.jpg" alt="" />
            <a class="on_tel" href="tel:{$tel}" handle="Call_Mid2"></a>
            <a class="on_zx" href="#order"  handle="QQ_Midb2"></a>
        </div>-->
        <img src="/public/images/goods_res/1155/cyb_10.jpg" alt="" />
        <img src="/public/images/goods_res/1155/cyb_11.jpg" alt="" />
        <img src="/public/images/goods_res/1155/cyb_12.jpg" alt="" />
        <!--<div class="by_bt">
            <img src="/public/images/goods_res/1155/contact_qq.jpg" alt="" />
            <a class="on_tel" href="tel:{$tel}" handle="Call_Mid3"></a>
            <a class="on_zx" href="#order"  handle="QQ_Midb3"></a>
        </div>-->
        <img src="/public/images/goods_res/1155/cyb_13.jpg" alt="" />
        <img src="/public/images/goods_res/1155/cyb_14.jpg" alt="" />
        <img src="/public/images/goods_res/1155/cyb_15.jpg" alt="" />
        <img src="/public/images/goods_res/1155/cyb_16.jpg" alt="" />
        <img src="/public/images/goods_res/1155/cyb_17.jpg" alt="" />
        <img src="/public/images/goods_res/1155/cyb_17_1.jpg" alt="" />
        <img src="/public/images/goods_res/1155/cyb_17_2.jpg" alt="" />
        <!--<div class="by_bt">
            <img src="/public/images/goods_res/1155/contact_qq.jpg" alt="" />
            <a class="on_tel" href="tel:{$tel}" handle="Call_Mid4"></a>
            <a class="on_zx" href="#order" handle="QQ_Midb4"></a>
        </div>-->
        <img src="/public/images/goods_res/1155/cyb_18.jpg" alt="" />
        <img src="/public/images/goods_res/1155/cyb_19.jpg" alt="" />
        <img src="/public/images/goods_res/1155/cyb_20.jpg" alt="" />
        <img src="/public/images/goods_res/1155/cyb_21.jpg" alt="" />
        <img src="/public/images/goods_res/1155/cyb_22.jpg" alt="" />

    </section>
    <section>
        <header class="cj-hd cj-hd1">生产研发实力</header>
        <img src="/public/images/goods_res/1155/brand_c01.jpg" alt="" />
        <img src="/public/images/goods_res/1155/brand_c02.jpg" alt="" />
        <img src="/public/images/goods_res/1155/brand_c03.jpg" alt="" />
        <img src="/public/images/goods_res/1155/brand_c04.jpg" alt="" />
        <img src="/public/images/goods_res/1155/brand_c05.jpg" alt="" />
    </section>
</div>