<link rel="stylesheet" href="/public/css/detail.css">
<style scoped>
    .cj_wx{display:none;}
	#RaD,#Rad_title{display: none;}
	/* .cj-hd{background:#f7f7f7; color:#000; font-weight:bold; border-bottom:1px solid #e8e8e8;} */
    .top_order{ position:relative; }
    .top_order a{ position:absolute; right: 14.3%; bottom: 54%; width: 17.7%; height: 9%; }
    .cj-hd{background:#000; color:#fff; font-weight:bold;}
    .cj-hd1{line-height:3em;}
    .account{padding:0 2em; background:#000;}
    .account p{padding:0.7em 0; overflow: hidden; color:#e7dbba; border-bottom:1px solid #302710; margin-bottom:0.6em;}
    .account span{font-size:0.9em; color:#979694; padding-bottom:0.6em;}
    .account i{display:block; border-top:1px solid #ece8e1;border-bottom:1px solid #e1d8cb; margin:2em 0;}
    .title-p{width:66%;padding-left:0.5em;box-sizing:border-box; margin-bottom: 1em;}
    .title-p p.p1{position:relative;border-bottom: 1px solid #485e85; padding: 0 0 0.3em 1em;font-weight:bold;}
    .title-p p.p1:after{content: "";position: absolute;bottom: -0.2em;left: 0;width: 0.4em; height: 0.4em;border-radius:50%;font-size: 0.8em;background-color:#485e85;}
    .title-p p.p1 .span1{color:#95cc29;font-size:2em;}
    .title-p p.p1 .span2{color:#95cc29;font-size:1.5em;}
    .title-p p.p1 .span3{color:#485e85;font-size:1.3em;}
    .title-p p.p1 .span4{color:#485e85;font-size:1.3em;font-weight:normal;}
    .title-p p.p2{color:#485e85;font-size:0.8em;padding: 0.5em 0 0.5rem 1em;}

	/*电话样式*/
    .by_bt{position:relative;background:#375C8B;border:5px solid #1F3B68;padding:0.8em 0;text-align:center;}
    .by_bt p{text-align:center;font-size:1.4em;color:#fff;}
	.by_bt .on_tel,.by_bt .on_zx{ width:38%; height:2.5em;line-height: 2.5; text-align:center;margin-top:0.5em;display: inline-block;font-size: 1.3em;font-weight: bold;}    
    .by_bt .on_tel{margin-right:5%;background:#ABE90A;border-radius:0.5em;box-shadow:1px 3px 20px #12223a;color:#2C456D;}
    .by_bt .on_zx{background:#E7EB00;border-radius:0.5em;box-shadow:1px 3px 20px #12223a;color:#2C456D;}
    .by_bt .on_tel i,.by_bt .on_zx i{display:inline-block;width:1.8em;height:1.5em;background:url(/public/images/goods_res/1344/icon.png) no-repeat;vertical-align: middle;background-size: 3em;}
    .by_bt .on_tel i{background-position:0.2em 0;}
    .by_bt .on_zx i{background-position:-1.7em 0;}

    .pwrap{background:#fff;padding:0.6em 0.6em 1.2em;}
    .pwrap>div{border:5px solid #E9ECF1;padding:0.5em;}
    .pwrap p{color:#8B8C8C;font-size:0.9em;margin-bottom:0.3em;}
    .pwrap p.p2{color:#46638F;font-size:1.1em}
    .comments{background:#46638F;padding:0 0.3em 0.3em;}
    .comments li{background:url(/public/images/goods_res/1344/bg.jpg) no-repeat;background-size:cover;    padding: 1em 0.5em 0.5em;}
    .comments li .p3{color:#183666;font-size:1.3em;padding:0.5em 0 0.3em;margin-bottom:0.5em;border-bottom:1px dashed #AFBCCD;text-align:center;font-weight: bold;}
    .comments li .p4{background:#fff;color:#A0A0A0;padding:0.5em;line-height:1.5em;font-size:0.8em;text-align: justify;}
    .comments li img{max-width:585px;}
</style>
<div class="main_pro">
    <section>
	    <img src="/public/images/goods_res/1344/img_01.jpg" alt="" />
	    <img src="/public/images/goods_res/1344/img_02.jpg" alt="" />
	    <img src="/public/images/goods_res/1344/img_03.jpg" alt="" />
	    <img src="/public/images/goods_res/1344/img_04.jpg" alt="" />
	    <img src="/public/images/goods_res/1344/img_05.jpg" alt="" />
	    <img src="/public/images/goods_res/1344/img_06.jpg" alt="" />
	    <img src="/public/images/goods_res/1344/img_07.jpg" alt="" />
	    <img src="/public/images/goods_res/1344/img_08.jpg" alt="" />
	    <img src="/public/images/goods_res/1344/img_09.jpg" alt="" />
	    <img src="/public/images/goods_res/1344/img_10.jpg" alt="" />
	    <img src="/public/images/goods_res/1344/img_11.jpg" alt="" />
	    <img src="/public/images/goods_res/1344/img_12.jpg" alt="" />
	    <div class="title-p">
	        <p class="p1"><span class="span1">6</span><span class="span2">min </span><span class="span1"> 1</span><span class="span3">键制膜<span></p>
	        <p class="p2">采用尖端制膜技术、恒温控制系统，制膜只需6分钟，现做现敷，强化吸收。</p>
	    </div>
	    <img src="/public/images/goods_res/1344/img_13.jpg" alt="" />
	    <div class="title-p" style="margin-top: 2em;">
	        <p class="p1"><span class="span1">1</span><span class="span2">机</span><span class="span1">2</span><span class="span2">用</span><span class="span4"> 自带蒸脸功能<span></p>
	        <p class="p2">美容=面膜机+蒸脸器</p>
	    </div>
	    <img src="/public/images/goods_res/1344/img_14.jpg" alt="" />
	    <img src="/public/images/goods_res/1344/img_15.jpg" alt="" />
	    <img src="/public/images/goods_res/1344/img_16.jpg" alt="" />
	    <div class="title-p" style="margin-top: 1em;">
	        <p class="p1"><span class="span1">全自动清洗</span></p>
	        <p class="p2">匹配清洁模式，制膜完成注入清水自动加热清洗，避免杂渍残留。</p>
	    </div>
	    <img src="/public/images/goods_res/1344/img_17.jpg" alt="" />
	    <img style="padding-top: 1.5em;" src="/public/images/goods_res/1344/img_18.jpg" alt="" />
	    <img src="/public/images/goods_res/1344/img_19.jpg" alt="" />     
	    <img src="/public/images/goods_res/1344/img_20.jpg" alt="" />
	    <!--<div class="by_bt">
	        <p>美容老师<b>1对1</b> 教你解决肌肤问题</p>
	        <a class="on_tel" href="tel:{$tel}" handle="Call_Mid1"><i></i>咨询客服</a>
	        <a class="on_zx" href="#order" handle="QQ_Midb1"><i></i>在线订购</a>
	    </div> -->
	    <img style="border-top: 1.5em solid #060f18;" src="/public/images/goods_res/1344/img_21.jpg" alt="" />
	    <img src="/public/images/goods_res/1344/img_22.jpg" alt="" />
	    <img src="/public/images/goods_res/1344/img_23.jpg" alt="" />
	   <div class="pwrap">
	        <div>
	        <p class="p2">注意事项（详见产品说明书）:</p>
	        <p>1、本产品配有面膜盘与手眼膜，手眼膜盘为赠送品，故材质与面膜盘有点区别；</p>                                          
	        <p>2、机器清洗干净后方可蒸脸，蒸脸时可使用纯露进行蒸脸；</p> 
	        <p>3、蒸脸时建议距离喷口20CM左右，防止烫伤；</p>
	        <p>4、不可在无水的情况下启动机器，防止危险发生。</p>
	        </div>
	   </div>
	    <!--<div class="by_bt">
	        <p>美容老师<b>1对1</b> 教你解决肌肤问题</p>
	        <a class="on_tel" href="tel:{$tel}" handle="Call_Mid2"><i></i>咨询客服</a>
	        <a class="on_zx" href="#order" handle="QQ_Midb2"><i></i>在线订购</a>
	    </div> -->
	    <img style="border-top: 1em solid #fff;" src="/public/images/goods_res/1344/img_28.jpg" alt="" />
	    <ul class="comments">
	        <li style="margin-bottom:1.5em;">
	            <img src="/public/images/goods_res/1344/img_29.jpg" alt="" />
	            <p class="p3">在家也可以做SPA，都不用去美容院！</p>
	            <p class="p4">每次敷面膜都不是很吸收，准备想买个蒸脸机啥的，谁知看到瓷肌这款面膜机，有蒸脸功能，还可以DIY面膜,就买来试试，面膜机操作起来蛮方便的，容易清理，自己在家做过黄瓜、西红柿的面膜，准备试试做柠檬的，感觉比买的面膜要好，特别滋润，第二天皮肤还是水水的，自己做的还特别放心，吸收效果也很快，现在连面膜都不用买了…<p>
	        </li>
	        <li>
	            <img src="/public/images/goods_res/1344/img_30.jpg" alt="" />
	            <p class="p3">孕妇也可以安心养肤，够安全！</p>
	            <p class="p4">收到货了，特意用了一星期才来评价。之前在网上买过假面膜，导致整个脸都过敏了，现在怀孕了不敢乱敷面膜，老公给我买了这款面膜机，可以自己DIY，要什么效果就自己去买材料，特别好，外观很好看，要是有其他颜色就好了。用了三次感觉效果还不错，配合蒸脸功能一起用，吸收更快，雾很细特别舒服，每次敷完面膜整个脸滑得像鸡蛋一样，隔天都还水水嫩嫩的！<p>
	        </li>
	    </ul>
	</section>
	<section>
	    <img src="/public/images/goods_res/1344/brand_g01.jpg" alt="" />
	    <img src="/public/images/goods_res/1344/brand_g02.jpg" alt="" />
	    <img src="/public/images/goods_res/1344/brand_g03.jpg" alt="" />
	    <img src="/public/images/goods_res/1344/brand_g04.jpg" alt="" />
	    <img src="/public/images/goods_res/1344/brand_g05.jpg" alt="" />
	</section>
</div>