<link rel="stylesheet" href="/public/css/detail.css">
<style scoped>
    .detail_box{padding: .5rem 1rem;background: #fff;}
	.box{padding:0.5em 1em 0 1em;}
    .detail_box h3{line-height: 1.3em;font-size: 1.1em;color:#a48101;padding-bottom: .5em;border-bottom: 1px dashed #e1e1e1;}
	.detail_box h3+p{border-bottom:1px dashed #e1e1e1;padding-bottom:0.4em;}
    .detail_box h3 b{border-left: .3em solid #a48101;display: inline-block;height: 1.2em;line-height: 1.2em;padding-left: .3em;}
    .detail_box span{color: #a48100;}
    .img_box{background: #fff;}
    .img_box,.img_box img{width: 100%;}
	.ibox{padding-bottom:0.8em;}
	.img_box img{padding:0 0.8em;}
    .bm li{padding: .3em 0;font-size: 1em;color: #a0a0a0;}
    .bm li span{color: #5d5d5d;}
    .bm li b{color: #fff;background: #5d5d5d;padding: 0 .4em;margin-right: .3em;}
    .ksms li{padding-bottom: 1em;margin-bottom: 1em;font-size: 1em;}
    .ksms li h3{color: #5a5a5a;font-weight: normal;border-bottom: none;}
    .ksms li h4{margin: .5em 0;font-weight: normal;}
    .ksms li h4 span{color: #fff;background: #5d5d5d;padding: 0 .5em;}
    .ksms li p{color: #a0a0a0;line-height: 1.5em;}
	.p1{color:#666;padding:0.4em 0;}
	.p1 span{background:#5D5D5D;padding:0 0.4em;color:#fff;}
	#p1-1{border:0;}
	.p1-1{border-top:1px dashed;}
	.p2{color:#C7C7C7;padding:0.2em 0;}
	.p3{color: #A1A1A1;padding:0.4em 0;font-szie:0.9em;text-align:left;}
	.p3-1{color:#BDA35F;}
	.p4{padding-bottom:0.8em;}
	.prod-case li span:first-of-type {width: 7em;}
	.topic-bd {padding: 0.8em;background:#fff;}
	.topic-7 div img { width: 35%;float: left;margin-right: 1em;}
	.topic-7 li { width: 33.3%;}
	.text8 { color: #353030;padding-bottom: 0.2em;}
	.topic-7 div p strong {color: #C0A86C;}
	.topic-7 div p small {color: #A1A1A1;}
	.detail-hd:before{ background: #EA2143;}
	.detail-hd{ color:#EA2143;}
	.hd,.highlight ,.prod-parm dt{color: #A48101;}
	.hd::before{ background: #A48101;}
	.prod-parm h2{ color:#A48101;}
</style>

<ntell></ntell>
<div class="detail_box">
    <h3><b>认清这些淡斑方法，真的没效！</b></h3>
    <p>每次使用淡斑产品都有依赖性，暂停用就反弹？<br>
为什么我用过很多淡斑类护肤品都没有效果呀？<br>
美容院美容淡斑却越来越大？皮肤越来越薄？</p>
<p class="p1">大误区 <span>1</span> :无针对性淡斑 </p>
<p class="p2">针对不同的肌肤不同的斑点，要使用不同的淡斑方法，不然
不仅无效，还会导致肌肤过敏。</p>
<p class="p1">大误区 <span>2</span> :雀斑初期盲目淡斑 </p>
<p class="p2">刚长出小雀斑时不在意，随意购买淡斑产品。这样往往加重
斑点程度，让色斑越积越深。</p>
<p class="p1">大误区 <span>3</span> :认为雀斑不可能消融 </p>
<p class="p2">多次淡斑却没有好转，对淡斑失去信心。瓷肌专家：选择正
确的解决方法，才能达到消融雀斑的效果。</p>
<p class="p1">大误区 <span>4</span> :只重“结果”不重“后果” </p>
<p class="p2">长雀斑的人士通常都急切地想要消去斑点，但是忽略皮肤的
免疫力，容易导致雀斑反弹。</p>
</div>
<ntell></ntell>
<div class="detail_box">
    <h3><b>FG三层淡斑技术，深入肌肤精准淡斑</b></h3>
</div>
<div class="img_box"><img src="/public/images/goods_res/585/img_03.jpg" alt=""></div>
<div class="detail_box">
    <p>FG三层淡斑技术，将3%的传明酸和其他有效淡斑成分合成FG1、FG2、FG3淡斑因子系列，精准送到表皮层、真皮层和肌底层，精准消除各个皮层的色斑，效果媲美激光祛斑，而且淡斑过程中零刺激，不过敏，不反复！</p>
</div>
<ntell></ntell>
<div class="detail_box">
    <h3><b>轻松消融雀斑  仅需5周期</b></h3>
</div>
<div class="img_box"><img src="/public/images/goods_res/591/img_01.jpg" alt=""></div>
<ntell></ntell>
<div class="detail_box">
    <h3><b>斑斑斑，一直去不了？</b></h3>
    </div>
<div class="img_box"><img src="/public/images/goods_res/591/img_02.jpg" alt="">
</div>
<div class="detail_box">
    <p class="p4">原因：淡斑不够彻底！因为没有深入肌底层！</p>
    <p><span>表现1:</span> 肌肤暗黄无光，毛孔粗大</p>
    <p><span>表现2:</span> 美白肌肤后，雀斑更明显</p>
    <p><span>表现3:</span> 停用后色斑更密集，反弹</p>
    <p><span>表现4:</span> 晒后雀斑加深很多，加重</p>
</div>
<ntell></ntell>
<div class="detail_box">
    <h3><b>FG三层淡斑技术 深入肌肤逐层祛斑</b></h3>
</div>
<div class="img_box"><img src="/public/images/goods_res/591/img_03.jpg" alt="">
</div>
<div class="detail_box">
    <p><span>第一层：表皮层，精准抑斑</span><br>
        精准作用于皮下50微米的晒斑、辐射斑，溶解色素并修复肌
肤。</p>
         <p><span>第二层：真皮层，分层淡斑</span><br>
        层层渗透黑色素集结区域，集中进行击败、瓦解，有效对抗色斑，净白肤色。</p>
         <p><span>第三层：肌底层，源头防斑</span><br>
        深入肌底根源抑制黑色素生成，抑制新斑产生，防止色斑屡祛不止。</p>
</div>
<ntell></ntell>
<div class="detail_box">
    <h3><b>4周雀斑消失，皮肤像剥了壳的鸡蛋！</b></h3>
</div>
<div class="prod-case detail-box">
    <ul>
        <li>
            <div>
                <h3>遗传性雀斑也能祛掉，太给力了</h3>
                <span>石头在唱歌</span>
                <span>26岁</span>
                <span>肤色干黄，遗传性雀斑</span>
            </div>
            <img src="/public/images/goods_res/591/img_04.jpg" alt="">
            <img src="/public/images/goods_res/591/img_05.jpg" alt="">
            <p>整日皮肤都干干的，肤色暗沉灰黄缺乏光泽，遗传妈妈的雀斑颜色逐渐变黑，密集于两颊，有点吓人！我一直都在找有效的针对雀斑的产品，没想到抱着试一试的心态购买来的瓷肌的重度雀斑套装非常适合我，1个多月，斑点颜色慢慢的被淡化没了，好产品特别推荐~~</p>
        </li>
        <li>
            <div>
                <h3>祛雀斑，还是专业的好！</h3>
                <span>安安</span>
                <span>49岁</span>
                <span>皮肤很干、黑黄黯哑</span>
            </div>
            <img src="/public/images/goods_res/591/img_06.jpg" alt="">
            <img src="/public/images/goods_res/591/img_07.jpg" alt="">
            <p>多年前脸上就有雀斑了！女儿刚给我买的韩国瓷肌去除雀斑的产品，1周开始，斑点从边缘开始被淡化，1个月，脸上一大片的斑点面积也在不断缩小！一开始我还担心为啥效果这么好，是不是有化学成分？我拿去给皮肤科的朋友看她说这个产品没问题，这才放心继续用，现在脸上已经看不到斑点了，肌肤像回到40岁的。</p>
        </li>
          <li>
            <div>
                <h3>宝妈都来看，顽固雀斑照样祛！</h3>
                <span>阿冬</span>
                <span>32岁</span>
                <span>晒后雀斑，又黑又黄</span>
            </div>
            <img src="/public/images/goods_res/591/img_08.jpg" alt="">
            <img src="/public/images/goods_res/591/img_09.jpg" alt="">
            <p>生完宝宝后，原本白嫩嫩的肤质变得又黑又黄，晒了之后还陆陆续续出现很多顽固的雀斑，怎么都去不掉！！还好另外一位宝妈介绍我用的韩国瓷肌，她自己用了1个月不到，雀斑就消得几乎看不到了。这么好的效果，我也来试试吧，期待效果，恢复我的白嫩嫩！！</p>
        </li>
    </ul>
</div>
<ntell></ntell>
<div class="detail_box box">
    <h3><b>采用天然成分  传明酸被美誉淡斑佳品</b></h3>
</div>
<div class="topic-bd topic-7" id="topic-7">
					<div class="clearfix">
						<img src="/public/images/goods_res/591/txa.jpg" alt="">
						<p><strong><big>3%</big>传明酸 </strong><br><small>是医学淡斑美白的高标准。传明酸能够从源头上阻截隐藏的斑
点，彻底断绝黑色素形成途径，
全面拔除黑色素，迅速击散聚集黑色素细胞。</small></p>
					</div>
					<ul class="clearfix ">
						<li>
							<img src="/public/images/goods_res/591/compositon_01.jpg" alt="">
						<p class="text8">新疆野生<br>光果甘草  </p><p class="p3">“美白黄金”能 迅速恢复白净透 明的肌肤。</p>
						</li>
						<li>
							<img src="/public/images/goods_res/591/compositon_02.jpg" alt="">
							<p class="text8">海拔5000米<br>龙胆草</p><p class="p3">含丰富的维生素C、维生素E，有显著的美白及抗氧化功效。</p>
						</li>
						<li>
							<img src="/public/images/goods_res/591/compositon_03.jpg" alt="">
							<p class="text8">深海<br>野生珍珠</p><p class="p3">富含矿物质钾，瞬间提升肌肤含水量，锁水更深更持久。</p>
						</li>  
					</ul>
					
				</div>
                <ntell></ntell>
                <div class="detail_box">
    <h3><b>正确使用 效果加倍</b></h3>
</div>
<div class="img_box ibox">
    <img src="/public/images/goods_res/591/img_10.jpg" alt="">
</div>
<ntell></ntell>