<link rel="stylesheet" href="/public/css/detail.css">
<style scoped>
    .detail_box{padding: .5em 0;background: #fff;}
	.detail_box div{clear:both;}
    .detail_box h3{line-height: 1.3em;font-size: 1.1em;color:#ea2143;;padding-bottom: .5em;border-bottom: 1px dashed #e1e1e1;}
    .detail_box h3 b{border-left: .5em solid #ea2143;;display: inline-block;height: 1.2em;line-height: 1.2em;padding-left: .3em;font-weight:normal;}
    .detail_box span{color: #a48100;}
	.detail_box div+p{color:#ED556B;padding-top:0.9em;font-weight:bold;padding-left:6em;}
	.detail-main{ padding: 0 1em 1em;}
	.detail-main p{ text-align: center; padding: 0.5em 0;}
	.detail-main p.curr{ color: #ea2146;}
	.detail-main01{ padding: 1em;}
	.detail-main01 ul {overflow: hidden;}
	.detail-main01 ul li{ float: left; text-align: center; width: 33%;}
	.detail-main01 ul li p.curr{ color: #ea2146;}
	.de-3 {padding: 1em 0;}
	.de-3 li{padding: 0 1em; font-size: 1.2em; margin-bottom: 0.8em;}
	.de-3 li img{width: 30%; margin-right: 0.8em;}
	.de-3 li p{display: inline-block; width: 61%; font-size: 0.7em; color: #aeaeae;}
	.de-3 li b{ color: #c81d39;  display: inline-block; width: 100%; font-size: 1.2em; font-weight: bold;}
	.de-3 li span{font-size: 1em; color: #676767;}
	.de-4{padding-bottom: 1em;}
	.de-4 li{width: 100%; padding: 0.8em 0.8em 0; display: table;}
	.de-4 li img{display: table-cell;width: 97%;}
	.de-4 li div{width: 70%; padding-left: 0.8em; display: table-cell; vertical-align: middle;}
	.de-4 li em{padding-bottom: 0.2em; font-size: 1.4em; color: #000; display: block; }
	.de-4 li span{padding: 0 0.4em; margin-left: 0.4em; background: #f2f2f2; color: #fe1c42; font-size:0.65em; }
	.ma-1 li img{ width: 29%;}
	.ma-1 li b{color: #000;}
	.detail-case li {padding-bottom: 0.8em;}
	.detail-case li div {padding: 0.4em 0;margin-bottom: 0.4em; background: #f2f2f2;text-align: center;font-size: 1rem;}
	.detail-case li em {color: #000;}
	.detail-case li b {font-size: 1.1rem; color: #fe1c42;display: block;}
</style>

<div class="detail-box">
    <div class="detail_box">
    	<h3><b>皱纹都出来了，你还不保养？</b></h3>
    </div>
    <div class="detail-main">
		<p>这些肌肤问题，你不怕吗？</p>
			<img src="/public/images/goods_res/924/img_1.jpg" alt="">
		<p class="curr">抗老抢先一步，皱纹迟来一点！</p>
	</div>
</div>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>4步焕肤 让您岁月无痕</b></h3>
    </div>
   <ul class="de-3">
		<li>
			<img src="/public/images/goods_res/924/img_2.jpg" alt="">
			<p><b>修复肌肤—水解蚕丝蛋白</b><br />蚕丝蛋白能够瞬透真皮层，为细胞补充养分并参与代谢，促进细胞再生，使肌肤充盈紧实。</p>
		</li>
		<li>
			<img src="/public/images/goods_res/924/img_3.jpg" alt="">
			<p><b>对抗皱纹—六胜肽</b><br />六胜肽能有效舒缓并抑制抬头纹、鱼尾纹及周边肌肉收缩活动，帮助肌肉放松，恢复嫩滑。</p>
		</li>
		<li>
			<img src="/public/images/goods_res/924/img_4.jpg" alt="">
			<p><b>重塑弹性—三胜肽</b><br />长效保湿肌肤，重新连接断裂的肌肤纤维组织，促进纤维链接蛋白再生，提升肌肤强健度。</p>
		</li>
		<li>
			<img src="/public/images/goods_res/924/img_5.jpg" alt="">
			<p><b>加强吸收—深渗透超导系统</b><br />精准让养分直达受损细胞，渗透肌底层，精华吸收更完全。匀净肤色淡化色斑，全面匀白肤色。</p>
		</li>
	</ul>
</div>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>3步 肌肤嫩滑嘭弹</b></h3>
    </div>
    <ul class="de-4">
		<li>
			<img src="/public/images/goods_res/924/img_6.jpg" alt="">
			<div>  
                <em>深层洁净<span>毛孔净化洁颜冰晶</span></em>
                <p>深层清洁油脂灰尘，去除老旧角质，改善水油平衡。</p>
            </div>
		</li>
		<li>
			<img src="/public/images/goods_res/924/img_7.jpg" alt="">
			<div>
                <em>恢复弹性<span>多胜肽肌因逆时活肤素</span></em>
                <p>丰润乳霜质地不油腻，有效缓解肌肤干燥、缺水，抗氧抑黑，保持肌肤水感透白。</p>
            </div>
		</li>
		<li>
			<img src="/public/images/goods_res/924/img_8.jpg" alt="">
			<div>
                <em>淡纹提拉<span>多胜肽肌因逆时精华霜</span></em>
                <p>弱化角质，促进新陈代谢，提升肌肤活力。淡化皱纹，修复受损组织，肌肤润泽嫩滑。</p>
            </div>
		</li>
	</ul>
</div>
<ntell></ntell>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>天然成分，安全祛皱</b></h3>
    </div>
    <ul class="de-3 ma-1">
		<li>
			<img src="/public/images/goods_res/924/img_9.jpg" alt="">
			<p><b>抗皱锁水——霍霍巴籽油</b><br />强效保湿，高度抗皱，让肌肤水润有弹性。</p>
		</li>
		<li>
			<img src="/public/images/goods_res/924/img_10.jpg" alt="">
			<p><b>行气活血——当归</b><br />造血养肤，活血润肤，促进细胞新陈代谢。</p>
		</li>
		<li>
			<img src="/public/images/goods_res/924/img_11.jpg" alt="">
			<p><b>抗皱利器——六胜肽</b><br />直达肌底补充胶原弹力，从内而外恢复嫩滑。</p>
		</li>
		<li>
			<img src="/public/images/goods_res/924/img_12.jpg" alt="">
			<p><b>抚平细纹——蚕丝蛋白</b><br />修复受损细胞，抚平皱纹，重塑肌肤弹力结构。</p>
		</li>
	</ul>
</div>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>三个阶段 肌肤逆时光</b></h3>
    </div>
    <div class="detail-main01">
		<img src="/public/images/goods_res/924/img_13.jpg" alt="">
		<ul>
			<li>
				<p class="curr">阶段1</p>
				<p>初步补充营养</p>
			</li>
			<li>
				<p class="curr">阶段2</p>
				<p>修复受损组织</p>
			</li>
			<li>
				<p class="curr">阶段3</p>
				<p>深层润滑肌肤</p>
			</li>
		</ul>
	</div>
</div>
<ntell></ntell>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>岁月无痕，效果杠杠的</b></h3>
    </div>
    <ul class="detail-case">
        <li>
          	<img src="/public/images/goods_res/924/img_14.jpg" alt="">
            <div>蒙蒙：27岁 | <em>脸色暗沉有干纹</em><b>注重保养，才能长得不着急！</b></div>
            <p>在外面采访经常“日晒雨淋”，跟同龄的朋友比起来，样子老了不少。跟美女同事取取经，于是买了这个套装。活肤素膏体质地轻盈，涂抹之后不粘腻，容易吸收，用完感觉水水的。试用了一段时间，肤质变得嫩滑了很多，坚持！坚持！</p>
        </li>
        <li>
            <img src="/public/images/goods_res/924/img_15.jpg" alt="">
            <div>文清：35岁 | <em>出油，皱纹多</em><b>早晚一次，皮肤嫩滑起来啦！</b></div>
            <p>皮肤冒油挺厉害，小细纹也出现了，每次照镜子都很抓狂。我知道衰老的警钟敲响了，所以买了这个套装试试。从洁面、修护到滋养全齐，用后皮肤清爽不油腻，用手指按下皮肤Q弹Q弹的。早晚一次，肌肤水油平衡了很多，皮肤丰盈了起来。原来，我还没那么快老呢！</p>
        </li>
    </ul>
</div>