<style scoped>
.detail_box{padding: .5em 1em;background: #fff;}
.detail_box h3{line-height: 1.3em;font-size: 1.1em;color:#a48101;padding-bottom: .5em;border-bottom: 1px dashed #e1e1e1;}
.detail_box h3 b{border-left: .3em solid #a48101;display: inline-block;height: 1.2em;line-height: 1.2em;padding-left: .3em;}
.detail_box span{color: #a48100;}
.img_box{background: #fff;}
.img_box,.img_box img{width: 100%;}
.bm li{padding: .3em 0;font-size: 1em;color: #a0a0a0;}
.bm li span{color: #5d5d5d;}
.bm li b{color: #fff;background: #5d5d5d;padding: 0 .4em;margin-right: .3em;}
.ksms li{padding-bottom: 1em;margin-bottom: 1em;font-size: 1em;}
.ksms li h3{color: #5a5a5a;font-weight: normal;border-bottom: none;}
.ksms li h4{margin: .5em 0;font-weight: normal;}
.ksms li h4 span{color: #fff;background: #5d5d5d;padding: 0 .5em;}
.ksms li p{color: #a0a0a0;line-height: 1.5em;}
.detail-hd{ color:#EA2143;}
.detail-hd::before{ background:#EA2143;}
.hd{ color:#A48101;}
.hd::before { background: #A48101;}
.highlight{color:#A48101;}
.prod-parm dt,.prod-parm h2{ color:#A48101;}
</style>

<ntell></ntell>
<div class="detail_box">
    <h3><b>了解浅性色斑肌肤3大元凶</b></h3>
</div>
<div class="img_box"><img src="/public/images/goods_res/229/img_01.jpg" alt=""></div>
<div class="detail_box">
    <p>长时间面对三种光源辐射，肌肤受损生成大量黑色素，在肌底聚集成团形成色斑，阻碍肌肤水分营养吸收，日积月累形成恶性循环：</p>
</div>
<div class="img_box"><img src="/public/images/goods_res/229/img_02.jpg" alt=""></div>
<div class="detail_box">
    <p>浅性色斑刚开始形成时，由于数量不多，颜色较浅，很容易被人们忽视。<span>浅性色斑一旦形成，时间久了不仅颜色会加深</span>，而且会因为肌肤间的<span>恶性循环，数量增多</span>，扩展速度也越来越快</p>
</div>
<ntell></ntell>
<div class="detail_box">
    <h3><b>韩国瓷肌FG三层淡斑技术，深入肌肤精准淡斑</b></h3>
</div>
<div class="img_box"><img src="/public/images/goods_res/229/img_03.jpg" alt=""></div>
<div class="detail_box">
    <p><span>FG三层淡斑技术  祛斑植物“激光”</span><br>
    	韩国瓷肌祛斑套装，特含国际认可天然有效的祛斑成分——传明酸，联合其他植物淡斑成分合成FG淡斑因子，精准送达不同深度斑种的斑根处，纵向清理表皮层、基底层和真皮层黑色素，3层淡斑，根除色斑问题。这一效果媲美于激光祛斑，且消除色斑过程中零刺激，无过敏，不反复！</p>
</div>
<ntell></ntell>
<div class="detail_box">
    <h3><b>淡斑嫩白 远离光源色斑伤害</b></h3>
    <ul class="bm">
        <li><b>1</b><span>祛除色斑</span>–精准锁定色斑源头，强力击散，祛除色斑。</li>
        <li><b>2</b><span>修复辐射损伤</span>–有效消除自由基，降低辐射细胞损伤。</li>
        <li><b>3</b><span>抑制黑色素</span>–抑制络氨酸酶的活性，减少色斑生成。</li>
        <li><b>4</b><span>保湿滋养</span>–富含保湿因子，可在肤表形成保护膜。</li>
        <li><b>5</b><span>加速代谢</span>–加速黑色素消融代谢，促进其排出体外。</li>
        <li><b>6</b><span>提亮肤色</span>–有效改善暗沉肤色，莹白肌肤。</li>
    </ul>
</div>
<ntell></ntell>
<div class="detail_box">
    <h3><b>正确使用 效果加倍</b></h3>
</div>
<div class="img_box">
    <img src="/public/images/goods_res/229/img_04.jpg" alt="">
</div>
<ntell></ntell>
<div class="detail_box">
    <h3><b>一起成为美丽的瓷肌公主</b></h3>
</div>
<div class="img_box"><img src="/public/images/goods_res/229/img_05.jpg" alt=""></div>
<div class="detail_box">
    <p>这一套浅性色斑亮白套真的是我这种懒人的救星，平时不注意护肤，结果不经意间脸颊长了斑，加上平时加班熬夜眼睛也变成了熊猫眼。幸好买了这套神器解决了我脸上所有问题，眼霜很棒，早晚一次，用了一周眼睛就变得紧致亮彩有神了。斑点修护用了脸上水水嫩嫩的不刺激不油腻，小小一支携带方便，一个月的样子斑斑就看不见了。哈哈终于不用抹粉了。</p>
</div>
<div class="img_box"><img src="/public/images/goods_res/229/img_06.jpg" alt=""></div>
<div class="detail_box">
    <p>工作离不开电脑的痛苦有谁知？！肌肤一天比一天干燥，一天比一天暗黄，现在还长斑了！看到韩国瓷肌的浅性色斑亮白套装时，客服热心推荐下我立马就买了一套。虽然对它的功效还不太相信，但是本着心理安慰，还是坚持一天天使用。而且它的保湿效果真的特棒呢，皮肤比之前水润太多了。长斑的趋势几乎是前三天就停了下来，把我乐坏了 ！现在一套快见底了，我的色斑真的淡了很多，皮肤又水又白，肌龄看起来年轻了好几岁呢。</p>
</div>
<ntell></ntell>