<style scoped>
    .detail_box{padding: .5em 0;background: #fff;}
	.detail_box div{clear:both;}
    .detail_box h3{line-height: 1.3em;font-size: 1.1em;color:#ea2143;;padding-bottom: .5em;border-bottom: 1px dashed #e1e1e1;}
    .detail_box h3 b{border-left: .5em solid #ea2143;;display: inline-block;height: 1.2em;line-height: 1.2em;padding-left: .3em;font-weight:normal;}
    .detail_box span{color: #a48100;}
	.detail_box div+p{color:#ED556B;padding-top:0.9em;font-weight:bold;padding-left:6em;}
    .detail-main01{padding-bottom: 0.5em;}
	.detail-main01 p.curr{ text-align: center; color: #da0746; border-bottom: 1px dashed #da0746; padding-top: 0.6em;}
	.detail-main01 p.curr01{ width: 46%; margin: 0.6em auto;text-align: center; background: #535353; color: #fff;font-size:0.8rem; }
	.detail-main02 { padding: 0.5em 1em;}
	.detail-main02 li{ border-bottom: 1px dashed #db0746;}
	.detail-main02 li.curr{ border: none;}
	.detail-main02 span{ display: table-cell;vertical-align: middle; width: 77%; font-size: 0.7em; padding-left: 1.2em; }
	.detail-main02 span em{ color: #d51838;  font-size: 1.2em;}
	.detail-main02 span.curr{ width: 18%; text-align: center; border-right: 1px dashed #db0746;font-size: 2.5em; color: #d51838; line-height: 2.5em; padding-left: 0; }
	.de-4{padding-bottom: 1em;}
	.de-4 li{width: 100%; padding: 0.8em 0.8em 0; display: table;}
	.de-4 li img{display: table-cell;width: 86%;}
	.de-4 li div{width: 70%; padding-left: 0.8em; display: table-cell; vertical-align: middle;}
	.de-4 li em{ color: #535353; }
	.de-4 li p{ font-size: 0.9em; color: #8d8d8d;}
	.de-4 li span{padding: 0 0.4em 0 0;  color: #fe1c42; font-size: 1.2em;}	
	.detail-main03{ padding: 0.5rem 2rem; overflow: hidden;}
	.detail-main03 li{ width: 42%; float: left;}
	.detail-main03 li p{ font-size: 0.9rem; padding: 0.5rem 0.8rem;}
	.detail-main03 li.curr{ margin-right: 2em;}
	.detail-case li {padding-bottom: 0.8em;}
	.detail-case li div {padding: 0.4em 0;margin-bottom: 0.4em; background: #f2f2f2;text-align: center;font-size: 1rem;}
	.detail-case li em {color: #000;}
	.detail-case li b {font-size: 1.1rem; color: #fe1c42;display: block;}
	.detail-box{padding: .5rem 1rem;}
</style>

<img src="/public/images/goods_res/289/img_01.jpg" alt="">
<div class="detail-box">
    <div class="detail_box">
    	<h3><b>肤质不好，必须进行去角质</b></h3>
    </div>
    <div class="detail-main01">
    	<p class="curr">人体皮肤角质生长周期为28天</p>
    	<p class="curr01">废旧角质堆积不除导致</p>
    	<img src="/public/images/goods_res/289/img_02.jpg" alt="">
    	<p class="curr01">每周去除老废角质层<br />肌肤才能白、嫩、滑</p>	
    </div>	
</div>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>先排浊后保养 才能真正吸收精华</b></h3>
    </div>
    <ul class="detail-main02">
		<li>
			<span class="curr">1</span>
			<span><em>促进代谢，肌肤更健康</em><br />欧亚草等多种百草精萃，特含去角质微粒能加速粗硬老废角质脱落，促进肌肤血液循环和新陈代谢。</span>
		</li>
		<li>
			<span class="curr">2</span>
			<span><em>畅通毛孔，肌肤更细腻</em><br />活化更新肌肤，疏通清洁毛孔，以便吸收养分和新生表皮生长。</span>
		</li>
		<li class="curr">
			<span class="curr">3</span>
			<span><em>改善暗沉，肌肤更净白</em><br />改善肌肤暗淡无光、角质粗糙状况，令肌肤细腻白皙，更有光泽。</span>
		</li>
	</ul>
</div>
<ntell></ntell>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>天然成分，打开肌肤吸收通道</b></h3>        
    </div>
    <ul class="de-4">
		<li>
			<div>
               <em><span>欧亚草</span>温和排浊净颜</em>
                <p>有效促进肌肤新陈代谢，排浊去污垢。</p>
            </div>
            <img src="/public/images/goods_res/289/img_03.jpg" alt="">
		</li>
		<li>
			<div>
                <em><span>木苹果酸</span>疏导毛囊油脂</em>
                <p>促使肌肤水油平衡分泌，清爽净白。</p>
            </div>
            <img src="/public/images/goods_res/289/img_04.jpg" alt="">
		</li>
		<li>
			<div>
                <em><span>维他命E</span>有效消除自由基</em>
                <p>深度抗氧化，修复并激活细胞。</p>
            </div>
            <img src="/public/images/goods_res/289/img_05.jpg" alt="">
		</li>
		<li>
			<div>
                <em><span>番木瓜果</span>深度透白营养</em>
                <p>深层补水，丰盈肌肤水分。</p>
            </div>
            <img src="/public/images/goods_res/289/img_06.jpg" alt="">
		</li>
	</ul>
</div>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>每周1次去角质，肌肤白皙又嫩滑！</b></h3>
    </div>
    <ul class="detail-main03">
		<li class="curr">
			<img src="/public/images/goods_res/289/img_07.jpg" alt="">
			<p>温和水润简单按摩，清除肌肤垃圾</p>
		</li>
		<li>
			<img src="/public/images/goods_res/289/img_08.jpg" alt="">
			<p>透明凝胶质地，肌肤白净水润细滑</p>
		</li>
	</ul>
</div>
<ntell></ntell>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>扫走废角质，肌肤大口吃营养</b></h3>
    </div>
    <ul class="detail-case">
        <li>
          	<img src="/public/images/goods_res/289/img_09.jpg" alt="">
            <div>琉璃 22岁 | <em>干燥缺水，肌肤难保湿</em><b>去死皮，小脸滑出新高度</b></div>
            <p>以前没有去角质的概念，试过一次去死皮后，脸变得滑溜溜的！试用了韩国瓷肌清本源角质调整膜，涂抹在脸上进行按摩，搓出来的脏泥泥就是肌肤的毒素垃圾！冲干净后感觉好像换了一张脸皮，不干不红，很温和，脸蛋怎么可以这么嫩滑！！而且现在不会干燥起皮了！</p>
        </li>
        <li>
            <img src="/public/images/goods_res/289/img_10.jpg" alt="">
            <div>歌小舞  27岁 | <em>混合性肌肤、暗哑无光</em><b>除角质，吸收力大增</b></div>
            <p>之前，皮肤擦什么都是老样子，又粗又暗。听朋友说，如果脸部角质没有去除，那样皮肤不能很好吸收其他保养品的。于是买了这款角质调整膜，用着觉得不错，只需要一点点，然后搓啊搓，脸上老化的角质就轻而易举下来了，接下来补水精华都吸收很快，这样才白得快呢~</p>
        </li>
    </ul>
</div>