<style scoped>
    .detail_box{padding: .5rem 1rem;background: #fff;}
    .detail_box h3{line-height: 1.3em;font-size: 1.1em;color:#a48101;padding-bottom: .5em;border-bottom: 1px dashed #e1e1e1;}
    .detail_box h3 b{border-left: .3em solid #a48101;display: inline-block;height: 1.2em;line-height: 1.2em;padding-left: .3em;}
    .img_box{background: #fff;}
    .img_box,.img_box img{width: 100%;}
    .why_box{font-size: 1em;line-height: 1.5em;padding: .5em 0;border-bottom: 1px dashed #e1e1e1;}
    .why_box b{font-weight: bold;line-height: 1.5em; }
    .wq li{padding: .4em 0;}
    .wq h4{color: #5d5d5d;line-height: 1.6em;font-size: 1em;font-weight: normal;}
    .wq h4 b{background: #5d5d5d;color: #fff;padding: 0 .3em;margin: 0 .3em;}
    .wq p{font-size: 1em;line-height: 1.5em;color: #aeaeae;}
    .bm li{padding: .3em 0;}
    .bm li h4{color: #a48101;font-weight: normal;}
    .bm li h4 em{background: #000;color: #fff;margin-right: .2em;}
    .bm li p{color: #a0a0a0;line-height: 1.5em;}
	.detail-hd:before{ background: #EA2143;}
	.detail-hd,.prod-parm dt{ color:#EA2143;}
	.hd,.highlight,.prod-parm h2{color:#A48101;}
	.hd::before{ background: #A48101;}
</style>

<ntell></ntell>
<div class="detail_box">
    <h3><b>认清这些淡斑方法，真的没效！</b></h3>
    <p class="why_box">
        每次使用淡斑产品都有依赖性，暂停用就反弹？<br>
        为什么我用过很多淡斑类护肤品都没有效果呀？<br>
        美容院美容淡斑却越来越大？皮肤越来越薄？
    </p>
    <ul class="wq">
        <li>
            <h4>大误区<b>1</b>:无针对性淡斑 </h4>
            <p>针对不同的肌肤不同的斑点，要使用不同的淡斑方法，不然不仅无效，还会导致肌肤过敏。</p>
        </li>
        <li>
            <h4>大误区<b>2</b>:雀斑初期盲目淡斑 </h4>
            <p>刚长出小雀斑时不在意，随意购买淡斑产品。这样往往加重斑点程度，让色斑越积越深。</p>
        </li>
        <li>
            <h4>大误区<b>3</b>:认为雀斑不可能消融 </h4>
            <p>多次淡斑却没有好转，对淡斑失去信心。瓷肌专家：选择正确的解决方法，才能达到消融雀斑的效果。</p>
        </li>
        <li>
            <h4>大误区<b>4</b>:只重“结果”不重“后果” </h4>
            <p>长雀斑的人士通常都急切地想要消去斑点，但是忽略皮肤的免疫力，容易导致雀斑反弹。</p>
        </li>
    </ul>
</div>
<ntell></ntell>
<div class="detail_box">
    <h3><b>FG三层淡斑技术，深入肌肤精准淡斑</b></h3>
</div>
<div class="img_box"><img src="/public/images/goods_res/585/img_03.jpg" alt=""></div>
<div class="detail_box">
    <p>FG三层淡斑技术，将3%的传明酸和其他有效淡斑成分合成FG1、FG2、FG3淡斑因子系列，精准送到表皮层、真皮层和肌底层，精准消除各个皮层的色斑，效果媲美激光祛斑，而且淡斑过程中零刺激，不过敏，不反复！</p>
</div>
<ntell></ntell>
<div class="detail_box">
    <h3><b>FG三层淡斑技术，50X溶解肌底雀斑</b></h3>
</div>
<div class="img_box"><img src="/public/images/goods_res/588/img_01.jpg" alt=""></div>
<div class="detail_box">
    <p>雀斑位于皮下100微米的肌底深处，普通的产品都不能深入肌底，故雀斑自然无法去除。韩国瓷肌祛斑套装，特含国际认可的天然有效的淡斑成分——传明酸，联合其他植物淡斑成分合成FG淡斑因子，精准送达不同深度斑种的根源处，纵向清理表皮层、真皮层，甚至肌底层的黑色素，根除色斑问题。临床试验证明，FG淡斑因子在淡斑过程中无过敏、不反复！</p>
</div>
<ntell></ntell>
<div class="detail_box">
    <h3><b>3步彻底祛斑，还你美丽</b></h3>
</div>
<div class="img_box"><img src="/public/images/goods_res/588/img_02.jpg" alt=""></div>
<div class="detail_box">
    <ul class="bm">
        <li>
            <h4><em>01</em>皮层精华 击碎沉积黑色素</h4>
            <p>洁面乳采用麦拉宁破解技术，蕴含大量的抗氧美白成分，丰富泡沫吸附悬浮于肌表的黑色素，并进行净化、清除，恢复肌肤白暂。</p>
        </li>
        <li>
            <h4><em>02</em>真皮层拦截，切断色斑生长链</h4>
            <p>肌底液快速渗透，为后续保养打通营养通道，从中切断色斑生长链，高抗氧化植物美白保湿成分，防止黑色素再度生成氧化。</p>
        </li>
        <li>
            <h4><em>03</em>肌底层切断，从根拔出色斑源</h4>
            <p>精华霜从肌底彻底切断色斑根源，防止色斑复发。同时修复受损肌肤，为肌肤注入营养和水分，让肌肤焕发新生力量。</p>
        </li>
    </ul>
</div>
<ntell></ntell>
<div class="detail_box">
    <h3><b>天然成分，安全科学祛斑</b></h3>
</div>
<div class="img_box">
    <img src="/public/images/goods_res/588/img_03.jpg" alt="">
    <img src="/public/images/goods_res/588/img_04.jpg" alt="">
</div>
<div class="detail_box">
    <p>
        瓷肌医生专家，将3%含量传明酸，联合五谷精华，银杏叶、火棘等天然淡斑成分生成FG淡斑因子。精准送达不同斑种的斑根处，纵向清理表皮层、肌底层、和真皮层的黑色素，彻底根除色斑问题，效果媲美激光祛斑，而且温和不反复。
    </p>
</div>
<ntell></ntell>
<div class="detail_box">
    <h3><b>正确使用 效果加倍</b></h3>
</div>
<div class="img_box" style="padding-bottom:1em;">
    <img src="/public/images/goods_res/588/img_05.jpg" alt="">
</div>
<ntell></ntell>
<div class="detail_box">
    <h3><b>4周雀斑消失，皮肤像剥了壳的鸡蛋！</b></h3>
</div>
<div class="img_box">
    <img src="/public/images/goods_res/588/img_06.jpg" alt="">
</div>
<div class="detail_box">
    <p>
        整日皮肤都干干的，肤色暗沉灰黄缺乏光泽，遗传妈妈的雀斑颜色逐渐变黑，密集于两颊，有点吓人！我一直都在找有效的针对雀斑的产品，没想到抱着试一试的心态购买来的重度雀斑套装非常适合我，1个多月，斑点颜色慢慢的被淡化没了，好产品特别推荐~~
    </p>
</div>
<div class="img_box">
    <img src="/public/images/goods_res/588/img_07.jpg" alt="">
</div>
<div class="detail_box">
    <p>
        多年前脸上就有雀斑了！女儿刚给我买的去除雀斑的产品，1周开始，斑点从边缘开始被淡化，1个月，脸上一大片的斑点面积也在不断缩小！一开始我还担心为啥效果这么好，是不是有化学成分？我拿去给皮肤科的朋友看她说这个产品没问题，这才放心继续用，现在脸上已经看不到斑点了，肌肤像回到40岁的。
    </p>
</div>
<ntell></ntell>