<link rel="stylesheet" href="/public/css/detail.css">
<style scoped>
    .detail-box ol li{display: table;}
</style>
<div class="prod-about">
    <img src="/public/images/detail/product_about.jpg" alt="">
    <p>中国最权威的时尚杂志COSMO在创刊20周年，发布各项美容大奖。这次评选有Dior（迪奥）、Armani（阿玛尼）BVLGARI（宝格丽）、Maybelline（美宝莲）等上百家世界一线品牌参与评选，还有首次参选的CHINASKIN（瓷肌）。第一次参选的瓷肌品牌，斩获“专家评选推荐医学美白大奖”，这一届是COSMO杂志权重最高的奖项活动。</p>
</div>
<div class="prod-img detail-box">
    <header class="detail-hd">大会现场精彩回访</header>
    <div>
        <img src="/public/images/detail/product_img.jpg" alt="">
    </div>
</div>
<div class="prod-efficacy detail-box">
    <header class="detail-hd">六大卓效，净透亮白SHOW出来</header>
    <ol>
        <li>
            <span>1</span>
            <div>
                <strong>深层美白</strong>
                <p>特含五谷精华、Symwhite馨肤白专利成分，源头瓦解黑色度，重现自然美白肌。</p>
            </div>
        </li>
        <li>
            <span>2</span>
            <div>
                <strong>强效补水</strong>
                <p>开启肌肤呼吸通道，营养直达肌底，源源不断为每个毛孔注入充沛水分。</p>
            </div>
        </li>
        <li>
            <span>3</span>
            <div>
                <strong>晒后修复</strong>
                <p>迅速缓解晒后肌肤灼热感，及时补充肌肤表层流失水分，舒缓静肤。</p>
            </div>
        </li>
        <li>
            <span>4</span>
            <div>
                <strong>改善暗沉</strong>
                <p>Symwhite馨肤白专利美肤成分迅速提升细胞修复力，扫去暗沉、重焕光彩。</p>
            </div>
        </li>
        <li>
            <span>5</span>
            <div>
                <strong>淡化斑点</strong>
                <p>畅通黑色素代谢通道，排出肌肤底层堆积色素,源头击退色斑。</p>
            </div>
        </li>
        <li>
            <span>6</span>
            <div>
                <strong>细致肌肤</strong>
                <p>五谷精华温润滋养，调节肌肤水油平衡，改善肤质、细滑嫩肤。</p>
            </div>
        </li>
    </ol>
</div>
<div class="prod-ingredient detail-box">
    <header class="detail-hd">天然精华成分让您肌肤健康美白</header>
    <div>
        <ul class="clearfix">
            <li>
                <img src="/public/images/detail/product_text_01.jpg" alt="">
                <div>
                    <b>1</b><strong>天然五谷养白圣品</strong>
                </div>
                <p>萃取天然五谷精华，精融多种美白成分，从肌底改善干、哑、暗黄问题</p>
            </li>
            <li>
                <img src="/public/images/detail/product_text_02.jpg" alt="">
                <div>
                    <b>2</b><strong>Symwhite馨肤白专利美白</strong>
                </div>
                <p>特添加高效新型皮肤美白成分，有效抑制B16V细胞合成黑色素，加速肌肤美白</p>
            </li>
        </ul>
        <p class="prod-ingredient-ft">古人云“五谷为养”，瓷肌将五谷中天然、纯粹、健康的美白营养，配合山茶花的抗氧化力，再加以美白利器Symwhite®馨肤白，有效抑制黑色素合成，对黑色素的抑制能力是曲酸和熊果苷的数倍。最后再配合甘草的美白淡斑、改善新陈代谢的功效，让您的肌肤重现美白光彩。</p>
    </div>
</div>
<div class="prod-step detail-box">
    <header class="detail-hd">正确使用效果加倍</header>
    <div class="prod-step-bd">
        <div>
            <img src="/public/images/detail/product_step_01.jpg" alt="">
            <img src="/public/images/detail/product_step_02.jpg" alt="">
            <img src="/public/images/detail/product_step_03.jpg" alt="">
            <img src="/public/images/detail/product_step_04.jpg" alt="">
        </div>
        <ol>
            <li><span>STEP 1</span><p>卸妆后，用洁面产品彻底清洁面部。</p></li>
            <li><span>STEP 2</span><p>量面膜均匀涂抹整个脸部，避开眼周围，鼻孔和唇部。</p></li>
            <li><span>STEP 3</span><p>净敷约15-20分钟，用柔软的粉扑或海绵擦掉面膜，再用清水洗净。</p></li>
            <li><span>STEP 4</span><p>使用爽肤水–精华液–乳液–面膜等进行日常肌肤护理，肌肤水嫩白如新。</p></li>
        </ol>
    </div>
</div>
<div class="prod-case detail-box">
    <header class="detail-hd">由内而外彻底亮白</header>
    <div>
        <p>一起成为美丽的瓷肌公主</p>
        <ul>
            <li>
                <div>
                    <h3>五谷面膜效果堪比美白针</h3>
                    <span>平面模特：CICI</span><span>23岁</span><span>敏感性肌肤</span>
                </div>
                <a href="#"><img src="/public/images/detail/case_1b.jpg" alt=""></a>
                <a href="#"><img src="/public/images/detail/case_1a.jpg" alt=""></a>
                <p>我是美容杂志的模特，自己脸色本身偏黄，加上天天彩妆、熬夜肤色更加暗沉，后来在微博上看到蛮多人用这款五谷面膜，还是cosmo美容大赏推荐的美白产品，我就买来试试看，淡淡的谷物清香闻着就很喜欢，敷完面膜感觉整个脸蛋都变的水水的，到现在快过两个月了，就连化妆师都说我皮肤变好了，还以为我去注射美白针了呢，效果真心好！</p>
            </li>
            <li>
                <div>
                    <h3>整个脸都有光彩真的好惊喜！</h3>
                    <span>美容达人：小沫沫</span><span>27岁</span><span>混合性肌肤</span>
                </div>
                <a href="#"><img src="/public/images/detail/case_2b.jpg" alt=""></a>
                <a href="#"><img src="/public/images/detail/case_2a.jpg" alt=""></a>
                <p>工作生活都离不开电脑，肌肤糟糕的状况可想而知，加上最近赶稿，脸上的肌肤变得很差，粗糙、干哑，尤其是黑眼圈非常严重。后来闺蜜知道了我的“惨状”，送了我这款面膜，当天晚上睡觉前就试着敷了一次，面膜很细滑很滋润，洗完脸真的感觉皮肤变得不一样，明显有光彩了，把我激动的差点叫起来！</p>
            </li>
        </ul>
    </div>
</div>