<link rel="stylesheet" href="/public/css/detail.css">
<style scoped>
    .detail_box{padding: .5em 0;background: #fff;}
	.detail_box div{clear:both;}
    .detail_box h3{line-height: 1.3em;font-size: 1.1em;color:#197CE0;padding-bottom: .5em;border-bottom: 1px dashed #e1e1e1;}
    .detail_box h3 b{border-left: .5em solid #197CE0;display: inline-block;height: 1.2em;line-height: 1.2em;padding-left: .3em;font-weight:normal;}
    .detail_box span{color: #a48100;}
	.detail_box div+p{color:#ED556B;padding-top:0.9em;font-weight:bold;padding-left:6em;}
	.box{padding-bottom:1.5em;}
    .img_box{background: #fff;}
    .img_box,.img_box img{width: 100%;}
    .ksms li{padding-bottom: 1em;margin-bottom: 1em;font-size: 1em;}
    .ksms li h3{color: #147CE9;font-weight: normal;border-bottom: none;}
    .ksms li h4{margin: .5em 0;font-weight: normal;}
    .ksms li h4 span{color: #fff;background: #5d5d5d;padding: 0 .5em;}
    .ksms li p{color: #a0a0a0;line-height: 1.5em;}
	.p3{text-align:left;font-size:0.8em;padding:0.2em 0.4em;}
	.topic-bd {padding: 0.8em;background:#fff;}
	.topic-7 div img { width: 40%;float: left;margin-right: 0.8em;height:8em;}
	.topic-7 li { width: 33.3%;padding:0 0.8em;}
	.topic-7 div p strong {color: black;}
	.prod-case li span:first-of-type {width: 11em;}
	.hr{ border: 1px dashed #e1e1e1;}
	.ul{ margin-bottom:0.8em;}
	.prod-efficacy li p,[src*="img_02"]+ps{ color:#ABABAB;}
	.prod-efficacy li:last-child{   border-bottom: 1px dashed #e1e1e1;}
	.detail-main{background:#fff;}
	.detail-main01{position: relative;}
    .detail-main01 b{ color: #197CE0;}
    .detail-main01 span{float: left; width: 1.8em; height: 1.8em; background: #ea2146; color: #fff; border-radius: 2em; text-align: center; line-height: 1.8em; font-size: 1.5em; margin-right: 0.3em;}
    .detail-dl{position: absolute;top: 0.5em;left: 20%;bottom: 3em;width: 50%;}
    .detail-dl p b{color: #197CE0;font-size:0.8rem;}
    .detail-dl ul li{font-size: 0.75rem;}
    @media screen and (max-width: 320px){ .detail-dl{width: 55%;top:0;}.detail-dl ul{margin-bottom: 0.2em;} }
    .main_ul li>img{ width: 30%; margin: 0.5em 0.6em;max-width:174px;}
    .main_ul li>div{ display: inline-block; margin: 2.5em 0 0 0;width: 60%;border-bottom:none!important;}
    .main_ul li{border-bottom:none;}
    .main_ul p.curr{color: #fff;font-size: 1.3em;padding: 0 0 0.5em;}
    .main_ul p.curr b{background:#197CE0;border-radius:0.5em;padding:0.2em 0.3em;font-size:1.2rem;}
    .main_ul01{ overflow: hidden; padding: 0.5em 0  1em;}
    .main_ul01 li{ float: left; width: 30%; margin-left: 3%;}
    .main_ul01 li>img{ width: 100%; max-width: 180px;}
    .main_ul01 p{ font-size: 0.75em;}
    .main_ul01 p span{ color: #ea2146;display:inline-block;text-align: center;width: 1.5em;height: 1.2em;line-height: 1.2em;background: #197CE0;color:#fff;margin-right: 0.2em;}
    .prod-case li img{width:100%;max-width:428px;}
</style>

<div class="detail-box">
    <div class="detail_box">
    	<h3><b>不求天长地久，只求娃娃肌在手</b></h3>
    </div>
    <div class="img_box">
        <img src="/public/images/goods_res/783/img_08.jpg" alt="">
        <img v-lazy="'/public/images/goods_res/783/img_09.jpg'" alt="">
        <img v-lazy="'/public/images/goods_res/783/img_10.jpg'" alt="">
        <img v-lazy="'/public/images/goods_res/783/img_11.jpg'" alt="">
        <img v-lazy="'/public/images/goods_res/783/img_12.jpg'" alt="">
        <img v-lazy="'/public/images/goods_res/783/img_13.jpg'" alt="">
        <img v-lazy="'/public/images/goods_res/783/img_14.jpg'" alt="">
    </div>
</div>
<ntell></ntell>
<div class="prod-efficacy detail-box">
    <div class="detail_box">
        <h3><b>喷一喷，练成瓷娃娃肌</b></h3>
    </div>
    <img v-lazy="'/public/images/goods_res/783/img_16.jpg'" alt="">
    <img v-lazy="'/public/images/goods_res/783/img_17.jpg'" alt="">
    <img v-lazy="'/public/images/goods_res/783/img_18.jpg'" alt="">
    <img v-lazy="'/public/images/goods_res/783/img_19.jpg'" alt="">
    
</div>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>3大场合，360°肌肤防护罩</b></h3>
    </div>
    <div class="detail-main01">
        <div class="detail-dl">
            <p><b>PART.1 外出时刻</b></p>
            <ul>
                <li>· 日晒后，喷一喷舒缓面部灼热</li>
                <li>· 会友人，喷一喷清洁面部油光</li>
                <li>· 出门前，喷一喷减少肌肤损伤</li>
            </ul>
            <p><b>PART.2 工作时刻</b></p>
            <ul>
                <li>· 忙碌中，喷一喷无惧辐射伤肤</li>
                <li>· 午休后，喷一喷快速醒肤提神</li>
                <li>· 空调中，喷一喷缓解面部干燥</li>
            </ul>
            <p><b>PART.3 美肌时刻</b></p>
            <ul>
                <li>· 放松时，喷一喷做个补水护理</li>
                <li>· 护理前，喷一喷彻底清洁肌肤</li>
                <li>· 彩妆后，喷一喷定妆更持久</li>
            </ul>
        </div>      
        <img v-lazy="'/public/images/goods_res/783/img_20.jpg'" alt="">
    </div>
</div>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>植物润养娃娃肌，喷的更安心</b></h3>
    </div>
    <ul class="main_ul">
        <li>
            <img v-lazy="'/public/images/goods_res/783/img_22.jpg'" alt="">
            <div>
                <p class="curr"><b>北美金缕梅提取</b></p>
                <p>收敛抗炎、舒缓红肿、瘙痒及脱皮现象，保湿抗氧化。</p>
            </div>
        </li>
        <li>
            <img v-lazy="'/public/images/goods_res/783/img_25.jpg'" alt="">
            <div>
                <p class="curr"><b>梅花提取</b></p>
                <p>抑制络氨酸酶活性，干扰黑色素形成，减轻肌肤暗沉，改善肤色。</p>
            </div>
        </li>
        <li>
            <img v-lazy="'/public/images/goods_res/783/img_27.jpg'" alt="">
            <div>
                <p class="curr"><b>莲花提取</b></p>
                <p>抵挡电磁波伤害，抗自由基、抗氧化！赋予皮肤弹性，防止色素沉着。</p>
            </div>
        </li>
        <li>
            <img v-lazy="'/public/images/goods_res/783/img_29.jpg'" alt="">
            <div>
                <p class="curr"><b>皱叶木兰提取</b></p>
                <p>锁水保湿，令肌肤水润亮彩。辅助滋养成分深入肌肤，预防干纹细纹。</p>
            </div>
        </li>
        <li>
            <img v-lazy="'/public/images/goods_res/783/img_31.jpg'" alt="">
            <div>
                <p class="curr"><b>翼籽辣木籽提取</b></p>
                <p>极佳保水持水性，快速缓解肌肤干燥不适，润燥解饥渴。</p>
            </div>
        </li>
    </ul>
</div>
<ntell></ntell>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>镁铝纸附加课：娃娃肌加乘按摩大法</b></h3>
    </div>
    <div class="detail-main">
        <p>光有臭美的心，木有强大的“心法”怎么够！瓷娃娃肌的加乘按摩大法，就是下面<span style="color: #ea2146;">↓</span>记得喷完后照着按一按喽~拿走不谢！女屌们请随意~</p>
        <ul class="main_ul01">
            <li>
                <img v-lazy="'/public/images/goods_res/783/img_33.jpg'" alt="">         
                <p><span>01</span>由额头开始按摩，从眉头往发髻处以指压法按摩；</p>
            </li>
            <li>
                <img v-lazy="'/public/images/goods_res/783/img_36.jpg'" alt="">
                <p><span>02</span>从嘴角到眼下脸颊处分成三等分以中指和食指的指肚点压按摩；</p>
            </li>
            <li>
                <img v-lazy="'/public/images/goods_res/783/img_38.jpg'" alt="">
                <p><span>03</span>从颈部到下巴，因为面积比较大，可以用整个手掌包裹住脸颊进行按压效果更明显哦。</p>
            </li>
        </ul>
    </div>   
</div>
<div class="detail-box prod-case">
    <div class="detail_box">
        <h3><b>晒出娃娃肌，萌翻一票人</b></h3>
    </div>
    <ul>
        <li>           
            <div>
                <h3>水润润亮闪闪，感觉自己萌萌哒</h3>
                <span>大果糖</span>
                <span>22岁</span>
                <span>干痒蜕皮</span>
            </div>
            <img v-lazy="'/public/images/goods_res/783/img_43.jpg'" alt="">
            <p>这种萌萌哒喷雾真的是第一次见哦，不得不说满足了伦家的少女心~偶吼吼~ 上周跟盆友野游回来皮肤一直有点小敏感，干痒干痒的一挠就蜕皮，收到就马上试了，很赞很水，喷后轻轻脸蛋按摩几下，水水就吸收了，超滋润的！用起来感觉很舒服，喷雾非常细，一点刺激的感觉都没有。感觉像在水疗面膜，柔柔的。最爱是，喷完真的水润润亮闪闪！像瓷娃娃一样，萌萌哒！</p>
        </li>
        <li>
            <div>
                <h3>不做女旱子，就当瓷娃娃！男票被我萌哭了~</h3>
                <span>木下小丛丛</span>
                <span>26岁</span>
                <span>干燥、肤色暗沉</span>
            </div>
            <img v-lazy="'/public/images/goods_res/783/img_45.jpg'" alt="">
            <p>天冷皮肤干的紧绷绷，每次笑都担心脸碎！整个人都灰头土脸。男票看不过去送的我这个瓷娃娃喷雾，据说是看他们公司一萌妹子天天用，皮肤好好，听说还能缓解皮肤敏感、防辐射！轻轻一按，就有大片水萌萌、细细的水雾喷出，落在脸上感觉我饥渴的皮肤在咕咚咕咚的喝水，连接又喷了几下，立马感觉脸不绷着，很清爽！女旱子的大糙脸立马有点瓷娃娃的赶脚了！最关键是用着方便，随时都能喷一喷，期待变瓷娃娃萌哭男票的那天。</p>
        </li>
    </ul>
</div>
<ntell></ntell>