<style scoped>
    .detail_box{padding: .5em 0;background: #fff;}
	.detail_box div{clear:both;}
    .detail_box h3{line-height: 1.3em;font-size: 1.1em;color:#ea2143;;padding-bottom: .5em;border-bottom: 1px dashed #e1e1e1;}
    .detail_box h3 b{border-left: .5em solid #ea2143;;display: inline-block;height: 1.2em;line-height: 1.2em;padding-left: .3em;font-weight:normal;}
    .detail_box span{color: #a48100;}
	.detail_box div+p{color:#ED556B;padding-top:0.9em;font-weight:bold;padding-left:6em;}
    .de-4{padding-bottom: 1em;}
	.de-4 li{width: 100%; padding: 0.8em 0.8em 0; display: table;}
	.de-4 li img{display: table-cell;width: 86%;}
	.de-4 li div{width: 70%; padding-left: 0.8em; display: table-cell; vertical-align: middle;}
	.de-4 li em{ color: #fe1c42; }
	.de-4 li p{ font-size: 0.9em;}
	.de-4 li span{padding: 0 0.4em;  background: #fe1c42; color: #fff;  }
	.detail-main01 li img{display: table-cell;width: 95%;}
	.detail-main01 li em{padding: 0em 0.6em;}
	.detail-main01 li b{ font-weight: normal;}
	.detail-main01 li p{ font-size: 0.8em;}
	.text_mian{ padding: 0.6em;}
	.text_mian span{ font-weight: bold; color: #fe1c42; font-size: 1rem;}
	.de-3 {padding: 1em 0;}
	.de-3 li{padding: 0 1em; font-size: 1.2em; margin-bottom: 0.8em;}
	.de-3 li p{display: inline-block; width: 63%; font-size: 0.7em; margin-top: 1.8em;}
	.de-3 li span{color: #000; font-size: 1.2em; margin-left: 0.3em;}
	.de-3 b{color: #d51838; font-size: 1.4em;}
	.de-3 li img{width: 29%; margin-right: 0.4em;}
	.detail-case li {padding-bottom: 0.8em;}
	.detail-case li div {padding: 0.4em 0;margin-bottom: 0.4em; background: #f2f2f2;text-align: center;font-size: 1rem;}
	.detail-case li em {color: #000;}
	.detail-case li b {font-size: 1.1rem; color: #fe1c42;display: block;}
    .detail-box{padding: .5rem 1rem;}
</style>

<!--<div class="detail-box">-->
	<img src="/public/images/goods_res/287/img_01.jpg" alt="">
<!--</div>-->
<div class="detail-box">
    <div class="detail_box">
    	<h3><b>1次洗脸 “洗”走三大烦恼！</b></h3>
    </div>
    <ul class="de-4 detail-main01">
		<li>
			<div>
               <span>NO.1</span><em>净白</em><b>改善肤色</b>
                <p>排浊吸黑，均匀调整肤色。</p>
            </div>
            <img src="/public/images/goods_res/287/img_05.jpg" alt="">
		</li>
		<li>
			<div>
                <span>NO.2</span><em>嫩白</em><b>提升肤质</b>
                <p>透明质酸钠深层补水+甜菜碱强力锁水，双重保障，细胞膨弹水润，远离干燥。</p>
            </div>
            <img src="/public/images/goods_res/287/img_06.jpg" alt="">
		</li>
		<li>
			<div>
                <span>NO.3</span><em>亮白</em><b>白里透红</b>
                <p>持续补充水能量，保湿功效高，不缺水就不冒油。</p>
            </div>
            <img src="/public/images/goods_res/287/img_07.jpg" alt="">
		</li>
		<li>
			<div>
                <span>NO.4</span><em>水白</em><b>持续嘭弹</b>
                <p>持续补充水能量，保湿功效高，不缺水就不冒油。</p>
            </div>
            <img src="/public/images/goods_res/287/img_08.jpg" alt="">
		</li>
	</ul> 
</div>
<ntell></ntell>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>天然成分，打开肌肤吸收通道</b></h3>
    </div>
    <p class="text_mian">
		<span>革命性美白科技：Etioline专利美白成分</span><br />
		Etioline专利美白成分具有优异的皮肤美白效果，能有效抑制B16V细胞合成黑色素的活性，是曲酸的210倍，熊果苷的32倍。能有效帮助净化肌底垃圾，改善肤色不均，降低紫外线照射肌肤引起的皮肤着色。
	</p>
	<ul class="de-3">
        <li>
           <img src="/public/images/goods_res/287/img_09.jpg" alt="">
            <p><b>有机五谷</b><span>五谷为养肌之根</span><br />密集注入肌肤营养，全效润白提亮。</p>
        </li>
        <li>
           <img src="/public/images/goods_res/287/img_10.jpg" alt="">
            <p><b>光果甘草 </b><span>透净白除黄黑</span><br />美白黄金能有效扫黑、褪黄、焕亮肌肤，令肌肤净白透亮。</p>
        </li>
        <li>
            <img src="/public/images/goods_res/287/img_11.jpg" alt="">
            <p><b>牛油果</b><span>净白锁水保湿</span><br />水精灵补水更锁水，肌细胞全天嘭弹。</p>
        </li>
    </ul>
</div>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>每天2次，补足肌肤所需透白能量！</b></h3>        
    </div>
   <img src="/public/images/goods_res/287/img_12.jpg" alt="">
</div>

<ntell></ntell>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>有五谷亮白肌底液，想不白都难！</b></h3>
    </div>
    <ul class="detail-case">
        <li>
          	<img src="/public/images/goods_res/287/img_13.jpg" alt="">
            <div>Miky 23岁 | <em>混合性肤质，肤色灰暗</em><b>1招去黄气，变白就介么容易！</b></div>
            <p>从小我的皮肤就比较暗黄，每次看到皮肤白白的女生都很羡慕。偶然看到了这款清本源五谷焕彩精华霜，淡淡的五谷香，上脸润润的，还有遮瑕效果，感觉很不错，就一直坚持下来了。没想到几个月，皮肤真的变白了，五官都显得精致多了，原来自己这么美！嘿嘿！</p>
        </li>
        <li>
            <img src="/public/images/goods_res/287/img_14.jpg" alt="">
            <div>乐乐  24岁 | <em>干燥毛孔大，暗黄肌</em><b>白又滑，“奶油肌”懂不懂？</b></div>
            <p>我的工作压力大，经常加班，皮肤又干又黄，化妆都没气质！在美白论坛上看到这款清本源五谷焕彩精华霜，就决定买来试试。它的质地稠而润滑，很温和，还有股子五谷清香，用着很舒服。坚持用了两个月，我的肤色就慢慢变白了，摸着滑滑的，就像奶油一样！</p>
        </li>
    </ul>
</div>