<link rel="stylesheet" href="/public/css/detail.css">
<style scoped>
    .detail_box{padding: .5em 0;background: #fff;}
	.detail_box div{clear:both;}
    .detail_box h3{line-height: 1.3em;font-size: 1.1em;color:#ea2143;;padding-bottom: .5em;border-bottom: 1px dashed #e1e1e1;}
    .detail_box h3 b{border-left: .5em solid #ea2143;;display: inline-block;height: 1.2em;line-height: 1.2em;padding-left: .3em;font-weight:normal;}
    .detail_box span{color: #a48100;}
	.detail_box div+p{color:#ED556B;padding-top:0.9em;font-weight:bold;padding-left:6em;}
    .de-3 {padding: 1em 0;}
	.de-3 li{padding: 0 1em; font-size: 1.2em; margin-bottom: 0.8em;}
	.de-3 li img{width: 20%; margin-right: 0.8em;}
	.de-3 li p{display: inline-block; width: 72%; font-size: 0.7em;}
	.de-3 li span{color: #d51838; font-size: 1.4em;}
	.detail-main01{ padding: 1em 1.5em;}
	.detail-main01 p.curr{ color: #000; font-size: 1rem; padding: 0.6em 0 0;}
	.detail-main01 p.curr span{display: inline-block; width: 4em; height: 1.3em; background: #e72c46; color: #fff; text-align: center; margin-right: 0.2em;}
	.detail-main02 li p{ width: 63%; }
	.detail-main02 b{color: #d51838; font-size: 1.4em;}
	.detail-main02 li span{color: #000; font-size: 1.2em; margin-left: 0.3em;}
	.detail-main02 li img{width: 29%; margin-right: 0.4em;}
	.detail-main03{ padding: 0 1em; }
	.detail-main03 li{overflow: hidden;}
	.detail-main03 p{ float: left; margin: 0.6rem 0 0;font-size: 0.85rem;}
	.detail-main03 p.curr{ width: 1.6em; height: 2.2em; background: #ea2146; color: #fff; text-align: center; border-radius: 0.2em; font-size: 1.5em; line-height: 2.2em;margin: 0.3rem 0.5rem 0.3rem 0;}
	.detail-main03 p.curr01 span{color: #000; font-size: 1.2em; margin-left: 0.3em;}
	.detail-main03 p.curr01 b{color: #d51838; font-size: 1.4em;}
	.detail-case li {padding-bottom: 0.8em;}
	.detail-case li div {padding: 0.4em 0;margin-bottom: 0.4em; background: #f2f2f2;text-align: center;font-size: 1rem;}
	.detail-case li em {color: #000;}
	.detail-case li b {font-size: 1.1rem; color: #fe1c42;display: block;}
</style>

<img src="/public/images/goods_res/735/img_01.jpg" alt="">
<div class="detail-box">
    <div class="detail_box">
    	<h3><b>16岁开始，你就需要这款眼精华！</b></h3>
    </div>
    <ul class="de-3">
        <li>
            <img src="/public/images/goods_res/735/img_02.jpg" alt="">
            <p><span>≥15岁人群</span><br />淡化黑眼圈，舒缓熬夜引起的眼部肌肤紧张。</p>
        </li>
        <li>
            <img src="/public/images/goods_res/735/img_03.jpg" alt="">
            <p><span>≥20岁人群</span><br />防止眼周第一根细纹的出现，保持眼肌净白。</p>
        </li>
        <li>
            <img src="/public/images/goods_res/735/img_04.jpg" alt="">
            <p><span>≥30岁人群</span><br />持续补充胶原蛋白，延迟细纹和眼袋的出现。</p>
        </li>
        <li>
            <img src="/public/images/goods_res/735/img_05.jpg" alt="">
            <p><span>≥40岁人群</span><br />紧致松弛的眼肌，持续使用，显著淡化皱纹。</p>
        </li>
        <li>
            <img src="/public/images/goods_res/735/img_06.jpg" alt="">
            <p><span>≥50岁人群</span><br />增弹提亮眼周肤色，有效阻止皱纹大量增加。</p>
        </li>
    </ul>
</div>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>7重高机能因子，1支解决眼肌烦恼！</b></h3>
    </div>
    <div class="detail-main01">
		<p class="curr"><span>NO.1</span>击退黑眼圈</p>
		<p>亮白因子：歼灭眼周黯沉，使眼周明亮有活力。</p>
		<p class="curr"><span>NO.2</span>提拉下垂</p>
		<p>提拉因子：减少眼周皱纹浮肿，上提增弹。</p>
		<p class="curr"><span>NO.3</span>褪减干纹</p>
		<p>保湿因子：保湿滋润眼周，预防细纹出现。</p>
		<p class="curr"><span>NO.4</span>紧致松弛</p>
		<p>紧肤因子：眼周肌肤紧致，保持弹润眼睑。</p>
		<p class="curr"><span>NO.5</span>速去浮肿</p>
		<p>舒缓因子：安抚、舒缓脆弱的眼部肌肤。</p>
		<p class="curr"><span>NO.6</span>抵抗氧化</p>
		<p>抗氧化因子：对抗氧化，避免脆弱眼肌老化。</p>
		<p class="curr"><span>NO.7</span>受损角质</p>
		<p>修护因子：修护眼肌细胞，润养每寸肌理。</p>
	</div>
</div>
<ntell></ntell>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>天然成分，温和修护眼肌</b></h3>        
    </div>
    <ul class="de-3 detail-main02">
        <li>
            <img src="/public/images/goods_res/735/img_07.jpg" alt="">
            <p><b>樱桃</b><span>溶解顽固色素</span><br />缓解肌肤缺水问题，提高皮肤天然防护能力，逐步排除色素沉着。</p>
        </li>
        <li>
            <img src="/public/images/goods_res/735/img_08.jpg" alt="">
            <p><b>牛油果</b><span>润养脆弱眼肌</span><br />修复皮肤损伤，紧致增弹，润养肌理、软化角质和延缓肌肤衰老。</p>
        </li>
        <li>
            <img src="/public/images/goods_res/735/img_09.jpg" alt="">
            <p><b>黄瓜</b><span>净白锁水保湿</span><br />可以收敛和消除肌肤皱纹，对肤色较黑的人，净白效果尤其显著。</p>
        </li>
        <li>
            <img src="/public/images/goods_res/735/img_10.jpg" alt="">
            <p><b>胶原蛋白</b><span>肌肤必备营养</span><br />有纯天然保湿、美白、防皱、淡斑等作用，延缓眼肌老化效果佳。</p>
        </li>
    </ul>
</div>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>4步按摩吸收，双眸重现娇嫩</b></h3>
    </div>
    <div class="detail-main03">
		<img src="/public/images/goods_res/735/img_11.jpg" alt="">
		<ul>
			<li>
				<p class="curr">1</p>
				<p class="curr01"><b>提拉</b><span>排出淤塞毛孔的废物</span><br />中指和无名指从眼头拉至眼尾太阳穴。</p>
			</li>
			<li>
				<p class="curr">2</p>
				<p class="curr01"><b>打圈</b><span>舒缓过度紧张的眼肌</span><br />中指和无名指从太阳穴向内打圈轻柔。</p>
			</li>
			<li>
				<p class="curr">3</p>
				<p class="curr01"><b>下划</b><span>帮助淋巴腺排出毒素</span><br />中指和无名指从太阳穴轻拉至耳下。</p>
			</li>
			<li>
				<p class="curr">4</p>
				<p class="curr01"><b>点压</b><span>帮助吸收营养成分</span><br />眉头-眉中-眉尾-眼下-内眼角，六点按摩。</p>
			</li>
		</ul>
	</div>
</div>
<ntell></ntell>
<div class="detail-box">
    <div class="detail_box">
        <h3><b>解决眼肌7大问题，真心推荐！</b></h3>
    </div>
    <ul class="detail-case">
        <li>
          	<img src="/public/images/goods_res/735/img_12.jpg" alt="">
            <div>ELLY  25岁 | <em>黑眼圈、轻微眼袋</em><b>用了半个月，黑眼圈消失了！</b></div>
            <p>本人夜猫子一枚，怎能没有黑眼圈？眼袋都快大了！看到mm推荐瓷肌的眼部精华乳，试过以后真的不赖耶！一点不输给雅诗兰黛、雅顿这些国际大牌，用了半个月，眼袋没了，干纹没了影，黑眼圈消失得很干净。虽有神器，但以后要减少熬夜才行~</p>
        </li>
        <li>
            <img src="/public/images/goods_res/735/img_13.jpg" alt="">
            <div>林萧萧 36岁 | <em>鱼尾纹、浮肿、眼袋</em><b>用了几个月，性价比完胜！</b></div>
            <p>不知不觉快四十的年龄，眼肌状况不断，最可怕的就是鱼尾纹跟浮肿一齐出现，还有一点鱼尾纹的浮现。当然一款综合效果的眼部精华就很适合我了，保湿、提亮、淡化皱纹…用了几个月，眼部肌肤变得水水嫩嫩的，真的，看得出来，性价比太好了，女人必备！！</p>
        </li>
    </ul>
</div>