<link rel="stylesheet" href="/public/css/topic.css">
<style scoped>
i{font-style: normal;}
.hd{background:#08B3AB;font-weight:bold;}
.by_bt{position:relative;border-bottom:0.5rem solid #e7e7e7;padding: 2.5rem 0 3.5rem;background: #f7f7f7; }
.by_bt .on_zx{ width:40%; height:2.5em; position:absolute; right:13%; bottom:10%;}
.by_bt .on_tel1,.by_bt .on_zx1{bottom:17%;}
.by_bt .on_tel2,.by_bt .on_zx2{bottom:22%;}
.arti{background:#e7e7e7;}
.arti li{padding:1.5rem 1rem;background: #fff; margin-bottom:1rem;}
.arti li h3{font-size: 1.2rem; padding-top:0.6rem;color:#2a2a2a;}
.arti span{line-height: 2rem; color:#666; font-size:1rem;color:#6f6f6f;}
.arti p{color:#6f6f6f;}
.topic-box .comment_list{padding:0 1.5rem; background:url(../public/images/topic/quhei/bot_bg.jpg) repeat;}
.topic-box .comment_list li{border-bottom: 1px solid #e4e4e4; padding:1rem 0;}
.topic-box .comment_list li.last{border-bottom: 0;}
.topic-box .comment_list em{width:3rem; height:3rem; vertical-align:bottom; display: inline-block; border-radius: 100%;}
.topic-box .comment_list span{ padding-left: 0.5rem; font-weight: bold;}
.topic-box .comment_list p{padding:0.5rem 0;}
.cj-hd{background:#000;}
.by_youself{text-align:center;background:#fff;padding: 2rem 0 1rem;}
.by_youself h2{color:#343434;font-size: 2.5rem;font-weight: bolder;}
.by_youself h3{color:#343434;font-size: 1.55rem;font-weight: bolder;line-height: 1.8rem;}
.by_youself p{font-size:0.5rem;color:#d5d5d5;padding-top: 0.5rem;}
</style>
<section>
    <img src="/public/images/topic/quhei/img_01.jpg" alt="" />
    <img src="/public/images/topic/quhei/img_02.jpg" alt="" />
    <img src="/public/images/topic/quhei/img_03.jpg" alt="" />
     <div class="by_youself you">
        <h2>오픈 신기원</h2>
        <h3>黑头为何总是反复？</h3>
        <p>WHY ALWAYS REPEATED ATTACKS BLACK</p>
    </div>
    <img v-lazy="'/public/images/topic/quhei/img_05.jpg'" alt="" />
    <img v-lazy="'/public/images/topic/quhei/img_06.jpg'" alt="" />                         
    <img v-lazy="'/public/images/topic/quhei/img_07.jpg'" alt="" />
    <img v-lazy="'/public/images/topic/quhei/img_08.jpg'" alt="" />
    <img v-lazy="'/public/images/topic/quhei/img_09.jpg'" alt="" />
    <img v-lazy="'/public/images/topic/quhei/img_10.jpg'" alt="" />
    <img v-lazy="'/public/images/topic/quhei/img_11.jpg'" alt="" />
    <img v-lazy="'/public/images/topic/quhei/img_12.jpg'" alt="" />
    <img v-lazy="'/public/images/topic/quhei/img_13.jpg'" alt="" />
    <img v-lazy="'/public/images/topic/quhei/img_14.jpg'" alt="" />
    <img v-lazy="'/public/images/topic/quhei/img_15.jpg'" alt="" />
    <img v-lazy="'/public/images/topic/quhei/img_16.jpg'" alt=""/>
    <img v-lazy="'/public/images/topic/quhei/img_17.jpg'" alt=""/>
    <img v-lazy="'/public/images/topic/quhei/img_18.jpg'" alt=""/>
    <img v-lazy="'/public/images/topic/quhei/img_19.jpg'" alt="" />
    <img v-lazy="'/public/images/topic/quhei/img_20.jpg'" alt="" />
    <img v-lazy="'/public/images/topic/quhei/img_21.jpg'" alt="" />
     <div class="by_bt">
        <img v-lazy="'/public/images/topic/quhei/img_15_1.jpg'"/>
        <a class="on_zx1 on_zx" href="javascript:;" @click="buy(goodsList[0])"></a>
    </div>
    <div class="by_bt">
       <img v-lazy="'/public/images/topic/quhei/img_15_2.jpg'"/>
       <a class="on_zx2 on_zx" href="javascript:;" @click="buy(goodsList[1])"></a> 
    </div>
     <div class="by_bt">
       <img v-lazy="'/public/images/topic/quhei/img_15_3.jpg'"/>
       <a class="on_zx1 on_zx" href="javascript:;" @click="buy(goodsList[2])"></a> 
    </div>
    <img v-lazy="'/public/images/topic/quhei/img_22.jpg'" alt="" />
    <img v-lazy="'/public/images/topic/quhei/img_23.jpg'" alt="" />
    <img v-lazy="'/public/images/topic/quhei/img_24.jpg'" alt="" />
    <img v-lazy="'/public/images/topic/quhei/img_25.jpg'" alt="" />
    <img v-lazy="'/public/images/topic/quhei/img_26.jpg'" alt="" />
    <img v-lazy="'/public/images/topic/quhei/img_27.jpg'" alt="" />
    <div class="arti">
        <ul>
            <li>
                <img v-lazy="'/public/images/topic/quhei/img_28.jpg'" alt="" />
                <h3>"10年黑头男”蜕变“白脸暖男"</h3>
                <span>RAY  27岁 油性肌肤</span>
                <p>被“草莓鼻”困扰，鼻子上的油多得可以炒菜，有种邋遢的感觉，特没面子。用过不少鼻贴，毛孔被毁得都成酒糟鼻了。在朋友那用了重度去黑头强效套装去黑头的，感觉很干净，毛孔都变小了。自己也赶紧买了一套，果然不错，去黑头效果好，毛孔也收细了，现在鼻子干净了很多，有自信多了。</p>
            </li>
            <li>
                <img v-lazy="'/public/images/topic/quhei/img_29.jpg'" alt="" />
                <h3>黑头毛孔全跑了，再靠近也不怕了</h3>
                <span>薇薇安  22岁 混合性皮肤</span>
                <p>黑头什么的最讨厌的了，素颜吧，毛孔大的吓人，上妆吧，那叫一个不服帖。幸好中度去黑头紧致套装帮我解决了这个黑头问题，买了个中度的试一下，黑头去除彻底，而且一点都不刺激。再用收敛水一收，毛孔都隐形了，比什么粉底和磨皮都有效。</p>
            </li>
        </ul>
    </div>
    <div class="by_youself you">
        <h3>생산R&D기능<br/>生产研发实力</h3>
        <p>Production R & D strength</p>
    </div>
    <img v-lazy="'/public/images/topic/danban/img_44.jpg'"/>
    <img v-lazy="'/public/images/topic/danban/img_45.jpg'"/>
    <img v-lazy="'/public/images/topic/danban/img_46.jpg'"/>
    <img v-lazy="'/public/images/topic/danban/img_47.jpg'"/>
    <img v-lazy="'/public/images/topic/danban/img_48.jpg'"/>
    <img v-lazy="'/public/images/topic/danban/img_49.jpg'"/>
</section>